{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Advanced Git", "Server and Hosting", imported_macros.theme()) }}

---

### Objectives of this chapter

I can

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
distinguish different access protocols<br/>
choose from the possibilities to run a git a suitable one<br/>
run project management with git<br/>
use Markdown to create issues<br/>
</div>

</div>

---

### Protocols
 Available network protocols for data transfer:

- Local Protocol
- SSH Protocol
- HTTPS Protocol
- Git Protocol

---

### Local Protocol

- Remote repository in another directory on the same host.
- Used if team has access to a shared file system.
- Supports `clone`, `push` and `pull`.

---

### Local Protocol: clone

- Clone a local repository:

```shell
$ git clone /opt/git/project.git
```
<!-- .element: class="fragment" -->

---

### Local Protocol: remote add

- Add remote to existing repository:

```shell
$ git remote add local_proj /opt/git/project.git
```
<!-- .element: class="fragment" -->

---

### Local Protocol: Pros- and Cons

| **Pros**                                    | **Cons**                                           |
|---------------------------------------------|---------------------------------------------------------|
| Easy to set up                              | Harder to set up remote access |
| Existing access permissions can be used     | NFS file access generally slower than over SSH   |
|                                             | Possible data loss due to full access     |

---

### SSH Protocol

- Most common protocol for Git.
- SSH is ubiquitous and therefore well known.
- Required for write commands.
- HTTP / Git are read-only.

---
### SSH Protocol: clone

Git clone via SSH:

```shell
$ git clone ssh://user@server/project.git
```
<!-- .element: class="fragment" -->

Default if no protocol is specified:
<!-- .element: class="fragment" -->
```shell
$ git clone user@server/project.git
```
<!-- .element: class="fragment" -->

---
### SSH Protocol: Pros- und Cons

| **Pro**                         | **Con**                                        |
|---------------------------------|------------------------------------------------|
| SSH often already set up        | No anonymous access                            |
| Encrypted and authenticated     | Users **must** have SSH access to your machine |
| Efficient data transfer         | Not suited for open source projects            |

---

### Git Protocol

- Daemon included in Git.
- Similar to the SSH protocol but with absolutely no authentication.
- Used for public read-only repositories.

---

### Git Protocol: Pros and Cons

| **Pros**                              | **Cons**                     |
|---------------------------------------|------------------------------|
| Fastest protocol (like SSH without overhead)| No authentication            |
| Best for high traffic public projects | Separate endpoint for push required |
|                                       | Not easy to set up          |

---


### HTTP Protocol

- 'Dump HTTP' and 'Smart HTTP'.
- 'Dump' is kept for backwards compatibility.
- Serves repository like normal files from a web server (read-only).

---

### HTTP Protocol: Smart HTTP

- Operates very similarly to the SSH or Git protocols.
- Uses standard HTTPS ports.
- Various HTTP authentication mechanisms.
- Can serve anonymously, like the git protocol.
- Can serve with authentication and encryption, like the SSH protocol.

---

### HTTP Protocol: Pros and Cons

| **Pros**                                        | **Cons**                              |
|-------------------------------------------------|---------------------------------------|
| Single URL for all types of accesses            | Credential management required        |
| No upload of a public key neccessary            |                                       |
| Fast and efficient                              |                                       |

---

### Demo

---

### Hosting

1. Bare repository via network share

1. Bare repository via SSH or HTTPS

1. Git daemon

1. Gitolite

1. Project management software (GitHub, GitLab, Bitbucket,
   Gogs, ...)

---

### Bare repository

```shell
$ git init --bare
```

- Without own working tree

- Allows push and pull

- File access must be provided separatly (NFS, SSH, HTTP, ...)

- Without own permission management

---

### Bare repository via SSH / HTTPS

- SSH server or web server required

- Access management via server access

- No granular rights

---

### Bare repository via network shares

- Access from remote location often more difficult

- Easy if network shares already exist

- No protection against accidental deletion / data corruption

---

### Convert existing repository

```shell
$ cd repo
$ git config --bool core.bare true
$ mv -R .git /bare/repo/path
```
---

### Git daemon

- Daemon that comes packaged with Git.

- Fastest for serving public files.

- No access or permission management.

- Suited only for public read-only repositories.

---

### Gitolite

- Authorization layer on top of Git

- Specify permissions down to individual branches/tags

---

### Project management for Git

![](img/github.png)<!-- .element style="width:90%" -->

---

### Project management for Git

- Self-hosted
- Cloud provider

---

### Self-hosted options

- GitLab (free CE or paid EE)
- Bitbucket (paid)
- Open source alternatives: Gogs, Gitea, ... (free)

---

### Project management aaS

- GitLab (free CE or paid EE)
- GitHub Enterprise (paid)
- Bitbucket (paid)

---

### Project management aaS

- Often free for open-source

- Enterprise features and private repositories are tied to
  enterprise contracts (payment usually per user)

- Infrastructure is provided completely

---

### Project management for Git

Advantages with software from large providers:

- Either self-hosted or aaS possible
  (move without relearning)

- Dedicated, professional development teams

- Support contracts

---

### Github vs Bitbucket vs GitLab

| **GitHub**            | **Bitbucket**                          | **GitLab**                   |
|-----------------------|----------------------------------------|------------------------------|
| Big userbase          | Free private repositories              | Self-hosted                  |
| Common for open-source| Code search                            | Many Free-features           |
| Variety of Git Apps   | Bitbucket CI                           | GitLab CI                    |
| Gist                  | JIRA tools                             | LDAP integration             |

---

## Markdown

---

### Markdown

* Markup-Language
* optimized for readability in code-form
* Used by:
  * Github
  * Gitlab
  * Wikipedia
  * Slack
  * ...

---

### Markdown - Headings

```markdown
# Heading 1

## Heading 2

Normal text
```

# Heading 1

## Heading 2

Normal text

---

### Markdown - Lists

```markdown
Normal text

* This
* is
  * a
  * list
```

Normal text

* This
* is
  * a
  * list

---

### Markdown - Enumerations

```markdown
Normal text

1. This
1. is
1. an
1. enumeration
```

Normal text

1. This
1. is
1. an
1. enumeration

---

### Markdown - Bold and Italic

```shell
Text can be **bold**, *italic* or ***bold and italic***.
```

Text can be **bold**, *italic* or ***bold and italic***.

---

### Project

Go to: [https://labs.corewire.de/en](https://labs.corewire.de/en/git/exercises/10-gitlab/)

Navigate to: Git ⇨ Exercises ⇨ Gitlab - Issues and Merge Requests

---
{% for i in range(5) %}

### Objectives of this chapter

I can

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<4 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
distinguish different access protocols<br/>
choose from the possibilities to run a git a suitable one<br/>
run project management with git<br/>
use Markdown to create issues<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}