{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Fortgeschrittene Git-Nutzung", "Server und Hosting", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/><br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
verschiedene Zugriffsprotokolle unterscheiden<br/>
aus den Möglichkeiten ein git zu betreiben eine passende auswählen<br/>
Projektmanagement mit git betreiben<br/>
Markdown zum Anlegen von Issues nutzen<br/>
</div>

</div>

---

### Protokolle
 Verfügbare Netzwerkprotokolle zum Datentransfer:

- Lokales Protokoll
- SSH Protokoll
- HTTPS Protokoll
- Git Protokoll

---

### Lokales Protokoll

- Externes Repository liegt lokal auf einer Festplatte.
- Genutzt von Teams mit Zugriff auf gemeinsames Dateisystem.
- Man kann Befehle wie `clone`, `push` und `pull` ausführen.

---

### Lokales Protokoll: clone

- Git clone auf lokalem Repository:

```shell
$ git clone /opt/git/project.git
```
<!-- .element: class="fragment" -->

---

### Lokales Protokoll: remote add

- Repository zu existierendem Git Projekt hinzufügen:

```shell
$ git remote add local_proj /opt/git/project.git
```
<!-- .element: class="fragment" -->

---

### Lokales Protokoll: Pros- und Cons

| **Pros**                                    | **Cons**                                           |
|-------------------------------------------------|---------------------------------------------------------|
| Repository ist Leicht einzurichten              | Remote Zugriff einrichten                |
| Bestehende Berechtigungen können genutzt werden | File-Zugriff kann langsamer sein als Netzwerk-Zugriff   |
|                                                 | File-Zugriff aufwendiger als Netzwerk-Zugriff |
|                                                 | Korruption und Löschen der Files.     |

---

### SSH Protokoll

- Das gebräuchlichste Transport-Protokoll für Git.
- SSH ist auf den meisten Maschinen bereits eingerichtet.
- Benötigt für Schreib-Befehle.
- HTTP / Git sind nur lesbar.

---
### SSH Protokoll: clone

Git clone via SSH:

```shell
$ git clone ssh://user@server/project.git
```
<!-- .element: class="fragment" -->

Wenn kein Protokoll angegeben wird, nutzt git SSH.
<!-- .element: class="fragment" -->
```shell
$ git clone user@server/project.git
```
<!-- .element: class="fragment" -->

---
### SSH Protokoll: Pros und Cons

| **Pro**                    | **Con**                                        |
|---------------------------------|------------------------------------------------------|
| SSH ist einfach einzurichten    | Keine Anonymität                                     |
| Verschlüsselt + authentifiziert | Nutzer **müssen** Zugriff über SSH auf die Machine haben |
| Daten werden kompakt übertragen | Nicht zuträglich für Open-Source Projekte            |

---

### Git Protokoll

- Daemon, der mit Git ausgeliefert wird.
- Vergleichbar mit SSH aber ohne Authentifizierung.
- Oft genutzt für öffentliche Repositories, die gepulled werden.

---

### Git Protokoll: Pros und Cons

| **Pros**                              | **Cons**                     |
|---------------------------------------|------------------------------|
| Schnellstes Transfer-Protokoll        | Keine Authentifizierung      |
| Gut für Checkout von Public Projekten | Um zu Pushen braucht man SSH |
| Daten werden kompakt übertragen       | Schwer einzurichten          |
---


### HTTP Protokolle
- Git hat zwei Möglichkeiten via HTTP zu kommunizieren.
- Smart HTTP und Dump HTTP.
- Heutzutage nutzt man Smart HTTP.

---

### HTTP Protokolle: Smart HTTP

- Ähnlich wie das SSH/Git Protokoll.
- Läuft über standard HTTPS-Ports.
- Nutzt HTTP Authentifizierungsmechanismen.
- Kann anonym ausliefern, wie das Git-Protokoll.
- Authentifiziert + Verschlüsselt pushen, wie mit SSH.

---

### HTTP Protokolle: Pros und Cons

| **Pros**                                        | **Cons**                              |
|-------------------------------------------------|---------------------------------------|
| Man hat nur eine URL für alle Zugriffsmethoden  | Authentifizierung mit User + Passwort |
| Kein Ablegen von SSH Keys nötig                 |                                       |
| Schnell und effizient                           |                                       |

---

### Demo

---

### Möglichkeiten ein Git zu betreiben.

1. Bare-Repository über Network Shares / direkten Dateizugriff

1. Bare-Repository über SSH oder HTTPS

1. Git Daemon

1. Gitolite

1. Projektmanagement-Software (GitHub, GitLab, Bitbucket,
   Gogs, ...)

---

### Bare-Repository

```shell
$ git init --bare
```

- Hat keinen eigenen Working Tree

- Bietet pushen und pullen

- Zugriff über SSH, HTTPS, Dateizugriff etc. muss
  bereitgestellt werden

- Keine eigene Rechteverwaltung

---

### Bare-Repository über SSH / HTTPS

- Benötigt SSH-Server oder Web-Server (HTTPS)

- Zugriffsverwaltung über vorgeschaltete Accounts

- Keine granularen Rechte

---

### Bare-Repository über Network Shares

- Zugriff von z.B. außerhalb der Firma oft schwierig

- Sehr einfach falls Network Shares schon eingerichtet

- Kein Schutz vor versehentlichem Löschen / Datenkorruption

---

### Reguläres Repository zu Bare

```shell
$ cd repo
$ git config --bool core.bare true
$ mv -R .git /bare/repo/path
```
---

### Git-Deamon

- Daemon, der mit Git ausgeliefert wird.

- Am schnellsten für Auslieferung von öffentlichen Dateien.

- Keine Rechte- oder Zugriffs-Verwaltung.

- Vor allem zum Ausliefern (read-only) gedacht.

---

### Gitolite

- SSH-Accounts für Rechte

- Sehr granulare Rechte & Repository-Verwaltung

---

### Projektmanagement für Git

![](img/github.png)<!-- .element style="width:90%" -->

---

### Projektmanagement für Git

- Self-hosted auf eigener Infrastruktur
- Gängige Cloud-Anbieter

---

### Self-hosted Projektmanagement

- GitLab (kostenlos, EE für mehr Features)
- Bitbucket (bezahlt)
- Kleine Alternativen: Gogs, Gitea, ... (kostenlos)

---

### Projektmanagement aaS

- GitLab (kostenlos, EE für mehr Features)
- GitHub Enterprise (bezahlt)
- Bitbucket (bezahlt)

---

### Projektmanagement aaS

- Für Open-Source oft kostenlos

- Enterprise-Features und private Repositories sind an
  Enterprise-Vertrag gebunden (Bezahlung meist per Nutzer)

- Infrastruktur wird komplett gestellt

---

### Projektmanagement für Git

Vorteile bei Software großer Anbieter:

- Sowohl self-hosted als auch aaS möglich
  (Umzug ohne Neuerlernung)

- Dedizierte, professionelle Entwicklerteams

- Supportverträge

---

### Github vs Bitbucket vs GitLab

| **GitHub**           | **Bitbucket**                          | **GitLab**                   |
|----------------------|----------------------------------------|------------------------------|
| Große Userbase       | Kostenlose private Repositories        | Self-hosted                  |
| Gut für Open-Source  | Code-Suche                             | Viele Free-Features          |
| Vielfalt an Git Apps | Bitbucket CI                           | GitLab CI                    |
| Gist                 | JIRA tools                             | LDAP Integration             |

---

## Exkurs Markdown

---

### Markdown

* Markup-Sprache
* Optimiert für Lesbarkeit in Code-Form
* Genutzt in:
  * Github
  * Gitlab
  * Wikipedia
  * Slack
  * ...

---

### Markdown - Überschriften

```markdown
# Überschrift 1

## Überschrift 2

Normaler Text
```

# Überschrift 1

## Überschrift 2

Normaler Text

---

### Markdown - Listen

```markdown
Normaler Text

* Das
* ist
  * eine
  * Liste
```

Normaler Text

* Das
* ist
  * eine
  * Liste

---

### Markdown - Aufzählungen

```markdown
Normaler Text

1. Das
1. ist
1. eine
1. Aufzählung
```

Normaler Text

1. Das
1. ist
1. eine
1. Aufzählung

---

### Markdown - Fett und Kursiv

```shell
Text kann **fett**, *kursiv* oder ***fett und kursiv*** sein.
```

Text kann **fett**, *kursiv* oder ***fett und kursiv*** sein.

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/git/aufgaben/10-gitlab/)

Navigieren Sie zu: Git ⇨ Aufgaben ⇨ Gitlab - Issues and Merge Requests

---
{% for i in range(7) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/><br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<4 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
verschiedene Zugriffsprotokolle unterscheiden<br/>
aus den Möglichkeiten ein git zu betreiben eine passende auswählen<br/>
Projektmanagement mit git betreiben<br/>
Markdown zum Anlegen von Issues nutzen<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}