{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Docker® & Container", "Netzwerk", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/><br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
die Nachteile des Default Bridge Netzwerks nennen<br/>
User-Defined Bridge Netzwerke erstellen und nutzen<br/>
den Unterschied zwischen Host- und Bridge Netzwerken beschreiben<br/>
mir Informationen zu Netzwerken anzeigen<br/>
</div>

</div>

---

### Netzwerk

Bisher:

```shell
$ docker run -p 8080:80 ...
```

Warum ist das notwendig?
<!-- .element: class="fragment" data-fragment-index="1" -->

---

### Netzwerk

Jeder Container hat:

- virtuelle Netzwerkkarte(n)
- eigene IP-Addresse(n)

---

### Default Bridge Netzwerk

---
{% for i in range(5) %}
### Default Bridge Netzwerk

```shell
$ docker run ...
```

![](./tikz/bridge_networking_{{i+1}}.svg) <!-- .element width="55%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

{% for i in range(5,12) %}
### Default Bridge Netzwerk

```shell
$ docker run -p 8080:80 ...
```

![](./tikz/bridge_networking_{{i+1}}.svg) <!-- .element width="55%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Netzwerk

```shell
$ docker run -p 8080:80 ...
```

Forwarded Ports vom Container auf den Host!

---

### User-defined Bridge Netzwerk

---

### User-defined Bridge Netzwerk

```shell
$
```

![](./tikz/bridge_networking_13.svg) <!-- .element width="55%" -->

--

### User-defined Bridge Netzwerk

```shell
$ docker network create net_frontend
```

![](./tikz/bridge_networking_14.svg) <!-- .element width="55%" -->

--

### User-defined Bridge Netzwerk

```shell
$ docker run --network net_frontend frontend
```

![](./tikz/bridge_networking_15.svg) <!-- .element width="55%" -->

--

### User-defined Bridge Netzwerk

```shell
$ docker network create net_backend
```

![](./tikz/bridge_networking_16.svg) <!-- .element width="55%" -->

--

### User-defined Bridge Netzwerk

```shell
$ docker network connect net_backend backend
```

![](./tikz/bridge_networking_17.svg) <!-- .element width="55%" -->

--

### User-defined Bridge Netzwerk

```shell
$
```

![](./tikz/bridge_networking_18.svg) <!-- .element width="55%" -->

--

### User-defined Bridge Netzwerk

```shell
$
```

![](./tikz/bridge_networking_19.svg) <!-- .element width="55%" -->

--

### User-defined Bridge Netzwerk

```shell
$
```

![](./tikz/bridge_networking_20.svg) <!-- .element width="55%" -->

--

### User-defined Bridge Netzwerk

```shell
$
```

![](./tikz/bridge_networking_21.svg) <!-- .element width="55%" -->

--

### User-defined Bridge Netzwerk

```shell
$
```

![](./tikz/bridge_networking_22.svg) <!-- .element width="55%" -->

--

### User-defined Bridge Netzwerk

```shell
$
```

![](./tikz/bridge_networking_23.svg) <!-- .element width="55%" -->

--

### User-defined Bridge Netzwerk

```shell
$
```

![](./tikz/bridge_networking_24.svg) <!-- .element width="55%" -->

--

### User-defined Bridge Netzwerk

```shell
$
```

![](./tikz/bridge_networking_25.svg) <!-- .element width="55%" -->

--

### User-defined Bridge Netzwerk

```shell
$
```

![](./tikz/bridge_networking_26.svg) <!-- .element width="55%" -->

--

### User-defined Bridge Netzwerk

```shell
$
```

![](./tikz/bridge_networking_27.svg) <!-- .element width="55%" -->

--

### User-defined Bridge Netzwerk

```shell
$ docker network create --ipv6 --subnet 2001:db8:0:1::/64 frontendv6
```

![](./tikz/bridge_networking_28.svg) <!-- .element width="55%" -->

---

### Bridge Netzwerke

* Automatisches NAT
* Container sind standardmäßig von Außenwelt abgeschirmt
* Ports am Container forwarden mit publish (-p)
* User-definded Bridges für
  * Trennung der Netzwerke
  * DNS

---

### Demo

---

### Host Netzwerk

---

### Host Netzwerk

![](./tikz/host_network_1.svg) <!-- .element width="70%" -->

--

### Host Netzwerk

![](./tikz/host_network_2.svg) <!-- .element width="70%" -->

--

### Host Netzwerk

* Direkter Zugriff auf Host Interfaces
* Alle Ports sind automatisch public

---

### Netzwerk Arten

* Host
* Bridge
* ~Overlay~
* Macvlan
* IPvlan
* None

---

### Netzwerk

Adresse eines Containers herausfinden:

* **Container**: übliche Tools, z.B. `ip a`
* **Host**: `docker inspect`

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/docker/aufgaben/04-networks/)

Navigieren Sie nach: Docker ⇨ Aufgaben ⇨ Umgang mit Netzwerken

---
{% for i in range(5) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/><br/>
<span {{"style='filter:grayscale(100%);'" if i<4 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
die Nachteile des Default Bridge Netzwerks nennen<br/>
User-Defined Bridge Netzwerke erstellen und nutzen<br/>
den Unterschied zwischen Host- und Bridge Netzwerken beschreiben<br/>
mir Informationen zu Netzwerken anzeigen<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}

---
{% for i in range(4) %}
### Tagesziel

![](../../common/tikz/daily-goal/docker-intro-1_{{i+1}}.svg) <!-- .element width="85%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Ausblick

![](../../common/tikz/daily-goal/docker-intro-1_6.svg) <!-- .element width="85%" -->

---

### Fragen? Anmerkungen? Kritik?
