{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Keycloak", "Themes", imported_macros.theme()) }}

---

### Demo: Themes

---

### Themes

- Realm-Einstellung:
  - Login, Account, Admin, Email
- Pro Client:
  - Login

---

### Themes

- Pfad: `/opt/keycloak/themes`
- Konfiguration: `theme.properties`

---

### Theme - Konfiguration

```properties
parent=keycloak
styles=css/login.css css/styles.css

#scripts=js/script.js
#local=en,de
```

[Keycloak-Theme](https://github.com/keycloak/keycloak/blob/main/themes/src/main/resources/theme/keycloak.v2/login/theme.properties)

---

### Themes entwickeln

<div class="container">
<div class="col" style="flex-grow:4">

```yaml
services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: keycloak
[...]








```
</div>
<div class="col" style="flex-grow:6">

```yaml
[...]
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: secret
    command: [ "start-dev" ]
    volumes:
      - ./themes:/opt/keycloak/themes
    ports: [ "8888:8080" ]
    depends_on: [ "postgres" ]
```

</div>
</div>

---

### Themes entwickeln

- `start-dev` wichtig
  - Deaktiviert Theme-Cache
- Ressourcen:
  - [Build-in Themes](https://github.com/keycloak/keycloak/tree/main/themes/src/main/resources/theme)
  - [Keycloak Quickstarts](https://github.com/keycloak/keycloak-quickstarts)

---

### Theme ausrollen

```Dockerfile
FROM quay.io/keycloak/keycloak:latest

ENV KC_DB=postgres
RUN /opt/keycloak/bin/kc.sh build



# (Optional) Keycloak Konfiguration
ENV KC_DB_URL_HOST=postgres
ENV KC_DB_USERNAME=keycloak
```

--

### Theme ausrollen

```Dockerfile
FROM quay.io/keycloak/keycloak:latest

ENV KC_DB=postgres
RUN /opt/keycloak/bin/kc.sh build

COPY ./themes /opt/keycloak/themes

# (Optional) Keycloak Konfiguration
ENV KC_DB_URL_HOST=postgres
ENV KC_DB_USERNAME=keycloak
```

---

### Upgrading

- Große Änderungen
  - Neue Theme-Version
  - z.B. `theme/keycloak.v2`
- Kleine Änderungen
  - Direkt im Theme

Je weitreichender die eigenen Änderungen, desto großer die Wahrscheinlichkeit für eine notwendige Anpassung
<!-- .element: class="fragment" -->
