{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Kubernetes", "Ausblick", imported_macros.theme()) }}

---

{{ imported_macros.image_series("GitOps", "../../common/tikz/devops/gitops", 1, 4, "60%")}}

---

### GitOps

- Git-Repository als Single Source of Truth
- Reconcilation-Loop (= kontinuierlicher Abgleich)
- Tools:<!-- .element: class="fragment" data-fragment-index="2"-->
    - ArgoCD<!-- .element: class="fragment" data-fragment-index="2"-->
    - Flux<!-- .element: class="fragment" data-fragment-index="2"-->
    - (Crossplane)<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Demo: GitOps

---

### Prüfungsvorbereitung
#### Certified Kubernetes Application Developer (CKAD)

---

### CKAD Prüfungsdetails

- **Infos**: https://www.cncf.io/training/certification/ckad/
- **Format**: Praktische Aufgaben, nicht Multiple-Choice
- **Dauer**: 2 Stunden
- **Benotung**: 66% zum Bestehen erforderlich
- **Wiederholung**: Innerhalb von 12 Monaten 1x kostenlos
- **Ort**: Online, beaufsichtigt (Proctoring)

---

### CKAD - Umgebung

- Terminal mit `kubectl` und `vim` (oder `nano`)
- Kubernetes Dokumentation verfügbar
- Vorab Zugang zu Testumgebung

---

### CKAD - Testumgebung

- Zwei Versuche für Probeprüfungen
- 20 - 25 Aufgaben
- 36 Stunden Zeit

---

### CKAD - Tipps

- Alias für `kubectl`:

```bash
alias k=kubectl
```

- `kubectl`-Autocomplete:

```bash
source <(kubectl completion bash)
```

- `k`-Autocomplete:

```bash
complete -F __start_kubectl k
```

---

### CKAD - Tipps


- `.bashrc` erweitern:

```bash
alias k=kubectl
source <(kubectl completion bash)
complete -F __start_kubectl k
```

---

### CKAD - Wichtige Befehle

- `kubectl`-Cheatsheet: https://kubernetes.io/docs/reference/kubectl/cheatsheet/
- YAML-Vorlage generieren:

    ```bash
    kubectl run my-pod --image=nginx --dry-run=client -o yaml > pod.yaml
    ```

- Manifest Details verstehen:

    ```bash
    kubectl explain pod.spec.containers
    ```

---

### CKAD - Zeitmanagement

- Aufgaben zuerst überfliegen und einfachere Aufgaben zuerst lösen
- Maximal 10–12 Minuten pro Aufgabe einplanen

---

{{ imported_macros.outro(imported_macros.theme()) }}
