{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Kubernetes", "Einführung", imported_macros.theme()) }}

---

![](img/k8s_logo.svg)<!-- .element width="35%" style="box-shadow: 0 0 0 0; background-color: transparent !important" -->

---

{{ imported_macros.participants_introduction_round() }}

---

### Agenda - Tag 1

1. Einführung
1. Erste Schritte
1. Pod Management
1. Konfiguration
1. Volumes

---

### Agenda - Tag 2

6. Lab
1. Basic Networking
1. Pod Management 2
1. Pod Status
1. Mehrere Container

---

### Agenda - Tag 3

11. Nodes und Pods
1. Access Control
1. Advanced
1. Exam Prep

---

{{ imported_macros.image_series("Virtualisierung", "tikz/bare_metal_vm_container", 1, 7, "80%")}}

---

### Von Bare Metal zur Virtualisierung

- Abstraktion der Hardware
- Bessere Ressourcenauslastung
- Einfachere Skalierung

---

### Von VMs zu Container

- Weniger Ressourcenoverhead
- Schnellere Startup-Zeit
- In Code definierte Umgebung
- Minimale Umgebung

---

{{ imported_macros.image_series("Was ist ein Service?", "../../common/tikz/container-intro", 1, 6, "45%")}}

---

{{ imported_macros.image_series("Was ist ein Container?", "../../common/tikz/container-intro", 5, 7, "45%")}}

---

{{ imported_macros.image_series("Docker Übersicht", "../../common/tikz/docker-intro-1", 1, 8, "100%")}}

---

{{ imported_macros.image_series("Container Lifecycle", "../../common/tikz/lifecycle", 1, 8, "100%")}}

---

### Betrieb von Containern

- Single-Host:
    - docker compose<!-- .element: class="fragment" -->
- Multi-Host:<!-- .element: class="fragment" -->
    - ???<!-- .element: class="fragment" -->

---

{{ imported_macros.image_series("Betrieb von Containern", "tikz/cluster", 1, 6, "70%")}}

---

{{ imported_macros.image_series("Orchestrierung", "tikz/cluster", 5, 6, "70%")}}

---

### Kubernetes

* K8s
* Container Orchestration Platform
* Erstes Projekt der CNCF
* Open source, gespendet von Google
* De facto Standard

---

### Cloud Native Computing Foundation (CNCF)

- Non-Profit-Organisation
- Förderung des Open-Source-Ökosystemen
- Projekte im Bereich Cloud Native Computing

[Projektübersicht](https://www.cncf.io/projects/)

---

{{ imported_macros.image_series("Betrieb ohne Orchestrierung", "tikz/k8s", 1, 9, "70%")}}

---

### Betrieb ohne Orchestrator

- Komplex
    - Netzwerkmanagement
    - Host-gebundene Workloads
- Ressourcenmanagement<!-- .element: class="fragment" data-fragment-index="1"-->
    - Manuelle Zuweisung von Ressourcen<!-- .element: class="fragment" data-fragment-index="1"-->
    - Hosts sind nicht austauschbar<!-- .element: class="fragment" data-fragment-index="1"-->
- Fehlende/Aufwendige Automatisierung<!-- .element: class="fragment" data-fragment-index="2"-->
    - Start/Stop von Container<!-- .element: class="fragment" data-fragment-index="2"-->
    - Loadbalancing und Restarts<!-- .element: class="fragment" data-fragment-index="2"-->

---

{{ imported_macros.image_series("Betrieb mit Kubernetes", "tikz/k8s", 9, 25, "70%")}}

---

### Betrieb mit Kubernetes

- Automatisiertes Ressourcenmanagement
- Standardisiertes Deployment
- Abstraktion zwischen Hardware und Workload

---

### Kubernetes Admin

- Node-Management
    - Updates, Patches
    - Genügend Ressourcen vorhanden
- Storage-Lösung
- Grundlegende Netzwerk-Infrastruktur

---

### Kubernetes Nutzer

- Schreibt Manifeste (YAML-Dateien)
- Enthalten Anforderungen
    - Container-Images und Konfiguration
    - Storage
    - Ingress

---

{{ imported_macros.image_series("K8s-Nutzer-Sicht", "tikz/cloud-native-application", 1, 6, "70%")}}

---

### Ziel

* Anwendungen auf Kubernetes bereitstellen
* Verstehen der grundlegenden Konzepte von Kubernetes
