{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Kubernetes", "Architektur", imported_macros.theme()) }}

---

### Kubernetes-Komponenten

<div style="display: flex;">
  <img src="./tikz/control_plane_nodes_1.svg" style="width: 49%; margin-right: 2%;">

</div>

--

### Kubernetes-Komponenten

<div style="display: flex;">
  <img src="./tikz/control_plane_nodes_1.svg" style="width: 49%; margin-right: 2%;">
  <img src="./tikz/worker_nodes_1.svg" style="width: 49%;">
</div>

---

### Kubernetes-Komponenten

* die Control Plane verwaltet und steuert
* die Worker führen Anwendungen und Aufgaben aus

---

{{ imported_macros.image_series("Control Plane", "./tikz/control_plane_nodes", 1, 2, "70%")}}

---

{{ imported_macros.image_series("Control Plane - API-Server", "./tikz/control_plane_nodes", 2, 3, "70%")}}

---

### API-Server

- stellt die Kubernetes-API bereit
- wird von kubectl über HTTP angesprochen
- kommuniziert mit Kubelets auch über HTTP
- schreibt die Zielkonfiguration, Secrets etc. in den etcd

---

{{ imported_macros.image_series("Control Plane - etcd", "./tikz/control_plane_nodes", 3, 4, "70%")}}

---

### etcd

- verteilter Key-Value-Speicher
- Kubernetes speichert hier den Zustand des Clusters
- vollständig repliziert
- Ausfallsicher: mehr als die Hälfte der Instanzen muss verfügbar sein

---

{{ imported_macros.image_series("Control Plane - Scheduler", "./tikz/control_plane_nodes", 4, 5, "70%")}}

---

### Scheduler

Verteilt Workloads / Pods auf die einzelnen Nodes anhand von:

- Ressourcenanforderungen
- Node-Selektoren
- Affinität und Anti-Affinität
- Taints und Tolerations
- ...

[https://kubernetes.io/docs/concepts/overview/components/](https://kubernetes.io/docs/concepts/overview/components/)

---

{{ imported_macros.image_series("Control Plane - Controller Manager", "./tikz/control_plane_nodes", 5, 6, "70%")}}

---

### Controller Manager

Daemon, der die wesentlichen Regelkreise von K8s verwaltet, z.B. für
* Replicas
* Deployments
* Garbage Collection
* Daemon-Sets

---

{{ imported_macros.image_series("Worker", "./tikz/worker_nodes", 1, 2, "70%")}}

---

{{ imported_macros.image_series("Worker - Kubelet", "./tikz/worker_nodes", 2, 3, "70%")}}

---

### Kubelet

- läuft auf jedem Worker Knoten
- empfängt eine Vielzahl von Pod-Beschreibungen (Hauptsächlich vom API-Server)
- stellt sicher, dass die Pods auf dem Knoten gemäß den PodSpecs laufen -> nutzt dafür die Container Runtime

---

{{ imported_macros.image_series("Worker - Container Runtime", "./tikz/worker_nodes", 3, 4, "70%")}}

---

### Container Runtime

Wird von Kubelet zur Ausführung von Containern verwendet

---

{{ imported_macros.image_series("Worker - Proxy", "./tikz/worker_nodes", 4, 5, "70%")}}

---

### Proxy

- läuft auf jedem Knoten
- leitet den für den Service bestimmten Verkehr an diesen

---

{{ imported_macros.image_series("Worker - Pods", "./tikz/worker_nodes", 5, 6, "70%")}}

---

### Pods

Lassen die Anwendung containerisiert laufen

---

### Networking (CNI)

Ziel 1: Jeder Pod kann jeden anderen Pod ohne NAT erreichen
Ziel 2: Alle Services auf einem Knoten können mit allen Pods auf dem Knoten kommunizieren

Lösung: Container Networking Interface (CNI) auf jedem Knoten

---

### Add-On: DNS

* optional
* läuft nicht direkt auf dem Knoten sondern in der container engine
* Services per `servicename.namespace-name.svc.cluster.local` statt IP ansprechbar

---

{{ imported_macros.image_series("Zusammenspiel der Komponenten", "../../common/tikz/kubernetes/architecture", 1, 4, "70%")}}

---

### Kubernetes Distributionen

Beispiele für Distributionen:
- OpenShift (RedHat)
- Rancher
- K3s
- Google Kubernetes Engine (GKE)
- Amazon Elastic Kubernetes Service (EKS)
- Microsoft Azure Kubernetes Service (AKS)
- "Vanilla Kubernetes": [kubernetes.io](https://kubernetes.io/)

---

### Vergleich der Distributionen

<style>
  table {
    font-size: 0.8em;
  }
</style>
| **Plattform**          | **Installationsaufwand** | **Skalierbarkeit & Clusterverwaltung** | **Sicherheitsfunktionen** |
|------------------------|--------------------------|----------------------------------------|---------------------------|
| **OpenShift**          | Hoch                     | Sehr hoch                              | Sehr gut                  |
| **Rancher**            | Mittel                   | Sehr hoch                              | Gut                       |
| **K3s**                | Sehr niedrig             | Eingeschränkt                          | Grundlegend               |
| **Vanilla Kubernetes** | Mittel bis hoch          | Sehr hoch                              | Gut                       |


---

## Standard Setup mit Kubeadm

---

{{ imported_macros.image_series("Standard Setup mit Kubeadm", "./tikz/considerations", 1, 12, "80%")}}

---

## Demo - Clustersetup mit Kubeadm

---

### Überlegungen zum Cluster-Kern

- OS
- systemd/Container
- High-Level Runtime
- Low-level Runtime

---

{{ imported_macros.image_series("Überlegungen - OS", "./tikz/considerations", 12, 13, "80%")}}

---

### OS

- Unterstützung der Distribution?
- Vorhandene Supportverträge?
- Sicherheitsfunktionen?
- Integration mit benötigten Netzwerk- und Speicherlösungen?
- Einfache Verwaltung und Wartung?
- Anforderungen oder Einschränkungen für Workloads?

---

### OS - Beispiele

- Ubuntu
- CentOS
- Red Hat Enterprise Linux
- Debian
- Talos
- Flatcar Linux
- Amazon Linux
- Windows Server

---

{{ imported_macros.image_series("Überlegungen - systemd", "./tikz/considerations", 13, 14, "80%")}}

---

### Wie läuft das Kubelet?

- Standard: systemd Unit
- Container
- Systemd alternative (z.B. `runit`, `supervisord`)
- Direkt als Prozess

---

### Wie laufen die andern Komponenten?

- Standard: static Pods
- Systemd Unit
- Container
- Systemd alternative (z.B. `runit`, `supervisord`)
- Direkt als Prozess

---

{{ imported_macros.image_series("Überlegungen - High-Level Runtime", "./tikz/considerations", 14, 15, "80%")}}

---

### High-Level Runtimes

* containerd
* CRI-O 
* Docker
* rkt

---

{{ imported_macros.image_series("Überlegungen - Low-Level Runtime", "./tikz/considerations", 15, 16, "80%")}}

---

### Low-Level Runtime Beispiele

- runC
- crun
- gVisor
- Kata Containers

---

### Überlegungen zum Cluster

- Network
- DNS
- Storage
- Ingress
- Registry

---

### Network

- Wahl des Netzwerk Plugins
- Als was läuft das Netzwerk? (Container, DaemonSet, Host)

---

### CNI Plugins - Beispiele

- Calico
- Cilium
- Flannel
- Weave Net

---

### DNS

- CoreDNS (Standard)

---

### Storage

- Self Manged vs Cloud
- CSI Treiber

---

### Storage - Beispiele

- Rook
- Longhorn
- AWS 
  - EBS
  - EFS
  - FSX

---

### Ingress

- Self Managed vs Cloud
- Plugins für Ingress Controller

---

### Ingress - Beispiele

- Traefik
- Nginx
- AWS ALB

---

### Registry

- Self Managed vs Cloud
- Kubernets intern oder extern
- Authentifizierung

---

### Registry - Beispiele

- Docker Registry
- Harbor
- AWS ECR
- Google Container Registry