{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Kubernetes", "Pod Status", imported_macros.theme()) }}

---

{{ imported_macros.image_series("Pod Status", "./tikz/pod_status", 1, 11, width="80%")}}

---

### Pod Status: Unknown/Success States

- `Pending`: Pod wartet auf Ressourcen
- `ContainerCreating`: Container wird erstellt
- `Running` und `Completed`: keine Probleme beim Bereitstellen der Pods
- `Terminating`: Pod wird gelöscht
- `Unknown`: Status unklar

---

{{ imported_macros.image_series("Pod Status", "./tikz/pod_status", 10, 12, width="80%")}}

---

### Pod Status: Fail States

- `CrashLoopBackOff`: Mindestens ein Container crasht
- `ImagePullBackOff`: Image nicht verfügbar
- `ContainerConfigError`: Ungültige Konfiguration, z.B. falsches Secret
- `Failed`: Mindestens ein Container ist fehlgeschlagen

---

### Images von privaten Registries

- ImagePullBackOff ist auch Fehler, wenn kein Zugriff auf die Registry möglich ist
- Standardmäßig werden Images ohne Authentifizierung gepullt
- Private Registries erfordern Authentifizierung
- Docker Hubs Terms of Service lassen nur 100 anonyme Pulls in 6 Stunden zu

---

### Image Pull Secrets

Secret erstellen:

```bash
kubectl create secret docker-registry <secret-name> \
  --docker-server=<registry-url> \
  --docker-username=<username> \
  --docker-password=<password> \
  --docker-email=<email>
```

Secret in Deployment einfügen:

```yaml
spec:
  containers:
  - name: my-container
    image: myregistry.com/myproject/myimage:tag
  imagePullSecrets:
  - name: <secret-name>
```

---

## Probes

---

### Probes - Arten

- `livenessProbe`: Überprüft, ob der Container läuft
- `readinessProbe`: Überprüft, ob der Container bereit ist
- `startupProbe`: Überprüft, ob der Container gestartet ist

---

### Probes - Checks

- `HTTP`: Prüft, ob ein bestimmter Endpunkt erreichbar ist
- `TCP`: Prüft, ob ein bestimmter Port erreichbar ist
- `Exec`: Führt ein bestimmtes Kommando aus

---

### Probes - Optionen

- `initialDelaySeconds`: Wartezeit vor dem ersten Test
- `periodSeconds`: Intervall zwischen den Tests
- `timeoutSeconds`: Zeit, die ein Test maximal dauern darf
- `successThreshold`: Anzahl der erfolgreichen Tests
- `failureThreshold`: Anzahl der fehlgeschlagenen Tests

---

### Probes - `livenessProbe`

- Container wird neu gestartet, wenn Probe fehlschlägt
- Wird regelmäßig ausgeführt

---

### Probes - `livenessProbe`

```yaml
(...)
  containers:
  - name: liveness
    image: registry.k8s.io/busybox
    args:
    - /bin/sh
    - -c
    - touch /tmp/healthy; sleep 30; rm -f /tmp/healthy; sleep 600
    livenessProbe:
      exec:
        command:
        - cat
        - /tmp/healthy
      initialDelaySeconds: 5
      periodSeconds: 5
```

---

### Probes - `readinessProbe`

- Container wird aus dem Service genommen, wenn Probe fehlschlägt
- Wird regelmäßig ausgeführt

---

### Probes - `readinessProbe`

```yaml
(...)
      readinessProbe:
        exec:
          command:
          - cat
          - /tmp/healthy
        initialDelaySeconds: 5
        periodSeconds: 5
```

---

### Probes - `startupProbe`

- Wird nur einmal ausgeführt
- Wird vor `livenessProbe` und `readinessProbe` ausgeführt
- Für Pods mit langen Startzeiten

---

### Probes - `startupProbe`

```yaml
(...)
      startupProbe:
        exec:
          command:
          - cat
          - /tmp/healthy
        initialDelaySeconds: 10
```

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/kubernetes/aufgaben/08-pod-status/)

Navigieren Sie nach: Kubernetes ⇨ Aufgaben ⇨ Pod Status

---

### Links

- [Kubernetes Pod Lifecycle](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/)
- [How to debug Pods](https://kubernetes.io/docs/tasks/debug/debug-application/debug-pods/)

