{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Kubernetes", "Security und Compliance", imported_macros.theme()) }}

---


## Sicherheitskonzepte für Kubernetes

---

### Sicherheitskonzepte für Kubernetes

- Auf der Kubernetes-Ebene
- Auf der Ebene ausgerollter Anwendungen

---

## Sicherheitskonzepte in Kubernetes

---

### Netzwerksicherheit

- Netzwerk-Policies zur Traffic-Beschränkung
- Service Mesh (Istio, Linkerd) für mTLS
- DNS-Sicherheit gegen Spoofing
- Firewall-Regeln für API-Server-Schutz

---

### Authentifizierung und Autorisierung

- RBAC (Role-Based Access Control) für Nutzer und Dienste
- OIDC, Service Accounts & Tokens für sichere Authentifizierung
- Pod Security Admission (PSA) zur Einschränkung unsicherer Einstellungen

---

### API-Server & Cluster-Sicherheit

- Minimale Berechtigungen für Admin-Zugriff
- Audit Logs aktivieren zur Überwachung
- Admission Controller für Policy Enforcement
- etcd-Verschlüsselung mit TLS

---

### Container & Runtime-Sicherheit

- Seccomp, AppArmor/SELinux zur Prozessisolation
- Keine Container als root ausführen
- Root Filesystem auf read-only setzen

---

### Supply-Chain-Sicherheit

- Signierung & Verifikation von Images
- Software Bill of Materials (SBOM) zur Nachverfolgung
- Automatische Schwachstellen-Scans mit Trivy, Clair

---

### Secrets-Management

- Keine Secrets in ConfigMaps speichern
- Vault oder Sealed Secrets verwenden
- Encryption at Rest für Kubernetes Secrets

---

## Sicherheit auf der Ebene der ausgerollten Anwendungen

---

### Least Privilege für Applikationen

- Minimal notwendige Service Accounts nutzen
- RBAC für Applikationen definieren

---

### Sichere Konfiguration & Deployment

- Keine Hardcoded Credentials in Code
- Nur benötigte Ports öffnen
- Security Contexts für Pods setzen

---

### Web & API-Sicherheit

- TLS für Ingress absichern
- Rate Limiting & API Authentication implementieren
- Security Headers setzen (CSP, X-Frame-Options)

---

### Datenbanksicherheit

- Passwörter in Kubernetes Secrets speichern
- TLS für Datenbank-Verbindungen aktivieren
- Network Policies für eingeschränkten Zugriff

---

### Logging & Monitoring

- Application Logs zentralisieren & analysieren
- Security Logs auf unerwartete Zugriffe prüfen
- Runtime Security Monitoring mit Falco oder Tetragon

---

### Patch-Management & Updates
- Regelmäßige Security Updates für Basis-Images
- Automatische CVE-Scans & Alerting
- Rolling Updates testen

---



## Integration von Kubernetes in bestehende Security- und Compliance-Konzepte

---

### Identitäts- & Zugriffskontrolle (IAM)
- Integration mit bestehenden IAM-Systemen (Active Directory, Okta, Keycloak)
- Nutzung von OIDC für Single Sign-On (SSO) und Multi-Faktor-Authentifizierung
- Automatische Rollenzuweisung basierend auf Unternehmensrichtlinien

---

### OIDC Authentifizierung

<img src="../../common/mermaid/oidc/auth_code_full.mmd.svg" style="width: 80%;">

---

### Authentifizierung bei Kubernetes

<img src="./mermaid/kubernetes_auth.mmd.svg" style="width: 80%;">

---

## Demo - OIDC mit Kubernetes

---

### Netzwerksicherheit

- Anbindung an bestehende Netzwerksegmentation und Firewalls
- Nutzung von Unternehmensweiten VPNs und Zero Trust Network Access (ZTNA)
- Implementierung von Service Mesh für Compliance-konforme interne Kommunikation

---

### Container Security & Image Compliance

- Nutzung zentralisierter Registry mit automatisierter Sicherheitsprüfung
- Durchsetzung unternehmensweiter Compliance-Richtlinien für Container-Images
- Automatische Durchsetzung von Image-Scans in der CI/CD-Pipeline

---

### Richtlinien & Compliance-Automatisierung

- Durchsetzung von Unternehmensrichtlinien mit OPA/Gatekeeper oder Kyverno
- Automatisierte Überprüfung anhand CIS Kubernetes Benchmark
- Nutzung von Audit-Werkzeugen zur regelmäßigen Compliance-Prüfung

---

### Backup & Disaster Recovery
- Integration mit bestehenden Backup-Strategien für Unternehmensdaten
- Nutzung von zentralisierten Backup-Lösungen (z. B. Velero mit Cloud-Storage)
- Regelmäßige Durchführung von Disaster Recovery Tests

---

## Disaster Recovery und Offsite Replikation

---

### Disaster Recovery Grundlagen
- RTO: Wie schnell wiederherstellen?
- RPO: Akzeptable Datenverluste?
- Backup vs. Replikation: Unterschied verstehen

---

### Kubernetes DR Strategien
- Stateless vs. Stateful-Apps
- Multi-Cluster Deployments für Redundanz
- Automatisiertes Failover (Federation, DNS)

---

### Backup-Strategie für Kubernetes

- Backup-Ziele: etcd, PVs, Secrets
- Tools: Velero, Kasten K10, Snapshots
- Cloud- & lokale Backup-Speicherung

---

### Offsite-Replikation

- Schutz vor lokalen Katastrophen
- Synchrone vs. Asynchrone Replikation
- Speicherung in Cloud-Objektspeichern

---

### Testing & Automatisierung

- Regelmäßige DR-Tests
- Automatisierte Cluster-Wiederherstellung
- Überwachung der Replikation mit Monitoring


---

## Integration in CI/CD-Prozesse

---

### Build & Container Image Management

- Containerisierung mit Docker, Buildah, Kaniko
- Image-Scanning (Trivy, Clair, Anchore)
- Immutable Images & Private Registries

---

### CI/CD Pipeline-Integration

- GitLab CI, Jenkins, GitHub Actions
- Automatische Image-Deployments
- Secrets Management mit Vault, Sealed Secrets

---

### Kubernetes Deployment-Strategien

- Rolling Updates für kontinuierliche Deployments
- Blue-Green & Canary Deployments
- GitOps mit ArgoCD, Flux

---

### Pipelines in Kubernetes

- Runner in Pods
- Jobs werden in Pods ausgeführt

