{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Versioning with Git", "Branches - Basics", imported_macros.theme()) }}

---

### Objectives of this chapter

I can

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
create and delete branches<br/>
switch between branches<br/>
distinguish local from remote branches<br/>
combine branches with git merge<br/>
</div>

</div>

---

### Recap - Staging Area

![](./tikz/areas1.svg)<!-- .element width="90%" -->

---

### Recap - git graph

```shell
$ git log --graph
```

```git
* 8277d982d (HEAD -> develop, origin/develop, origin/HEAD) [CHORE] remove 'bulk-create-c' permission (#15517)
*   254445fce Merge pull request #15469 from origin/develop-sync
|\
| * 3a571c40a Bump version to 2.2.0-develop
| *   c95663d2c (tag: 2.1.0, origin/main) Merge pull request #15459 from origin/release-2.1.0
| |\
| | * e5208876f Bump version to 2.1.0
| | * 0b16cce59 (tag: 2.1.0-rc.3, origin/release-candidate) Bump version to 2.1.0-rc.3
| | *   d0bfa4f73 Merge remote-tracking branch 'origin/develop' into release-candidate
| | |\
| |_|/
|/| |
* | | e75482af1 Update Apps-Engine version to final version (#15458)
| | * 9055f4cf9 (tag: 2.1.0-rc.2) Bump version to 2.1.0-rc.2
| | *   0fb0104ca Merge remote-tracking branch 'origin/develop' into release-candidate
| | |\
| |_|/
|/| |
```

---

### Branches

![](./tikz/branches_1.svg)<!-- .element width="80%" -->

--

### Branches

![](./tikz/branches_2.svg)<!-- .element width="80%" -->

--

### Branches

```shell
$
```

![](./tikz/branches_2.svg)<!-- .element width="80%" -->

--

### Branches

```shell
$ git branch testing
```

![](./tikz/branches_2.svg)<!-- .element width="80%" -->

--

### Branches

```shell
$ git branch testing
```

![](./tikz/branches_3.svg)<!-- .element width="80%" -->

--

### Branches

```shell
$
```

![](./tikz/branches_3.svg)<!-- .element width="80%" -->

--

### Branches

```shell
$ 
$ 
```

![](./tikz/branches_4.svg)<!-- .element width="80%" -->

--

### Branches

```shell
$ git switch testing
$ 
```

![](./tikz/branches_4.svg)<!-- .element width="80%" -->

--

### Branches

```shell
$ git switch testing
$ 
```

![](./tikz/branches_5.svg)<!-- .element width="80%" -->

--

### Branches

```shell
$ 
$ 
```

![](./tikz/branches_5.svg)<!-- .element width="80%" -->

--

### Branches

```shell
$ echo "work" > some_file.txt
$ git commit
```

![](./tikz/branches_5.svg)<!-- .element width="80%" -->

--

### Branches

```shell
$ echo "work" > some_file.txt
$ git commit
```

![](./tikz/branches_6.svg)<!-- .element width="80%" -->

--

### Branches

```shell
$ 
$ 
```

![](./tikz/branches_6.svg)<!-- .element width="80%" -->

--

### Branches

```shell
$ git switch main
$ 
```

![](./tikz/branches_6.svg)<!-- .element width="80%" -->

--

### Branches

```shell
$ git switch main
$ 
```

![](./tikz/branches_7.svg)<!-- .element width="80%" -->

--

### Branches

```shell
$ 
$ 
```

![](./tikz/branches_7.svg)<!-- .element width="80%" -->

--

### Branches

```shell
$ echo "more work" > another_file.txt
$ git commit
```

![](./tikz/branches_7.svg)<!-- .element width="80%" -->

--

### Branches

```shell
$ echo "more work" > another_file.txt
$ git commit
```

![](./tikz/branches_8.svg)<!-- .element width="80%" -->

---

### Creating a Branch

Create new branch (local):

```shell
$ git branch new-branch
```

Switch to existing branch:

```shell
$ git switch existing-branch
```

Create and switch at the same time:

```shell
$ git switch -c new-branch
```

---

### Branches

Show existing branches:

```shell
$ git branch
```

Delete branch

```shell
$ git branch -d some-branch
```

---

### Old: git checkout

- Before Git 2.23 (August 2019) only `checkout`
- New commands `switch` and `restore`
- Clear separation of responsibilities

---

### git checkout vs git switch

Switch to existing branch:

```shell
$ git switch my-branch # recommended
$ git checkout my-branch
```

Create and switch at the same time:

```shell
$ git switch -c my-branch # recommended
$ git checkout -b my-branch
```

---

### git checkout vs git switch

Explicit detached HEAD

```shell
$ git checkout 4ec47        # -> Detached HEAD
$ git switch 4ec47          # -> fatal: a branch is expected
$
```

--

### git checkout vs git switch

Explicit detached HEAD

```shell
$ git checkout 4ec47        # -> Detached HEAD
$ git switch 4ec47          # -> fatal: a branch is expected
$ git switch --detach 4ec47
```

---

### git checkout vs git restore

Stage -> Unstage:
```shell
$ git restore --staged datei.txt # recommended
$ git reset HEAD datei.txt
```

Modified -> Unmodified
```shell
$ git restore datei.txt # recommended
$ git checkout -- datei.txt
```

---

### Remote Branches

---

### Recap: commit/push/pull

What happens locally, what happens on the server?

---

{% for i in range(12) %}

### Recap: commit, push und pull

![](./tikz/commit_push_pull_{{i+1}}.svg)<!-- .element width="80%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Remote Branches

![](./tikz/remote_branch_1.svg)<!-- .element width="85%" -->

```shell
$ git clone git.corewire.de/corewire/test.git
```

<!-- .element: class="fragment" -->

![](./tikz/remote_branch_local_1.svg)<!-- .element width="85%" -->
<!-- .element: class="fragment" -->

--

### Remote Branches

![](./tikz/remote_branch_1.svg)<!-- .element width="85%" -->

```shell
$
```

![](./tikz/remote_branch_local_1.svg)<!-- .element width="85%" -->

--

### Remote Branches

![](./tikz/remote_branch_2.svg)<!-- .element width="85%" -->

```shell
$
```

![](./tikz/remote_branch_local_1.svg)<!-- .element width="85%" -->

--

### Remote Branches

![](./tikz/remote_branch_2.svg)<!-- .element width="85%" -->

```shell
$ git commit
```

![](./tikz/remote_branch_local_1.svg)<!-- .element width="85%" -->

--

### Remote Branches

![](./tikz/remote_branch_2.svg)<!-- .element width="85%" -->

```shell
$ git commit
```

![](./tikz/remote_branch_local_2.svg)<!-- .element width="85%" -->

--

### Remote Branches

![](./tikz/remote_branch_2.svg)<!-- .element width="85%" -->

```shell
$
```

![](./tikz/remote_branch_local_2.svg)<!-- .element width="85%" -->

--

### Remote Branches

![](./tikz/remote_branch_2.svg)<!-- .element width="85%" -->

```shell
$ git fetch origin
```

![](./tikz/remote_branch_local_2.svg)<!-- .element width="85%" -->

--

### Remote Branches

![](./tikz/remote_branch_2.svg)<!-- .element width="75%" -->

```shell
$ git fetch origin
```

![](./tikz/remote_branch_local_3.svg)<!-- .element width="75%" -->

---

### Demo

Note:
- Demo 1

---

### Branches & Remotes

Push local branch to server:

```shell
$ git push --set-upstream origin local-branch
```

Push new changes on branch to server:

```shell
$ git push [<remote>] [<branch>]
```

Get changes on branch from server:

```shell
$ git fetch [<remote>] [<branch>]
```

---

### Fetch vs. Pull

Get changes on branch from server:

```shell
$ git fetch
```

Get changes of branch from server and **integrate** into local Branch:

```shell
$ git pull


```

--

### Fetch vs. Pull

Get changes on branch from server:

```shell
$ git fetch
```

Get changes of branch from server and **integrate** into local Branch:

```shell
$ git fetch
$ git merge
```

---


### Project

Go to: [https://labs.corewire.de/en](https://labs.corewire.de/en/git/exercises/04-remote-branches/)

Navigate to: Git ⇨ Exercises ⇨  Remote Branches

---

### Merge

Merge two branches

- All changes combined
- Problem: What to do in case of conflicts?

---

### Merge

```shell
$
```

![](./tikz/merge_1.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git branch us-42
```

![](./tikz/merge_1.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git branch us-42
```

![](./tikz/merge_2.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$
```

![](./tikz/merge_2.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git switch us-42
```

![](./tikz/merge_2.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git switch us-42
$ 
```

![](./tikz/merge_3.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ echo "foo" > bar.txt
$ git commit
```

![](./tikz/merge_3.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ echo "foo" > bar.txt
$ git commit
```

![](./tikz/merge_4.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ 
$ 
```

![](./tikz/merge_4.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git switch main
$ 
```

![](./tikz/merge_4.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git switch main
$ 
```

![](./tikz/merge_5.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ 
$ 
```

![](./tikz/merge_5.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git branch hotfix-3
$ 
```

![](./tikz/merge_5.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git branch hotfix-3
$ 
```

![](./tikz/merge_6.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ 
$ 
```

![](./tikz/merge_6.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git switch hotfix-3
$ 
```

![](./tikz/merge_6.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git switch hotfix-3
$ 
```

![](./tikz/merge_6_2.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ 
$ 
```

![](./tikz/merge_6_2.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ echo "fix" > broken.txt
$ git commit
```

![](./tikz/merge_6_2.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ echo "fix" > broken.txt
$ git commit
```

![](./tikz/merge_7.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ 
$ 
```

![](./tikz/merge_7.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git switch main
$ 
```

![](./tikz/merge_7.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git switch main
$ 
```

![](./tikz/merge_8.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ 
$ 
```

![](./tikz/merge_8.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git merge hotfix-3
$ 
```

![](./tikz/merge_8.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git merge hotfix-3
$ 
```

![](./tikz/merge_9.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ 
$ 
```

![](./tikz/merge_9.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git branch -d hotfix-3
$ 
```

![](./tikz/merge_9.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git branch -d hotfix-3
$ 
```

![](./tikz/merge_9_2.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ 
$ 
```

![](./tikz/merge_9_2.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git switch us-42
$ 
```

![](./tikz/merge_9_2.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ git switch us-42
$ 
```

![](./tikz/merge_10.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ 
$ 
```

![](./tikz/merge_10.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ echo "more stuff" > run.c
$ git commit
```

![](./tikz/merge_10.svg)<!-- .element width="75%" -->

--

### Merge

```shell
$ echo "more stuff" > run.c
$ git commit
```

![](./tikz/merge_11.svg)<!-- .element width="85%" -->

--

### Merge

```shell
$ 
$ 
```

![](./tikz/merge_11.svg)<!-- .element width="85%" -->

--

### Merge

```shell
$ git switch main
$ 
```

![](./tikz/merge_11.svg)<!-- .element width="85%" -->

--

### Merge

```shell
$ git switch main
$ 
```

![](./tikz/merge_12.svg)<!-- .element width="85%" -->

--

### Merge

```shell
$ 
$ 
```

![](./tikz/merge_12.svg)<!-- .element width="85%" -->

--

### Merge

```shell
$ git merge us-42
$ 
```

![](./tikz/merge_12.svg)<!-- .element width="85%" -->

--

### Merge

```shell
$ git merge us-42
```

![](./tikz/merge_13.svg)<!-- .element width="100%" -->

--

### Merge

```shell
$
```

![](./tikz/merge_13.svg)<!-- .element width="100%" -->

--

### Merge

```shell
$ git branch -d us-42
```

![](./tikz/merge_13.svg)<!-- .element width="100%" -->

--

### Merge

```shell
$ git branch -d us-42
```

![](./tikz/merge_14.svg)<!-- .element width="100%" -->

---

### Demo

Note:
- Demo 2

---

### Project

Go to: [https://labs.corewire.de/en](https://labs.corewire.de/en/git/exercises/05-merge/)

Navigate to: Git ⇨ Exercises ⇨ Merge

---
{% for i in range(5) %}

### Objectives of this chapter

I can

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<4 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
create and delete branches<br/>
switch between branches<br/>
distinguish local from remote branches<br/>
combine branches with git merge<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}