{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Keycloak", "Einführung", imported_macros.theme()) }}

---

{{ imported_macros.participants_introduction_round() }}

---

### Agenda - Tag 1

1. Einführung
2. Installation und Konfiguration
3. Clients und Protokolle

---

### Agenda - Tag 2

4. Betrieb und Updates
5. Authentifizierungsflows
6. SPIs
7. Themes

---

![](./img/Keycloak-logo.png)<!-- .element class="corewire-logo" width="70%" -->

---

### Keycloak

- Identity and Access Management (IAM) Lösung
- Open-Source
- Unterstützt Standardlösungen und Protokolle
- Umfänglich Anpass- und Erweiterbar

---

### Identity and Access Management

- Authentifizierung
  - AuthN (eng. <u>**auth**</u>e<u>**n**</u>tication)
  - Wer bin ich?

- Autorisierung
  - AuthZ (eng. <u>**auth**</u>ori<u>**z**</u>ation)
  - Was darf ich?

---

### Authentifizierung

- Single Sign-On (SSO)
  - OIDC, SAML
- Zwei-/Multi-Faktor-Authentifizierung (2FA/MFA)
- Social Login
- User Federation
  - LDAP, Active Directory, Kerberos

---

### Autorisierung

- Role-Based Access Control (RBAC)
- Attribute-Based Access Control (ABAC)
- Client Autorisierung

---

{{ imported_macros.image_series("Benutzermanagement", "../common/tikz/user_federation_vs_identity_provider", 1, 7, "80%")}}

---

### Benutzermanagement

- Intern (Datenbank)
- Extern (Identity Store, zB. LDAP)
- Identity Broker

---

### Keycloak für Benutzer

- Account-Verwaltung
  - Anzeigen/Ändern von Attributen
- Session Management
  - Anzeigen/Löschen von Sessions
- Self-Service
  - Registration, Passwortreset, ...

---

### Keycloak für Admins

- Admin-Oberfläche
  - Zentrales Management von Benutzer, Gruppen, Rollen, Clients
- Erweiterbarkeit
  - Themes
  - Authentifizierungsflows
  - Plugins (SPIs)
  - REST & Admin API

---

### Wer steht hinter Keycloak?

- Open Source
- Erstes Release September 2014
- Teil der CNCF (seit April 2023)
- Entwickelt von RedHat

---

### Cloud Native Computing Foundation (CNCF)

- Non-Profit-Organisation
- Förderung des Open-Source-Ökosystemen
- Projekte im Bereich Cloud Native Computing
- Teil der LinuxFoundation

[Projektübersicht](https://www.cncf.io/projects/)

---

### Weshalb Keycloak?

- Sicherheit:
  - Bietet eine zentralisierte Authentifizierung und Autorisierung.
- AA<!-- .element class="placeholder" -->
- AA<!-- .element class="placeholder" -->
- AA<!-- .element class="placeholder" -->
- AA<!-- .element class="placeholder" -->

--

### Weshalb Keycloak?

- Sicherheit:
- Benutzerfreundlichkeit:
  - Reduziert die Notwendigkeit, dass Nutzer sich mehrere Passwörter merken müssen.
- AA<!-- .element class="placeholder" -->
- AA<!-- .element class="placeholder" -->
- AA<!-- .element class="placeholder" -->

--

### Weshalb Keycloak?

- Sicherheit:
- Benutzerfreundlichkeit:
- Flexibilität:
  - Funktioniert mit verschiedenen Anwendungen, Protokollen und Identitätsanbietern.
- AA<!-- .element class="placeholder" -->
- AA<!-- .element class="placeholder" -->

--

### Weshalb Keycloak?

- Sicherheit:
- Benutzerfreundlichkeit:
- Flexibilität:
- Skalierbarkeit:
  - Einsetzbar für kleine Projekte bis hin zu unternehmensweiten Implementierungen.
- AA<!-- .element class="placeholder" -->

--

### Weshalb Keycloak?

- Sicherheit:
- Benutzerfreundlichkeit:
- Flexibilität:
- Skalierbarkeit:
- Kosteneffizienz:
  - Open-Source mit optionalem Enterprise-Support.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

---

{{ imported_macros.image_series("Architektur", "./tikz/architecture", 1, 5, "50%")}}

---

### Architektur
- Auf Container/K8s/Cloud-Setups ausgelegt
  - Migration von WildFly zu Quarkus (Version 17)
    - Feburar 2022
    - U.a: `/auth`-Prefix entfernt
- Ein-Container Entwicklungsumgebung
- Multi-Site Cluster Setup möglich

---

### Realm

![](./img/master_realm.png)<!-- .element width="70%" -->

[Quelle: Keycloak](https://www.keycloak.org/docs/latest/server_admin/index.html#the-master-realm)
<!-- .element: class="acknowledgment" -->

---

### Realm

- Isolierte Benutzer- und Konfigurationsumgebung
- Mehrere Realms können in einer Keycloak-Instanz existieren
- Master-Realm:
<!-- .element: class="fragment" data-fragment-index="1" -->
  - Immer vorhanden
  <!-- .element: class="fragment" data-fragment-index="1" -->
  - Enthält Admin-Account
  <!-- .element: class="fragment" data-fragment-index="1" -->
  - Nur für die Verwaltung von anderen Realms
  <!-- .element: class="fragment" data-fragment-index="1" -->

---

### Demo: Keycloak