{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Versioning with Git", "Undo Changes", imported_macros.theme()) }}

---

### Objectives of this chapter

I can

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
adjust commits<br/>
remove commits<br/>
distinguish the purpose of git reset and git revert<br/>
access old versions with git switch<br/>
</div>

</div>

---

### git blame

```shell
$ git blame git.c
```

```shell
85023577a8 (junio c hamano   ...  1) #include "builtin.h"
b2141fc1d2 (brandon williams ...  2) #include "config.h"
fd5c363da4 (thiago farina    ...  3) #include "exec_cmd.h"
fd5c363da4 (thiago farina    ...  4) #include "help.h"
d8e96fd86d (jeff king        ...  5) #include "run-command.h"
8e49d50388 (andreas ericsson ...  6)
822a7d5071 (ramsay jones     ...  7) const char git_usage_string[] =
44e1e4d67d (nazri ramliy     ...  8)         "git [--version] [--help] [-C <path>] [-c name=value]\n"
03a0fb0ccf (kevin bracey     ...  9)         "           [--exec-path[=<path>]] [--html-path] [--man-path] [--info-path]\n"
9c9b4f2f8b (alex henrie      ... 10)         "           [-p | --paginate | --no-pager] [--no-replace-objects] [--bare]\n"
a1bea2c1fc (josh triplett    ... 11)         "           [--git-dir=<path>] [--work-tree=<path>] [--namespace=<name>]\n"
62b4698e55 (štěpán němec     ... 12)         "           <command> [<args>]";
822a7d5071 (ramsay jones     ... 13)
b7d9681974 (teemu likonen    ... 14) const char git_more_info_string[] =
ad5fe3771b (alex henrie      ... 15)         N_("'git help -a' and 'git help -g' list available subcommands and some\n"
73903d0bcb (philip oakley    ... 16)            "concept guides. See 'git help <command>' or 'git help <concept>'\n"
73903d0bcb (philip oakley    ... 17)            "to read about a specific subcommand or concept.");
b7d9681974 (teemu likonen    ... 18)
4e10738a93 (jeff king        ... 19) static int use_pager = -1;
c0562611c5 (nguyễn thái      ... 20)
8893fd95b6 (jeff king        ... 21) static void list_builtins(void);
8893fd95b6 (jeff king        ... 22)
4e10738a93 (jeff king        ... 23) static void commit_pager_choice(void) {
4e10738a93 (jeff king        ... 24)         switch (use_pager) {
4e10738a93 (jeff king        ... 25)         case 0:
4e10738a93 (jeff king        ... 26)                 setenv("GIT_PAGER", "cat", 1);
4e10738a93 (jeff king        ... 27)                 break;
4e10738a93 (jeff king        ... 28)         case 1:
4e10738a93 (jeff king        ... 29)                 setup_pager();
4e10738a93 (jeff king        ... 30)                 break;
4e10738a93 (jeff king        ... 31)         default:
4e10738a93 (jeff king        ... 32)                 break;
4e10738a93 (jeff king        ... 33)         }
4e10738a93 (jeff king        ... 34) }
4e10738a93 (jeff king        ... 35)
033fe3d92c (martin ågren     ... 36) void setup_auto_pager(const char *cmd, int def)
033fe3d92c (martin ågren     ... 37) {
033fe3d92c (martin ågren     ... 38)         if (use_pager != -1 || pager_in_use())
033fe3d92c (martin ågren     ... 39)                 return;
033fe3d92c (martin ågren     ... 40)         use_pager = check_pager_config(cmd);
033fe3d92c (martin ågren     ... 41)         if (use_pager == -1)
033fe3d92c (martin ågren     ... 42)                 use_pager = def;
033fe3d92c (martin ågren     ... 43)         commit_pager_choice();
033fe3d92c (martin ågren     ... 44) }
033fe3d92c (martin ågren     ... 45)
```

<!-- .element: class="fragment" -->

---

### Edit commit message

```shell
$ git commit --amend
```

---

### Edit commit

```shell
$ git commit
$ echo "something" > forgotten.txt
$ git add forgotten.txt
```

```shell
$ git commit --amend
```

<!-- .element: class="fragment" -->

---

{% for i in range(8) %}

### Divergent histories

![](./tikz/amend_{{i+1}}.svg)<!-- .element width="80%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Divergent histories

How can I fix errors?

```shell
$ git revert
```

---

### git revert

```shell
$ git revert <last-commit>
```

Adds **a new commit** that contains the inverse changes.

No rewriting of the previous history!

---

{% for i in range(3) %}

### git revert

![](./tikz/revert_{{i+1}}.svg)<!-- .element width="80%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Divergent histories

General recommendation:

**No complete rewriting of already distributed changes**

---

### git reset

![](./tikz/areas1.svg)<!-- .element width="80%" -->

--

### git reset

![](./tikz/areas2.svg)<!-- .element width="80%" -->

---

### git reset

```shell
$
```

![](./tikz/reset_1.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ echo "bla" > file.txt
```

![](./tikz/reset_1.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ echo "bla" > file.txt
```

![](./tikz/reset_2.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$
```

![](./tikz/reset_2.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ git add file.txt
```

![](./tikz/reset_2.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ git add file.txt
```

![](./tikz/reset_3.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$
```

![](./tikz/reset_3.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ git commit
```

![](./tikz/reset_3.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ git commit
```

![](./tikz/reset_4.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ git commit
```

![](./tikz/reset_HEAD_1.svg)<!-- .element width="70%" -->
![](./tikz/reset_4.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$
```

![](./tikz/reset_HEAD_1.svg)<!-- .element width="70%" -->
![](./tikz/reset_4.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ echo "blubb" > file.txt
```

![](./tikz/reset_HEAD_1.svg)<!-- .element width="70%" -->
![](./tikz/reset_4.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ echo "blubb" > file.txt
```

![](./tikz/reset_HEAD_1.svg)<!-- .element width="70%" -->
![](./tikz/reset_5.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$
```

![](./tikz/reset_HEAD_1.svg)<!-- .element width="70%" -->
![](./tikz/reset_5.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ git add file.txt
```

![](./tikz/reset_HEAD_1.svg)<!-- .element width="70%" -->
![](./tikz/reset_5.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ git add file.txt
```

![](./tikz/reset_HEAD_1.svg)<!-- .element width="70%" -->
![](./tikz/reset_6.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$
```

![](./tikz/reset_HEAD_1.svg)<!-- .element width="70%" -->
![](./tikz/reset_6.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ git commit
```

![](./tikz/reset_HEAD_1.svg)<!-- .element width="70%" -->
![](./tikz/reset_6.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ git commit
```

![](./tikz/reset_HEAD_2.svg)<!-- .element width="70%" -->
![](./tikz/reset_7.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$
```

![](./tikz/reset_HEAD_2.svg)<!-- .element width="70%" -->
![](./tikz/reset_7.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$
```

![](./tikz/reset_HEAD_3.svg)<!-- .element width="70%" -->
![](./tikz/reset_8.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ git reset --soft HEAD~1
```

![](./tikz/reset_HEAD_3.svg)<!-- .element width="70%" -->
![](./tikz/reset_8.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ git reset --soft HEAD~1
```

![](./tikz/reset_HEAD_4.svg)<!-- .element width="70%" -->
![](./tikz/reset_9.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$
```

![](./tikz/reset_HEAD_3.svg)<!-- .element width="70%" -->
![](./tikz/reset_8.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ git reset [--mixed] HEAD~1
```

![](./tikz/reset_HEAD_3.svg)<!-- .element width="70%" -->
![](./tikz/reset_8.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ git reset [--mixed] HEAD~1
```

![](./tikz/reset_HEAD_4.svg)<!-- .element width="70%" -->
![](./tikz/reset_10.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$
```

![](./tikz/reset_HEAD_3.svg)<!-- .element width="70%" -->
![](./tikz/reset_8.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ git reset --hard HEAD~1
```

![](./tikz/reset_HEAD_3.svg)<!-- .element width="70%" -->
![](./tikz/reset_8.svg)<!-- .element width="70%" -->

--

### git reset

```shell
$ git reset --hard HEAD~1
```

![](./tikz/reset_HEAD_4.svg)<!-- .element width="70%" -->
![](./tikz/reset_11.svg)<!-- .element width="70%" -->

---

### Demo

---

### Summary

- Edit commit message:
  ```shell
  $ git commit --amend
  ```
  (rewrites history)

- Undo commit:
  ```shell
  $ git revert <commit>
  ```

- Remove last commit completely from history:
  ```shell
  $ git reset HEAD~1
  ```
  (rewrites history)

---

### git restore

Recap: Undo changes
```shell
$ git restore my_file
```
Status of my_file: modified -> unmodified

---

### git switch

Check out old version:

```shell
$ git switch --detach <commit>
```

---

### Detached HEAD

```shell
$


```

![](./tikz/detached_head_2.svg)<!-- .element width="70%" -->

--

### Detached HEAD
```shell
$ git switch --detach 4ec47


```

![](./tikz/detached_head_2.svg)<!-- .element width="70%" -->

--

### Detached HEAD
```shell
$ git switch --detach 4ec47


```

![](./tikz/detached_head_3.svg)<!-- .element width="70%" -->

--

### Detached HEAD

```shell
$ git add document.txt
$ git commit -m "Add document.txt"
```

![](./tikz/detached_head_3.svg)<!-- .element width="70%" -->

--

### Detached HEAD

```shell
$ git add document.txt
$ git commit -m "Add document.txt"
```

![](./tikz/detached_head_4.svg)<!-- .element width="70%" -->

--

### Detached HEAD

```shell
$ git add another_document.txt
$ git commit -m "Add another_document.txt"
```

![](./tikz/detached_head_4.svg)<!-- .element width="70%" -->

--

### Detached HEAD

```shell
$ git add another_document.txt
$ git commit -m "Add another_document.txt"
```

![](./tikz/detached_head_5.svg)<!-- .element width="70%" -->

--

### Detached HEAD
```shell
$ git switch main


```

![](./tikz/detached_head_5.svg)<!-- .element width="70%" -->

--


### Detached HEAD

```shell
$ git switch main


```

![](./tikz/detached_head_6.svg)<!-- .element width="70%" -->

---

### Project

Go to: [https://labs.corewire.de/en](https://labs.corewire.de/en/git/exercises/03-reset-and-revert/)

Navigate to: Git ⇨ Exercises ⇨  Reset and Revert

---
{% for i in range(5) %}

### Objectives of this chapter

I can

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<4 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
adjust commits afterwards<br/>
remove commits<br/>
distinguish the purpose of reset and revert<br/>
access old versions with git switch<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}
