{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Kubernetes", "Konfiguration", imported_macros.theme()) }}

---

{{ imported_macros.image_series("Umgebungsvariablen", "tikz/configuration", 1, 3, "50%")}}

---

### Umgebungsvariablen setzen

```yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      my-label: my-app
  template:
    metadata:
      labels:
        my-label: my-app
  [...]
```
<!-- .element: style="float: left; width: 23em;" -->


```yaml
  [...]
    spec:
      containers:
      - name: my-container
        image: nginx:latest
        env:
        - name: MY_ENV_VAR
          value: "Hello World"







```
<!-- .element: style="float: right; width: 23em;" -->

---

### Umgebungsvariablen

- Laufzeit-Konfiguration des Containers
- Teil der Pod-Spezifikation (Pod, ReplicaSet, Deployment)

---

### Secrets

```yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      my-label: my-app
  template:
    metadata:
      labels:
        my-label: my-app
  [...]
```
<!-- .element: style="float: left; width: 23em;" -->


```yaml
  [...]
    spec:
      containers:
      - name: my-container
        image: nginx:latest
        env:
        - name: MY_ENV_VAR
          value: "Hello World"







```
<!-- .element: style="float: right; width: 23em;" -->

--

### Secrets

```yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      my-label: my-app
  template:
    metadata:
      labels:
        my-label: my-app
  [...]
```
<!-- .element: style="float: left; width: 23em;" -->


```yaml
  [...]
    spec:
      containers:
      - name: my-container
        image: nginx:latest
        env:
        - name: DB_PASSWORD
          value: "super_secure"







```
<!-- .element: style="float: right; width: 23em;" -->

---

{{ imported_macros.image_series("Secrets", "tikz/configuration", 2, 4, "50%")}}

---

### Secrets anlegen

```shell
kubectl create secret generic my-secret --from-literal=db-password=super_secure


```

```yaml








```

--

### Secrets anlegen

```shell
kubectl create secret generic my-secret --from-literal=db-password=super_secure
kubectl get secrets my-secret -o yaml

```

```yaml
apiVersion: v1
kind: Secret
metadata:
  name: my-secret
type: Opaque
data:
  db-password: c3VwZXJfc2VjdXJl  # base64 encoded value of 'super_secure'
```

---

{{ imported_macros.image_series("Secrets", "tikz/configuration", 3, 5, "50%")}}

---

### Secrets

```yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      my-label: my-app
  template:
    metadata:
      labels:
        my-label: my-app
  [...]
```
<!-- .element: style="float: left; width: 23em;" -->


```yaml
  [...]
    spec:
      containers:
      - name: my-container
        image: nginx:latest
        env:
        - name: DB_PASSWORD
          value: "super_secure"







```
<!-- .element: style="float: right; width: 23em;" -->

--

### Secrets

```yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      my-label: my-app
  template:
    metadata:
      labels:
        my-label: my-app
  [...]
```
<!-- .element: style="float: left; width: 23em;" -->


```yaml
  [...]
    spec:
      containers:
      - name: my-container
        image: nginx:latest
        env:
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: my-secret
              key: db-password




```
<!-- .element: style="float: right; width: 23em;" -->

---

### Secrets

- für vertrauliche Informationen
- Base64 enkodiert, aber **nicht** verschlüsselt
- kann auf Umgebungsvariablen gemappt werden

---

### Secrets - Best Practices

- Encryption at Rest aktivieren
- Zugriff auf Secrets mit RBAC einschränken
  - Für User
  - Für Pods
- Ggf. externen Secret-Store verwenden

---

### Demo

---

### Vorteile von Secrets

- Zugriffsbeschränkung mit rollenbasierter Zugriffskontrolle (RBAC)
- Externe Secrets:
  - Bitnami Sealed Secrets
  - Vault Secrets Operator

---

### Externe Secrets

![](./img/vault-secret-operator.png)<!-- .element width="40%" -->


[Manage Kubernetes native secrets with the Vault Secrets Operator](https://developer.hashicorp.com/vault/tutorials/kubernetes/vault-secrets-operator)
<!-- .element: class="acknowledgment" -->
---

{{ imported_macros.image_series("ConfigMaps", "tikz/configuration", 4, 6, "50%")}}

---

### ConfigMaps

- Speichern Key-Value-Paare
- Verwendung als Umgebungsvariablen oder Datei

---

### ConfigMap definieren

```yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: my-config-map
data:
  my-key: my-value
  file1.ext: |
    data1
  config.json: |
    {
      "key": "value"
    }
```

---

### ConfigMap verwenden

```yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      my-label: my-app
  template:
    metadata:
      labels:
        my-label: my-app
  [...]
```
<!-- .element: style="float: left; width: 23em;" -->


```yaml
  [...]
    spec:
      containers:
      - name: my-container
        image: nginx:latest
        env:
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: my-secret
              key: db-password




```
<!-- .element: style="float: right; width: 23em;" -->

--

### ConfigMap verwenden

```yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      my-label: my-app
  template:
    metadata:
      labels:
        my-label: my-app
  [...]
```
<!-- .element: style="float: left; width: 23em;" -->


```yaml
  [...]
    spec:
      containers:
      - name: my-container
        image: nginx:latest
        env:
        - name: DB_PASSWORD
          valueFrom:
            configMapKeyRef:
              name: my-config-map
              key: my-key




```
<!-- .element: style="float: right; width: 23em;" -->

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/kubernetes/aufgaben/03-configuration/)

Navigieren Sie nach: Kubernetes ⇨ Aufgaben ⇨ Konfiguration

---

### Literatur

  - [Offizielle Dokumentation Umgebungsvariablen](https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-container/)
  - [12factor app](https://12factor.net/config)
  - [Offizielle Kubernetes-Dokumentation Secrets](https://kubernetes.io/docs/concepts/configuration/secret/)
  - [Verwendung von Secrets in Pods](https://kubernetes.io/docs/tasks/inject-data-application/distribute-credentials-secure/)
  - [Verwaltung von Secrets mit kubectl](https://kubernetes.io/docs/tasks/configmap-secret/managing-secret-using-kubectl/)
  - [Offiziellen Kubernetes-Dokumentation Configmaps](https://kubernetes.io/docs/concepts/configuration/configmap/)
