{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Kubernetes", "Volumes & Mounts", imported_macros.theme()) }}

---

{{ imported_macros.image_series("Volumes in Docker", "tikz/volumes", 1, 6, "50%")}}

---

{{ imported_macros.image_series("Volumes in Kubernetes", "tikz/volumes", 6, 9, "50%")}}

---

{{ imported_macros.image_series("Mounts", "tikz/volumes", 9, 11, "50%")}}

---

### Volumes

- mounten Speicher in Pods
- können von mehreren Pods genutzt werden
- verschiedene Typen: emptyDir, hostPath, secret, configMap, ...

---

### emptyDir - Volumes

- einfachster Typ
- temporärer Speicher
- wird beim Löschen des Pods gelöscht
- kann von mehreren Containern in einem Pod genutzt werden

---

### Volumes definieren

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: mypod
spec:



  containers:
  - name: mycontainer
    image: myimage:latest




```

--

### Volumes definieren

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: mypod
spec:
  volumes:
  - name: myvolume
    emptyDir: {}
  containers:
  - name: mycontainer
    image: myimage:latest




```

--

### Volumes definieren

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: mypod
spec:
  volumes:
  - name: myvolume
    emptyDir: {}
  containers:
  - name: mycontainer
    image: myimage:latest
    volumeMounts:
    - name: myvolume
      mountPath: /data
```

---

### HostPath - Volumes

- mountet einen Pfad vom Host in den Pod
- kann von mehreren Pods genutzt werden
- nicht empfohlen in Produktionsumgebungen

---

### HostPath - Volumes definieren

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: mypod
spec:





  containers:
  - name: mycontainer
    image: myimage:latest




```

--

### HostPath - Volumes definieren

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: mypod
spec:
  volumes:
  - name: myvolume
    emptyDir: {}


  containers:
  - name: mycontainer
    image: myimage:latest




```

--

### HostPath - Volumes definieren

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: mypod
spec:
  volumes:
  - name: myvolume
    hostPath:
      path: /path/on/host
      type: DirectoryOrCreate
  containers:
  - name: mycontainer
    image: myimage:latest




```

--

### HostPath - Volumes definieren

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: mypod
spec:
  volumes:
  - name: myvolume
    hostPath:
      path: /path/on/host
      type: DirectoryOrCreate
  containers:
  - name: mycontainer
    image: myimage:latest
    volumeMounts:
    - name: myvolume
      mountPath: /data
```

---

{{ imported_macros.image_series("Übersicht", "tikz/volumes_overview", 1, 3, "80%")}}

---

### Mount von Secrets und ConfigMaps

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: mypod
spec:




  containers:
  - name: mycontainer
    image: myimage:latest





```
<!-- .element: style="float: left; width: 23em;" -->

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: mypod
spec:




  containers:
  - name: mycontainer
    image: myimage:latest





```
<!-- .element: style="float: right; width: 23em;" -->

--

### Mount von Secrets und ConfigMaps

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: mypod
spec:
  volumes:
  - name: secret-volume
    secret:
      secretName: my-secret
  containers:
  - name: mycontainer
    image: myimage:latest





```
<!-- .element: style="float: left; width: 23em;" -->

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: mypod
spec:
  volumes:
  - name: config-volume
    configMap:
      name: my-configmap
  containers:
  - name: mycontainer
    image: myimage:latest





```
<!-- .element: style="float: right; width: 23em;" -->

--

### Mount von Secrets und ConfigMaps

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: mypod
spec:
  volumes:
  - name: secret-volume
    secret:
      secretName: my-secret
  containers:
  - name: mycontainer
    image: myimage:latest
    volumeMounts:
    - name: secret-volume
      mountPath: /etc/secret
      readOnly: true
```
<!-- .element: style="float: left; width: 23em;" -->

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: mypod
spec:
  volumes:
  - name: config-volume
    configMap:
      name: my-configmap
  containers:
  - name: mycontainer
    image: myimage:latest
    volumeMounts:
    - name: config-volume
      mountPath: /etc/config
      readOnly: true
```
<!-- .element: style="float: right; width: 23em;" -->

---


### Demo

---

{{ imported_macros.image_series("Übersicht", "tikz/volumes_overview", 3, 4, "80%")}}

---

{{ imported_macros.image_series("Was passiert bei mehreren Pods?", "tikz/storage", 1, 3, "50%")}}

---

### Fully replicated storage

![](tikz/storage_3.svg) <!-- .element width="50%" -->

---

### Fully replicated storage

- einfach zu handhaben
- funktioniert nur bei kleinen Datenmengen

---

### Partially replicated storage

![](tikz/storage_4.svg) <!-- .element width="50%" -->

---

### Partially replicated storage

- skaliert mit der Anzahl an Knoten
- Beispiel: Longhorn, Rook, OpenEBS,...

---

### External storage

![](tikz/storage_5.svg) <!-- .element width="50%" -->

---

### External Storage

- persistent
- Storage Controller kümmert sich um Konsistenz und Geschwindigkeit
- Beispiel: NFS, AWS EBS, Azure Disk, S3 buckets,...
- Developer muss Persistent Volume claimen (PVC)

---

### PVC

```yaml
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: my-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
```

---

### Podreferenz auf PVC

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: my-pod
spec:
  volumes:
    - name: my-storage
      persistentVolumeClaim:
        claimName: my-pvc
  containers:
    - name: my-container
      image: nginx
      volumeMounts:
        - mountPath: /usr/share/nginx/html
          name: my-storage
```

---

{{ imported_macros.image_series("PVC Interna", "tikz/csi", 1, 10, "85%")}}

---

### CSI (Container Storage Interface)

- kurzgesagt: API für Storage Treiber in K8s
- implementiert Spezifikation für Storage Treiber

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/kubernetes/aufgaben/04-volumes/)

Navigieren Sie nach: Kubernetes ⇨ Aufgaben ⇨ Volumes

---

### Links

- [Kubernetes Volumes](https://kubernetes.io/docs/concepts/storage/volumes/)
- [Kubernetes Persistent Volumes](https://kubernetes.io/docs/concepts/storage/persistent-volumes/)
- [Kubernetes Storage Classes](https://kubernetes.io/docs/concepts/storage/storage-classes/)
- [Kubernetes-Tutorial "Credentials sicher verteilen mit Secrets"](https://kubernetes.io/docs/tasks/inject-data-application/distribute-credentials-secure)
