{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Fortgeschrittene Git-Nutzung", "Ausblick", imported_macros.theme()) }}

---

### Was haben wir gelernt?

- Grundkonzepte von Versionierung
- git Befehle (commit/pull/push/switch/merge/rebase/...)
- Zusammenarbeiten mit Git
- Projektverwaltung
- Fortgeschrittene Git-Features (cherry-picking, bisect,...)

---

### Was gibt es noch?

- CI/CD mit Git
- DevOps
- GitOps
- ...

---

{{ imported_macros.image_series("CI/CD", "../../common/tikz/ci-cd/ci-vs-cd", 1, 6, "90%")}}

---

{{ imported_macros.image_series("CI/CD mit Git", "../../common/tikz/ci-cd/simple-ci", 1, 8, "75%")}}

---

{{ imported_macros.image_series("DevOps", "../../common/tikz/devops", 1, 5, "90%")}}

---

{{ imported_macros.image_series("GitOps", "../../common/tikz/devops/gitops", 1, 4, "90%")}}

---

{{ imported_macros.outro(imported_macros.theme()) }}
