{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Advanced Git", "Outro", imported_macros.theme()) }}

---

### What did we learn?

- Basic concepts of version control
- git commands (commit/pull/push/switch/merge/rebase/...)
- Collaborating with Git
- Project management
- Advanced Git features (cherry-picking, bisect,...)

---

### What else is there?

- CI/CD with Git
- DevOps
- GitOps
- ...

---

{{ imported_macros.image_series("CI/CD", "../../common/tikz/ci-cd/ci-vs-cd", 1, 6, "90%")}}

---

{{ imported_macros.image_series("CI/CD mit Git", "../../common/tikz/ci-cd/simple-ci", 1, 8, "75%")}}

---

{{ imported_macros.image_series("DevOps", "../../common/tikz/devops", 1, 5, "90%")}}

---

{{ imported_macros.image_series("GitOps", "../../common/tikz/devops/gitops", 1, 4, "90%")}}

---

{{ imported_macros.outro(imported_macros.theme()) }}