{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Docker® & Container", "Erste Schritte", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
einen vorhandenen Container starten<br/>
mir Informationen zu vorhandenen Containern anzeigen<br/>
den Lebenszyklus von Containern nutzen<br/>
</div>

</div>

---

### Demo: Schulungsumgebung

---

### Container starten

```bash
$ docker run -d -p 8000:80 --name mein_erster_container nginx
ae87ecd48cff5d0747827da6d3331f5d38903508600491826a257a0a04d431c0

# Rückgabewert: Container Id des erstellten Containers
```

<div class="container">

<div class="col align-right">
<code>-d</code>:<br/>
<code>-p</code>:<br/>
<code>8000:80</code>:<br/>
<br/>
<code>--name</code>:<br/>
<code>nginx</code>:<br/>
</div>

<div class="col-flex-2 align-left ps-2">
als Hintergrundprozess<br/>
mit Portmapping<br/>
Hostport 8000<br/>
-> Containerport 80<br/>
Name des Containers<br/>
Name des Images<br/>
</div>

</div>

---

### Container starten

Zugriff auf  Docker Service benötigt:

- Nutzer in "docker"-Gruppe
- oder root

---

### Laufende Container anzeigen

```shell
$ docker ps
```

```shell
CONTAINER ID  IMAGE  COMMAND                 CREATED         STATUS         PORTS                 NAMES
5ca9297cc6ed  httpd  "httpd-foreground"      3 seconds ago   Up 2 seconds   0.0.0.0:8002->80/tcp  mein_zweiter_container
1c0c9d1a1118  nginx  "/docker-entrypoint.…"  20 seconds ago  Up 19 seconds  0.0.0.0:8001->80/tcp  mein_erster_container
ae87ecd48cff  nginx  "/docker-entrypoint.…"  25 minutes ago  Up 25 minutes  0.0.0.0:8000->80/tcp  jolly_gould
```
<!-- .element: class="fragment" data-fragment-index="1"-->

- Container-ID und -name
- Image-Name
- Status und Uptime
- Offene Ports

<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Containerlogs anzeigen

```shell
$ docker logs -f <Container-ID oder -name>
```

<div class="container">

<div class="col align-right">
<code>-f/--follow</code><br/>
<br/>
<code>STRG + C</code>
</div>

<div class="col-flex-2 align-left ps-2">
neue Logeinträge werden<br/>
direkt angezeigt<br/>
Beendet den Logstream
</div>

</div>

---

### Containerdetails anzeigen

```shell
$ docker inspect <Container-ID oder -name>
```

- Format: Json
- Low-level Informationen
- Auch für weitere Dockerobjekte möglich
  - Images
  - Networks
  - Volumes

---

### Container Lifecycle

![](tikz/lifecycle_1.svg) <!-- .element width="100%" -->

--

### Container Lifecycle

![](tikz/lifecycle_2.svg) <!-- .element width="100%" -->

--

### Container Lifecycle

![](tikz/lifecycle_3.svg) <!-- .element width="100%" -->

--

### Container Lifecycle

![](tikz/lifecycle_4.svg) <!-- .element width="100%" -->

--

### Container Lifecycle

![](tikz/lifecycle_5.svg) <!-- .element width="100%" -->

---

### Container Lifecycle

Erzeugen und Starten eines **neuen** Containers

 ```shell
$ docker run -d <image-name>
 ```

Starten und Stoppen **bestehender** Containers
<!-- .element: class="fragment" data-fragment-index="2"-->

```shell
$ docker start <Container-ID oder -name>
$ docker restart <Container-ID oder -name>
$ docker stop <Container-ID oder -name>
```
<!-- .element: class="fragment" data-fragment-index="2"-->

Entfernen eines Containers
<!-- .element: class="fragment" data-fragment-index="3"-->

```shell
$ docker rm <Container-ID oder -name>
```
<!-- .element: class="fragment" data-fragment-index="3"-->

---

### Short-lived Container

- Ausführung von Tools ohne Installation
- Container beendet sich automatisch

Beispiel:

```bash
# Hadolint: Linter für Dockerfiles
$ docker run -i hadolint/hadolint < Dockerfile
```

<div class="container">

<div class="col align-right">
<code>-i/--interactive</code><br/>
</div>

<div class="col-flex-2 align-left ps-2">
Ermöglicht Kommunikation über STDIN<br/>
</div>

</div>

---

### Container Lifecycle

![](tikz/lifecycle_5.svg) <!-- .element width="100%" -->

--

### Container Lifecycle

![](tikz/lifecycle_6.svg) <!-- .element width="100%" -->

--

### Container Lifecycle

![](tikz/lifecycle_7.svg) <!-- .element width="100%" -->

---

### Short-lived Container

- Ausführung von Tools ohne Installation
- Container beendet sich automatisch

Beispiel:

```bash
# Hadolint: Linter für Dockerfiles
$ docker run --rm -i hadolint/hadolint < Dockerfile
```

<div class="container">

<div class="col align-right">
<code>-i/--interactive</code><br/>
<code>--rm</code><br/>
</div>

<div class="col-flex-2 align-left ps-2">
Ermöglicht Kommunikation über STDIN<br/>
Nach Exit automatisch löschen
</div>

</div>

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/docker/aufgaben/01-erste-schritte-mit-docker/)

Navigieren Sie nach: Docker ⇨ Aufgaben ⇨ Erste Schritte

---
{% for i in range(4) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
einen vorhandenen Container starten<br/>
mir Informationen zu vorhandenen Containern anzeigen<br/>
den Lebenszyklus von Containern nutzen<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}


