{% import 'templates/jinja_macros.jinja' as imported_macros %}
<style>
.highlight{
    color: #f9b233;
}
</style>

{{ imported_macros.first_page("Docker® & Container", "Eigene Images erstellen", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
ein Image aus einem vorhandenen Dockerfile bauen<br/>
ein Image taggen und pushen<br/>
ein eigenes Dockerfile erstellen<br/>
die verwendeten Befehle erklären<br/>
</div>

</div>

---

### Container Image

![](../../common/tikz/container-image-content_1.svg) <!-- .element width="40%" -->

--

### Container Image

![](../../common/tikz/container-image-content_2.svg) <!-- .element width="40%" -->

--

### Container Image

![](../../common/tikz/container-image-content_3.svg) <!-- .element width="40%" -->

---

### Docker Manifest

```json
{
    "schemaVersion": 2,
    "mediaType": "application/vnd.docker.distribution.manifest.v2+json",
    "config": {
        "mediaType": "application/vnd.docker.container.image.v1+json",
        "size": 7023,
        "digest": "sha256:b5b2b2c507a0944348e0303114d8d93aaaa081732b86451d9bce1f432a537bc7"
    },
    "layers": [
        {
            "mediaType": "application/vnd.docker.image.rootfs.diff.tar.gzip",
            "size": 32654,
            "digest": "sha256:e692418e4cbaf90ca69d05a66403747baa33ee08806650b51fab815ad7fc331f"
        },
        {
            "mediaType": "application/vnd.docker.image.rootfs.diff.tar.gzip",
            "size": 16724,
            "digest": "sha256:3c3a4604a545cdc127456d94e421cd355bca5b528f4a9c1905b15da2eb4a4c6b"
        },
        {
            "mediaType": "application/vnd.docker.image.rootfs.diff.tar.gzip",
            "size": 73109,
            "digest": "sha256:ec4b8955958665577945c89419d1af06b5f7636b4ac3da7f12184802ad867736"
        }
    ]
}
```

---

### Layer

- Jeder Befehl im Dockerfile erzeugt ein Layer
- Layer = Zustand des Dateisystems
  nach Ausführung

---

### Dockerfile

```Dockerfile
FROM ubuntu:20.04

RUN apt-get update && apt-get install -y \
    python3 \
    python3-pip \
  && rm -rf /var/lib/apt/lists/*

RUN pip3 install django

RUN mkdir /app
RUN cd /app && django-admin startproject website
WORKDIR /app/website

EXPOSE 8000
CMD ["python3", "manage.py", "runserver", "0.0.0.0:8000"]
```

---

### Demo:
### Dockerfile für die
### Demo-Anwendung

---

### Image erstellen

Image mit `Dockerfile` im aktuellen Verzeichnis bauen
```shell
$ docker build .
```

```shell
$ docker build -t <name>       -f <file> .  # Default tag: latest
$ docker build -t <name>:<tag> -f <file> .
```

<div class="container">

<div class="col align-right">
<code>-t</code>:<br/>
<code>-f</code>:<br/>
<code>.</code>:<br/>
</div>

<div class="col-flex-2 align-left ps-2">
Tag erstellen<br/>
Pfad zum Dockerfile<br/>
Build-Kontext<br/>
</div>

</div>

---

### Image taggen und pushen

Image mit weiterem Tag versehen:
```shell
$ docker tag <Image-ID>          <Name>:<Tag>
$ docker tag <Image-Name>:<Tag>  <Name>:<Tag>
$ docker tag        httpd:v1.0.4  httpd:v1.0
```

Image an Registry senden:
```shell
$ docker image push            <Name>:<Tag>
$ docker image push --all-tags <Name>
```

---

### Image taggen und pushen

Private Registry

```shell
$ docker tag myapp reg.corewire.de:5000/myrepo/myapp:v1.0.0
```

```shell
$ docker image push reg.corewire.de:5000/myrepo/myapp:v1.0.0
```

---

### Dockerfile - Basics

```dockerfile
FROM <baseimage>
```

- Basis des Containers
- Erster Befehl in jedem Dockerfile

```dockerfile
RUN apt-get update && apt-get install ...
```

Beliebige Befehle im Container ausführen

```dockerfile
CMD python /app/app.py
```

Befehl, der bei Start ausgeführt wird

---

### Dockerfile - Basics

```dockerfile
WORKDIR /path/inside/container
```

Setzt das Working Directory für nachfolgende `RUN`, `CMD`, `ENTRYPOINT`, `ADD` und `COPY`

```dockerfile
USER <user/uid>[:<group/gid>]
```

Setzt den User für nachfolgende `RUN`, `CMD` und `ENTRYPOINT`

```dockerfile
EXPOSE <port>
```

- Dokumentiert verwendete Ports
- Nicht zwingend notwendig

---

### Dockerfile - Inhalte einfügen

```dockerfile
FROM ubuntu:20.04

COPY ./my_test_file.txt /root/my_test_file.txt
```

**Unterschied zu Datei als Volume?**

* wird einmalig beim Bauen des Images kopiert
* keine Aktualisierung zur Laufzeit bei Änderungen

<!-- .element: class="fragment" data-fragment-index="1" -->

---

### Dockerfile - Inhalte einfügen

```dockerfile
COPY <source> <target>
```

<div class="container">

<div class="col align-right">
<code>&lt;source&gt;</code>:<br/>
<br/><br/>
<code>&lt;target&gt;</code>:<br/>
<br/>
</div>

<div class="col-flex-2 align-left ps-2">
Pfad auf dem Host<br/>
Relativ zum Build-Kontext<br/>
Datei oder Ordner<br/>
Pfad im Container<br/>
Relativ zum <code>WORKDIR</code><br/>
</div>

</div>


---

### Dockerfile - Volumes

```dockerfile
FROM ubuntu:20.04

COPY ./default_config.conf /conf/main.conf
VOLUME /conf/
```

- Erstellt anonymes Volume bei Containerstart
- Inhalt im Ordner bleibt bestehen

---

### Dockerfile - Inhalte einfügen

```dockerfile
COPY <source> <target>
ADD <source> <target>
```

- ADD unterstützt URLs als Source
- Viele weitere Seiteneffekte

Best practice: `ADD` **vermeiden**, lieber `RUN wget <URL>`
<!-- .element: class="fragment" data-fragment-index="1"-->

Dokumentation: https://docs.docker.com/engine/reference/builder/#add
<!-- .element: class="acknowledgment fragment" data-fragment-index="1"-->

---

### Dockerfile - Entrypoint

```dockerfile
FROM ubuntu:20.04
WORKDIR /usr/app
ENTRYPOINT ["/bin/echo", "Hallo"]
CMD ["Welt"]
```

```shell
$ docker build -t demo .
$ docker run demo


```
<!-- .element: class="fragment" data-fragment-index="1" -->

--

### Dockerfile - Entrypoint

```dockerfile
FROM ubuntu:20.04
WORKDIR /usr/app
ENTRYPOINT ["/bin/echo", "Hallo"]
CMD ["Welt"]
```

```shell
$ docker build -t demo .
$ docker run demo
Hallo Welt
```

--

### Dockerfile - Entrypoint

```dockerfile
FROM ubuntu:20.04
WORKDIR /usr/app
ENTRYPOINT ["/bin/echo", "Hallo"]
CMD ["Welt"]
```

```shell
$ docker build -t demo .
$ docker run demo Docker-Schulung


```

--

### Dockerfile - Entrypoint

```dockerfile
FROM ubuntu:20.04
WORKDIR /usr/app
ENTRYPOINT ["/bin/echo", "Hallo"]
CMD ["Welt"]
```

```shell
$ docker build -t demo .
$ docker run demo Docker-Schulung
Hallo Docker-Schulung
```

--

### Dockerfile - Entrypoint

```dockerfile
FROM ubuntu:20.04
WORKDIR /usr/app
ENTRYPOINT ["/bin/echo", "Hallo"]
CMD ["Welt"]
```

```shell
$ docker build -t demo .
$ docker run --entrypoint="pwd" demo


```

--

### Dockerfile - Entrypoint

```dockerfile
FROM ubuntu:20.04
WORKDIR /usr/app
ENTRYPOINT ["/bin/echo", "Hallo"]
CMD ["Welt"]
```

```shell
$ docker build -t demo .
$ docker run --entrypoint="pwd" demo
/usr/app
```

---

### Dockerfile - Entrypoint

```dockerfile
ENTRYPOINT ["command", "param1", "param2"]
ENTRYPOINT command param1 param2

CMD ["param1", "param2"]
CMD param1 param2
```

<div class="container">

<div class="col align-right">
<code>ENTRYPOINT</code>:<br/>
<code>CMD</code>:<br/>
</div>

<div class="col-flex-2 align-left ps-2">
Wird bei jedem Start ausgeführt<br/>
Default Parameter<br/>
Werden ersetzt sobald <code>docker run</code> Parameter erhält
</div>

</div>

---

### Dockerfile - Entrypoint

- Applikation starten
- CLI-Tool als Container verpacken
  - z.B: Hadolint

```bash
# Hadolint: Linter für Dockerfiles
$ docker run -i hadolint/hadolint < Dockerfile
```

---

### Dockerfile - Argumente

Argumente zur Build-Zeit

```dockerfile
ARG <name>[=<default value>]
```

```shell
$ docker build --build-arg USER1=myuser .
```

```dockerfile
ARG IMAGE_VERSION=v1.2.3
FROM base:${IMAGE_VERSION}

ARG USER1
USER $USER1
```
<!-- .element: class="fragment" data-fragment-index="1" -->

---

### Dockerfile - Umgebungsvariablen

Umgebungsvariablen zur Build- und Laufzeit

```dockerfile
ENV <name> [<default value>]
ENV <name>=<default value> <name>=<default value> ...
```

```dockerfile
ENV PG_MAJOR=9.3
ENV PG_VERSION=9.3.4
RUN curl -SL https://example.com/postgres-$PG_VERSION.tar.xz \
    | tar -xJC /usr/src/postgres && …
ENV PATH=/usr/local/postgres-$PG_MAJOR/bin:$PATH
```
<!-- .element: class="fragment" data-fragment-index="1" -->

---

### Dockerfile - Umgebungsvariablen

```dockerfile
# Dockerfile
...
ENV MY_USER=dockerfile_user
...
```

```shell
$ docker build -t env_demo .
$ docker run env_demo bash -c 'echo $MY_USER'


```
<!-- .element: class="fragment" data-fragment-index="1" -->

--

### Dockerfile - Umgebungsvariablen

```dockerfile
# Dockerfile
...
ENV MY_USER=dockerfile_user
...
```

```shell
$ docker build -t env_demo .
$ docker run env_demo bash -c 'echo $MY_USER'
dockerfile_user
```

--

### Dockerfile - Umgebungsvariablen

```dockerfile
# Dockerfile
...
ENV MY_USER=dockerfile_user
...
```

```shell
$ docker build -t env_demo .
$ docker run --env MY_USER=run_user env_demo bash -c 'echo $MY_USER'


```

--

### Dockerfile - Umgebungsvariablen

```dockerfile
# Dockerfile
...
ENV MY_USER=dockerfile_user
...
```

```shell
$ docker build -t env_demo .
$ docker run --env MY_USER=run_user env_demo bash -c 'echo $MY_USER'
run_user
```

---

### Build-Kontext

- Kontext wird an den Docker Daemon geschickt
- Standardmäßig das Dockerfile-Verzeichnis
- `.dockerignore` limitiert den Kontext
- `COPY` kann nur auf Dateien im Kontext zugreifen

---

### .dockerignore

```yaml
# comment
.venv
build/*

temporary-file.txt
```

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/docker/aufgaben/06-dockerfile/)

Navigieren Sie nach: Docker ⇨ Aufgaben ⇨ Dockerfile

---
{% for i in range(5) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<4 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
ein Image aus einem vorhandenen Dockerfile bauen<br/>
ein Image taggen und pushen<br/>
ein eigenes Dockerfile erstellen<br/>
die verwendeten Befehle erklären<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}
