{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Keycloak", "SPIs", imported_macros.theme()) }}

---

### Demo: SPIs

---

### SPIs installieren

- `*.jar` nach `/opt/keycloak/providers` kopieren
- Realm Info > Provider Info
  - Auflistung aller Provider

---

### SPIs erstellen

- Source-Code
- Konfigurationsdatei
  - `main/resources/META-INF/services/<ServiceInterface>`
  - Beispiele: [keycloak](https://github.com/keycloak/keycloak/tree/main/services/src/main/resources/META-INF/services)

---

### Beispiel Containerfile

```Dockerfile








FROM quay.io/keycloak/keycloak:latest



ENV KC_DB=postgres
RUN /opt/keycloak/bin/kc.sh build
# (Optional) Keycloak Konfiguration
ENV KC_DB_URL_HOST=postgres
ENV KC_DB_USERNAME=keycloak
```

--

### Beispiel Containerfile

```Dockerfile
FROM maven:3.9.9-amazoncorretto-23 as builder
WORKDIR /user/src/mymaven

COPY pom.xml /user/src/mymaven
RUN mvn dependency:resolve
COPY src /user/src/mymaven/src
RUN mvn package

FROM quay.io/keycloak/keycloak:latest



ENV KC_DB=postgres
RUN /opt/keycloak/bin/kc.sh build
# (Optional) Keycloak Konfiguration
ENV KC_DB_URL_HOST=postgres
ENV KC_DB_USERNAME=keycloak
```

--

### Beispiel Containerfile

```Dockerfile
FROM maven:3.9.9-amazoncorretto-23 as builder
WORKDIR /user/src/mymaven

COPY pom.xml /user/src/mymaven
RUN mvn dependency:resolve
COPY src /user/src/mymaven/src
RUN mvn package

FROM quay.io/keycloak/keycloak:latest
COPY --from=builder --chown=keycloak:root \
    /user/src/mymaven/target/*.jar \
    /opt/keycloak/providers
ENV KC_DB=postgres
RUN /opt/keycloak/bin/kc.sh build
# (Optional) Keycloak Konfiguration
ENV KC_DB_URL_HOST=postgres
ENV KC_DB_USERNAME=keycloak
```

---

### Debugging

```docker-compose
services:
  keycloak:
    build: .
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin


    command:
    - start-dev
    ports:
    - 8888:8080


```

--

### Debugging

```docker-compose
services:
  keycloak:
    build: .
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      DEBUG_PORT: "*:8787"
      DEBUG: "true"
    command:
    - start-dev
    ports:
    - 8888:8080
    - 8787:8787
```

---

### SPIs konfigurieren

ProviderFactory:
```java
    @Override
    public void init(Config.Scope scope) {
        this.interval = config.getInt("interval-time", 1000);
    }
```
- `--spi-<spi-id>-<provider-id>-<property>=<value>`<!-- .element: class="small"-->
- Beispiel:
    - `--spi-scheduled-task-cleanup-interval-time=5000`<!-- .element: class="small"-->

---

### SPI-Konfiguration anzeigen

- Interface: `ServerInfoAwareProviderFactory`

```java
    @Override
    public Map<String, String> getOperationalInfo() {
        Map<String, String> ret = new LinkedHashMap<>();
        ret.put("interval", String.valueOf(this.interval));
        return ret;
    }
```

---

### Keycloak-Session

- Zentrales Objekt
- Zugriff auf User, Clients, Provider, ...
- Nicht authentifiziert

[Dokumentation](https://www.keycloak.org/docs-api/latest/javadocs/org/keycloak/models/KeycloakSession.html)
<!-- .element class="acknowledgment" -->

---

### Authentifizierung

```java
import org.keycloak.services.managers.AppAuthManager;

AuthResult auth = new AppAuthManager.BearerTokenAuthenticator(session)
    .authenticate();
AuthResult auth = new AppAuthManager.authenticateIdentityCookie(
        session, session.getContext().getRealm()
    );
```

---

### Admin-API-Erweiterung

- Interfaces:
  - AdminRealmResourceProviderFactory
  - AdminRealmResourceProvider
- AdminPermissionEvaluator
```java
import org.keycloak.services.resources.admin.permissions.AdminPermissionEvaluator;
import org.keycloak.services.resources.admin.permissions.UserPermissionEvaluator;

    public Object getResource([...], AdminPermissionEvaluator auth, [...]) {
        final UserPermissionEvaluator userPermissionEvaluator = auth.users();
        userPermissionEvaluator.requireQuery();
        [...]
    }
```

---

### AdminEventBuilder

```java
    public Object getResource(
        [...],
        AdminPermissionEvaluator auth,
        [...])
    {






    }
```

--

### AdminEventBuilder

```java
    public Object getResource(
        [...],
        AdminPermissionEvaluator auth,
        AdminEventBuilder adminEvent)
    {






    }
```

--

### AdminEventBuilder

```java
    public Object getResource(
        [...],
        AdminPermissionEvaluator auth,
        AdminEventBuilder adminEvent)
    {
        [...]
        new AdminEventBuilder(realm, adminAuth, session, clientConnection)
            .resource("custom-resource")
            .operation(OperationType.CREATE)
            .success();
        [...]
    }
```
