# Pod Management

!!! goal "Ziel"
    In diesem Projekt geht es um die Erstellung von Pods mit Deployments. Sie werden:

    - ein Deployment erstellen
    - ein Deployment aktualisieren
    - ein Deployment mit einem Service verwenden
    - die Historie eines Deployments anzeigen und ein Rollback durchführen

!!! tipp "Hilfsmittel"

    - Versuchen Sie, die unten stehenden Aufgaben mit Hilfe der [Folien](../../03-pod-management/#/)
    und des [Cheatsheets](../../cheatsheets/02-pod-management/) eigenständig zu lösen.
    - Sollten Sie dabei Probleme haben, finden Sie bei jeder Aufgabe einen ausklappbaren Block, in dem der Lösungsweg beschrieben wird.
    - [Deployments](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/) werden auch in der offiziellen Kubernetes-Dokumentation erklärt.

{% import "pod-management.md.jinja" as podmanagement %}

{{ podmanagement.create_deployment(1, training="kubernetes-architecture") }}
{{ podmanagement.update_deployment(2) }}
{{ podmanagement.use_deployments_with_services(3)}}
{{ podmanagement.history_and_rollback(4) }}
{{ podmanagement.cleanup() }}