# Volumes

!!! goal "Ziel"
    In diesem Projekt geht es um Volumes und Mount-Punkte. Sie werden:

    - ein Pod mit einem `emptyDir` Volume erstellen
    - ein Pod mit einem Persistent Volume erstellen
    - ein Persistent Volume Claim mit einem CSI-Plugin erstellen

!!! tipp "Hilfsmittel"

    - Versuchen Sie, die unten stehenden Aufgaben mit Hilfe der [Folien](../../05-volumes/#/)
    und des [Cheatsheets](../../cheatsheets/04-volumes/) eigenständig zu lösen.
    - Sollten Sie dabei Probleme haben, finden Sie bei jeder Aufgabe einen ausklappbaren Block, in dem der Lösungsweg beschrieben wird.

{% import "volumes.md.jinja" as volumes %}

{{ volumes.empty_dir_volumes(1) }}
{{ volumes.persistent_volumes(2) }}
{{ volumes.pvc_with_csi_plugin(3) }}
{{ volumes.cleanup() }}
