# Pods auf Nodes verteilen

!!! goal "Ziel"
    In diesem Projekt geht es um den Scheduler und wie Pods auf Nodes verteilt werden. Sie werden:

    - Node-Selektoren verwenden
    - Node-Affinity  verwenden
    - Taints und Tolerations testen

!!! tipp "Hilfsmittel"

    - Versuchen Sie, die unten stehenden Aufgaben mit Hilfe der [Folien](../../09-nodes-and-pods/#/)
    und der [Cheatsheets](../../cheatsheets/07-nodes-and-pods/) eigenständig zu lösen.
    - Sollten Sie dabei Probleme haben, finden Sie bei jeder Aufgabe einen ausklappbaren Block, in dem der Lösungsweg beschrieben wird.

{% import "nodes-and-pods.md.jinja" as nodesandpods %}

{{ nodesandpods.kubernetes_scheduling_intro(1) }}
{{ nodesandpods.node_selectors(2) }}
{{ nodesandpods.node_affinity(3) }}
{{ nodesandpods.taints_and_tolerations(4) }}
{{ nodesandpods.cleanup() }}
