{% import 'templates/jinja_macros.jinja' as imported_macros %}


{{ imported_macros.first_page("Softwareentwicklung mit DevOps", "Weiterführende Themen", imported_macros.theme()) }}

---

## Automatisiertes Sicherstellen der Qualität

---

{% for i in range(1,5) %}
### Automatisiertes Bauen und Testen

![](../common/tikz/build_{{i}}.svg) <!-- .element width="60%" -->

{% if i !=4 %}
--
{% endif %}
{% endfor %}

---

### Automatisiertes Bauen und Testen

- Frühe Fehlererkennung
- Konsistenz und Wiederholbarkeit
- Zeit- und Ressourcenersparnis
- Kontinuierliche Integration und schnellere Auslieferung
- Erhöhte Qualität

---

{% for i in range(1,6) %}
### Automatische Codeanalysen und Vulnerability Scans

![](../common/tikz/quality_vulnerability_{{i}}.svg) <!-- .element width="80%" -->

{% if i !=5 %}
--
{% endif %}
{% endfor %}

---

{% for i in range(1,4) %}
### Quality Gates by Design

![](tikz/quality-gates_{{i}}.svg) <!-- .element width="80%" -->

{% if i !=3 %}
--
{% endif %}
{% endfor %}

---

### Protokollierte Reviews und Tests

- Nachvollziehbarkeit
- Transparenz
- Compliance
- Auditierbarkeit

---

## Seiteneffekte

---

### Social Engineering

Standardentwicklung

![](tikz/social-engineering_1.svg) <!-- .element width="80%" -->

--

### Social Engineering

Entwicklung mit DevOps

![](tikz/social-engineering_2.svg) <!-- .element width="80%" -->

---

### Social Engineering

- weniger Angriffspunkte
- gravierendere Anfgriffspunkt bei Planung und Entwicklung

---

{% for i in range(2,4) %}
### Know-How Management

![](../common/tikz/team_{{i}}.svg) <!-- .element width="50%" -->

{% if i !=3 %}
--
{% endif %}
{% endfor %}

---

### Know-How Management

- Dokumentation wichtiger Teil von DevOps
- crossfunktionale Teams unterstützen Wissenstransfer

---

## Ausblick DevSecOps und BizDevOps

---

{% for i in range(1,4) %}
### DevSecOps

![](../../common/tikz/devops/devsecops_{{i}}.svg) <!-- .element width="60%" -->

{% if i != 3 %}
--
{% endif %}
{% endfor %}

---

{% for i in range(1,3) %}
### BizDevOps

![](tikz/bizdevops_{{i}}.svg) <!-- .element width="60%" -->

{% if i != 2 %}
--
{% endif %}
{% endfor %}

---

## Fragerunde

---

## Wiederholung

---

{{ imported_macros.image_series("Kundeneinbindung in DevOps", "../../devops_foundations/01-introduction/tikz/from_dev_and_ops_to_devops", 14, 15, width="55%")}}

---

{{ imported_macros.image_series("DevOps-Zyklus", "../../common/tikz/devops", 2, 4, width="90%")}}

---

## Vielen Dank

---

## Evaluation

---

{{ imported_macros.outro(imported_macros.theme()) }}
