{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Softwareentwicklung mit DevOps", "Für Entscheider", imported_macros.theme()) }}

---

{{ imported_macros.participants_introduction_round() }}

---

### Agenda

1. Einführung in die DevOps Grundlagen
1. Der DevOps-Zyklus
1. Schlüsselkonzepte
1. Integration des Kunden
1. Integration des Entwicklungsteams
1. Die DevOps-Toolchain
1. Automatisiertes Sicherstellen der Qualität
1. Seiteneffekte von DevOps
1. Ausblick DevSecOps und BizDevOps

---

### Ziel

- bekannte Möglichkeiten
- fundierte Entscheidungsfindung
- Best-Practices kennengelernt
