{% import 'templates/jinja_macros.jinja' as imported_macros %}
<style>
  .container{
    display: flex;
}
.col{
    width: 50%;
}
</style>

{{ imported_macros.first_page("Docker® & Container", "Docker Compose", imported_macros.theme()) }}

---

### Rückblick und Tagesziel

![](../../common/tikz/daily-goal/docker-intro-1_1.svg) <!-- .element width="85%" -->

--

### Rückblick und Tagesziel

![](../../common/tikz/daily-goal/docker-intro-1_6.svg) <!-- .element width="85%" -->

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
.yaml-Dateien lesen und anpassen<br/>
Code-Deployment in ein compose-File auslagern<br/>
Umgebungsvariablen nutzen<br/>
den Lebenszyklus von Docker Compose nutzen<br/>
</div>

</div>

---

### Motivation


![](tikz/docker-compose-motivation_1.svg) <!-- .element width="50%" -->

--

### Motivation


![](tikz/docker-compose-motivation_2.svg) <!-- .element width="50%" -->

--

### Motivation


![](tikz/docker-compose-motivation_3.svg) <!-- .element width="50%" -->

---

### Motivation

Netzwerke erzeugen


```bash
docker network create database-network















```


---

### Motivation

Volume erzeugen

```bash
docker network create database-network

docker volume create database-volume













```


---

### Motivation

Image bauen

```bash
docker network create database-network

docker volume create database-volume

docker build -t webapp ./webapp/Dockerfile











```

---

### Motivation

Container erzeugen

```bash
docker network create database-network

docker volume create database-volume

docker build -t webapp ./webapp/Dockerfile

docker run --name database -v database-volume:/var/lib/mysql \
  --network database-network \
  --env MYSQL_USER=example-user \
  --env MYSQL_PASSWORD=OGI0YzE2NDU5NTE3MzhmZTI1ZWYxMTY1 \
  --env MYSQL_ROOT_PASSWORD=MjcyYjYzOWFkODJhMGQ3ZWRkNWIyY2Yy -d mariadb

docker run --name webapp --network database-network \
  -v ${PWD}/volumes/webapp-data:/app/dockerdemo/data \
  -p 5000:5000 -d webapp
```

---

### Motivation

- Unübersichtlich
- Fehleranfällig

---

### Deployment as code: Docker Compose

- Definition und Ausführung von Multi-Container Apps
- YAML Dateien
- Management von Volumes, Netzwerken
- Deployments können leicht abstrahiert werden
- Versionierung möglich, z.B. mit Hilfe von Git

---

### YAML

* `Key: Value` Mapping
* Endet auf `.yml` oder `.yaml`
* Hierarchie durch gleichmäßige Einrückung (Leerzeichen)

Note:
Einrückungen sind meistens 2 Spaces oder 4 Spaces - eher selten 1 Space oder
sonst etwas ungerades.

---

### YAML

```YAML
# Kommentar
Key1: Value
Key2:
  Subkey: "String"
  Subkey2: "#kein kommentar"
List:
  - String1
  - "String2"
```

---

### Deployment as code: Database


![](tikz/docker-compose-motivation_4.svg) <!-- .element width="50%" -->

---

### Deployment as code: Database

```bash
docker run --name database -v database-volume:/var/lib/mysql \
  --network database-network \
  --env MYSQL_USER=example-user \
  --env MYSQL_PASSWORD=OGI0YzE2NDU5NTE3MzhmZTI1ZWYxMTY1 \
  --env MYSQL_ROOT_PASSWORD=MjcyYjYzOWFkODJhMGQ3ZWRkNWIyY2Yy -d mariadb
```

```yaml












```

--

### Deployment as code: Database

```bash
docker run --name database \



                                                             -d mariadb
```

```yaml
services:
  database:
    image: mariadb









```

--

### Deployment as code: Database

```bash
docker run --name database -v database-volume:/var/lib/mysql \



                                                             -d mariadb
```

```yaml
services:
  database:
    image: mariadb
    volumes:
      - database-volume:/var/lib/mysql







```

--

### Deployment as code: Database

```bash
docker run --name database -v database-volume:/var/lib/mysql \
  --network database-network \


                                                             -d mariadb
```

```yaml
services:
  database:
    image: mariadb
    volumes:
      - database-volume:/var/lib/mysql
    networks:
      - database-network





```

--

### Deployment as code: Database

```bash
docker run --name database -v database-volume:/var/lib/mysql \
  --network database-network \
  --env MYSQL_USER=example-user \
  --env MYSQL_PASSWORD=OGI0YzE2NDU5NTE3MzhmZTI1ZWYxMTY1 \
  --env MYSQL_ROOT_PASSWORD=MjcyYjYzOWFkODJhMGQ3ZWRkNWIyY2Yy -d mariadb
```

```yaml
services:
  database:
    image: mariadb
    volumes:
      - database-volume:/var/lib/mysql
    networks:
      - database-network
    environment:
      - "MYSQL_USER=example-user"
      - "MYSQL_PASSWORD=OGI0YzE2NDU5NTE3MzhmZTI1ZWYxMTY1"
      - "MYSQL_ROOT_PASSWORD=MjcyYjYzOWFkODJhMGQ3ZWRkNWIyY2Yy"
```

---

### Deployment as code: Webapp


![](tikz/docker-compose-motivation_5.svg) <!-- .element width="50%" -->

---

### Deployment as code: Webapp

```bash
docker build -t webapp ./webapp
docker run --name webapp --network database-network \
  -v ${PWD}/volumes/webapp-data:/app/dockerdemo/data \
  -p 5000:5000 -d webapp
```

```yaml











```

--

### Deployment as code: Webapp

```bash

docker run --name webapp \

               -d webapp
```

```yaml
  webapp:










```

--

### Deployment as code: Webapp

```bash
docker build -t webapp ./webapp
docker run --name webapp \

               -d webapp
```

```yaml
  webapp:
    build: ./webapp









```

--

### Deployment as code: Webapp

```bash
docker build -t webapp ./webapp/Dockerfile
docker run --name webapp --network database-network \
  -v ${PWD}/volumes/webapp-data:/app/dockerdemo/data \
  -p 5000:5000 -d webapp
```

```yaml
  webapp:
    build: ./webapp
    volumes:
      - ./volumes/webapp-data:/app/dockerdemo/data


    networks:
      - database-network
    ports:
      - 5000:5000
```

--

### Deployment as code: Webapp

```bash
docker build -t webapp ./webapp/Dockerfile
docker run --name webapp --network database-network \
  -v ${PWD}/volumes/webapp-data:/app/dockerdemo/data \
  -p 5000:5000 -d webapp
```

```yaml
  webapp:
    build: ./webapp
    volumes:
      - ./volumes/webapp-data:/app/dockerdemo/data
    depends_on:
      - database
    networks:
      - database-network
    ports:
      - 5000:5000
```

---

### Variante: mit Healthcheck

```yaml
  webapp:
    build: ./webapp
    volumes:
      - ./volumes/webapp-data:/app/dockerdemo/data
    depends_on:
      - database

    networks:
      - database-network
    ports:
      - 5000:5000
  [...]
```

Note:
- Healthcheck überprüft vor Start der App, ob Datenbank läuft

--

### Variante: mit Healthcheck

```yaml
  webapp:
    build: ./webapp
    volumes:
      - ./volumes/webapp-data:/data/notes
    depends_on:
      database:
        condition: service_healthy
    networks:
      - database-network
    ports:
      - 5000:5000
  [...]
```

--

### Variante: mit Healthcheck


```yaml
  [...]
  database:
    image: mariadb
    volumes:
      - database-volume:/var/lib/mysql
    networks:
      - database-network
    environment:
      - "MYSQL_USER=example-user"
      - "MYSQL_PASSWORD=OGI0YzE2NDU5NTE3MzhmZTI1ZWYxMTY1"
      - "MYSQL_ROOT_PASSWORD=MjcyYjYzOWFkODJhMGQ3ZWRkNWIyY2Yy"
    healthcheck:



```

--

### Variante: mit Healthcheck

```yaml
  [...]
  database:
    image: mariadb
    volumes:
      - database-volume:/var/lib/mysql
    networks:
      - database-network
    environment:
      - "MYSQL_USER=example-user"
      - "MYSQL_PASSWORD=OGI0YzE2NDU5NTE3MzhmZTI1ZWYxMTY1"
      - "MYSQL_ROOT_PASSWORD=MjcyYjYzOWFkODJhMGQ3ZWRkNWIyY2Yy"
    healthcheck:
      test: ["CMD", "/usr/local/bin/healthcheck.sh",
        "--su-mysql", "--connect", "--innodb_initialized"]
```

Note:
- die Datenbankanbieter bieten oft healthcheck Skripte im Container an
- man kann auch selbst Kommandos für Healthcheck festlegen
- viele Optionen (z.B. Anzahl Versuche, Zeit zwischen Versuchen etc.)

---

### Deployment as code: Volumes / Networks

```bash
docker network create database-network
docker volume create database-volume
```

```yaml
volumes:
  database-volume:

networks:
  database-network:
```

---

### Deployment as code

```yaml
services:
  webapp:
    build: .
    volumes:
      - ./volumes/webapp-data:/app/dockerdemo/data
    depends_on:
      - database
    networks:
      - database-network
    ports:
      - 5000:5000
  [...]
```

---

### Deployment as code


```yaml
  [...]
  database:
    image: mariadb
    networks:
      - database-network
    volumes:
      - database-volume:/var/lib/mysql
    environment:
      - "MYSQL_USER=example-user"
      - "MYSQL_PASSWORD=OGI0YzE2NDU5NTE3MzhmZTI1ZWYxMTY1"
      - "MYSQL_ROOT_PASSWORD=MjcyYjYzOWFkODJhMGQ3ZWRkNWIyY2Yy"

volumes:
  database-volume:
networks:
  database-network:
```

---

### Umgebungsvariablen

```bash
docker run --env MYSQL_USER=example-user
```

```yaml
  database:
    image: mariadb
    environment:
      - "MYSQL_USER=example-user"  # Array syntax
```

```yaml
  database:
    image: mariadb
    environment:
      MYSQL_USER: example-user     # Map syntax
```

---

### Umgebungsvariablen

- Zur Container-Laufzeit verfügbar
- Einfacher Weg Informationen mitzugeben
- Applikation muss die Umgebungsvariablen auslesen

---

## Demo

---

### Rückblick: Container Lifecycle

![](tikz/lifecycle_1.svg) <!-- .element width="85%" -->

--

### Container Lifecycle

![](tikz/lifecycle_2.svg) <!-- .element width="85%" -->

--

### Container Lifecycle

![](tikz/lifecycle_3.svg) <!-- .element width="85%" -->

--

### Container Lifecycle

![](tikz/lifecycle_4.svg) <!-- .element width="85%" -->

--

### Container Lifecycle

![](tikz/lifecycle_5.svg) <!-- .element width="85%" -->

---

### docker compose

Alle Services erzeugen und starten
```bash
docker compose up -d
```

Einzelnen Service erzeugen und starten
```bash
docker compose up -d <service-name>
```

---

### docker compose

Alle Services stoppen und löschen (inkl. Netzwerke)

```bash
docker compose down
```

Alle Services, Netzwerke und Volumes löschen
<!-- .element: class="fragment" data-fragment-index="2" -->
```bash
docker compose down -v
```
<!-- .element: class="fragment" data-fragment-index="2" -->

---

### docker compose

Mit einem oder mehreren Services interagieren
```bash
docker compose create [<service-name>]
docker compose stop [<service-name>]
docker compose start [<service-name>]
docker compose rm [<service-name>]
```

---

### docker compose

Service Images bauen
```bash
docker compose build [<service-name>]
```

Service Images pullen/herunterladen
```bash
docker compose pull [<service-name>]
```

Kombiniert mit `up`
<!-- .element: class="fragment" data-fragment-index="2" -->
```
docker compose up -d --build --pull always
```
<!-- .element: class="fragment" data-fragment-index="2" -->


---

### docker compose

Logs eines/aller Services
```bash
docker compose logs [<service-name>]
```

---

### docker compose

Container auflisten
```bash
docker compose ps
```

Prozesse auflisten
```bash
docker compose top
```

---

### docker compose

Interaktive Shell in Containern öffnen
```bash
docker compose exec -it <service-name> /bin/sh
```

Befehl in Container ausführen
```bash
docker compose exec -T <service-name> /bin/sh -c  "ls -aln"

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/docker/aufgaben/05-docker-compose/)

Navigieren Sie nach: Docker ⇨ Aufgaben ⇨ Docker Compose

---
{% for i in range(5) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<4 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
.yaml-Dateien lesen und anpassen<br/>
Code-Deployment in ein compose-File auslagern<br/>
Umgebungsvariablen nutzen<br/>
den Lebenszyklus von Docker Compose nutzen<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}

