{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Versionierung mit Git", "Einführung", imported_macros.theme()) }}
---

### Vorstellungsrunde

- Name
- Job / Aufgabenbereich
- Vorerfahrung
- Kurserwartung

---

### Agenda

1. Einführung
1. Änderungen Rückgängig Machen
1. Branches 1
1. Branches 2
1. History Rewriting
1. Branching Workflows
1. Advanced Features
1. Server & Hosting

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/><br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/><br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
Vor- und Nachteile von dezentraler gegenüber zentraler Versionsverwaltung nennen<br/>
grundlegende git-Begriffe in der Schulungsumgebung verwenden<br/>
erste Befehle in einem kleinen Projekt umsetzen<br/>
</div>

</div>

---

### Versionierung

```shell
.
└── draft.psd




```

--

### Versionierung

```shell
.
├── draft.psd
└── final.psd



```

--

### Versionierung

```shell
.
├── draft.psd
├── final.psd
├── final2.psd
└── finalfinal.psd
```

---

### Versionierung

```shell
.
├── thesis.tex
└── thesis.pdf




```

--

### Versionierung

```shell
.
├── thesis.tex
├── thesis.pdf
├── thesis_feedback_anna.pdf
├── thesis_feedback_johannes.pdf
└── thesis_feedback_max.pdf
```

---

### Versionierung

- Historie
- Backup

⇨ Speichern unter
<!-- .element: class="fragment" data-fragment-index="2" -->

---
{% for i in range(4) %}
### Versionsverwaltung

![](./tikz/localcheckout_{{i+1}}.svg)<!-- .element: width="70%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Versionsverwaltung

Was?

- Verwaltet Versionen von ...
  - ... Dateien
  - ... Ordnerstrukturen
  - ... Projekten
- Explizite Verwaltung

---

### Versionsverwaltung

Vorteile:

- Strukturierte Metadaten
  - Wer hat wann was verändert
- Effiziente Speicherung

---

### Versionsverwaltung

Warum?

- Organisationshilfe
- Teamarbeit, Koordination und zugleich Backups
- Dokumentation des Entwicklungsprozesses
- Konfliktbehandlung

Erfordert Selbstdisziplin<!-- .element: class="fragment" data-fragment-index="2" -->

---

### Verteilte Versionsverwaltung

- Zentrale Versionsverwaltung
- Dezentrale Versionsverwaltung

Note:

- Organisationshilfe: Branches, commit messages, ...
- Dokumentation: Graph Historie, commit messages, git blame, ...

---

{% for i in range(3) %}

### Zentrale Versionsverwaltung

![](./tikz/central_vcs_server_{{i+1}}.svg)<!-- .element width="70%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Zentrale Versionsverwaltung

- Vorteil:
  - Sehr einfach
- Nachteil:
  - Abhängigkeit vom Server

---

{% for i in range(3) %}

### Dezentrale Versionsverwaltung

![](./tikz/distributed_vcs_{{i+1}}.svg)<!-- .element width="80%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Dezentrale Versionsverwaltung

- Vorteil:
  - Offline Einsatz möglich
  - Arbeiten mit mehreren Servern möglich
  - Entscheiden was lokal und was auf dem Server ist
  - Flexiblere Workflows
- Nachteil:
  - Komplexer

---

### Versionierungssysteme

| svn     | TFS       | git        | mercurial  |
|---------|-----------|------------|------------|
| zentral | zentral   | dezentral  | dezentral  |
| Apache  | Microsoft | unabhängig | unabhängig |

Note:

- Viele spezialisierte Plattformen, GitHub/GitLab, ..
- Kann man alleine (bare) benutzen oder zusammen mit nem eigenen GitLab
- Auf dezentral gehen wir spaeter im Detail ein!

---

### Google Trend im Vergleich

<div style="height:450px">
<canvas data-chart="line" data-chart-src="./google_trend.csv">
<!--
{
"data" : {
"datasets" : [{ "borderColor": "#0000ff" }, { "borderColor": "#ff0000" }, { "borderColor": "#00ff00" }, { "borderColor": "#ffff00" }]
},
"options": { "scales": { "x": [{ "stacked": false }], "y": [{ "stacked": false }] } }
}
 -->
</canvas>
</div>

<span class="acknowledgment">
Datenquelle: Google Trends (https://www.google.com/trends)
</span>

---

### Grundlegende Begriffe

- Repository: Versionsdatenbank
- Workspace: die lokale Arbeitskopie (lokaler Ordner)
- Commit: eine bestimmte Version des Projektes
- Historie: Abfolge von bisher geschehenen Commits

![](./tikz/distributed_vcs_3.svg)<!-- .element width="50%" -->

---

### Grundlegende Begriffe

- Check-in/check-out:
  - Kommunikation Workspace ⬄ Repository
- Push/Pull:
  - Synchronistion von Versionsdatenbanken

![](./tikz/distributed_vcs_3.svg)<!-- .element width="50%" -->

---

### Workspace

  ```shell
  meine_website.html
  zusatzdaten.txt
  ...
  ```

- Ordner mit den Projektinhalten
- Workspace zeigt immer einen bestimmten Commit

---

### Demo

Note:

Demos ⇨ 1 Einführung ⇨ Demo 1: Workspace und grafische Oberfläche

---

### Gitlab/Github/Bitbucket/...

- Graphische Oberfläche für Git
- Projektmanagement
- CI/CD

Note:

- Sollte alles in der Demo schon gezeigt worden sein

---

### Einsatzgebiete

- Sourcecode
- Alles was in Code beschrieben werden kann
  - Infrastructure as Code
  - Configuration as Code
  - Dokumentation
  - Pipelines

---

### Mein erstes Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/git/aufgaben/01-mein-erstes-projekt/)

Navigieren Sie zu: Git ⇨ Aufgaben ⇨ Mein erstes Projekt

Zugänge für Schulungsmaschinen werden vom Trainer gestellt.

---

### Erste Befehle

```shell
$ git status
```

⇨ Zeigt aktuell geänderte Dateien an

```shell
$ git add
```

⇨ 'Markiert' Änderungen

```shell
$ git commit
```

⇨ Erstellt aus Änderungen einen neuen Commit

---

### git status

```shell
$ git status
```

```git
On branch main
Changes to be committed:

    new file:   file2

Changes not staged for commit:

    modified:   file3

Untracked files:

    file1

```

Unmodified: wird nicht angezeigt

---

### Git

![](./tikz/areas1.svg)<!-- .element width="70%" -->

---

### git add / git commit

```shell
$
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_1.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_1.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_1.svg)<!-- .element width="48%" -->

```git
On branch main

nothing to commit, working tree clean








```

--

### git add / git commit

```shell
$ touch file.txt
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_1.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ touch file.txt
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_2.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_2.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_2.svg)<!-- .element width="48%" -->

```git
On branch main

Untracked files:
  (use "git add <file>..." to include in what will be committed)

    file.txt

nothing added to commit but untracked files present (use "git add" to track)



```

--

### git add / git commit

```shell
$ git add file.txt
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_2.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git add file.txt
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_3.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_3.svg)<!-- .element width="48%" -->

```git
On branch main

Changes to be committed:
  (use "git rm --cached <file>..." to unstage)

    new file:   file.txt





```

--

### git add / git commit

```shell
$ git commit -m "Add file.txt"
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_3.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git commit -m "Add file.txt"
```

![](./tikz/add_commit_repo_2.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_4.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git commit -m "Add file.txt"
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_4.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_4.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_4.svg)<!-- .element width="48%" -->

```git
On branch main

nothing to commit, working tree clean








```

--

### git add / git commit

```shell
$ echo "new text" > file.txt
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_4.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ echo "new text" > file.txt
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_5.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_5.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_5.svg)<!-- .element width="48%" -->

```git
On branch main

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)

    modified:   file.txt

no changes added to commit (use "git add" and/or "git commit -a")


```

--

### git add / git commit

```shell
$ git add file.txt
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_5.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git add file.txt
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_6.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_6.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_6.svg)<!-- .element width="48%" -->

```git
On branch main

Changes to be committed:
  (use "git restore --staged <file>..." to unstage)

    modified:   file.txt





```

--

### git add / git commit

```shell
$ git commit -m "Add content to file.txt"
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_6.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git commit -m "Add content to file.txt"
```

![](./tikz/add_commit_repo_4.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_7.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_4.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_7.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_4.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_7.svg)<!-- .element width="48%" -->

```git
On branch main

nothing to commit, working tree clean








```

--

### git add / git commit

```shell
$ echo "More content" >> file.txt
```

![](./tikz/add_commit_repo_4.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_7.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ echo "More content" >> file.txt
```

![](./tikz/add_commit_repo_4.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_8.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git add file.txt
```

![](./tikz/add_commit_repo_4.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_8.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git add file.txt
```

![](./tikz/add_commit_repo_4.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_9.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git commit -m "Add more content to file.txt"
```

![](./tikz/add_commit_repo_4.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_9.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git commit -m "Add more content to file.txt"
```

![](./tikz/add_commit_repo_5.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_10.svg)<!-- .element width="48%" -->

```git











```

---

### Was macht git add?

![](./tikz/areas2_1.svg)<!-- .element width="90%" -->

--

### Was macht git add?

![](./tikz/areas2_2.svg)<!-- .element width="90%" -->

---

### git add

```bash
$ git add test.txt  # Staged die Datei test.txt
$ git add dir       # Staged alle Dateien im Verzeichnis ./dir
$ git add *.tex     # Staged alle Dateine mit der Endung .tex
$ git add -A        # Staged alle Dateien
```

---

### Was macht git commit?

![](./tikz/areas2_3.svg)<!-- .element width="90%" -->

---

### Git Identität

```shell
$ git config --global user.name "Mein Name"
$ git config --global user.email "meineemail@addresse.com"
```

Anzeigen mit:

```shell
$ git config user.name
$ git config --list
```

---

### git log

```shell
$ git log
```

```git
commit 7fcca31668238f39e8a01880fd39d8a3f053d195 (HEAD -> main, origin/main, origin/HEAD)
Author: Jonas Thiem <jonas@thiem.email>
Date:   Mon Nov 27 21:06:34 2017 +0100

    [tethercc] Work on class initialization

commit 6179d8af45f353606038ac2bd13591e688c91b0b
Author: Jonas Thiem <jonas@thiem.email>
Date:   Mon Nov 27 12:52:30 2017 +0100

    [tethercc] Improve debug output

commit 13c531731f921cf59256d3c7d873921d6f12a579
Author: Jonas Thiem <jonas@thiem.email>
Date:   Mon Nov 27 11:31:50 2017 +0100
```

Note:

- den leuten ne idee geben, das man so alles sieht, was man jemals gemacht
  hat, und dass man zu jeder solchen version auch zurueckkommt
- keine details mit git switch oder so!! (kommt spaeter)

---

### git graph

```shell
$ git log --graph
```

```git
* 8277d982d (HEAD -> develop, origin/develop, origin/HEAD) [CHORE] remove 'bulk-create-c' permission (#15517)
*   254445fce Merge pull request #15469 from origin/develop-sync
|\
| * 3a571c40a Bump version to 2.2.0-develop
| *   c95663d2c (tag: 2.1.0, origin/main) Merge pull request #15459 from origin/release-2.1.0
| |\
| | * e5208876f Bump version to 2.1.0
| | * 0b16cce59 (tag: 2.1.0-rc.3, origin/release-candidate) Bump version to 2.1.0-rc.3
| | *   d0bfa4f73 Merge remote-tracking branch 'origin/develop' into release-candidate
| | |\
| |_|/
|/| |
* | | e75482af1 Update Apps-Engine version to final version (#15458)
| | * 9055f4cf9 (tag: 2.1.0-rc.2) Bump version to 2.1.0-rc.2
| | *   0fb0104ca Merge remote-tracking branch 'origin/develop' into release-candidate
| | |\
| |_|/
|/| |
```

Note:

- Nur kurz zur Illustration, wie das bei nem grossen Projekt aussieht
- Ganz kurz anschneiden, dass Verzweigung -> Kollaboration
- HIER KEINE BRANCHES IM DETAIL ERKLAEREN !!

---

### Demo

Note:

Demos ⇨ 1 Einführung ⇨ Demo 2: Erste Befehle

---

### git diff

Änderungen im Detail anzeigen

```gitshell
$ echo "blah" > ./my_file
$ git diff
diff --git a/my_file b/my_file
index e69de29..907b308 100644
−−− a/my_file
+++ b/my_file
@@ -0,0 +1 @@
+blah
```

Verlassen mit `q`

---

### git diff

Alle Änderungen anzeigen

```shell
$ git diff
```

Alle Änderungen einer Datei anzeigen

```shell
$ git diff doc.txt
```

Alle Änderungen im 'Stage'-Bereich anzeigen

```shell
$ git diff --staged
```

---

### git show

Letzten Commit anzeigen

```shell
$ git show
```

Bestimmten Commit anzeigen

```shell
$ git show <commit>
```

---

### Fortgeschrittene Dateiänderungen

Datei bewegen:

```shell
$ git mv <alt> <neu>
```

Datei entfernen:

```shell
$ git rm <datei>
```

Ordner entfernen:

```shell
$ git rm -r <ordner>
```

Wichtig: Änderungen direkt sichtbar im Workspace!

---

### Stage - Unstage

```gitshell
$ git add my_file
$ git status
On branch main

Changes to be committed:
  (use "git restore --staged <file>..." to unstage)

    modified:   my_file

```

```gitshell
$ git restore --staged my_file
Unstaged changes after reset:
M	my_file
$ git status
On branch main

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)

    modified:   my_file

no changes added to commit (use "git add" and/or "git commit -a")
```
<!-- .element: class="fragment" -->

---

### Stage - Unstage

```gitshell
$ git mv my_file new_name
$ git status
On branch main

Changes to be committed:
  (use "git restore --staged <file>..." to unstage)

    renamed:    my_file -> new_name

```

```shell
$ git mv new_name my_file
$ git status
On branch main

nothing to commit, working tree clean
```
<!-- .element: class="fragment" -->

---

### Änderungen rückgängig machen

```gitshell
$ echo "blah" > ./my_file
$ git status
On branch main

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)

    modified:   my_file

no changes added to commit (use "git add" and/or "git commit -a")
```

```shell
$ git restore my_file
$ git status
On branch main

nothing to commit, working tree clean
```

<!-- .element: class="fragment" data-fragment-index="2"-->

Wichtig: nicht committete Änderungen kann man dabei leicht ausversehen
verlieren!
<!-- .element: class="fragment" data-fragment-index="2"-->

---

### git push/pull

Commits auf den Server schieben:

```shell
$ git push
```

Commits vom Server holen:

```shell
$ git pull
```

---

### git push/pull

Warum macht `commit` nichts direkt auf dem Server?

- Häufig committen auch von unfertigen Änderungen
- Offline arbeiten

- ...

---

{% for i in range(12) %}

### git commit, push und pull

![](./tikz/commit_push_pull_{{i+1}}.svg)<!-- .element width="80%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Dateien ignorieren

- Übersichtlichkeit
- Fehler vermeiden

⇨ `.gitignore`

```shell
$ cat .gitignore
*.o
/build/
```
<!-- .element: class="fragment" data-fragment-index="2"-->

.gitignore ebenfalls ins Repository committen!
<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Dateien ignorieren

- Temporär generierte Dateien (Cache, Zwischenprodukte)
- Backupdateien vom Editor
- Binärdateien
- User-spezifische Einstellungen
- Passwörter
- ...

---

### Hilfe

```shell
$ git help push
```

```shell
$ git push -h
usage: git push [<options>] [<repository> [<refspec>...]]

    -v, --verbose         be more verbose
    -q, --quiet           be more quiet
    --repo <repository>   repository
    --all                 push all refs
    --mirror              mirror all refs
    -d, --delete          delete refs
    --tags                push tags (can't be used with --all or --mirror)
    -n, --dry-run         dry run
    --porcelain           machine-readable output
    -f, --force           force updates
    --force-with-lease[=<refname>:<expect>]
                          require old value of ref to be at this value
    --recurse-submodules[=<check|on-demand|no>]
                          control recursive pushing of submodules

    --thin                use thin pack
    --receive-pack <receive-pack>
                          receive pack program
    --exec <receive-pack>
                          receive pack program
    -u, --set-upstream    set upstream for git pull/status
    --progress            force progress reporting
    --prune               prune locally removed refs
    --no-verify           bypass pre-push hook
    --follow-tags         push missing but relevant tags
    --signed[=<yes|no|if-asked>]
                          GPG sign the push
    --atomic              request atomic transaction on remote side
    -o, --push-option <server-specific>
                          option to transmit
    -4, --ipv4            use IPv4 addresses only
    -6, --ipv6            use IPv6 addresses only
```

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/git/aufgaben/02-grundlegende-befehle/)

Navigieren Sie zu: Git ⇨ Aufgaben ⇨ Grundlegende Befehle

---
{% for i in range(4) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/><br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/><br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
Vor- und Nachteile von dezentraler gegenüber zentraler Versionsverwaltung nennen<br/>
grundlegende git-Begriffe in der Schulungsumgebung verwenden<br/>
erste Befehle in einem kleinen Projekt umsetzen<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}
