{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Versioning with Git", "Introduction", imported_macros.theme()) }}

---

### Introduction of Participants

- Name
- Job / Area of responsibility
- Previous experience
- Course expectations

---

### Agenda

1. Introduction
1. Changes
1. Branches
1. Branches 2
1. History Rewriting
1. Branching Workflows
1. Advanced Git Features
1. Hosting and Protocols

---

### Objectives of this chapter

I can

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/><br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
list advantages and disadvantages of decentralized versus centralized version management<br/>
use basic git terms in the training environment<br/>
implement first commands in a small project<br/>
</div>

</div>
---

### Versioning

```shell
.
└── draft.psd




```

--

### Versioning

```shell
.
├── draft.psd
└── final.psd



```

--

### Versioning

```shell
.
├── draft.psd
├── final.psd
├── final2.psd
└── finalfinal.psd
```

---

### Versioning

```shell
.
├── thesis.tex
└── thesis.pdf




```

--

### Versioning

```shell
.
├── thesis.tex
├── thesis.pdf
├── thesis_feedback_anna.pdf
├── thesis_feedback_johannes.pdf
└── thesis_feedback_max.pdf
```

---

### Versioning

- History
- Backup

⇨ Save as
<!-- .element: class="fragment" data-fragment-index="2" -->

---

{% for i in range(4) %}
### Version Control System

![](./tikz/localcheckout_{{i+1}}.svg)<!-- .element: width="70%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Version Control System

What is it?

- Manage versions of ...
  - ... folders
  - ... directory structures
  - ... projects
- Explicit management

---

### Version Control System

Advantages:

- Structured Metadata
  - Who changed what and when
- Storrage efficient

---

### Version Control System

Why?

- Improve organization
- Teamwork, coordination and backup
- Documentation of the software development process
- Conflict management

Self dicipline required<!-- .element: class="fragment" data-fragment-index="2" -->

---

### Version Control System

- Centralized version control system
- Distributed version control system

Note:

- Organisationshilfe: Branches, commit messages, ...
- Dokumentation: Graph Historie, commit messages, git blame, ...

---

{% for i in range(3) %}

### Centralized VCS

![](./tikz/central_vcs_server_{{i+1}}.svg)<!-- .element width="70%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Centralized VCS

- Advantages:
  - Simple
- Disadvantages:
  - Needs server connection

---

{% for i in range(3) %}

### Distributed VCS

![](./tikz/distributed_vcs_{{i+1}}.svg)<!-- .element width="80%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Distributed VCS

- Advantages:
  - Offline usage possible
  - Works with multiple servers
  - Choose what is local and what is remote
  - More flexible workflows
- Disadvantages:
  - More complex

---

### Version Control Systems

| git         | svn     | mercurial   | TFS       |
|-------------|---------|-------------|-----------|
| distributed | central | distributed | central   |
| independent | Apache  | independent | Microsoft |

Note:

- Viele spezialisierte Plattformen, GitHub/GitLab, ..
- Kann man alleine (bare) benutzen oder zusammen mit nem eigenen GitLab
- Auf dezentral gehen wir spaeter im Detail ein!

---

### Google Trend Comparison

<div style="height:450px">
<canvas data-chart="line" data-chart-src="./google_trend.csv">
<!--
{
"data" : {
"datasets" : [{ "borderColor": "#0000ff" }, { "borderColor": "#ff0000" }, { "borderColor": "#00ff00" }, { "borderColor": "#ffff00" }]
},
"options": { "scales": { "x": [{ "stacked": false }], "y": [{ "stacked": false }] } }
}
 -->
</canvas>
</div>

<span class="acknowledgment">
Data source: Google Trends (https://www.google.com/trends)
</span>

---

### Basics

- Repository: Version database
- Workspace: Local directory
- Commit: Certain version of the project
- History: Sequence of previous commits

![](./tikz/distributed_vcs_3.svg)<!-- .element width="50%" -->

---

### Basics

- Check-in/check-out:
  - Communication Workspace ⬄ Repository
- Push/Pull:
  - Synchronization of version databases

![](./tikz/distributed_vcs_3.svg)<!-- .element width="50%" -->

---

### Workspace

  ```shell
  my_website.html
  README.txt
  ...
  ```

- Directory containing the project files
- Workspace always shows a certain commit

---

### Demo

Note:

Demos ⇨ 1 Einführung ⇨ Demo 1: Workspace und grafische Oberfläche

---

### Gitlab/Github/Bitbucket/...

- Graphical interface for Git
- Projectmanagement
- CI/CD

Note:

- Sollte alles in der Demo schon gezeigt worden sein

---

### Areas of application

- Sourcecode
- Anything that can be described as code
  - Infrastructure as Code
  - Configuration as Code
  - Documentation
  - Pipelines

---

### My first Project

Go to: [https://labs.corewire.de/en](https://labs.corewire.de/en/git/exercises/01-my-first-project/)

Navigate to: Git ⇨ Exercises ⇨  My first Project

Credentials for the labs will be provided by the trainer.

---

### First commands

```shell
$ git status
```

⇨ Displays currently modified files

```shell
$ git add
```

⇨ 'Marcs' changes

```shell
$ git commit
```

⇨ Creates a new commit from changes

---

### git status

```shell
$ git status
```

```git
On branch main
Changes to be committed:

    new file:   file2

Changes not staged for commit:

    modified:   file3

Untracked files:

    file1

```

Unmodified: not shown

---

### Git

![](./tikz/areas1.svg)<!-- .element width="70%" -->

---

### git add / git commit

```shell
$
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_1.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_1.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_1.svg)<!-- .element width="48%" -->

```git
On branch main

nothing to commit, working tree clean








```

--

### git add / git commit

```shell
$ touch file.txt
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_1.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ touch file.txt
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_2.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_2.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_2.svg)<!-- .element width="48%" -->

```git
On branch main

Untracked files:
  (use "git add <file>..." to include in what will be committed)

    file.txt

nothing added to commit but untracked files present (use "git add" to track)



```

--

### git add / git commit

```shell
$ git add file.txt
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_2.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git add file.txt
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_3.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_3.svg)<!-- .element width="48%" -->

```git
On branch main

Changes to be committed:
  (use "git rm --cached <file>..." to unstage)

    new file:   file.txt





```

--

### git add / git commit

```shell
$ git commit -m "Add file.txt"
```

![](./tikz/add_commit_repo_1.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_3.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git commit -m "Add file.txt"
```

![](./tikz/add_commit_repo_2.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_4.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git commit -m "Add file.txt"
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_4.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_4.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_4.svg)<!-- .element width="48%" -->

```git
On branch main

nothing to commit, working tree clean








```

--

### git add / git commit

```shell
$ echo "new text" > file.txt
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_4.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ echo "new text" > file.txt
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_5.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_5.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_5.svg)<!-- .element width="48%" -->

```git
On branch main

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)

    modified:   file.txt

no changes added to commit (use "git add" and/or "git commit -a")


```

--

### git add / git commit

```shell
$ git add file.txt
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_5.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git add file.txt
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_6.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_6.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_6.svg)<!-- .element width="48%" -->

```git
On branch main

Changes to be committed:
  (use "git restore --staged <file>..." to unstage)

    modified:   file.txt





```

--

### git add / git commit

```shell
$ git commit -m "Add content to file.txt"
```

![](./tikz/add_commit_repo_3.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_6.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git commit -m "Add content to file.txt"
```

![](./tikz/add_commit_repo_4.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_7.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_4.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_7.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git status
```

![](./tikz/add_commit_repo_4.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_7.svg)<!-- .element width="48%" -->

```git
On branch main

nothing to commit, working tree clean








```

--

### git add / git commit

```shell
$ echo "More content" >> file.txt
```

![](./tikz/add_commit_repo_4.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_7.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ echo "More content" >> file.txt
```

![](./tikz/add_commit_repo_4.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_8.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git add file.txt
```

![](./tikz/add_commit_repo_4.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_8.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git add file.txt
```

![](./tikz/add_commit_repo_4.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_9.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git commit -m "Add more content to file.txt"
```

![](./tikz/add_commit_repo_4.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_9.svg)<!-- .element width="48%" -->

```git











```

--

### git add / git commit

```shell
$ git commit -m "Add more content to file.txt"
```

![](./tikz/add_commit_repo_5.svg)<!-- .element width="48%" -->
![](./tikz/add_commit_10.svg)<!-- .element width="48%" -->

```git











```

---

### What does git add do?

![](./tikz/areas2_1.svg)<!-- .element width="90%" -->

--

### What does git add do?

![](./tikz/areas2_2.svg)<!-- .element width="90%" -->

---

### git add

```bash
$ git add test.txt  # Stages the file test.txt
$ git add dir       # Stages all files in directory ./dir
$ git add *.tex     # Stages all files with ending .tex
$ git add -A        # Stages all files
```

---

### What does git commit do?

![](./tikz/areas2_3.svg)<!-- .element width="90%" -->

---


### Git Identity

```shell
$ git config --global user.name "My Name"
$ git config --global user.email "myemail@addresse.com"
```

Display with:

```shell
$ git config user.name
$ git config --list
```

---

### git log

```shell
$ git log
```

```git
commit 7fcca31668238f39e8a01880fd39d8a3f053d195 (HEAD -> main, origin/main, origin/HEAD)
Author: Jonas Thiem <jonas@thiem.email>
Date:   Mon Nov 27 21:06:34 2017 +0100

    [tethercc] Work on class initialization

commit 6179d8af45f353606038ac2bd13591e688c91b0b
Author: Jonas Thiem <jonas@thiem.email>
Date:   Mon Nov 27 12:52:30 2017 +0100

    [tethercc] Improve debug output

commit 13c531731f921cf59256d3c7d873921d6f12a579
Author: Jonas Thiem <jonas@thiem.email>
Date:   Mon Nov 27 11:31:50 2017 +0100
```

Note:

- den leuten ne idee geben, das man so alles sieht, was man jemals gemacht
  hat, und dass man zu jeder solchen version auch zurueckkommt
- keine details mit git switch oder so!! (kommt spaeter)

---

### git graph

```shell
$ git log --graph
```

```git
* 8277d982d (HEAD -> develop, origin/develop, origin/HEAD) [CHORE] remove 'bulk-create-c' permission (#15517)
*   254445fce Merge pull request #15469 from origin/develop-sync
|\
| * 3a571c40a Bump version to 2.2.0-develop
| *   c95663d2c (tag: 2.1.0, origin/main) Merge pull request #15459 from origin/release-2.1.0
| |\
| | * e5208876f Bump version to 2.1.0
| | * 0b16cce59 (tag: 2.1.0-rc.3, origin/release-candidate) Bump version to 2.1.0-rc.3
| | *   d0bfa4f73 Merge remote-tracking branch 'origin/develop' into release-candidate
| | |\
| |_|/
|/| |
* | | e75482af1 Update Apps-Engine version to final version (#15458)
| | * 9055f4cf9 (tag: 2.1.0-rc.2) Bump version to 2.1.0-rc.2
| | *   0fb0104ca Merge remote-tracking branch 'origin/develop' into release-candidate
| | |\
| |_|/
|/| |
```

Note:

- Nur kurz zur Illustration, wie das bei nem grossen Projekt aussieht
- Ganz kurz anschneiden, dass Verzweigung -> Kollaboration
- HIER KEINE BRANCHES IM DETAIL ERKLAEREN !!

---

### Demo

Note:

Demos ⇨ 1 Einführung ⇨ Demo 2: Erste Befehle

---

### git diff

Display changes in detail

```gitshell
$ echo "blah" > ./my_file
$ git diff
diff --git a/my_file b/my_file
index e69de29..907b308 100644
−−− a/my_file
+++ b/my_file
@@ -0,0 +1 @@
+blah
```

Exit with `q`

---

### git diff

Display all changes

```shell
$ git diff
```

Display all changes of a file

```shell
$ git diff doc.txt
```

Display all changes in the staging area

```shell
$ git diff --staged
```

---

### git show

Show last commit

```shell
$ git show
```

Show particular commit

```shell
$ git show <commit>
```

---

### Advanced file changes

Move files:

```shell
$ git mv <old> <new>
```

Remove files:

```shell
$ git rm <file>
```

Remove directories:

```shell
$ git rm -r <directory>
```

Important: Changes directly visible in the workspace!

---

### Stage - Unstage

```gitshell
$ git add my_file
$ git status
On branch main

Changes to be committed:
  (use "git restore --staged <file>..." to unstage)

    modified:   my_file

```

```gitshell
$ git restore --staged my_file
Unstaged changes after reset:
M	my_file
$ git status
On branch main

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)

    modified:   my_file

no changes added to commit (use "git add" and/or "git commit -a")
```
<!-- .element: class="fragment" -->

---

### Stage - Unstage

```gitshell
$ git mv my_file new_name
$ git status
On branch main

Changes to be committed:
  (use "git restore --staged <file>..." to unstage)

    renamed:    my_file -> new_name

```

```shell
$ git mv new_name my_file
$ git status
On branch main

nothing to commit, working tree clean
```
<!-- .element: class="fragment" -->

---

### Undo changes

```gitshell
$ echo "blah" > ./my_file
$ git status
On branch main

Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)

    modified:   my_file

no changes added to commit (use "git add" and/or "git commit -a")
```

```shell
$ git restore my_file
$ git status
On branch main

nothing to commit, working tree clean
```

<!-- .element: class="fragment" data-fragment-index="2"-->

Important: non-committed changes can easily be lost by accident!

<!-- .element: class="fragment" data-fragment-index="2"-->

---

### git push/pull

Push commits to the server:

```shell
$ git push
```

Pull commits from the server:

```shell
$ git pull
```

---

### git push/pull

Why doesn't **commit** do anything directly on the server?

- Frequently commit even unfinished changes
- Work offline

- ...

---

{% for i in range(12) %}

### git commit, push und pull

![](./tikz/commit_push_pull_{{i+1}}.svg)<!-- .element width="80%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Ignoring files

- Clarity
- Avoid mistakes

⇨ `.gitignore`

```shell
$ cat .gitignore
*.o
/build/
```
<!-- .element: class="fragment" data-fragment-index="2"-->

Commit the `.gitignore` into the repository as well!
<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Ignoring files

- Temporarily generated files (cache, intermediate products)
- Backup files from the editor
- Binary files
- User-specific settings
- Passwords
- ...

---

### Help

```shell
$ git help push
```

```shell
$ git push -h
usage: git push [<options>] [<repository> [<refspec>...]]

    -v, --verbose         be more verbose
    -q, --quiet           be more quiet
    --repo <repository>   repository
    --all                 push all refs
    --mirror              mirror all refs
    -d, --delete          delete refs
    --tags                push tags (can't be used with --all or --mirror)
    -n, --dry-run         dry run
    --porcelain           machine-readable output
    -f, --force           force updates
    --force-with-lease[=<refname>:<expect>]
                          require old value of ref to be at this value
    --recurse-submodules[=<check|on-demand|no>]
                          control recursive pushing of submodules
                          
    --thin                use thin pack
    --receive-pack <receive-pack>
                          receive pack program
    --exec <receive-pack>
                          receive pack program
    -u, --set-upstream    set upstream for git pull/status
    --progress            force progress reporting
    --prune               prune locally removed refs
    --no-verify           bypass pre-push hook
    --follow-tags         push missing but relevant tags
    --signed[=<yes|no|if-asked>]
                          GPG sign the push
    --atomic              request atomic transaction on remote side
    -o, --push-option <server-specific>
                          option to transmit
    -4, --ipv4            use IPv4 addresses only
    -6, --ipv6            use IPv6 addresses only
```

---

### Project

Go to: [https://labs.corewire.de/en](https://labs.corewire.de/en/git/exercises/02-basic-commands/)

Navigate to: Git ⇨ Exercises ⇨  Basic Commands

---
{% for i in range(4) %}

### Objectives of this chapter

I can

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/><br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
list advantages and disadvantages of decentralized versus centralized version management<br/>
use basic git terms in the training environment<br/>
implement first commands in a small project<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}
