{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Docker® & Container", "Runtime Interna", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
die Modularisierung des Docker Daemon beschreiben<br/>
die Abgrenzung und Aufgaben der Module erklären<br/>
für alle Module Alternativen zu Docker nennen<br/>
</div>

</div>

---

### Docker Architektur

![](tikz/docker-architecture_1.svg)<!-- .element width="70%" -->

---

### Docker Architektur
![](tikz/docker-architecture_2.svg)<!-- .element width="70%" -->

Note:
- Client-Server-Architektur
- Docker-Daemon verwaltet Container
- Docker-Client interagiert mit Daemon
- RESTful-API die Befehle entgegen nimmt

---

### Verantwortung der Komponenten

AAA<!-- .element: class="placeholder"-->

![](tikz/docker-architecture_2.svg)<!-- .element width="70%" -->

---

### Verantwortung der Docker CLI

Kommuniziert/Sendet Befehle an den Daemon

![](tikz/docker-architecture_3.svg)<!-- .element width="70%" -->

---

### Verantwortung von dockerd

Management von containerd, Images und Containern

![](tikz/docker-architecture_4.svg)<!-- .element width="70%" -->

---

### Verantwortung von distribution

Image storage, versioning, tagging, signing, scanning

![](tikz/docker-architecture_5.svg)<!-- .element width="70%" -->

---

### Verantwortung von containerd

Container Lifecycle, Status Monitoring

![](tikz/docker-architecture_6.svg)<!-- .element width="70%" -->

---

### Verantwortung von runC

Erstellt Root Filesystem, Netzwerk-Namespace

![](tikz/docker-architecture_7.svg)<!-- .element width="70%" -->

---

### Verantwortung des OS

Management der Ressourcen

![](tikz/docker-architecture_8.svg)<!-- .element width="70%" -->

---

### OS vs. Kernel

AAA<!-- .element: class="placeholder"-->

![](tikz/docker-architecture_9.svg)<!-- .element width="70%" -->

---

{% for i in range(7) %}
### Was ist ein Kernel?

![](tikz/OS-Kernel_{{i+1}}.svg)<!-- .element width="50%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Low-Level Realisierung

- Linux kernel features
  - Namespaces
  - Control Groups (cgroups)
- Isolierung und Kontrolle

---

### Namespaces

Isolation des Dateisystems, Netzwerks und anderer Ressourcen eines Containers
![img/namespaces.drawio.svg](img/namespaces.drawio.svg)<!-- .element width="55%" -->

Note:
- 5 types of namespaces are used
- PID-Namespace: isoliert den Prozess-ID-Raum, so dass jeder Container eigene Prozess-IDs hat und man die Prozesse anderer Container nicht sehen kann.
- Netzwerk-Namespace: isoliert den Netzwerkstack, so dass jeder Container seine eigene virtuelle Netzwerkschnittstelle und IP-Adresse hat und die Netzwerkverbindungen anderer Container nicht sehen kann.
- Mount-Namespace: isoliert das Dateisystem, so dass jeder Container seine eigene Ansicht des Dateisystems hat und die Dateien anderer Container nicht sehen kann.
- User-Namespace: isoliert den Benutzer- und Gruppen-ID-Raum, so dass jeder Container seinen eigenen Satz von Benutzer- und Gruppen-IDs hat und nicht auf die Ressourcen anderer Container zugreifen kann.
- IPC-Namespace: isoliert die Ressourcen für die Interprozesskommunikation (IPC), wie z. B. Nachrichtenwarteschlangen und Semaphoren, so dass jeder Container über einen eigenen Satz von IPC-Ressourcen verfügt und nicht auf die Ressourcen anderer Container zugreifen kann.

---

### Namespaces: PID
- Prozesse sind isoliert in PID namespaces
- Container sehen nur ihre eigenen Prozesse
- Kann umgangen werden, z.B. für containerisierte Tools wie  `top`, `ps`, `systemd`

![img/namespaces_pid.drawio.svg](img/namespaces_pid.drawio.svg)<!-- .element width="45%" -->

---

### Cgroups

Limits für CPU, RAM, Block I/O, Netzwerk I/O und Devices
![img/cgroups.drawio.svg](img/cgroups.drawio.svg)<!-- .element width="55%" -->

Note:
- CPU cgroup is used to limit the CPU resources available to a container.
- Memory cgroup is used to limit the Memory available to a container.
- Block IO cgroup is used to control the I/O access to block devices.
- Network IO cgroup is used to control the network bandwith available to the container.
- Device cgroup is used to restrict access to specific devices.

---

### Cgroup policies: CPU

- Limitieren der CPU Anzahl
```shell
docker run --cpus 2.5 nginx
```
- Ausführen nur auf CPU Core 0, mit 20 shares
```shell
docker run --cpuset-cpus=0 --cpu-shares=20 nginx
```

---

### Cgroup policies: Memory
- Limitieren von RAM auf 1G (Hard Limit)
```shell
docker run --memory=1G nginx
```
- Limitieren von RAM auf 1G (Soft Limit)
```shell
docker run --memory-reservation=1G nginx
```

---

### Zugehörigkeit

![img/architecture.drawio.svg](img/architecture.drawio.svg)

---

### Cloud Native Computing Foundation (CNCF)

- Non-Profit-Organisation
- Förderung des Open-Source-Ökosystemen
- Projekte im Bereich Cloud Native Computing

[Projektübersicht](https://www.cncf.io/projects/)

---

### Open Container Initiative (OCI)
- Offene Industrie-Standards rund um Container
- [OCI Runtime Spec](https://github.com/opencontainers/runtime-spec)
- [OCI Image Format](https://github.com/opencontainers/image-spec)
- [OCI Distribution Spec](https://github.com/opencontainers/distribution-spec)

---

{% for i in range(1,8) %}
### Wiederholung: Docker Übersicht

![](../../common/tikz/docker-intro-1_{{i}}.svg) <!-- .element width="100%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

{% for i in range(1,5) %}
### Open Container Initiative (OCI)

![](./tikz/container-without-docker_{{i}}.svg) <!-- .element width="100%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Container ohne Docker

![](./tikz/container-without-docker_5.svg) <!-- .element width="100%" -->

---

### Alternative Runtimes

- Kompatibel zur OCI Runtime Spec
- Beispiele:
    - RunC
    - Crun
    - GVisor

---

### RunC

- Von der OCI
- Geschrieben in Go
- Default für Docker
- Leichtgewichtig und simpel

---

### Crun

- Von RedHat
- Geschrieben in C
- Performance optimiert
- Weniger Speicherverbrauch

---

### GVisor

- Von Google
- Geschrieben in Go
- Kernel-based virtual machines (KVM)
- Bietet weitere Isolations- und Security-Features
- Gut für Untrusted Workloads

---

### Container ohne Docker

![](./tikz/container-without-docker_6.svg) <!-- .element width="100%" -->

---

### Alternative Image Builder

- Erstellen OCI Image Format kompatible Images
- Beispiele:
  - Buildkit
  - Buildah
  - Kaniko

---

### Buildkit

- Seit Docker 18.09 per Opt-In verfügbar
- Seit Docker 23.00 Standard für Docker
- Standalone Version
- Verbesserte Performance und Caching

---

### Buildah

- Von RedHat
- Wird von Podman verwendet
- Erweiterte Kontrolle über erstellte Images

Note:
- Commit many changes into single layer
- Fork-exec model statt Daemon
- User-specific images
- Bash-script extentions

---

### Kaniko

- Von Google
- Fokus auf Kubernetes Workflows
- Erleichtert das Erstellen von Containern in Containern

---
### Container ohne Docker

![](./tikz/container-without-docker_7.svg) <!-- .element width="100%" -->

---

### Wiederholung: Container-Registry

Authentifikation

```bash
$ docker login [--username USER] SERVER
```

Verwendung

```bash
$ docker pull reg.corewire.de:5000/myrepo/myapp:v1.0.0

# Addressable image format:
# [<registry>/][<project>/]<image>[:<tag>|@<digest>]
```

---

### Alternative zu Docker

Podman
- Entwickelt von RedHat
- Migration:
  ```bash
  $ alias docker=podman
  ```
  
---

### Knowledge Check

<iframe src="knowledge-checks/13-runtime-interna.html" width="800" height="500"></iframe>

---

{% for i in range(4) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
die Modularisierung des Docker Daemon beschreiben<br/>
die Abgrenzung und Aufgaben der Module erklären<br/>
für alle Module Alternativen zu Docker nennen<br/>
</div>

</div>
{{ "--" if not loop.last }}
{% endfor %}
