{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Kubernetes", "Pod Management", imported_macros.theme()) }}

---

{{ imported_macros.image_series("Skalierung", "tikz/scaling", 1, 7, "55%")}}

---

### ReplicaSets

- Erstellen Pods anhand eines Templates
- Einfache Skalierung über `replicas: <Anzahl>`
- Kontinuierliche Überwachung

---

### ReplicaSets

```yaml
apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: my-replicaset
spec:
  replicas: 3
  selector:
    <...>
  template:
    <...>
```

--

### ReplicaSets

```yaml
<...>
spec:
  replicas: 3
  selector:
    matchLabels:
      my-label: my-app
  template:
    metadata:
      labels:
        my-label: my-app
    spec:
      containers:
      - name: my-container
        image: nginx:latest
```

--

### ReplicaSets

```yaml
apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: my-replicaset
spec:
  replicas: 3
  selector:
    matchLabels:
      my-label: my-app
  template:
    metadata:
      labels:
        my-label: my-app
    spec:
      containers:
      - name: my-container
        image: nginx:latest
```

---

### Funktionsweise

- Template Änderungen werden nur auf neue Pods angewendet
- [Reihenfolge](https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/#scaling-a-replicaset) beim Downscaling
- Matching Pods kann es auch außerhalb geben

---

### Demo: ReplicaSets

---

{{ imported_macros.image_series("Lifecycle Management", "tikz/lifecycle_management", 1, 6, "50%")}}

---

### Deployments

```yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      my-label: my-app
  template:
    metadata:
      labels:
        my-label: my-app
    spec:
      containers:
      - name: my-container
        image: nginx:latest
```

---

{{ imported_macros.image_series("Struktur von Kubernetes", "tikz/structure", 1, 10, "80%")}}

---

### Deployments

- Erstellt und verwaltet ReplicaSet(s)
- Definietes Update-Verhalten
  - Default: rolling update

---

### Demo: Deployments

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/kubernetes/aufgaben/02-pod-management/)

Navigieren Sie nach: Kubernetes ⇨ Aufgaben ⇨ Pod Management
