@import url(./font/lato/stylesheet.css);

.reveal {
  font-family: "Lato", sans-serif !important;
  font-weight: normal;
  background-color: #efeeee;
  color: #373a3b;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Lato", sans-serif !important;
  font-weight: normal;
  text-transform: none;
  color: #373a3b;
  }

.reveal {
  font-size: 35px; /* Default: 40px */ }

.reveal h1 {
  font-size: 3.25em; /* Default: 3.77em */ }

.reveal h2 {
  font-size: 2em; /* Default: 2.11em */ }

.reveal h3 {
  font-size: 1.45em; /* Default: 1.55em */ }

.reveal h4 {
  font-size: 1em; /* Default: 1em */ }

.acknowledgment {
  font-size: 0.5em !important;
}

.slide-number {
  background-color: rgba(0,0,0,0) !important;
  height: 2vh !important;
  bottom: 1vh !important;
  right: 1vh !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 2vh !important;
}

.no-title-footer .slide-number {
  display: none !important;
}

.slide-number span {
  color: #f9b233;
  padding-bottom: 1.5vh;
}

.slides img {
  background-color: #ffffff !important;
  background: #efeeee;
  box-shadow:  20px 10px 30px #afafaf
}
.slides img.expand {
  background-color: #eeeff0 !important;
  padding: 10px !important;
}

.slides img.transparent {
  background-color: transparent !important;
  box-shadow: none;
  border: none;
}

.fragment.current-visible.visible:not(.current-fragment) {
  display: none;
  height:0;
  line-height: 0;
  font-size: 0;
}

[class^='cw-design-'], [class*=' cw-design-'] {
  display: none !important;
}

.cw-design-default {
  display: block !important;
}

.backgrounds [class^='cw-bg-'], .backgrounds [class*=' cw-bg-'] {
  display: none !important;
}

.backgrounds .cw-bg-default {
  display: block !important;
}


/******************************************************************************
****  Custom utiltiy css classes
******************************************************************************/

.container{
    display: flex;
}
.col{
    flex: 1;
}

.col-flex-2{
  flex: 2;
}


.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.ps-2 {
  padding-left: 0.5em;
}

.placeholder {
  opacity: 0 !important;
}

.small {
  font-size: 0.75em !important;
}

.w-100 {
  width: 100% !important;
}

.mark-bad {
  color: rgba(205, 49, 49, 1);
}

.mark-good {
  color: rgba(18, 188, 121, 1);
}

/******************************************************************************
****  END: Custom utiltiy css classes
******************************************************************************/

.slides img.corewire-logo, .slides img.plain {
    box-shadow: none !important;
    background-color: transparent !important;
    margin-top: 0;
    margin-bottom: 40px;

}

#title-footer {
    height: 2.5vh;
    background-size: auto 80% !important;
    background-repeat: no-repeat !important;
    background-position: 0.8% 50% !important;
    background-color: #373a3b !important;
}

#title-footer {
  padding-bottom: 1.5vh !important;
}

#title-footer p a {
    color: #FFFFFF;
}

.reveal .progress {
  background-color: #373a3b;
}

.reveal .progress span {
  background-color: #f9b233
}


.language-python .hljs-meta,
.language-shell .hljs-meta,
.language-gitshell .hljs-meta {
  color: #12bc79
}

.bash .hljs-built_in,
.language-python .hljs-subst {
  color: #dcdcdc;
}

code {
  font-size: .9em;
  padding: 2px 4px;
  color: #1f1f1f;
  background-color: #afafaf;
  border-radius: 4px;
}

.hljs {
  background: #efeeee;
  box-shadow:  20px 10px 30px #afafaf
}

.hljs span.highlight-good {
  background: rgba(35, 209, 139, 0.4);
}

.hljs span.highlight-bad {
  background: rgba(205, 49, 49, 0.4);
}

/******************************************************************************
****  Custom highlight.js language: GIT
******************************************************************************/

.hljs-git-status .hljs-staged-files,
.hljs-added {
  color: #23d18b;
}

.hljs-patch {
  color: #11a8cd;
}

.hljs-git-status .hljs-modified-files,
.hljs-git-status .hljs-untracked-files,
.hljs-removed {
    color: #ff2929;
}

.hljs-git-log,
.hljs-git-log-graph .hljs-commit-id {
  color: #c4a000;
}

.hljs-git-log-graph .hljs-commit-msg {
  color: #dcdcdc;
}
.hljs-git-log .hljs-head,
.hljs-git-log-graph .hljs-commit-id .hljs-head {
  color: #34e2e2;
}

.hljs-git-log .hljs-head-branch,
.hljs-git-log-graph .hljs-commit-id .hljs-head-branch {
  color: #89df32;
}

.hljs-git-log .hljs-branch,
.hljs-git-log-graph .hljs-commit-id .hljs-branch {
  color: #cd3131;
}

.hljs-git-log-graph .hljs-commit-id .hljs-tag {
  color: gold;
}
/******************************************************************************
****  Custom highlight.js language: HTTP_REQUEST
******************************************************************************/
.hljs-request-method {
  color: #EFB85C;
}

.hljs-request-path {
  color: #ff2929;
}

.hljs-header-name,
.hljs-header-name {
  color: #EFB85C;
}

.hljs-response-code {
  color: #62CED3;
}
