{% macro theme() -%}
corewire
{%- endmacro -%}

{% macro image_series(heading, image_path, start, end, width="100%") -%}
{% for i in range(start, end) %}
### {{ heading }}

![]({{ image_path }}_{{i}}.svg) <!-- .element width="{{ width }}" -->

{% if i != end-1 %}
--
{% endif %}
{% endfor %}
{%- endmacro -%}

{% macro participants_introduction_round() -%}

### Vorstellungsrunde

- Name
- Job / Aufgabenbereich
- Vorerfahrung
- Kurserwartung

---

### Pausen

- Mittagspause: 12 - 13 Uhr
- 5-10 min Pause ca. stündlich

{%- endmacro -%}

{% macro first_page(topic, chapter, theme) -%}
{# TODO: make this usable an configurable with given design #}

{% if theme == "corewire" %}
<section data-state="no-title-footer">

####
![](../../templates/corewire-dark.svg)<!-- .element class="corewire-logo" width="60%" -->
### {{topic}}<!-- .element class="cw-design-default" -->
### {{chapter}}<!-- .element class="cw-design-default" -->
### Corewire<!-- .element class="cw-design-default" style="visibility: hidden"-->

{% endif %}
{%- endmacro -%}

{% macro outro(theme) -%}

{% if theme == "corewire" %}
<!-- .slide: class="content-slide" data-background-image="../../common/img/corewire-bg-white-1.png" -->

### Corewire Lösungen

<style>
section.content-slide {
  background: white;
  box-shadow: 0px 0px 20px 5px #afafaf !important;
  padding: 20px;
}
</style>

<div class="container">

<div class="col">
    <img class="plain" src="../../common/img/corewire-beratung-illu-gesamt.png" alt="" width="75%">
    <p>Beratung</p>
</div>

<div class="col">
    <img class="plain" src="../../common/img/corewire-schulung-gesamt.png" alt="" width="75%">
    <p>Schulung</p>
</div>

<div class="col">
    <img class="plain" src="../../common/img/corewire-umsetzung-gesamt.png" alt="" width="75%">
    <p>Umsetzung</p>
</div>

</div>

--
<!-- .slide: class="content-slide" data-background-image="../../common/img/corewire-bg-white-1.png" -->

### DevOps Insights

<br/>
<div class="container">

<div class="col">
    <img class="plain" src="../../common/img/corewire-discovery.png" alt="" width="75%">
    <p>Zielsetzung</p>
</div>

<div class="col">
    <img class="plain" src="../../common/img/corewire-analysis.png" alt="" width="75%">
    <p>Analyse</p>
</div>

<div class="col">
    <img class="plain" src="../../common/img/corewire-improvement.png" alt="" width="75%">
    <p>Handlungs-<br/>empfehlungen</p>
</div>

</div>

---

<br/><br/>
### Fragen? Anmerkungen? Kritik?
<br/><br/>

<div class="acknowledgment">
Kontakt: <a href="https://corewire.de">https://corewire.de</a> | team@corewire.de | 0761 88 78 153 - 0
</div>

{% else %}

### Fragen? Anmerkungen? Kritik?

{% endif %}
{%- endmacro -%}
