{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Kubernetes", "Mehrere Container pro Pod", imported_macros.theme()) }}

---

{{ imported_macros.image_series("Initialisierung", "tikz/initialisation", 1, 5, "50%")}}

---

## Entrypoints

---

### Initialisierung mit Entrypoint

- Konfiguration von Containern vor dem Start, z.B:
  - Volumes inizialisieren
  - Datenbanken initialisieren
- Teil des Images

---

### Initialisierung mit Entrypoint

```dockerfile
FROM busybox
COPY init.sh /init.sh
ENTRYPOINT ["/init.sh"]
```

---

### Initialisierung

![](tikz/initialisation_5.svg) <!-- .element width="50%" -->

---

### Init-Container

- Pods können Container zur Initialisierung starten
- werden vor den Anwendungscontainern ausgeführt
- werden sequenziell in der aufgeführten Reihenfolge ausgeführt
- wenn der Init-Container failed, failed der gesamte Pod

---

### Init-Container: Spezifikation

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: web
spec:
  initContainers:
  - name: init1
    image: some-image
  - name: init2
    image: another-image
  container:
  - name: web
    image: nginx
```

---

## Init-Container vs. Entrypoint

---

### Init-Container

- Trennung von Initialisierung und App-Logik
- Wiederverwendbar und flexibel (eigene Images)
- Einfachere Debugging-Möglichkeiten
- Garantierte Reihenfolge durch Kubernetes

---

### Entrypoint

- Vermischung von Logik und App-Start
- Schwer wiederverwendbar, an Image gebunden
- Fehleranfälliger bei komplexen Aufgaben
- Debugging schwieriger, keine Trennung

---

## Sidecar Pattern

---

### Mehrere Container im Pod

- nur dann sinnvoll, wenn
    1. sie als Einheit ausgerollt werden müssen
    2. es eine 1:1 Beziehung zwischen den Containern gibt
    3. sie nur gemeinsam skaliert werden können
- nicht sinnvoll z.B. bei Front- und Backend

---

### Mehrere Container im Pod

- gleicher Netzwerk Namespace
- Kommunikation über localhost möglich
- gemeinsame Ressourcen (Volumen, Secrets,...) möglich

---

### Sidecar Pattern

- ein Hauptcontainer
- "Sidecars" unterstützen Hauptcontainer
- erfüllen Infrastrukturaufgaben, z.B. sammeln Performance Metriken, Logs,...

---

{{ imported_macros.image_series("Logcollector als Sidecar", "tikz/sidecar", 1, 4, "50%")}}

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/kubernetes/aufgaben/09-multiple-containers/)

Navigieren Sie nach: Kubernetes ⇨ Aufgaben ⇨ Multiple Container
