{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Docker® & Container", "Rootless Docker", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
das Sicherheitsrisiko von Root-Rechten beschreiben<br/>
Rootless-Docker abgrenzen<br/>
die Installation von Rootless Docker nachvollziehen<br/>
</div>

</div>

---
### Motivation

- Docker Daemon benötigt Root-Rechte
- Root-Zugriff ist ein Sicherheitsrisiko

---

### Motivation

- Zugriff auf Docker Socket ermöglicht Root-Zugriff

    ```shell
    docker run -v /:/host -it --rm alpine chroot /host
    ```

- Host-Zugriff aus Container, falls

    ```shell
    docker run -v /var/run/docker.sock:/var/run/docker.sock ...
    ```


---
{% for i in range(1,7) %}
### Was läuft alles als Root?

![](tikz/root_{{i}}.svg) <!-- .element width="80%" -->

{% if i != 6 %}
--
{% endif %}
{% endfor %}

---

### Was ist Rootless Docker <strong>nicht</strong>?

- Nutzer ist berechtigt Docker zu nutzen<!-- .element class="placeholder" -->
  - z.B. durch Docker Gruppe<!-- .element class="placeholder" -->

![](tikz/root_7.svg)<!-- .element width="80%" -->

--

### Was ist Rootless Docker <strong>nicht</strong>?

- Nutzer ist berechtigt `docker` zu nutzen
  - z.B. durch Docker Gruppe

![](tikz/root_8.svg)<!--  .element width="80%" -->

--

### Was ist Rootless Docker <strong>nicht</strong>?

- Nutzer im Container ist nicht Root<!-- .element class="placeholder" -->
  - AA<!-- .element class="placeholder" -->

![](tikz/root_9.svg)<!-- .element width="80%" -->

--

### Was ist Rootless Docker <strong>nicht</strong>?

- Nutzer im Container ist nicht Root
  - `docker run --user 1000:1000 ...`

![](tikz/root_10.svg)<!-- .element width="80%" -->


---

### Was ist Rootless Docker?

- Docker Daemon läuft als Nutzer<!-- .element class="placeholder" -->
- Container laufen als Nutzer<!-- .element class="placeholder" -->

![](tikz/root_11.svg)<!-- .element width="80%" -->

--

### Was ist Rootless Docker?

- Docker Daemon läuft als Nutzer
- Container laufen als Nutzer<!-- .element class="placeholder" -->

![](tikz/root_12.svg)<!-- .element width="80%" -->

--

### Was ist Rootless Docker?

- Docker Daemon läuft als Nutzer
- Container laufen als Nutzer

![](tikz/root_13.svg)<!-- .element width="80%" -->

---

### Setup

- Einfache Installation

```bash
# Enthalten in der Docker Installation seit 20.10
$ dockerd-rootless-setuptool.sh install
```

---

### Einschränkungen

- Verfügbare Storage Drivers
- Nicht unterstützt:
  - AppAmor
  - Overlay Netzwerk
  - Priviledged Container
- IP Adressen nicht direkt vom Host erreichbar

[Dokumentation](https://docs.docker.com/engine/security/rootless/)

---

## Demo

---

### Knowledge Check

<iframe src="knowledge-checks/14-rootless-docker.html" width="800" height="500"></iframe>

---
{% for i in range(4) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
das Sicherheitsrisiko von Root-Rechten beschreiben<br/>
Rootless-Docker abgrenzen<br/>
die Installation von Rootless Docker nachvollziehen<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}
