{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Docker® & Container", "Fortgeschrittene Netzwerke", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/><br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
die unterschiedlichen Netzwerkarten und ihre Einsatzgebiete beschreiben<br/>
Best practices für User-defined Netzwerke beschreiben<br/>
den Aufbau von IPv6-Adressen erklären (Exkurs)<br/>
</div>

</div>

---

### Netzwerk Arten

* Host
* Bridge
* ~Overlay~
* Macvlan
* IPvlan
* None

---

### Wiederholung: Host Netzwerke

```shell
$ docker run --network host --name Frontend frontend
```

![](./tikz/host_network_2.svg) <!-- .element width="55%" -->

---

### Wiederholung: Default Bridge Netzwerke

```shell
$ docker run -p 8000:80 --name Frontend frontend
```

![](./tikz/bridge_networking_12.svg) <!-- .element width="55%" -->

---

### Wiederholung: User-defined Netzwerke

```shell
$ docker network create --subnet 172.18.0.0/16 netzwerk
```

![](./tikz/bridge_networking_26.svg) <!-- .element width="55%" -->

--

### Wiederholung: User-defined  Netzwerke

```shell
$ docker network create --ipv6 --subnet 2001:db8:0:1::/64 netzwerk
```

![](./tikz/bridge_networking_28.svg) <!-- .element width="55%" -->

---

### Exkurs: IPv6

---

### Exkurs: IPv6 - Adressen

* IPv4-Adresse: 123.234.10.2
* IPv6-Adresse: 2001:db8::34a:fd
<!-- .element: class="fragment" data-fragment-index="1"-->

Note:
Diese IPv6-Adresse wird ausschließlich zu Dokumentationszwecken verwendet, erkennbar an 2001:db8: im Präfix.

--

### Exkurs: IPv6 - Adressen

* IPv4-Adresse: 123.234.10.0/24
* IPv6-Adresse: 2001:db8::/64

Note:
Wie bei IPv4 gibt es bei IPv6 Adressbereiche (nur, dass sie größer sind und immer 64 Bit für Host-Adressen verfügbar sind).

--

### Exkurs: IPv6 - Adressen

* IPv4-Adresse: 127.0.0.1:80
* IPv6-Adresse: \[::1\]:80

Note:
Beim Aufruf von IPv6-Adressen mit Ports wird die Adresse in eckige Klammern gesetzt, um sie vom Doppelpunkt beim Port unterscheiden zu können.

---

### Exkurs: IPv6 - Adressen

Besteht aus 128 Bit

![](./tikz/ipv6_address_1.svg) <!-- .element width="150%" -->

--

### Exkurs: IPv6 - Adressen

Netzwerkpräfix (vordere 32-64 Bit)

![](./tikz/ipv6_address_2.svg) <!-- .element width="150%" -->

Note:
Die Internet Registries vergeben üblicherweise /32-Adressen, die dann /48- oder /56-Adressen an Business- bzw. Endkunden vergeben.

--

### Exkurs: IPv6 - Adressen

Subnetz ID (0-32 Bit im Netzwerkpräfix)

![](./tikz/ipv6_address_3.svg) <!-- .element width="150%" -->

Note:
Die übrigen Bits bis 64 Bit vom Netzwerkpräfix voll sind, sind zum Subnetting da.

--

### Exkurs: IPv6 - Adressen

Interface ID (hintere 64 Bit)

![](./tikz/ipv6_address_4.svg) <!-- .element width="150%" -->

Note:
Kann per DHCP vergeben werden, kann aber auch von jedem Host selbst anhand der MAC-Adresse (Standard EUI-64) gegeben werden oder eine temporäre ID sein (-> Datenschutz!).

---

### Exkurs: IPv6 - Adressbereiche

Adressbereiche abhängig vom Präfix

![](./tikz/ipv6_address_scope_1.svg) <!-- .element width="50%" -->

Note:
Wie bei IPv4 auch gibt es bei IPv6 Localhost, private und öffentliche IP-Adressbereiche.

--

### Exkurs: IPv6 - Adressbereiche

Host Scope entspricht 127.0.0.1

![](./tikz/ipv6_address_scope_2.svg) <!-- .element width="50%" -->

Note:
Localhost ist ::1, tatsächlich nur diese eine Localhost-Adresse.

--

### Exkurs: IPv6 - Adressbereiche

Link-Local Scope entspricht APIPA (169.254.1.0/16)

![](./tikz/ipv6_address_scope_3.svg) <!-- .element width="50%" -->

Note:
APIPA-Adressen können sich Hosts selbst vergeben, wenn sie keinen Zugriff zu einem DHCP haben. Bei IPv6 sind Link-lokale Adressen sehr verbreitet. Jedes IPv6-fähige Gerät hat üblicherweise eine selbst generierte IPv6-Adresse. Die Adresse ist nur bis zum Router gültig und wird nicht darüber hinaus geroutet. Auch Multicast-Adressen sind nur in diesem Bereich gültig. Z.B. sind mit ff02::2 alle Router im lokalen Netz erreichbar.

--

### Exkurs: IPv6 - Adressbereiche

Unique-Local Scope entspricht privatem IPv4-Adressbereich

![](./tikz/ipv6_address_scope_4.svg) <!-- .element width="50%" -->

Note:
fc als Präfix wird laut RFC nur von Providern verwendet und fd wird von Business- und Endkunden verwendet. Nach fd werden 40 Bit für die sogenannte Site-ID verwendet, die global möglichst wahrscheinlich eindeutig sein sollte und algorithmisch generiert wird. 16 Bit sind für das reine Subnetting verfügbar.

--

### Exkurs: IPv6 - Adressbereiche

Global Scope entspricht global routbaren IPv4-Adressen

![](./tikz/ipv6_address_scope_5.svg) <!-- .element width="50%" -->

Note:
Bis auf wenige Ausnahmen wie zum Beispiel das Dokumentationsnetz 2001:db8:: sind alle Adressen im Bereich 2000:: bis 3fff:: global routbar. Es bleiben noch sehr viele Präfixe übrig...

---

### Exkurs: IPv6 - Subnetting

Subnetting durch Hochzählen der Subnetz-ID

![](./tikz/ipv6_address_3.svg) <!-- .element width="150%" -->

Note:
Subnetting in IPv6 ist sehr dankbar, da nichts mehr berechnet werden muss, insbesondere wenn Subnetze über Oktettgrenzen hinaus gehen. Man kann einfach die Zahle hochzählen. Im Beispiel 00, 01, ..., 0f, 10, 11, ... ff ergibt 256 Subnetze.

---

### IPv6 in Docker

Subnetze in Unique-Local Scope

![](./tikz/ipv6_address_scope_4.svg) <!-- .element width="50%" -->

---

### IPv6 in Docker

![](./tikz/bridge_networking_29.svg) <!-- .element width="55%" -->

---

### User-defined Bridge Netzwerke

Best practice:
* Nutzen von privaten Adressbereichen
* Subnetze werden bei IPv4 automatisch festgelegt
* Gateway ist automatisch die erste Adresse

---

### Macvlan Netzwerke

![](./tikz/macvlan_network_1.svg) <!-- .element width="60%" -->

--

### Macvlan Netzwerke

![](./tikz/macvlan_network_2.svg) <!-- .element width="60%" -->

--

### Macvlan Netzwerke

![](./tikz/macvlan_network_3.svg) <!-- .element width="60%" -->

--

### Macvlan Netzwerke

![](./tikz/macvlan_network_4.svg) <!-- .element width="60%" -->

--

### Macvlan Netzwerke

![](./tikz/macvlan_network_5.svg) <!-- .element width="60%" -->

--

### Macvlan Netzwerke

![](./tikz/macvlan_network_6.svg) <!-- .element width="60%" -->

--

### Macvlan Netzwerke

![](./tikz/macvlan_network_7.svg) <!-- .element width="60%" -->

--

### Macvlan Netzwerke

![](./tikz/macvlan_network_8.svg) <!-- .element width="60%" -->

---

### Macvlan Netzwerke

* Eigene IP-Adresse aus dem Hostsubnetz und eigene MAC-Adresse pro Container
* Isolation unterschiedlicher Netzwerke auf Schicht 2 und 3
* VLAN Tag management

---

### IPvlan Netzwerke

* Eigene IP-Adresse aus einem beliebigen Subnetz möglich (L3 Mode) und nur Host-MAC-Adresse für alle Container
* Isolation unterschiedlicher Netzwerke auf Schicht 3
* VLAN Tag management

---

### Knowledge Check

<iframe src="knowledge-checks/90-advanced-networking.html" width="800" height="500"></iframe>

---

{% for i in range(4) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/><br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
die unterschiedlichen Netzwerkarten und ihre Einsatzgebiete beschreiben<br/>
Best practices für User-defined Netzwerke beschreiben<br/>
den Aufbau von IPv6-Adressen erklären (Exkurs)<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}
