{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Kubernetes", "Advanced", imported_macros.theme()) }}

---

## Single Node Cluster

---

### Lokale Entwicklungs Cluster

- Minikube
- KIND
- Docker Desktop
- MicroK8s

---

### Was ist KIND?

- **KIND** steht für **Kubernetes IN Docker**
- Werkzeug, um lokale Kubernetes-Cluster in Docker-Containern zu erstellen
- Ideal für:
  - Lokale Entwicklung
  - Testen von Kubernetes-Konfigurationen
  - Continuous Integration (CI)

---

### KIND - Vorteile

- Schnell und leichtgewichtig
- Benötigt nur Docker, keine zusätzliche Virtualisierungssoftware
- Unterstützt mehrere Kubernetes-Versionen
- Einfach in CI/CD-Pipelines integrierbar

---

### KIND - Einschränkungen
- Nicht für produktive Workloads geeignet
- Performance kann bei großen Workloads eingeschränkt sein

---

## Demo

---

## Helm

---

### Was ist Helm?

- **Helm** ist der Paketmanager für Kubernetes
- Vereinfacht:
  - Installation
  - Verwaltung
  - Aktualisierung von Kubernetes-Anwendungen
- Verwendet **Charts**, um Anwendungen zu definieren und zu deployen

---

### Helm - Einsatzgebiete

- Deployment komplexer Anwendungen (z. B. Prometheus, NGINX, etc.)
- Automatisierung in CI/CD-Pipelines
- Management von Umgebungsvariablen und Secrets

---

### Helm - Komponenten

- **Helm CLI**: CLI für Benutzer
- **Charts**: Pakete, die Kubernetes-Manifeste und Werte enthalten
- **Release**: Eine Instanz eines Charts, die in einem Kubernetes-Cluster läuft
- **Repositories**: Speicherorte für Helm-Charts (z. B. Artifact Hub)

---

### Helmcharts - Struktur

```plaintext
my-chart/
├── Chart.yaml          # Metadaten des Charts
├── values.yaml         # Standardwerte
├── templates/          # Kubernetes-Manifeste
│   ├── deployment.yaml
│   ├── service.yaml
│   └── ingress.yaml
```

---

### Helmcharts - `Chart.yaml`

- Enthält Metadaten des Charts

```yaml
apiVersion: v2
name: my-chart
version: 1.0.0
description: Ein Beispiel-Helm-Chart
```

---

### Helmcharts - `values.yaml`

- Definiert Standardwerte für einen Chart

```yaml
replicaCount: 2
image:
  repository: nginx
  tag: "1.23.1"
service:
  type: ClusterIP
  port: 80
```

---

### Helm - `deployment.yaml`

{% raw %}
```yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
    (...)
```
{% endraw %}

---

## Demo

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/kubernetes/aufgaben/12-helm/)

Navigieren Sie nach: Kubernetes ⇨ Aufgaben ⇨ Advanced
