{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Docker® & Container", "Entwickeln mit Docker", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/><br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
den Vorteil von Containerisierung von Entwicklungsumgebungen beschreiben<br/>
Skripte zum Aufsetzen von Entwicklungsumgebungen nutzen<br/>
</div>

</div>

---

## Wiederholung

---

{% for i in range(1,6) %}
### Was ist ein Service?

![](../../common/tikz/container-intro_{{i}}.svg) <!-- .element width="45%" -->

--
{% endfor %}

{% for i in range(5,7) %}
### Was ist ein Container?

![](../../common/tikz/container-intro_{{i}}.svg) <!-- .element width="45%" -->

{% if i == 5 %}
--
{% endif %}
{% endfor %}

---

{% for i in range(1,6) %}
### Entwicklung ohne Container

Lokale Applikation

![](../../common/tikz/dev_without_container_{{i}}.svg) <!-- .element width="40%" -->

--
{% endfor%}

{% for i in range(6,11) %}
### Entwicklung ohne Container

On-boarding neuer MA

![](../../common/tikz/dev_without_container_{{i}}.svg) <!-- .element width="40%" -->

--
{% endfor%}

### Entwicklung ohne Container

On-boarding neuer MA

![](../../common/tikz/dev_without_container_different_os.svg) <!-- .element width="40%" -->

--

{% for i in range(1,6) %}
### Entwicklung ohne Container

Zusammenarbeit im Team

![](../../common/tikz/dev_without_container_version_update_{{i}}.svg) <!-- .element width="40%" -->

--
{% endfor%}

{% for i in range(1,4) %}
### Entwicklung ohne Container

Lokale Side-by-side Installation

![](../../common/tikz/dev_without_container_side_by_side_{{i}}.svg) <!-- .element width="40%" -->

{% if i != 3 %}
--
{% endif %}
{% endfor %}
---

### Entwicklung mit Container

Lokale Side-by-side Installation

![](../../common/tikz/dev_without_container_side_by_side_2.svg) <!-- .element width="40%" -->

--

{% for i in range(1,3) %}
### Entwicklung mit Container

Lokale Side-by-side Installation

![](../../common/tikz/dev_with_container_side_by_side_{{i}}.svg) <!-- .element width="40%" -->

--
{% endfor %}

{% for i in range(1,5) %}
### Entwicklung mit Container

Zusammenarbeit im Team

![](../../common/tikz/dev_with_container_version_update_{{i}}.svg) <!-- .element width="40%" -->

{% if i != 4 %}
--
{% endif %}
{% endfor %}

---

### Demo

---

### DevContainer

- IDE-Integration mit einem Container
- Container enthält Runtime, Tools, Abhängigkeiten
- `.devcontainer/devcontainer.json`

[Dokumentation](https://code.visualstudio.com/docs/devcontainers/containers)
<!-- .element class="acknowledgment" -->

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/docker/aufgaben/09-entwickeln-mit-docker/)

Navigieren Sie nach: Docker ⇨ Aufgaben ⇨ Entwicklungsumgebung

---

{% for i in range(3) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/><br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
den Vorteil von Containerisierung von Entwicklungsumgebungen beschreiben<br/>
Skripte zum Aufsetzen von Entwicklungsumgebungen nutzen<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}
