{% import 'templates/jinja_macros.jinja' as imported_macros %}
<style>
.highlight{
    color: #f9b233;
}
</style>

{{ imported_macros.first_page("Docker® & Container", "Caching und Multistage", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
Caching im Dockerfile ausnutzen<br/>
passende Base-Images auswählen<br/>
einen Multistagebuild erstellen und ausführen<br/>
die Vorteile von Multistage- gegenüber Singlestage-Build erklären<br/>
</div>

</div>

---

### Caching beim Pull

Initialer Pull

```shell
$ docker pull postgres:12

















```

--

### Caching beim Pull

Initialer Pull

```shell
$ docker pull postgres:12
12: Pulling from library/postgres
1fe172e4850f: Downloading [=========>       ] 1.416MB/4.415MB
c2bb685f623f: Download completed
3027ff705410: Download completed
062371e3461d: Waiting
39d54e944de7: Waiting
6530357dda9a: Waiting
f6d91cb1d3c1: Waiting
85c75cecd287: Waiting
ce327230a313: Waiting
55277580dd99: Waiting
2f48dddf94f1: Waiting
1f949a245982: Waiting




```

--

### Caching beim Pull

Initialer Pull

```shell
$ docker pull postgres:12
12: Pulling from library/postgres
1fe172e4850f: Pull complete
c2bb685f623f: Pull complete
3027ff705410: Pull complete
062371e3461d: Pull complete
39d54e944de7: Pull complete
6530357dda9a: Pull complete
f6d91cb1d3c1: Pull complete
85c75cecd287: Extracting [====>           ] 18.94MB/89.55MB
ce327230a313: Download complete
55277580dd99: Download complete
2f48dddf94f1: Download complete
1f949a245982: Download complete




```

--

### Caching beim Pull

Initialer Pull

```shell
$ docker pull postgres:12
12: Pulling from library/postgres
1fe172e4850f: Pull complete
c2bb685f623f: Pull complete
3027ff705410: Pull complete
062371e3461d: Pull complete
39d54e944de7: Pull complete
6530357dda9a: Pull complete
f6d91cb1d3c1: Pull complete
85c75cecd287: Pull complete
ce327230a313: Pull complete
55277580dd99: Pull complete
2f48dddf94f1: Pull complete
1f949a245982: Pull complete
Digest: sha256:f2765d6a2a6459578274645b4d801345060322da2ba855af3d84878be28fe923
Status: Downloaded newer image for postgres:12
docker.io/library/postgres:12
```

--

### Caching beim Pull

Erneuter Pull

```shell
$ docker pull postgres:12

















```
--

### Caching beim Pull

Erneuter Pull

```shell
$ docker pull postgres:12
12: Pulling from library/postgres
Digest: sha256:f2765d6a2a6459578274645b4d801345060322da2ba855af3d84878be28fe923
Status: Image is up to date for postgres:12
docker.io/library/postgres:12













```

--

### Caching beim Pull

Pull einer neuen Version

```shell
$ docker pull postgres:13
13: Pulling from library/postgres
1fe172e4850f: Already exists
c2bb685f623f: Already exists
3027ff705410: Already exists
062371e3461d: Already exists
39d54e944de7: Already exists
6530357dda9a: Already exists
f6d91cb1d3c1: Already exists
bcd78392e442: Pull complete
b7c13b822f2f: Pull complete
cbfdc43554f7: Pull complete
a50aeefe3b1a: Pull complete
f619bd3209d6: Pull complete
Digest: sha256:a4c555b2f369cb7f34a7d8856bb64b0374e5a068457f03fdc016357daa189c69
Status: Downloaded newer image for postgres:13
docker.io/library/postgres:13
```

---

### Caching beim Build

Initialer Build

```dockerfile
FROM ubuntu:20.04

RUN apt-get update
RUN apt-get install -y git python3
```

```shell













```

--

### Caching beim Build

Initialer Build

```dockerfile
FROM ubuntu:20.04

RUN apt-get update
RUN apt-get install -y git python3
```

```shell
$ docker build .
Step 1/3 : FROM ubuntu:20.04
 ---> 7e0aa2d69a15
Step 2/3 : RUN apt-get update
 ---> Running in 6530357dda9a
Removing intermediate container 6530357dda9a
 ---> fa93b8cb0cab
Step 3/3 : RUN apt-get install -y git python3
 ---> Running in ed0c01fa6d37
Removing intermediate container ed0c01fa6d37
 ---> 1dde0616c6aa
Successfully built 1dde0616c6aa
```

--

### Caching beim Build

Erneuter Build

```dockerfile
FROM ubuntu:20.04

RUN apt-get update
RUN apt-get install -y git python3
```

```shell













```

--

### Caching beim Build

Erneuter Build

```dockerfile
FROM ubuntu:20.04

RUN apt-get update
RUN apt-get install -y git python3
```

```shell
$ docker build .
Step 1/3 : FROM ubuntu:20.04
 ---> 7e0aa2d69a15
Step 2/3 : RUN apt-get update
 ---> Using cache
 ---> fa93b8cb0cab

Step 3/3 : RUN apt-get install -y git python3
 ---> Using cache
 ---> 1dde0616c6aa

Successfully built 1dde0616c6aa
```

---

### Layer und Caching

- Lokaler Cache für Layer
- Cache Invalidierung
  - Nachfolgende Befehle müssen erneut ausgeführt werden

---

### Cache Invalidierung - RUN

Initialer Build

```dockerfile
FROM ubuntu:20.04

RUN apt-get update
RUN apt-get install -y git python3
```

```shell













```

--

### Cache Invalidierung - RUN

Initialer Build

```dockerfile
FROM ubuntu:20.04

RUN apt-get update
RUN apt-get install -y git python3
```

```shell
$ docker build .
Step 1/3 : FROM ubuntu:20.04
 ---> 7e0aa2d69a15
Step 2/3 : RUN apt-get update
 ---> Running in 6530357dda9a
Removing intermediate container 6530357dda9a
 ---> fa93b8cb0cab
Step 3/3 : RUN apt-get install -y git python3
 ---> Running in ed0c01fa6d37
Removing intermediate container ed0c01fa6d37
 ---> 1dde0616c6aa
Successfully built 1dde0616c6aa
```

--

### Cache Invalidierung - RUN

Erneuter Build

```dockerfile
FROM ubuntu:20.04

RUN apt-get update
RUN apt-get install -y git python3
```

```shell













```

--

### Cache Invalidierung - RUN

Erneuter Build

```dockerfile
FROM ubuntu:20.04

RUN apt-get update
RUN apt-get install -y git python3
```

```shell
$ docker build .
Step 1/3 : FROM ubuntu:20.04
 ---> 7e0aa2d69a15
Step 2/3 : RUN apt-get update
 ---> Using cache
 ---> fa93b8cb0cab

Step 3/3 : RUN apt-get install -y git python3
 ---> Using cache
 ---> 1dde0616c6aa

Successfully built 1dde0616c6aa
```

--

### Cache Invalidierung - RUN

Änderungen am Dockerfile

<pre><code class="hljs Dockerfile" data-trim data-noescape>
FROM ubuntu:20.04

RUN apt-get update
RUN apt-get install -y <span class="highlight">python3 git</span>
</code></pre>

```shell













```

--

### Cache Invalidierung - RUN

Änderungen am Dockerfile

<pre><code class="hljs Dockerfile" data-trim data-noescape>
FROM ubuntu:20.04

RUN apt-get update
RUN apt-get install -y <span class="highlight">python3 git</span>
</code></pre>

```shell
$ docker build .
Step 1/3 : FROM ubuntu:20.04
 ---> 7e0aa2d69a15
Step 2/3 : RUN apt-get update
 ---> Using cache
 ---> fa93b8cb0cab

Step 3/3 : RUN apt-get install -y python3 git
 ---> Running in ef7ed5a2e033
Removing intermediate container ef7ed5a2e033
 ---> eadcb38b3412
Successfully built eadcb38b3412
```

---

### Cache Invalidierung

- RUN: Text des Commands ist entscheidend
- COPY, ADD: Inhalt wird per Checksum verglichen

---

### Layer und Caching - Dateien löschen

```dockerfile
FROM ubuntu:20.04

RUN apt-get update
RUN apt-get install -y git


```

```shell
$ docker build -t demo .
$ docker image ls demo
REPOSITORY   TAG       IMAGE ID       CREATED         SIZE
demo         latest    468db9550ac1   2 seconds ago   210MB
```
<!-- .element: class="fragment" data-fragment-index="1"-->

<span>&nbsp;</span>

--

### Layer und Caching - Dateien löschen

```dockerfile
FROM ubuntu:20.04

RUN apt-get update
RUN apt-get install -y git
RUN rm -rf /var/lib/apt/lists/*
```

```shell





```

<span>&nbsp;</span>

--

### Layer und Caching - Dateien löschen

```dockerfile
FROM ubuntu:20.04

RUN apt-get update
RUN apt-get install -y git
RUN rm -rf /var/lib/apt/lists/*
```

```shell
$ docker build -t demo .
$ docker image ls demo
REPOSITORY   TAG       IMAGE ID       CREATED         SIZE
demo         latest    f0d4676cc74f   2 seconds ago   210MB
```

⇨ Immer noch 210MB

--

### Layer und Caching - Dateien löschen

```dockerfile
FROM ubuntu:20.04

RUN apt-get update \
  && apt-get install -y git \
  && rm -rf /var/lib/apt/lists/*
```

```shell





```

<span>&nbsp;</span>

--

### Layer und Caching - Dateien löschen

```dockerfile
FROM ubuntu:20.04

RUN apt-get update \
  && apt-get install -y git \
  && rm -rf /var/lib/apt/lists/*
```

```shell
$ docker build -t demo .
$ docker image ls demo
REPOSITORY   TAG       IMAGE ID       CREATED         SIZE
demo         latest    95d004f91dc8   2 seconds ago   174MB
```

⇨ 36MB weniger als vorher

---

### Layer und Caching - Dateien löschen

- Vorherige Layer sind nur Read-only
- Gelöschte Dateien weiterhin vorhanden
- Gilt auch für:
  - Passwörter
  - Secrets


---

### Layer und Caching - Beispiel

```dockerfile
FROM python:3.10-slim
WORKDIR /app

# System dependencies
RUN apt-get update \
  && apt-get install -y \
    <system packages> \
  && rm -rf /var/lib/apt/lists/*

# Code dependencies
COPY requirements.txt /app/
RUN pip install -r requirements.txt

# Source code
COPY ./src /app
CMD [ "python", "main.py" ]
```

---

### Layer und Caching - Beispiel 2

Inhalt per URL einbinden:

```dockerfile
ADD https://www.example.com/some-file some-file



```

```dockerfile
RUN wget https://www.example.com/some-file



```

<span>&nbsp;</span><br/>
<span>&nbsp;</span>

---

### Layer und Caching - Beispiel 2

Inhalt = großes TAR-Archiv

```dockerfile
ADD https://www.example.com/big.tar.gz big.tar.gz
RUN tar -xzf big.tar.gz -C /usr/src/things \
  && rm big.tar.gz
```

```dockerfile
RUN wget https://www.example.com/big.tar.gz \
  && tar -xzf big.tar.gz -C /usr/src/things \
  && rm big.tar.gz
```

Bessere Lösung: `RUN wget`,<br/>weil TAR-Archiv kann gelöscht werden
<!-- .element: class="fragment" data-fragment-index="1"-->

---

### Layer und Caching - Beispiel 2

Inhalt = kleines Skript ohne Versionsnummer

```dockerfile
ADD https://www.example.com/install.sh install.sh
RUN ./install.sh


```

```dockerfile
RUN wget https://www.example.com/install.sh
  && ./install.sh


```

Bessere Lösung: `ADD`,<br/>weil Cache-Invalidierung erfolgt per Checksum
<!-- .element: class="fragment" data-fragment-index="1"-->

---

### Layer und Caching - Beispiel 2

Inhalt = kleines Skript ohne Versionsnummer

```dockerfile
ADD https://www.example.com/install.sh install.sh
RUN ./install.sh


```

```dockerfile
RUN wget https://www.example.com/install.sh
  && ./install.sh


```

<span class="mark-bad">Vorsicht</span> beim Einbinden<br/>
und Ausführen von Remote-Code

---

### Layer und Caching - Invalidierung

Container bauen ohne Cache

```shell
docker build --no-cache .
```

---

### Layer und Caching - Cleanup

Ungenutzte Images löschen:
```shell
docker image prune -a --filter "until=24h"
```
Alle Docker Objekte aufräumen:
<!-- .element: class="fragment" data-fragment-index="2"-->
```shell
docker system prune
```
<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Demo: Dive

[Github: wagoodman/dive](https://github.com/wagoodman/dive)


Note:
- Github page anzeigen,
- dive nginx:latest
- dive demoapp

---

### Base Images

---

### Base Images
![](tikz/baseimage_1.svg) <!-- .element width="50%" -->

[Offizielles Python Image](https://github.com/docker-library/python)

--

### Base Images
![](tikz/baseimage_2.svg) <!-- .element width="50%" -->

<span>&nbsp;</span>

---

### Base Images

Parent Image:
```dockerfile
FROM <image-name>:<image-tag>
```

- Ausgangsbasis
- mit entsprechender Funktionalität
- wird vom Dockerfile modifiziert

---

### Base Images

Base Image:
```dockerfile
FROM scratch
```

- Reservierter Begriff
- Kein Parent Image

---


### Base Images

```dockerfile
FROM scratch

# Copy our static executable.
COPY /go/bin/hello /hello

# Run the hello binary.
ENTRYPOINT ["/hello"]
```

- Für statisch gelinkte Programme
- Beispiel: Go
- Minimale Angriffsfläche

---

### Base Images

```shell
$ debootstrap stable /my-baseimage
$ tar -cvf debian-base.tar /my-baseimage
$ cat debian-base.tar | docker import - debian-base
$ docker run -it debian-base bash
```

`debootstrap` erstellt ein Linux-System im angegebenen Pfad

---

### docker commit

Image von laufendem Container erstellen

```bash
$ docker run --name golden_image nginx:alpine
# Modify running container
$ docker cp index.html golden_image:/usr/share/nginx/html/index.html
# Save snapshot of running container
$ docker commit golden_image
```


---

### Demo: Multistage Build

---

### Multistage Build

```shell
$ docker image ls multistagedemo
REPOSITORY       TAG          IMAGE ID       CREATED          SIZE
```
Single stage
<!-- .element: class="fragment" data-fragment-index="1"-->
<pre><code class="hljs bash" data-trim data-noescape>
multistagedemo   single       4924d846c259   19 minutes ago   <span class="highlight">886MB</span>
</code></pre>
<!-- .element: class="fragment" data-fragment-index="1"-->

Separates Dockerfiles
<!-- .element: class="fragment" data-fragment-index="2"-->
<pre><code class="hljs bash" data-trim data-noescape>
multistagedemo   build        206f30f54159   15 minutes ago   <span class="highlight">869MB</span>
multistagedemo   run          0bb2bde8067a   6 minutes ago    <span class="highlight">428MB</span>
</code></pre>
<!-- .element: class="fragment" data-fragment-index="2"-->

Multi stage
<!-- .element: class="fragment" data-fragment-index="3"-->
<pre><code class="hljs bash" data-trim data-noescape>
multistagedemo   multistage   4e79bbe06106   31 seconds ago   <span class="highlight">428MB</span>
</code></pre>
<!-- .element: class="fragment" data-fragment-index="3"-->

---

### Multistage Build: Erstellen

- Mehrere `FROM` Statements in einem Dockerfile
- Können benannt werden
```dockerfile
FROM <IMAGE>:<TAG> as <stage-name>
```

---

### Multistage Build: Verwenden

Können sich referenzieren

```dockerfile
COPY --from=<stage-name> <source-dir> <target-dir>
```

Können separat gebaut werden

```shell
$ docker build --target <stage-name> .
```

---

### Multistage Build

![](tikz/multistage_example_1_1.svg) <!-- .element width="50%" -->

--

### Multistage Build

![](tikz/multistage_example_1_2.svg) <!-- .element width="50%" -->

--

### Multistage Build

![](tikz/multistage_example_1_3.svg) <!-- .element width="50%" -->

--

### Multistage Build

![](tikz/multistage_example_1_4.svg) <!-- .element width="50%" -->

---

### Multistage Build

```Dockerfile
FROM baseimage as stage1

[...]

FROM baseimage

COPY --from stage1 [...]



```

--

### Multistage Build

```Dockerfile
FROM baseimage as stage1

[...]

FROM stage1

[...]



```

--

### Multistage Build

```Dockerfile
FROM baseimage as stage1

[...]

FROM stage1 as stage2

[...]



```

--

### Multistage Build

```Dockerfile
FROM baseimage as stage1

[...]

FROM stage1 as stage2

[...]

FROM stage1 as stage3
```

---

### Multistage Build

![](tikz/multistage_example_2_1.svg) <!-- .element width="80%" -->

--

### Multistage Build

![](tikz/multistage_example_2_2.svg) <!-- .element width="80%" -->

--

### Multistage Build

![](tikz/multistage_example_2_3.svg) <!-- .element width="80%" -->

--

### Multistage Build

![](tikz/multistage_example_2_4.svg) <!-- .element width="80%" -->

---

### Multiplattform Build

Installation:
```shell
docker run --privileged --rm tonistiigi/binfmt --install all
```

Image bauen:
```shell
docker build --platform linux/arm64 .
```

---

### Dockerfile - Best Practices

- Image-Größe minimieren
  - Keine unnötigen Abhängigkeiten
  - Alpine oder *-slim als Parentimage
- Anzahl der Layer minimieren
- Cache optimal nutzen

---

### Dockerfile - Best Practices

- Schlanke Container
  - Nur ein Service/Process pro Container
- Reproduzierbare Builds
  - Versionspinning: Container, Abhängigkeiten, ...
  - Image pull nur von einer privaten Registry
- Dockerfile-linter: Hadolint

---

### Best Practices: Cache

<span class="mark-bad">Antipattern</span>

```dockerfile
FROM python:3.10-slim

WORKDIR /app
COPY . /app
RUN pip install -r requirements.txt



ENTRYPOINT ["python"]
CMD ["app.py"]
```

⇨ Jede Änderung erfordert erneute<br/>Installation der Abhängigkeiten
<!-- .element: class="fragment" data-fragment-index="1"-->

--

### Best Practices: Cache

<span class="mark-good">Richtige Lösung</span>

```dockerfile
FROM python:3.10-slim

WORKDIR /app
COPY requirements.txt /app/requirements.txt
RUN pip install -r requirements.txt

COPY ./app /app

ENTRYPOINT ["python"]
CMD ["app.py"]
```

⇨ Nur Änderungen an `requirements.txt` erfordern<br/>eine Neuinstallation der Abhängigkeiten
<!-- .element: class="fragment" data-fragment-index="1"-->

---

### Best Practices: Abhängigkeiten

Debian, Ubuntu:

```dockerfile
RUN apt-get update && apt-get install -y \
        package-foo \
        package-bar \
    && apt-get clean
```

Alpine:

```dockerfile
RUN apk --update --no-cache add \
    package-foo \
    package-bar
```

Centos:

```dockerfile
RUN yum -y install \
        package-foo \
        package-bar \
    && yum -y clean all && rm -rf /var/cache
```

---

### Best practices: Python

- Alpine vermeiden
    - Erhöhte Build-Zeit und Image-Größe
    - Keine Standard PyPI wheels

[Weitere Informationen](https://pythonspeed.com/articles/alpine-docker-python/)

---

### Best practices: Go

- `FROM scratch` einfach umzusetzen

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/docker/aufgaben/07-caching-und-multistage/)

Navigieren Sie nach: Docker ⇨ Aufgaben ⇨ Caching und Multistage

---
{% for i in range(5) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<4 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
Caching im Dockerfile ausnutzen<br/>
passende Base-Images auswählen<br/>
einen Multistagebuild erstellen und ausführen<br/>
die Vorteile von Multistage- gegenüber Singlestage-Build erklären<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}
