{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Kubernetes Architecture", "Ausblick", imported_macros.theme()) }}

---

{{ imported_macros.image_series("GitOps", "../../common/tikz/devops/gitops", 1, 4, "60%")}}

---

### GitOps

- Git-Repository als Single Source of Truth
- Reconcilation-Loop (= kontinuierlicher Abgleich)
- Tools:<!-- .element: class="fragment" data-fragment-index="2"-->
    - ArgoCD<!-- .element: class="fragment" data-fragment-index="2"-->
    - Flux<!-- .element: class="fragment" data-fragment-index="2"-->
    - (Crossplane)<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Demo: GitOps

---

{{ imported_macros.image_series("Demo: Kubernetes-Angebote der Hyperscaler", "tikz/hyperscaler", 1, 4, "90%")}}

---

{{ imported_macros.outro(imported_macros.theme()) }}
