{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Docker® & Container", "Images", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
Images von Containern unterscheiden<br/>
mit Tags verschiedene Versionen eines Images pullen<br/>
die Vorteile von privaten gegenüber öffentlichen Registries beschreiben<br/>
</div>

</div>

---

## Was ist ein Docker Image?

---

### Docker Übersicht

![](../../common/tikz/docker-intro-1_1.svg) <!-- .element width="100%" -->

--

### Docker Übersicht

![](../../common/tikz/docker-intro-1_2.svg) <!-- .element width="100%" -->

--

### Docker Übersicht

![](../../common/tikz/docker-intro-1_3.svg) <!-- .element width="100%" -->

--

### Docker Übersicht

![](../../common/tikz/docker-intro-1_4.svg) <!-- .element width="100%" -->

--

### Docker Übersicht

![](../../common/tikz/docker-intro-1_5.svg) <!-- .element width="100%" -->

--

### Docker Übersicht

![](../../common/tikz/docker-intro-1_6.svg) <!-- .element width="100%" -->

--

### Docker Übersicht

![](../../common/tikz/docker-intro-1_7.svg) <!-- .element width="100%" -->

---

### Deployment mit Container

![](../../common/tikz/ops_without_container_8.svg)<!-- .element width="80%" -->

--

### Deployment mit Container

![](../../common/tikz/ops_without_container_10.svg)<!-- .element width="80%" -->

--

### Deployment mit Container

![](../../common/tikz/ops_without_container_11.svg)<!-- .element width="80%" -->

---

### Container Image

![](../../common/tikz/container-image-content_1.svg) <!-- .element width="40%" -->

--

### Container Image

![](../../common/tikz/container-image-content_2.svg) <!-- .element width="40%" -->

---

### docker pull

```shell
$ docker pull debian

Using default tag: latest
latest: Pulling from library/debian
fdd5d7827f33: Pull complete
a3ed95caeb02: Pull complete
Digest: sha256:e7d38b3517548a1c71e41bffe9c8ae6d6d29546ce46bf62159837aad072c90aa
Status: Downloaded newer image for debian:latest
```

```shell
$ docker pull debian:jessie

jessie: Pulling from library/debian
fdd5d7827f33: Already exists
a3ed95caeb02: Already exists
Digest: sha256:a9c958be96d7d40df920e7041608f2f017af81800ca5ad23e327bc402626b58e
Status: Downloaded newer image for debian:jessie
```

--

### docker images

```shell
$ docker image ls

REPOSITORY   TAG      IMAGE ID        CREATED      SIZE
debian       jessie   f50f9524513f    5 days ago   125.1 MB
debian       latest   f50f9524513f    5 days ago   125.1 MB
```

---

## Image Tags

--

## Image Tags

![](tikz/tags_1.svg) <!-- .element width="100%" -->

--

## Image Tags

![](tikz/tags_2.svg) <!-- .element width="100%" -->

--

## Image Tags

![](tikz/tags_3.svg) <!-- .element width="100%" -->

--

## Image Tags

![](tikz/tags_4.svg) <!-- .element width="100%" -->

--

## Image Tags

![](tikz/tags_5.svg) <!-- .element width="100%" -->

--

## Image Tags

![](tikz/tags_6.svg) <!-- .element width="100%" -->

---

### Image Arten

- Base Images
- Images für Programmiersprachen
- Applikations Images

---

### Base Image Tags

- Enthalten Betriebssystemversion
- Oft keine weitere Versionsnummer
- Slim Varianten oft verfügbar
- Beispiel Debian:
  - bullseye, 11.3, 11, latest
  - buster, 10.12, 10
  - bullseye-slim, 11.3-slim, 11-slim
  - [Debian auf Dockerhub](https://hub.docker.com/_/debian)

--

### Images für Programmiersprachen

- Betriebssystem und Sprachversion zur Auswahl
- Beispiel Python:
  - 3.10.4, 3.10, 3, latest, 3.10.4-bullseye
  - 3.10.4-slim-bullseye
  - 3.9.13-alpine3.15
  - [Python auf Dockerhub](https://hub.docker.com/_/python)

--

### Applikations Images

- Betriebssystem und Softwareversion zur Auswahl
- Beispiel Postgres:
  - 14.3, 14, latest, 14.3-bullseye
  - 13.7-alpine, 13-alpine3.15
  - [Postgres auf Dockerhub](https://hub.docker.com/_/postgres)

---

### Official Images

- Erfüllen Dockerfile Best Practices
- Erhalten zeitnahe Security Updates
- Docker, Inc. sponsort ein Team zum Review

---

## Docker Registry

---

### Docker Registry

![](./tikz/registry_1.svg) <!-- .element width="100%" -->

---

### Docker Hub

- Öffentlich
- Gehostet von Docker Inc.

---

### Demo

---

### Öffentliche Registry

![](./tikz/registry_1.svg) <!-- .element width="100%" -->

--

### Öffentliche Registry

![](./tikz/registry_2.svg) <!-- .element width="100%" -->

--

### Öffentliche Registry

![](./tikz/registry_3.svg) <!-- .element width="100%" -->

---

### Private Registry

- Private Images
- Zugriffskontrolle
- Potentiell schneller und stabiler
<!-- .element: class="fragment" data-fragment-index="1"-->
    - Internes Netzwerk
<!-- .element: class="fragment" data-fragment-index="1"-->
    - Keine externe Abhängigkeit
<!-- .element: class="fragment" data-fragment-index="1"-->

---

### Self-hosted Registry

- Docker Registry Container
- GitLab Container Registry
- CNCF Harbor
- JFrog / Artifactory
- ...

---

### Registry as a Service

- Docker Hub
- GitLab Container Registry
- AWS ECR
- GCP Container Registry
- Red Hat Quay
- ...

---

### Private Registry

Authentifikation

```bash
$ docker login [--username USER] SERVER
```

Verwendung

```bash
$ docker pull reg.corewire.de:5000/myrepo/myapp:v1.0.0

# Addressable image format:
# [<registry>/][<project>/]<image>[:<tag>|@<digest>]
```

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/docker/aufgaben/02-images/)

Navigieren Sie nach: Docker ⇨ Aufgaben ⇨ Umgang mit Images

---
{% for i in range(4) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
Images von Containern unterscheiden<br/>
mit Tags verschiedene Versionen eines Images pullen<br/>
die Vorteile von privaten gegenüber öffentlichen Registries beschreiben<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}
