{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Kubernetes", "Access Control", imported_macros.theme()) }}

---

## Namespaces

---

### Was sind Namespaces?

- Virtuelle Aufteilung eines Clusters
- Ermöglicht:
  - Mehrere Umgebungen in einem Cluster:
    - z.B. dev, test, prod
  - Zugriffsbeschränkungen durch RBAC
- **keine** Netzwerkisolation

---

### Standard-Namespaces

- `default`: Standardnamespace für Ressourcen
- `kube-system`: Kubernetes-Systemprozesse
- `kube-public`: Öffentlich zugängliche Daten (meist ConfigMaps)
- `kube-node-lease`: Für Node Heartbeats

---

### Namespace

Namespace definieren

```yaml
apiVersion: v1
kind: Namespace
metadata:
  name: my-namespace
```

Namespace nutzen

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: my-pod
  namespace: my-namespace
```

---

### Namespace

Pods in einem Namespace anzeigen
```shell
kubectl get pods --namespace=my-namespace
```

---

### Namespace - Best Practices

- Trenne Ressourcen je nach Umgebung (z. B. dev/prod)
- Nutze aussagekräftige Namen
- Setze Limits und Quotas pro Namespace

---

## Kubeconfig

---

### Was ist die Kubeconfig?

- Konfigurationsdatei für den Cluster-Zugriff
- Standardpfad: `~/.kube/config`
- Enthält:
  - Clusterinformationen
  - Benutzerinformationen
  - Kontext (Verknüpfung von Cluster und Benutzer)

---

### Kubeconfig - Beispiel

```yaml
apiVersion: v1
clusters:
- name: my-cluster
  cluster:
    server: https://my-cluster.example.com
    certificate-authority-data: <base64-encoded-cert>
contexts:
- name: my-context
  context:
    cluster: my-cluster
    user: my-user
current-context: my-context
users:
- name: my-user
  user:
    token: <auth-token>
```

---

## RBAC

---

### Was ist RBAC?

- Steuerung, wer was im Cluster tun darf
- Ressourcen:
  - `Role` und `ClusterRole`: Berechtigungen definieren
  - `RoleBinding` und `ClusterRoleBinding`: Rollen an Benutzer oder Gruppen binden

---

{{ imported_macros.image_series("Architektur", "tikz/rbac_components", 1, 2, "90%")}}

---

### RBAC - Role Beispiel

```yaml
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: default
  name: pod-reader
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list", "watch"]
```

---

### RBAC - RoleBinding Beispiel

```yaml
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: read-pods-binding
  namespace: default
subjects:
- kind: User
  name: jane.doe
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: Role
  name: pod-reader
  apiGroup: rbac.authorization.k8s.io
```

---

### RBAC - Role `apiGroups` Beispiele

- `""`: Core-API-Gruppe (z. B. Pods, Services, ConfigMaps)
- `apps`: Apps-API-Gruppe (z. B. Deployments, StatefulSets)
- `batch`: Batch-API-Gruppe (z. B. Jobs, CronJobs)

---

### RBAC - Role `resources` Beispiele

- `pods`
- `services`
- `deployments`

---

### RBAC - Role `verbs`

- `get`: Lesen
- `list`: Auflisten
- `watch`: Überwachen
- `create`: Erstellen
- `update`: Aktualisieren
- `delete`: Löschen
- `*`: Alle

---

### RBAC - Best Practices

- Prinzip der minimalen Berechtigung (least privilege)
- Trennung von Rollen und Verantwortlichkeiten
- Auditiere Zugriffe regelmäßig

---

## Service Accounts

---

### Was sind Service Accounts?

- Spezielle Kubernetes-Konten für Pods
- Ermöglichen Pods, mit der Kubernetes-API oder anderen Diensten zu interagieren
- Jeder Pod nutzt automatisch einen Service Account, es sei denn, ein anderer wird spezifiziert
- Können auch für Benutzer verwendet werden
- Nutzen RBAC für Berechtigungen

---

### Warum Service Accounts?

- Authentifizierung von Pods bei der Kubernetes-API
- Zugriff auf Ressourcen oder APIs im Cluster
- Unterstützung bei der Umsetzung von Prinzipien wie „least privilege“

---

### Service Account erstellen

```yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: my-service-account
  namespace: default
```

---

### Service Account nutzen

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: my-pod
  namespace: default
spec:
  serviceAccountName: my-service-account
  containers:
  - name: my-container
    image: nginx
```

---

### Token und Zugriff

- Jeder Service Account erhält ein Token
- Automatisch in Pods unter /var/run/secrets/kubernetes.io/serviceaccount/token verfügbar
- Zugriff auf die Kubernetes-API mit dem Token
- JWTs (JSON Web Tokens)

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/kubernetes/aufgaben/11-access-control/)

Navigieren Sie nach: Kubernetes ⇨ Aufgaben ⇨ Access Control
