{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("DevOps Grundlagen", "Observability", imported_macros.theme()) }}

---

{{ imported_macros.image_series("Observability", "tikz/observability", 1, 5, "45%")}}

---

{{ imported_macros.image_series("Observability in DevOps", "tikz/single_server_monitoring", 1, 5, "45%")}}

---

{{ imported_macros.image_series("Observability in DevOps", "tikz/multi_server_monitoring", 1, 14, "100%")}}

---

{{ imported_macros.image_series("Metrics", "tikz/observability", 5, 6, "45%")}}

---

## Was sollen wir monitoren?

---

### Infrastruktur

- **Zweck:** Zustand und der Leistung der Infrastruktur, wie Server, Netzwerke und Speicher
- **Key Metriken:** CPU-Nutzung, Speichernutzung, Festplatten-E/A, Netzwerkverkehr und Uptime

---

### Logs

- **Zweck:** Logs aus Systemkomponenten überwachen, um Fehler, Sicherheitsprobleme und Muster zu erkennen
- **Key Metriken:** Protokolleinträge pro Sekunde, Fehleranzahl und spezifische Fehlermuster

---

### Application Performance Monitoring (APM)

- **Zweck:** Leistung und Verfügbarkeit von Anwendungen und deren Effizienz
- **Key Metriken:** Verfügbarkeit, Antwortzeiten, Fehlerraten

---

### Network

- **Zweck:** Leistung und Stabilität des Netzwerks und reibungsloser Datentransfer
- **Key Metriken:** Latenz, Paketverluste, Durchsatz

---

### Security

- **Zweck:** Sicherheit des Systems durch Überwachung potenzieller Sicherheitsbedrohungen, Schwachstellen und Verstöße.
- **Key Metriken:** Unbefugte Zugriffsversuche, Erkennung von Anomalien und Status von Sicherheits-Patches

---

### Service Monitoring

- **Zweck:** Verfügbarkeit und Funktion von Diensten und Microservices
- **Key Metriken:** Serviceverfügbarkeit, Reaktionszeit, Fehlerraten und Zustand der Abhängigkeiten

---


### Datenbanken

- **Zweck:** Zustand und Leistung von Datenbanken, so dass die Daten verfügbar und zugänglich sind
- **Key Metriken:** Abfrage-Antwortzeiten, Anzahl der Verbindungen, Abfragefehler und Replikationsstatus

---

### CI/CD

- **Zweck:** Code wird effizient integriert, getestet und bereitgestellt
- **Key Metriken:** Erfolgsraten, Bereitstellungszeiten und Rollback-Häufigkeit

---

### Business Activity Monitoring (BAM)

- **Zweck:** Einblicke in die Leistung des Unternehmens in Echtzeit
- **Key Metriken:** Auftragsabwicklungszeiten, Transaktionsvolumen und Auswirkungen auf den Umsatz

---

{{ imported_macros.image_series("Monitoring Priorität", "tikz/monitoring_order", 1, 13, "40%")}}

---

{{ imported_macros.image_series("Alerts", "tikz/observability", 7, 8, "45%")}}

---

{{ imported_macros.image_series("Alerts", "tikz/alerting", 1, 12, "100%")}}

---

{{ imported_macros.image_series("Logs", "tikz/observability", 6, 7, "45%")}}

---

### Logs Best Practices

- Zentrales Logging
- Standardisiertes Format
- Log Level
- Loggen mit Kontext
- Keine Sensitive Daten loggen

---

### OpenTelemetry

- CNCF Projekt
- Offene Standards für
  - Metriken
  - Logs
  - Traces
- Tooling
  - SDKs
  - Collector

---

### Tools

- Prometheus
- Grafana
- Loki
- Fluentd
- ELK Stack
  - Elasticsearch
  - Logstash
  - Kibana

---

### Diskussionsrunde

Welche Arten von Monitoring sind bei euch heute schon im Einsatz?
