{% import 'templates/jinja_macros.jinja' as imported_macros %}
<style>
.highlight{
    color: #f9b233;
}
</style>

{{ imported_macros.first_page("Docker® & Container", "Security", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/><br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
erklären, an welchen Stellen Docker abgesichert werden muss<br/>
für jede potenzielle Angriffsfläche Lösungen nennen<br/>
</div>

</div>

---

### Was müssen wir absichern?

![](tikz/security-overview_1.svg) <!-- .element width="60%" -->

---

### Securing Images

![](tikz/security-overview_2.svg) <!-- .element width="60%" -->

---

### Securing Images

![](tikz/security-overview_3.svg) <!-- .element width="60%" -->

---

### Securing Images

- Angriffsfläche minimieren
  - Keine unnötigen Tools (z.B. Full Debian)
  - Keine unnötigen Abhängigkeiten
- Alles up-to-date halten
  - Base Image regelmäßig aktualisieren
- Regelmäßige Vulnerability Scans
  - z.B.: Clair, Falco, AquaSecurity, usw.

---

### Securing Images

Auf Secrets/Credentials während des Build-Prozesses achten

```bash
$ docker build --secret id=API_TOKEN .
# Secret während des Build-Prozesses verfügbar in /run/secrets/API_TOKEN
# Secret nicht Teil des Images
```

[Dokumentation](https://docs.docker.com/build/building/secrets/)
<!-- .element class="acknowledgment" -->

---

### Securing Images

- Offizielle Docker Images verwenden
- Nicht vertrauenswürdige/nicht gepflegte Images vermeiden

---

### Securing Images

Software bietet kein vertrauenswürdiges Docker Image.

- Selbst bauen und aktualisieren
- Forken von OpenSource Docker-Projekten

Note:
Gitlab/Github/Bitbucket idR als Anlaufpunkt für die Projekte.

---

### Securing Images

Wie vertrauenswürdig sind Images?

[https://hub.docker.com/_/nginx](https://hub.docker.com/_/nginx)

[https://hub.docker.com/r/bitnami/nginx](https://hub.docker.com/r/bitnami/nginx)

[https://hub.docker.com/r/blacklabelops/nginx](https://hub.docker.com/r/blacklabelops/nginx)

[https://hub.docker.com/u/jitsi](https://hub.docker.com/u/jitsi)

Note:
- Einzeln auf die Links klicken, wie Vertrauenswürdig sieht alles aus?
- Official image, Verified Publisher, Alter, Verlinkung und Github-Aktivität

---

### Securing Container

![](tikz/security-overview_9.svg) <!-- .element width="60%" -->

---

### Securing Container

![](tikz/security-overview_4.svg) <!-- .element width="60%" -->

---

### Securing Container

![](tikz/security-overview_5.svg) <!-- .element width="60%" -->

---

### Securing Container

![](tikz/security-overview_6.svg) <!-- .element width="60%" -->

---

### Securing Container

- Container **nicht** mit Root-User betreiben
- UID`s über 10,000 verwenden
- Keine sensitiven Infos in Docker Images bauen

Note:
- UID über 10.000 um Kollisionen zu vermeiden

---

### Securing Container

```Dockerfile [1-16|5-6,11-13]
# Dockerfile
FROM python:3.10.4-slim-bullseye
WORKDIR /code

RUN groupadd --system --gid 10100 app-runner-group \
  && useradd --system --gid 10100 --uid 10100 app-runner-user

COPY requirements.txt /code/
RUN pip install -r requirements.txt

USER app-runner-user

COPY . /code/

CMD ["python", "manage.py", "runserver", "0.0.0.0:8000"]
```

--

### Securing Container

```Dockerfile [5-6,11-13]
# Dockerfile
FROM python:3.10.4-slim-bullseye
WORKDIR /code

RUN groupadd --system --gid 10100 app-runner-group \
  && useradd --system --gid 10100 --uid 10100 app-runner-user

COPY requirements.txt /code/
RUN pip install -r requirements.txt

USER app-runner-user

COPY --chown=10100:10100 . /code/

CMD ["python", "manage.py", "runserver", "0.0.0.0:8000"]
```

---

### Securing Host

![](tikz/security-overview_7.svg) <!-- .element width="60%" -->

---

### Securing Host

Limitierung der verfügbaren Ressourcen

```yml
version: "3.9"
services:
  redis:
    image: redis:alpine
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 50M
        reservations:
          cpus: '0.25'
          memory: 20M
```
---

### Securing Host

Gefahren von Privileged Containern

- Volle Rechte auf dem Host (CAP_SYS_ADMIN)
- Deaktiviert Isolationen: cgroups, AppArmor, SECcomp
- Root im Container ist Root auf dem Host

---

### Securing Host

- Systemupdates und Docker Updates einspielen
- Container Isolation wenn möglich
- Netzwerke separieren

Note:

Container Isolation bedeutet, z.b. Privileged Container auf eigener Maschine laufen lassen

---

### Securing Docker Daemon

![](tikz/security-overview_8.svg) <!-- .element width="60%" -->

---

### Securing Docker Daemon

- Docker Daemon läuft als Root
- Keine Authentifizierung für Client
- Zugriff auf Docker Daemon ⟺ Root Zugriff auf Host<!-- .element: class="fragment"-->

---

### Securing Docker Daemon

<span class="mark-bad">Vorsicht</span> beim Docker Socket in Container mounten


```bash
$ docker run -v /var/run/docker.sock:/var/run/docker.sock ...
```

Ermöglicht Root-Zugriff auf Host

```bash
# Im Container neuen Container starten
$ docker run -v /:/host_os ubuntu bash
```

---

### Securing Docker Daemon

Docker benötigt zu viele Rechte auf einem System (root)

Lösung: [Rootless docker](https://docs.docker.com/engine/security/rootless/)

---

### Knowledge Check

<iframe src="knowledge-checks/10-security.html" width="800" height="500"></iframe>

---
{% for i in range(3) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/><br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
erklären, an welchen Stellen Docker abgesichert werden muss<br/>
für jede potenzielle Angriffsfläche Lösungen nennen<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}
