{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Keycloak", "Updates und Betrieb", imported_macros.theme()) }}

---

### Updates

- Aktuelle Version: 26.1.2 (Stand 26.02.25)
- Seit Version 26
  - 4 Minor-Releases pro Jahr
  - Major-Release alle 2-3 Jahre
- Abwärtskompatibilität für Minor-Releases
  - Betrifft nur "Supported"-Features

---

### Upgrading - Wann?

Sicherheitsupdates und Patches nur für die aktuelle Major Version
<!-- .element: class="fragment" -->

Best-Practice: Updates so zeitnah wie möglich einspielen
<!-- .element: class="fragment" -->

---

### Upgrading - Wie?

- Vorbereitung:
  - Release Notes lesen
  - SPIs/Themes anpassen/testen
  - Datenbank-Migration testen
    - Dauer abhängig von Datenmenge
    - Mit Prod-Backup testen

---

### Upgrading - Wie?

- Ausführung:
  - Alle Instanzen stoppen
  - (Optional) Datenbank backup erstellen
  - Datenbank-Migration ausführen
  - Neue Version starten
- [Kein Zero-Downtime-Upgrade](https://github.com/keycloak/keycloak/issues/14455) möglich

---

### Datenbank-Migration

- Keycloak-Container:
  - Läuft automatisch beim Startup
  - Version-Pinning wichtig
- [DB-Changelog](https://github.com/keycloak/keycloak/tree/main/model/jpa/src/main/resources/META-INF)

---

### Upgrading - Anmerkungen

- Beliebige Versionssprünge möglich
- Downgrades offiziell nicht supported
- Realm Import/Export nicht dafür designed

---

### Upgrading - Lange Laufzeit

- Kleinere Versionssprünge
- Parameter anpassen:
```
-Dquarkus.transaction-manager.default-transaction-timeout=3600
-Dkeycloak.migration.batch-enabled=true
-Dkeycloak.migration.batch-size=1000
```

---

### Restore

- Alle Instanzen stoppen
- Datenbank-Backup einspielen
- (Alte) Version starten

---

### Demo: Keycloak Upgrade

---

### Sessions

- für jeden Nutzer und besuchten Client
- Administratoren können:
<!-- .element: class="fragment" data-fragment-index="1"-->
  - Login-Statistiken einsehen
<!-- .element: class="fragment" data-fragment-index="1"-->
  - Aktive Nutzer und deren Login-Orte anzeigen
<!-- .element: class="fragment" data-fragment-index="1"-->
  - Nutzer ausloggen
<!-- .element: class="fragment" data-fragment-index="1"-->
  - Tokens widerrufen
<!-- .element: class="fragment" data-fragment-index="1"-->
  - Token- und Sitzungstimeouts konfigurieren
<!-- .element: class="fragment" data-fragment-index="1"-->

---

### Sessions - Anzeigen

- `Sessions` im Menü
  - Alle Sessions
- `Clients` im Menü, Sessions-Tab
  - Sessions pro Client
- `Users` im Menü, Sessions-Tab
  - Sessions pro User

---

### Sessions - Konfiguration

- Realm settings > Sessions
- Gültigkeitsdauer von Sessions
- <...>-Idle:
<!-- .element: class="fragment" data-fragment-index="1"-->
  - Zeit bis zur Invalidierung
<!-- .element: class="fragment" data-fragment-index="1"-->
  - Resettet durch Auth/Refresh
<!-- .element: class="fragment" data-fragment-index="1"-->
- <...>-Max:<!-- .element: class="fragment" data-fragment-index="2"-->
  - Max. Zeit bis Session-Invalidierung<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Sessions

- SSO Session Idle/Max
  - Nur OIDC-Clients
  - Idle Default: 30 Min
  - Max. Default: 10 h
- A<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->
- laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaang<!-- .element class="placeholder" -->

--

### Sessions

- SSO Session Idle/Max
- SSO Session Idle/Max Remember Me
  - Optionales Feature
  - "Remember me"-Flag bei Login
  - Keine Defaults
- A<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->
- laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaang<!-- .element class="placeholder" -->

--

### Sessions

- SSO Session Idle/Max
- SSO Session Idle/Max Remember Me
- Client Session Idle/Max
  - 1 SSO-Sessions <-> n Client Sessions
  - Realm-Default, pro Client überschreibbar
  - Keine Defaults, nutzt SSO Session Timeouts
- A<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->
- laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaang<!-- .element class="placeholder" -->

--

### Sessions

- SSO Session Idle/Max
- SSO Session Idle/Max Remember Me
- Client Session Idle/Max
- Offline Session Idle/Max
  - Idle default: 30 Tage
  - Max: optional, inaktiv
- A<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->
- laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaang<!-- .element class="placeholder" -->

--

### Sessions

- SSO Session Idle/Max
- SSO Session Idle/Max Remember Me
- Client Session Idle/Max
- Offline Session Idle/Max
- Login Timeout
  - Max. Zeit pro Login-Vorgang
  - Default: 30 min
- A<!-- .element class="placeholder" -->
- laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaang<!-- .element class="placeholder" -->

--

### Sessions

- SSO Session Idle/Max
- SSO Session Idle/Max Remember Me
- Client Session Idle/Max
- Offline Session Idle/Max
- Login Timeout
- Login Action Timeout
  - Max. Zeit pro Login-Seite
  - Default: 5 min
- laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaang<!-- .element class="placeholder" -->

---

### Tokens

- Refresh Token
- Access Token
- Action Token

---

### Offline Access

- Bleiben nach Logout gültig
- Ermöglichen Aktionen, auch wenn der Nutzer <br/> nicht online ist
- Clients müssen den `offline_access` Scope anfordern

---

### Secrets-Management

---

### Konfiguration - Java KeyStore (Wiederholung)

- KeyStore erstellen
```shell
keytool -importpass -alias kc.db-password \
  -keystore keystore.p12 -storepass keystorepass \
  -storetype PKCS12 -v
```
- In den Container mounten:
<!-- .element: class="fragment" data-fragment-index="1"-->
```yaml
    volumes:
      - ./keystore.p12:/keystore.p12
```
<!-- .element: class="fragment" data-fragment-index="1"-->
- Beim Start verwenden:
<!-- .element: class="fragment" data-fragment-index="2"-->
```shell
  --config-keystore=/keystore.p12 \
  --config-keystore-password=keystorepass \
  --config-keystore-type=PKCS12
```
<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Vault

- Möglich für<!-- .element: class="fragment" data-fragment-index="1"-->
  - SMTP-Mailserver-Passwort<!-- .element: class="fragment" data-fragment-index="1"-->
  - LDAP-Bind-Anmeldeinformationen<!-- .element: class="fragment" data-fragment-index="1"-->
  - OIDC-Client-Secret für externe Identitätsanbieter<!-- .element: class="fragment" data-fragment-index="1"-->
- Zugriff über (in Admin-UI eintragen)<!-- .element: class="fragment" data-fragment-index="2"-->
  ```bash
  ${vault.<realmname>_<secretname>}
  ```
  <!-- .element: class="fragment" data-fragment-index="2"-->

---

### Vault - Datei

- Für Kubernetes/OpenShift-Secrets
```shell
bin/kc.[sh|bat] build --vault=file
bin/kc.[sh|bat] start --vault-dir=/my/path
```

---

### Vault - Keystore

- Für Bare-Metal-Installationen
```shell
bin/kc.[sh|bat] build --vault=keystore
bin/kc.[sh|bat] start --vault-file=/path/to/keystore.p12 --vault-pass=<pass>
```

---

### Vault - SPI

- Key Resolver - [Dokumentation](https://www.keycloak.org/docs/latest/server_admin/index.html#_vault-administration)
  ```bash
  ${vault.<realmname>_<secretname>}
  ```
- Vault Provider - [Dokumentation](https://www.keycloak.org/docs/26.1.2/server_development/#vault-provider)

---

### TLS

- Zertifikate im PEM-Format<!-- .element: class="fragment" data-fragment-index="1"-->
```shell
bin/kc.[sh|bat] start
  --https-certificate-file=/path/to/certfile.pem
  --https-certificate-key-file=/path/to/keyfile.pem
```
<!-- .element: class="fragment" data-fragment-index="1"-->
- Zertifikate als Keystore<!-- .element: class="fragment" data-fragment-index="2"-->
```shell
bin/kc.[sh|bat] start
  --https-key-store-file=/path/to/existing-keystore-file
  --https-key-store-password=<pass>
```
<!-- .element: class="fragment" data-fragment-index="2"-->

---

### TLS Protokolle

- By default: keine veralteten TLS Protokolle
- Ausnahmen möglich:
```shell
bin/kc.[sh|bat] start
  --https-protocols=<protocol>[,<protocol>]
```

---

### TLS - Konfiguration

- `--http-enabled`
- `--https-port`
- laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaang<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->

--

### TLS - Konfiguration

- `--http-enabled`
- `--https-port`
- Management-Interface - Port 9000
    - `--https-management-certificate-file`
    - `--https-management-certificate-key-file`
    - `--https-management-key-store-file`
    - `--https-management-key-store-password`

---

### Reverse Proxy - Wiederholung

Was muss ich beachten?

- TLS-Termination
- Headers, Trusted Proxies
- HTTP(S) zwischen Proxy & Keycloak
- Sticky Sessions

[Dokumentation](https://www.keycloak.org/server/reverseproxy)
<!-- .element class="acknowledgment" -->

---

### Keycloak Ports - Wiederholung

- `8443`: HTTPS ✅
- `8080`: HTTP ❓
  - `--http-enabled=True`
- `9000`: Healthchecks, Metrics ⛔

Öffentlich? ✅, ❓, ⛔

---

### Keycloak Pfade - Wiederholung

- `/admin/` ⛔
- `/realms/` ✅
- `/resources/` ✅
- `/metrics` ⛔
- `/health` ⛔

Öffentlich? ✅, ❓, ⛔

---

### Vertrauenswürdige Zertifikate

- Java default Truststore:
  - `$JAVA_HOME/lib/security/cacerts`
- `conf/truststores`
- Custom
```
bin/kc.[sh|bat] start --truststore-paths=...
```

---

### Security Best Practices

- Verschlüsselte Verbindungen
  - TLS
  - Reverse Proxy, Header
- Admin-Endpunkte/Admin-Konsole absichern
- Logging und Monitoring
<!-- .element: class="fragment" data-fragment-index="1"-->
- Hostname
<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Hostname

```shell
bin/kc.[sh|bat] start
  --hostname my.keycloak.org
```
- Sicherheitsrelevant
  - Links in Emails
  - OIDC Discovery Endpoint

---

### Hostname

```shell
bin/kc.[sh|bat] start
  --hostname https://my.keycloak.org
  --hostname-admin https://admin.my.keycloak.org:8443
```
- Eigener Hostname für Admin-UI

⚠️ Admin-API-Zugriff über Frontend URL weiterhin möglich
<!-- .element: class="fragment" data-fragment-index="1"-->

---

### Security Best Practices

- Verschlüsselte Verbindungen
- Admin-Endpunkte/Admin-Konsole absichern
- Logging und Monitoring
- Hostname
- Brute Force Protection
<!-- .element: class="fragment" data-fragment-index="1"-->

---

### Brute Force Protection

- Optionales Feature
- Temporäre/Permanente Sperre
- Nachteil: Denial of Service
<!-- .element: class="fragment" data-fragment-index="1"-->
- Alternative: IPS + Keycloak Logs
<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Security Best Practices

- Verschlüsselte Verbindungen
- Admin-Endpunkte/Admin-Konsole absichern
- Logging und Monitoring
- Hostname
- Brute Force Protection
- Gute Passwort-Policy
<!-- .element: class="fragment" data-fragment-index="1"-->

---

### Passwort-Policy

Was ist eine gute Mindestlänge für ein Passwort?

✅ 12-14 Zeichen
<!-- .element: class="fragment" data-fragment-index="1"-->

--

### Passwort-Policy

Was sind gute Vorgaben zur Zeichenwahl (Buchstaben,Zahlen,Sonderzeichen)?

✅ Wenig bis keine Vorgaben
<!-- .element: class="fragment" -->

❌ Komplexe Vorgaben<br/>
-> Vorhersagbare Muster, schlechtere Passwörter
<!-- .element: class="fragment" -->

--

### Passwort-Policy

Verpflichtende Passwortänderungen?

✅ Bei einem konkreten Vorfall/Verdacht
<!-- .element: class="fragment" -->

❌ Zeitbasiert alle x Wochen
<!-- .element: class="fragment" -->

--

### Passwort-Policy

Multifaktor-Authentifizierung?

✅ Ermöglichen
<!-- .element: class="fragment" -->

✅ Verpflichtend bei schützenswerten Nutzern (Admins)
<!-- .element: class="fragment" -->

--

### Passwort-Policy

Copy-Paste bei Eingabe verhindern?

❌ Verhindert Nutzung von Passwortmanagern
<!-- .element: class="fragment" -->

---

### Security Best Practices

- Verschlüsselte Verbindungen
- Admin-Endpunkte/Admin-Konsole absichern
- Logging und Monitoring
- Hostname
- Brute Force Protection
- Gute Passwort-Policy
- User-Attribute validieren
<!-- .element: class="fragment" data-fragment-index="1" -->
- Client-Konfiguration
<!-- .element: class="fragment" data-fragment-index="2" -->
  - Redirect URLs
<!-- .element: class="fragment" data-fragment-index="2" -->
  - Token-Lifetime
<!-- .element: class="fragment" data-fragment-index="2" -->

---

### Realm Keys

- Default: 4 Keys
  - Symmetrisch/Asymmetrisch
  - Signierung/Verschlüsselung
- Ein aktives Schlüsselpaar
- Optional passive Schlüsselpaare
- Regelmäßige Erneuerung sinnvoll

---

### Demo: Realm Key Rotation

---

### Skalierung und Ressourcennutzung

- Horizontale Skalierung
  - Cluster-Setup
- Vertikale Skalierung
<!-- .element: class="fragment" data-fragment-index="1" -->
  - [Initale Ressourcenberechnung](https://www.keycloak.org/high-availability/concepts-memory-and-cpu-sizing)
<!-- .element: class="fragment" data-fragment-index="1" -->
  - Monitoring im Betrieb
<!-- .element: class="fragment" data-fragment-index="1" -->
- Parameter Tuning
<!-- .element: class="fragment" data-fragment-index="2" -->

---

### Parameter Tuning

- Thread Pool Size
- DB Connection Pool
- Request Queue Size

[Dokumentation](https://www.keycloak.org/high-availability/concepts-threads)
<!-- .element class="acknowledgment" -->

---

### Load Shedding / Lastabwurf

- `http-max-queued-requests`
- By Default:
<!-- .element: class="fragment" data-fragment-index="1" -->
  - Alle Requests werden bearbeitet
<!-- .element: class="fragment" data-fragment-index="1" -->
  - Erhöht Resourcenverbrauch
<!-- .element: class="fragment" data-fragment-index="1" -->
  - Requests laufen in Timeouts
<!-- .element: class="fragment" data-fragment-index="1" -->
- Limit setzen:
<!-- .element: class="fragment" data-fragment-index="2" -->
  - 503 Error für zusätzliche Requests
<!-- .element: class="fragment" data-fragment-index="2" -->

---

### Monitoring

- Management Interface
<!-- .element: class="fragment" data-fragment-index="1" -->
  - Port 9000
<!-- .element: class="fragment" data-fragment-index="1" -->
  - Healthchecks
<!-- .element: class="fragment" data-fragment-index="1" -->
  - Metriken
<!-- .element: class="fragment" data-fragment-index="1" -->
- Auditing
<!-- .element: class="fragment" data-fragment-index="2" -->
- Logging
<!-- .element: class="fragment" data-fragment-index="3" -->

---

### Healthchecks

- `--health-enabled true`
- Aktiviert Endpunkte:
  - `/health`
  - `/health/started`
  - `/health/ready`
  - `/health/live`

[Dokumentation](https://quarkus.io/guides/smallrye-health#running-the-health-check)
<!-- .element class="acknowledgment" -->

---

### Metriken

- `--metrics-enabled true`
- Aktiviert Endpunkte:
  - `/metrics`
- User-Event-Metriken:
  - Preview-Feature
  ```
    --features=user-event-metrics
    --event-metrics-user-enabled=true
  ```

---

### Auditing

- Admin-Events
- User-Events
  - Events konfigurierbar
- Speicherdauer anpassbar

---

### Logging

- Log-Level:
  - `--log-level="INFO,org.hibernate:debug"`
- Log-Handler: `console`, `file`, `syslog`

[Dokumentation](https://www.keycloak.org/server/logging)
<!-- .element class="acknowledgment" -->

---

### Demo: Monitoring
