{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("DevOps Grundlagen", "Skalieren und Microservices", imported_macros.theme()) }}

---

{{ imported_macros.image_series("Infrastruktur Komponenten Entkoppeln", "tikz/monolith_infra", 1, 7, "70%")}}

---

{{ imported_macros.image_series("Server Skalieren", "tikz/scaling", 1, 7, "50%")}}

---

{{ imported_macros.image_series("Autoscaling", "tikz/automated_scaling", 1, 11, "80%")}}

---

## Microservices

---

### Szenario

E-commerce Anwendung:

- User interface<!-- .element: class="fragment" data-fragment-index="2"-->
- Produkte und Lagerbestand<!-- .element: class="fragment" data-fragment-index="2"-->
- Bestellvorgang mit Bezahlmöglichkeiten<!-- .element: class="fragment" data-fragment-index="2"-->
- Versand und Tracking<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Monolith

- Traditionelle Architektur
- All-in-one

![](tikz/monolith.svg)<!-- .element style="width:40%" -->

---

### Monolith

Eine einzelne Anwendung kümmert sich um:

- Authentifizierung
- Präsentation (Frontend)
- Businesslogik
- Datenspeicherung
- Benachrichtigungen (Email, ...)

---

### Monolith - Vorteile

Einfach zu ...

- Entwickeln
- Testen
- Deployen

... zumindest am Anfang
<!-- .element: class="fragment" data-fragment-index="2"-->

Note:

- Simple to develop — At the beginning of a project it is much easier to go with Monolithic Architecture.
- Simple to test. For example, you can implement end-to-end testing by simply launching the application and testing the UI with Selenium.
- Simple to deploy. You have to copy the packaged application to a server.
- Simple to scale horizontally by running multiple copies behind a load balancer.

---

### Monolith - Nachteile

Bei der Entwicklung:

- Wartbarkeit
- Technologie-Stack
- Schwierige Einarbeitung
- Teamgröße
- Langsame Tools

Note:

- Wartbarkeit
  - Zu Komplex
  - Code Qualität sinkt immer weiter
- Neue Technologie oder Versionsupgrades kaum möglich
- Neue Mitarbeiter sind lange nicht produktiv
- Großes Team vs kleine nicht-unabhängige Teams
- Je größer die Codebase desto schwieriger wird entwickeln

---

### Monolith - Nachteile

Beim Deployment:

- Langsamer Start-up
- Redeployment der gesamten Anwendung

Note:

- Komplettes Redeployment selbst bei kleinen Änderungen
- Unterbricht z.B. Backgroundjobs

---

{% for i in range(1,4) %}
### Monolith - Nachteile

Beim Betrieb:

- Zuverlässigkeit
- Skalierbarkeit

![](tikz/monolith_scale_{{ i }}.svg)<!-- .element style="width:40%" -->

Note:

- Memory Leak betrifft die ganze Applikation
- Komponenten mit unterschiedlichen Anforderungen (CPU vs Memory)

{% if i != 3 %}
--
{% endif %}
{% endfor %}

---

{{ imported_macros.image_series("Microservices", "tikz/microservice", 1, 6, "40%")}}

Note:

- Unterschied Single Page App vs. Server-side rendering, fragments


---

### Microservices

- Divide-and-Conquer
- Lose gekoppelte, kooperierende Dienste
- Eigene Datenbank, eigener Tech-Stack
- Kommunikation über APIs

---

### Microservices - Vorteile

Unabhängige, kleine Teams

-> Verringerter Kommunikationsaufwand

Note:

- Vorteil von Monolithen gelten auch
  - Weniger Komplex -> Einfacher Wartbar
  - Einfacher Testbar
  - Einfacher Deploybar
  - Zuverlässiger (Es fehlt ein Dienst und nicht die Applikation)
- Nachteile werden verringert durch Divide-And-Conquer

---

{{ imported_macros.image_series("Microservices - Vorteile", "tikz/microservice_scale", 1, 4, "40%")}}

---

### Microservices - Nachteile

- Zusätzliche Komplexität

Note:

- Komplexität durch verteiltes System
- Tests, die die interaktion testen, sind schwieriger
- Bei Monolith anfangen und schauen, ob Microservices überhaupt notwendig sind

---

### Kommunikation - Synchron

Synchron<!-- .element: class="fragment" data-fragment-index="2"-->

![](tikz/microservice_com_sync_1.svg)<!-- .element style="width:70%" -->
<!-- .element: class="fragment" data-fragment-index="2"-->

Note:

Roter Faden: Beispiel ist ein User wird angelegt und bekommt dazu eine Notification (per Mail oder whatever)

Synchron ist einfach und schnell umgesetzt. Allerdings Probleme bei Ausfall
eines Systems und Probleme bei der Latenz, wenn jedes System weitere Systeme anfragt.

Asynchron entkoppelt. Jeder Service kann/muss/sollte für sich entscheiden, ob synchron notwendig oder asynchron ausreicht

Queues können auch ausgelagert werden in Message Broker. Services müssen sich nicht kennen. Müssen sich nur auf ein Topic einigen.

Commands sind Messages, die eine Aktion von ihrem Ziel verlangen. Dependency-Richtung lässt sich mit Events umdrehen. Anstelle des
"Sende Notification"-Commands, kann auch ein "User angelegt"-Event gesendet werden. Dem User-Service ist dabei egal, was in Folge des
Events passiert. Der Notification Service hat somit das Wissen/die Aufgabe eine Nachricht zu senden, wenn ein User angelegt wurde.
Events sind 'Fakten' in der Vergangenheit/nicht änderbar. Events machen mehr sind, wenn der Empfänger nicht bekannt ist. Siehe Beispiel
mit Order-Service. Order-Service benötigt die Info, ob ein User exisitiert. Kann synchron abgefragt werden, oder per Datenreplikation in
eigener Datenbank. Eigene DB bleibt über Events aktuell. User-Service muss den OrderService aber nicht kennen.

--

{% for i in range(2,10) %}

### Kommunikation

{% if i < 8 %}
Synchron
{% else %}
Syncron - Latenz?
{% endif %}

![](tikz/microservice_com_sync_{{ i }}.svg)<!-- .element style="width:70%" -->

{% if i != 9 %}
--
{% endif %}
{% endfor %}

---

{% for i in range(1,14) %}

### Kommunikation

Asynchron

![](tikz/microservice_com_async_{{ i }}.svg)<!-- .element style="width:70%" -->

{% if i != 13 %}
--
{% endif %}
{% endfor %}

---

{% for i in range(1,6) %}

### Kommunikation

Messaging - Commands

![](tikz/microservice_com_messaging_{{ i }}.svg)<!-- .element style="width:70%" -->

{% if i != 5 %}
--
{% endif %}
{% endfor %}

---

{% for i in range(1,9) %}

### Kommunikation

Messaging - Events

![](tikz/microservice_com_events_{{ i }}.svg)<!-- .element style="width:70%" -->

{% if i != 8 %}
--
{% endif %}
{% endfor %}

---

## Microservices Infrastruktur

---

{{ imported_macros.image_series("Infrastruktur", "tikz/container_motivation", 1, 6, "40%")}}

--

### Infrastruktur

![](tikz/container_motivation_5.svg)<!-- .element style="width:20%" -->
![](tikz/container_motivation_5.svg)<!-- .element style="width:20%" -->
![](tikz/container_motivation_5.svg)<!-- .element style="width:20%" -->
![](tikz/container_motivation_5.svg)<!-- .element style="width:20%" -->

---

### Infrastruktur - Herausforderungen

![](tikz/container_challenges_1.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_1.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_1.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_1.svg)<!-- .element style="width:20%" -->

--

### Infrastruktur - Herausforderungen

![](tikz/container_challenges_2.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_1.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_1.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_1.svg)<!-- .element style="width:20%" -->

--

### Infrastruktur - Herausforderungen

![](tikz/container_challenges_2.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_2.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_1.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_1.svg)<!-- .element style="width:20%" -->

--

### Infrastruktur - Herausforderungen

![](tikz/container_challenges_2.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_2.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_3.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_1.svg)<!-- .element style="width:20%" -->

--

### Infrastruktur - Herausforderungen

![](tikz/container_challenges_2.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_2.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_3.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_2.svg)<!-- .element style="width:20%" -->

--

### Infrastruktur - Herausforderungen

![](tikz/container_challenges_4.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_5.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_6.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_7.svg)<!-- .element style="width:20%" -->

--

### Infrastruktur - Herausforderungen

![](tikz/container_challenges_8.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_8.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_8.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_8.svg)<!-- .element style="width:20%" -->

--

### Infrastruktur - Herausforderungen

![](tikz/container_challenges_9.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_9.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_9.svg)<!-- .element style="width:20%" -->
![](tikz/container_challenges_9.svg)<!-- .element style="width:20%" -->

---

### Infrastruktur - Herausforderungen

- Hardwareauslastung
- VM-Overhead
- Abhängigkeiten<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Container

- Prozess auf dem Host-System<!-- .element: class="fragment" data-fragment-index="2"-->
- Mit allen Abhängigkeiten<!-- .element: class="fragment" data-fragment-index="3"-->
- Control Groups und Namespaces<!-- .element: class="fragment" data-fragment-index="4"-->

![](tikz/container_challenges_9.svg)<!-- .element style="width:20%" --><!-- .element: class="fragment" data-fragment-index="5"-->

--

### Container

- Prozess auf dem Host-System
- Mit allen Abhängigkeiten
- Control Groups und Namespaces

![](tikz/container_challenges_10.svg)<!-- .element style="width:20%" -->

--

### Container

- Prozess auf dem Host-System
- Mit allen Abhängigkeiten
- Control Groups und Namespaces

![](tikz/container_challenges_11.svg)<!-- .element style="width:20%" -->

---

### Container - Vorteile

- Schnelleres Starten
- Keine Hardwareemulierung
- Dynamische Ressourcen
- Pflege von VMs entfällt<!-- .element: class="fragment" data-fragment-index="2"-->

---

## Microservices und DevOps

---

### Diskussionsrunde

Was verändert sich mit Microservices in DevOps?