{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Softwareentwicklung mit DevOps", "Akteure", imported_macros.theme()) }}

---

{% for i in range(1,6) %}
### Umsetzung bei den Akteuren

![](tikz/akteure_{{i}}.svg) <!-- .element width="75%" -->

{% if i !=5 %}
--
{% endif %}
{% endfor %}

---

## Schlüsselkonzepte

---

Empirisches Vorgehen

![](../common/tikz/cynefin-framework_6.svg) <!-- .element width="55%" -->

---

{% for i in [6,10] %}
### Automatisierung

![](../../common/tikz/ops_without_container_{{i}}.svg) <!-- .element width="90%" -->

{% if i !=10 %}
--
{% endif %}
{% endfor %}

---

{% for i in range(1,4) %}
### Kontinuierliche Bewertung und Monitoring

![](tikz/monitoring_{{i}}.svg) <!-- .element width="80%" -->

{% if i !=3 %}
--
{% endif %}
{% endfor %}

---

### Failure als Chance

![](tikz/fail_learn_1.svg) <!-- .element width="100%" -->


<div style="height: 150px;"></div>

--

### Failure als Chance

![](tikz/fail_learn_1.svg) <!-- .element width="100%" -->


<div style="height: 150px;">
"Failure is success in progress"

<small>– Albert Einstein</small>
</div>

---

{% for i in range(1,3) %}
### Prozesssicherheit by Design

![](tikz/process_security_{{i}}.svg) <!-- .element width="100%" -->

{% if i !=2 %}
<div style="height: 150px;">
</div>
--
{% endif %}
{% endfor %}

<div style="height: 150px;">
- Risikomanagement</br>
- Qualitätssicherung</br>
- Wissenstransfer</br>
</div>

---

{% for i in range(1,8) %}
### Artefact Management

![](tikz/artefact_management_{{i}}.svg) <!-- .element width="100%" -->

{% if i !=7 %}
--
{% endif %}
{% endfor %}

---

### Artefact Management

- verschiedene Tools unterstützen verschiedene Phasen
- Toolauswahl sehr groß

---

{% for i in [4,6] %}
### Umsetzung bei den Akteuren

![](tikz/akteure_{{i}}.svg) <!-- .element width="75%" -->

{% if i !=6 %}
--
{% endif %}
{% endfor %}

---

## Integration des Kunden

---

{{ imported_macros.image_series("Kundeneinbindung in DevOps", "../../devops_foundations/01-introduction/tikz/from_dev_and_ops_to_devops", 14, 15, width="55%")}}

---

### Kundeneinbindung in DevOps

- Über Ticketsystem
- Über Messdaten
    - Metriken
    - Logs
- Gezielte Usertests
    - Mousetracking
    - Feedback

---

{% for i in range(1,7) %}
### Klare und transparente Kommunikation via ITSM

![](tikz/itsm_{{i}}.svg) <!-- .element width="50%" -->

{% if i !=6 %}
--
{% endif %}
{% endfor %}

---

### ITSM

- Prozess orientiert
- Strukturiert
- Dokumentiert
- Risikomanagement
- Primärziel: Servicequalität und -zuverlässigkeit
- Alternativ oder Paralell zu Devops

---

### Reporting von Bugs, Feedback, Ideen und Wünschen

![](img/ticketsystem.png) <!-- .element width="55%" -->

---

### Design Thinking

![](tikz/design_thinking_1.svg) <!-- .element width="85%" -->

---

### Customer Centricity

![](tikz/customer_centricity_1.svg) <!-- .element width="45%" -->

"You have to start with the customer experience and work back toward the technology – not the other way round."

<small>– Steve Jobs</small>

---

{% for i in [4,7] %}
### Umsetzung bei den Akteuren

![](tikz/akteure_{{i}}.svg) <!-- .element width="75%" -->

{% if i !=7 %}
--
{% endif %}
{% endfor %}

---

## Integration des Entwicklungsteams

---

{% for i in range(1,3) %}
### Zusammenarbeit & Kommunikation crossfunktional!

![](../common/tikz/team_{{i}}.svg) <!-- .element width="50%" -->

{% if i !=2 %}
--
{% endif %}
{% endfor %}

---

{% for i in range(1,9) %}
### Arbeitsabläufe, Kommunikations- und Feedbackschleifen

![](tikz/devops_step_by_step_tools_{{i}}.svg) <!-- .element width="90%" -->

{% if i !=8 %}
--
{% endif %}
{% endfor %}

---

{% for i in range(1,9) %}
### Protokollierung und formelle Anforderungen

![](tikz/devops_req_log_{{i}}.svg) <!-- .element width="90%" -->

{% if i !=8 %}
--
{% endif %}
{% endfor %}

---

{% for i in range(1,13) %}
### Transparenz und Traceability: Versionierung

![](tikz/commit_push_pull_{{i}}.svg) <!-- .element width="90%" -->

{% if i !=12 %}
--
{% endif %}
{% endfor %}

---

### Transparenz: Software Bill of Materials

![](tikz/sbom_1.svg) <!-- .element width="60%" -->

---

{% for i in range(1,6) %}
### Gemeinsames Arbeiten

Lokale Applikation

![](../../common/tikz/dev_without_container_{{i}}.svg) <!-- .element width="40%" -->

--
{% endfor%}

{% for i in range(6,11) %}
### Gemeinsames Arbeiten

On-boarding neuer MA

![](../../common/tikz/dev_without_container_{{i}}.svg) <!-- .element width="40%" -->

--
{% endfor%}

### Gemeinsames Arbeiten

On-boarding neuer MA

![](../../common/tikz/dev_without_container_different_os.svg) <!-- .element width="40%" -->

--

{% for i in range(1,6) %}
### Gemeinsames Arbeiten

Zusammenarbeit im Team

![](../../common/tikz/dev_without_container_version_update_{{i}}.svg) <!-- .element width="40%" -->

--
{% endfor%}

{% for i in range(1,6) %}
### Gemeinsames Arbeiten

Zusammenarbeit im Team

![](../../common/tikz/dev_with_container_version_update_{{i}}.svg) <!-- .element width="40%" -->

{% if i != 5 %}
--
{% endif %}
{% endfor %}

---

### Automatisierung schafft Freiheiten

![](tikz/productivity_1.svg) <!-- .element width="55%" -->

<small>https://devops.com/fresh-stats-comparing-traditional-it-and-devops-oriented-productivity/</small>

---

### Automatisierung schafft Freiheiten

- mehr Zeit für Infrastruktur und Automatisierung benötigt
- weniger Zeit für Support, Kommunikation und Firefighting
- dadurch mehr Zeit für Self-Improvement

---

{% for i in [4,8] %}
### Umsetzung bei den Akteuren

![](tikz/akteure_{{i}}.svg) <!-- .element width="75%" -->

{% if i != 8 %}
--
{% endif %}
{% endfor %}

---

## Die DevOps-Toolchain

---

### Tools für die Teile der Landkarte

![](tikz/recommendation_1.svg) <!-- .element width="100%" -->

---

### Startempfehlung

![](tikz/recommendation_2.svg) <!-- .element width="100%" -->

---

### Empfehlung für Fortgeschrittene

![](tikz/recommendation_3.svg) <!-- .element width="100%" -->

---