{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Kubernetes", "Basic Networking", imported_macros.theme()) }}

---

{{ imported_macros.image_series("Bisher: Podkommunikation mit IP", "tikz/service", 1, 4, "50%") }}

---

{{ imported_macros.image_series("Bisher: Besser über Service", "tikz/service", 4, 5, "50%") }}


---

### Container Network Interface (CNI)

- viele Plugins für erweiterte Funktionen z.B. Flannel, Cilium, Weave
- sorgt bei entsprechender Einstellung dafür, dass jeder Pod jeden anderen ohne NAT erreichen kann
- alle Services können mit allen Pods kommunizieren
- Einschränkungen können vorgenommen werden

---

{{ imported_macros.image_series("Beispiel: Overlay-Network", "tikz/cni_overlay", 1, 4, "90%") }}

---

### Einsatz von CNI

- hauptsächlich für internen Netzwerkverkehr zuständig
- externer Netzwerkverkehr muss gesondert betrachtet werden

---

{{ imported_macros.image_series("Zugriff von außerhalb", "tikz/traffic", 1, 5, "90%") }}

---

{{ imported_macros.image_series("NodePort", "tikz/traffic", 3, 4, "90%") }}

--

{{ imported_macros.image_series("NodePort", "tikz/traffic", 5, 6, "90%") }}

---

### NodePort Definition

```yaml
apiVersion: v1
kind: Service
metadata:
  name: my-nodeport-service
spec:
  selector:
    app: my-app
  type: NodePort
  ports:
  - name: http
    port: 80
    targetPort: 80
    nodePort: 30001
    protocol: TCP
```

---

### NodePort Anwendung

- pro Port ein Service
- nur Ports 30000–32767
- VM IP-Adressänderung muss gesondert behandelt werden
- eher für Tests als für Production

---

{{ imported_macros.image_series("Loadbalancer", "tikz/traffic", 3, 4, "90%") }}

--

{{ imported_macros.image_series("Loadbalancer", "tikz/traffic", 6, 7, "90%") }}

---

### Loadbalancer Anwendung

- pro Service ein Loadbalancer
- jeder Service bekommt eine IP-Adresse
- kein Filtern, kein Routing
- außerhalb des Clusters, öffentliche IP-Adresse
- ClusterIP und NodePort werden automatisch generiert

---

{{ imported_macros.image_series("Ingress Controller", "tikz/traffic", 3, 4, "90%") }}

--

{{ imported_macros.image_series("Ingress Controller", "tikz/traffic", 7, 9, "90%") }}

---

### Ingress Controller Definition

```yaml
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-ingress
spec:
  rules:
  - host: foo.mydomain.com
    http:
      paths:
      - backend:
          service:
            name: foo
            port:
              number: 8080
```
<!-- .element: style="float: left; width: 23em;" -->

```yaml
  - host: mydomain.com
    http:
      paths:
      - path: /bar/*
        backend:
          service:
            name: bar
            port:
              number: 8080






```
<!-- .element: style="float: right; width: 23em;" -->

---

### Ingress Controller Anwendung

- Als Smart Router für mehrere Services zuständig
- Filtern, Routing, SSL-Terminierung

---

### Ingress Controller installieren

- Als Deployment mit Service
  - z.B. Nginx, Traefik, HAProxy
- Als Add-On für Cloud-Provider
  - z.B. AWS, Azure, GCP

---


{{ imported_macros.image_series("Network Policies", "tikz/networkpolicies", 1, 4, "50%") }}

---

### Network Policies

- Network Policies für Sicherheit des Clusters
- Best Practice: Alles verbieten und dann nur passende Verbindungen erlauben
- Sowohl eingehenden (ingress) als auch ausgehenden (egress) Verkehr beachten!

---

{{ imported_macros.image_series("Network Policies mit Ingress", "tikz/ingress_egress", 1, 2, "30%") }}

```yaml
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: access-nginx
spec:
  podSelector:
    matchLabels:
      app: nginx
  ingress:
  - from:
    - podSelector:
        matchLabels:
          access: "true"
```

---

{{ imported_macros.image_series("Network Policies mit Egress", "tikz/ingress_egress", 2, 3, "30%") }}

```yaml
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: access-nginx
spec:
  podSelector:
    matchLabels:
      app: nginx
  egress:
  - to:
    - podSelector:
        matchLabels:
          app: db
```

---

{{ imported_macros.image_series("Advanced Network Policies", "tikz/ingress_egress", 3, 4, "30%") }}

```yaml
(...)
policyTypes:
- Ingress
- Egress
ingress:
- from:
  - ipBlock:
      cidr: 172.17.0.0/16
  - namespaceSelector:
    (...)
  - podSelector:
    (...)
  ports:
  - protocol: TCP
    port: 6379
(...)

---

{{ imported_macros.image_series("Advanced Network Policies", "tikz/ingress_egress", 3, 4, "30%") }}

```yaml
(...)
egress:
- to:
  - ipBlock:
      cidr: 10.0.0.0/24
      except:
      - 10.0.0.0/32
  ports:
  - protocol: TCP
    port: 5978
```

---

### Software Defined Networking

e.g. Ansible-Playbook

```yaml
- name: Install Calico CNI Plugin
  hosts: kube_nodes
  become: yes
  tasks:
    - name: Download Calico manifest
      get_url:
        url: https://docs.projectcalico.org/v3.19/manifests/calico.yaml
        dest: /tmp/calico.yaml

    - name: Apply Calico manifest to the cluster
      kubectl:
        kubeconfig: /etc/kubernetes/admin.conf
        state: present
        definition: "{ { lookup('file', '/tmp/calico.yaml') } }"
```

--

```yaml
- name: Use Network Policy
  hosts: kube_master
  become: yes
  tasks:
    - name: Create Network Policy
      kubectl:
        kubeconfig: /etc/kubernetes/admin.conf
        state: present
        definition:
          kind: NetworkPolicy
          (...)
          spec:
            policyTypes:
              - Ingress
            ingress:
              - ports:
                  - protocol: TCP
                    port: 443

```

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/kubernetes/aufgaben/06-networking/)

Navigieren Sie nach: Kubernetes ⇨ Aufgaben ⇨ Netzwerk
