{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("How to contribute", "Images", imported_macros.theme()) }}

---

### Standard .multi.tex-structure

```
\documentclass[crop,tikz]{standalone}
\usepackage{tikz}
\input{../../../templates/common.tex}
\usepackage{ifthen}
\usetikzlibrary{fit, arrows, shapes.arrows, positioning}
\makeatletter
\tikzset{
  >=stealth',
}

\begin{document}
  \foreach \n in {1,...,<set_number_of_slides>} {
    %set variables
    \def\height{<setheight>}
    \def\width{<setwidth>}
    \def\padding{1} %set padding to adequate number

    \begin{tikzpicture}[
      <fill with style>
    ]

      % set plane
      \draw [draw=none, fill=gray!10](0,0) rectangle (\width,\height);

    \end{tikzpicture}
  }
\end{document}
```

---

### Common picture colors

- slides/templates/common.tex defines standard colors
- set highlight colors to highlight a specific part on a specific picture

```
\newcommand{\sethighlightcolorforoneslide}[3]{
  \ifthenelse{ #3 = #2 }{
    \definecolor{ #1 }{named}{corewireblue}
  }{
    \definecolor{ #1 }{named}{corewiredark}
  }
}

...

% inside the foreach-loop
\sethighlightcolorforoneslide{highlightcolor<number>}{<number of picture>}{\n}
```

---

### Git picture style

```
\begin{tikzpicture}[
    base/.style = {draw=black, minimum width=2cm, minimum height=0.75cm, rectangle, rounded corners},
    commit/.style = {base, fill=green!20},
    snap/.style = {base, fill=gray!30},
    main/.style = {base, fill=blue!30},
    head/.style = {base, fill=black!60, text=white},
    node distance=0.5cm and 0.75cm,
  ]

...

% use style with [- and ]-brackets
\node [commit](<name>) at (x, y) [align=center] {<label>};
```

---

### Docker picture style

```
% set variables
\def\boxwidth{3.5} % width of node
\def\boxheight{1.2} % height of node

\begin{tikzpicture}[
      box/.style={draw=none, text=corewirelight, minimum width=\boxwidth cm, minimum height=\boxheight cm},
      ->, thick,
      node distance=0.5cm and 0.75cm,
    ]
```

- set node distance to convenient measures to use left of/above of/...

---

### Fontawesome

- use fontawesome to include pictograms

```
\begin{tikzpicture}[
    fontawesome/.style = {scale=1},
  ]

```

---

## Git examples

---

### Flowchart

[git/1-introduction/tikz/commit_push_pull_12.svg](../../git/1-introduction/tikz/commit_push_pull_12.svg)

![](../../git/1-introduction/tikz/commit_push_pull_12.svg)<!-- .element width="80%" -->

--

### Flowchart - nodes in nodes

```
% left box (PC1)
\def\leftboxtop{\height - \padding}
\def\leftboxbottom{\leftboxtop - 7.5}
\def\leftboxleft{\padding}
\def\leftboxright{\leftboxleft + 4.25}
\def\leftboxcenter{\leftboxleft + 2.125}
\draw [fill=white](\leftboxleft, \leftboxbottom) rectangle (\leftboxright, \leftboxtop) node [fitting node] (leftbox) {};
\node at (\leftboxcenter, \leftboxtop - 0.5) {Computer 1};

...

\draw [fill=gray!10](\leftboxleft + \padding, \leftboxbottom + \padding) rectangle (\leftboxright - \padding, \leftboxtop - 2) node[fitting node](versiondb){};
\node [file](file) at (\leftboxcenter, \leftboxtop - 1.25) {File};
\node at (\leftboxcenter, \leftboxtop - 2.5) {Version DB};
\node [version](pc1_version3) at (\leftboxcenter, \leftboxtop - 4.5) {Version 3};
\node [version](pc1_version2) at (\leftboxcenter, \leftboxtop - 5.5) {Version 2};
\node [version](pc1_version1) at (\leftboxcenter, \leftboxtop - 6.5) {Version 1};
\draw (pc1_version3) -- (pc1_version2);
\draw (pc1_version2) -- (pc1_version1);
```

--

### Flowchart - arrow with label

```
% arrow from leftbox to topbox with label 'git push'
\draw [->,thick](leftbox) -- node [above]{git push}(topbox);
```

---

### Branching

[git/3-branches/tikz/branches_7.svg](../../git/3-branches/tikz/branches_7.svg)

![](../../git/3-branches/tikz/branches_7.svg)<!-- .element width="70%" -->

--

### Branching - arrows

- arrows from newer commits to older commits

```
\draw [->] (n3) -- (n2);
\draw [->] (n2) -- (n1);
\draw [->] (n1) -- (init);
```

--

### Branching - positioning

```
% commits
\node [commit](init) at (1.25, \height/2 - 0.625) [align=center] {e8f65};
\node [commit, right=of init](n1){4ec47};
\node [commit, right=of n1](n2){d0826};
\node [commit, right=of n2](n3){94850};

% Branches
\node [main, above=of n2](main){main};
\node [main, below=of n3](testing){testing};

%HEAD
\node [head, above=of main](head){HEAD};
```

---

## Docker examples

---

### Flowcharts

[docker/common/tikz/daily-goal/docker-intro-1_8.svg](../../docker/common/tikz/daily-goal/docker-intro-1_8.svg)

![](../../docker/common/tikz/daily-goal/docker-intro-1_8.svg)<!-- .element width="70%" -->

--

### Flowcharts - fontawesome

[command list fontawesome](https://mirrors.ibiblio.org/CTAN/fonts/fontawesome/doc/fontawesome.pdf)
```
\node [fontawesome, text=markcolor2](user) at (1, 2) [align=center] {\Huge{\faUser} \\ \small{Developer}};
```

--

### Flowcharts - arrows with labels

```
% horizontal arrows with horizontal label above
\draw (code) -- node [above, text=markcolor2] {\small{\texttt{docker build}}} (image);

% diagonal arrows with diagonal label above
\draw (image) -- node [above, sloped, text=markcolor2] {\small{\texttt{docker push}}} (cloud);

% bended arrows with horizontal label below
\draw[color=markcolor2] (image2) edge[bend left=-30, bend right=30,] node [below,text=markcolor2] {\small{\texttt{docker compose up}}} (container2);
```

---

### Boxes

[docker/common/tikz/container-image-content_1.svg](../../docker/common/tikz/container-image-content_1.svg)

![](../../docker/common/tikz/container-image-content_1.svg)<!-- .element width="40%" -->

--

### Boxes - background of nodes

```
% set outer background
\draw [draw=none, fill=gray!10](0,1) rectangle (\width,\height);

% set inner background a little darker with a border
\draw [fill=gray!20](0.75, \height - 1.5) rectangle (\width - 0.75, 1.5);
```

---

### Dependencies

[13-runtime-interna/tikz/docker-architecture_2.svg](../../docker/13-runtime-interna/tikz/docker-architecture_2.svg)

![](../../docker/13-runtime-interna/tikz/docker-architecture_2.svg)<!-- .element width="70%" -->

--

### Dependencies - arrows to anchors

```
\draw (host_cli) -- node[midway, above, fill=gray!10] {API-over-socket}  (host_dockerd.west);
```

--

### Dependencies - positioning of nodes

```
\node (host_runc) [right=of host_cli, box, fill=highlightcolor7] {\large{runc}};
\node (host_containerd) [above=of host_runc, box, fill=highlightcolor6] {\large{containerd}};
\node (host_dockerd) [above=of host_containerd, box, fill=highlightcolor4] {\large{dockerd}};
\node (host_distribution) [above=of host_dockerd, box, fill=highlightcolor5] {\large{distribution}};
\node (registries) [right= of host_distribution, box, fill=corewiredark] {\large{Registries}};
```

--

### Dependencies - use of variables

```
\node (host_os) at (\padding+3*\boxwidth/2, \lowerbound) [draw=none, fill=highlightcolor8, text=corewirelight, minimum width=3*\boxwidth cm, minimum height=\boxheight cm] {\large{OS}};
```
