# Pod Management

!!! goal "Ziel"
    In diesem Projekt geht es um die Erstellung von Pods. Sie werden:

    - Kopien eines Pods erstellen
    - Auf- und abwärts skalieren
    - ReplicaSets mit Services verwenden
    - Deployments erstellen und aktualisieren
    - Einen Service hinzufügen und die Konnektivität prüfen

!!! tipp "Hilfsmittel"

    - Versuchen Sie, die unten stehenden Aufgaben mit Hilfe der [Folien](../../03-pod-management/#/)
    und des [Cheatsheets](../../cheatsheets/02-pod-management/) eigenständig zu lösen.
    - Sollten Sie dabei Probleme haben, finden Sie bei jeder Aufgabe einen ausklappbaren Block, in dem der Lösungsweg beschrieben wird.
    - [ReplicaSet](https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/) und [Deployments](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/) werden auch in der offiziellen Kubernetes-Dokumentation erklärt.

{% import "pod-management.md.jinja" as podmanagement %}

{{ podmanagement.create_identical_pods(1) }}
{{ podmanagement.scale_replicas(2) }}
{{ podmanagement.recover_lost_pods(3) }}
{{ podmanagement.use_replicasets_with_services(4) }}
{{ podmanagement.create_deployment(5) }}
{{ podmanagement.update_deployment(6) }}
{{ podmanagement.use_service_and_test_connectivity(7) }}
{{ podmanagement.history_and_rollback(8) }}
{{ podmanagement.cleanup() }}