# Volumes

!!! goal "Ziel"
    In diesem Projekt geht es um Volumes und Mount-Punkten. Sie werden:

    - Volumes erstellen und inspizieren
    - Dateien aus ConfigMaps und Secrets mounten

!!! tipp "Hilfsmittel"

    - Versuchen Sie, die unten stehenden Aufgaben mit Hilfe der [Folien](../../05-volumes/#/)
    und des [Cheatsheets](../../cheatsheets/04-volumes/) eigenständig zu lösen.
    - Sollten Sie dabei Probleme haben, finden Sie bei jeder Aufgabe einen ausklappbaren Block, in dem der Lösungsweg beschrieben wird.

{% import "volumes.md.jinja" as volumes %}

{{ volumes.empty_dir_volumes(1) }}
{{ volumes.hostpath_volumes(2) }}
{{ volumes.configmap_mount(3) }}
<!-- Can be activated again if more hands-on are neded
{{ volumes.secret_mount(4) }}
-->
{{ volumes.persistent_volumes(4) }}
{{ volumes.pvc_with_csi_plugin(5) }}
{{ volumes.cleanup() }}
