# Pod Management 2

!!! goal "Ziel"
    In diesem Projekt geht es um fortgeschrittene Techniken zur Erstellung von Pods. Sie werden:

    - StatefulSets, (Cron-)Jobs und DaemonSets erstellen
    - Unterschiedliche Deployment-Strategien anwenden

!!! tipp "Hilfsmittel"

    - Versuchen Sie, die unten stehenden Aufgaben mit Hilfe der [Folien](../../08-pod-management-2/#/)
    und des [Cheatsheets](../../cheatsheets/07-pod-management-2/) eigenständig zu lösen.
    - Sollten Sie dabei Probleme haben, finden Sie bei jeder Aufgabe einen ausklappbaren Block, in dem der Lösungsweg beschrieben wird.
    - [StatefulSets](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/), [DaemonSets](https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/) und [Jobs](https://kubernetes.io/docs/concepts/workloads/controllers/job/) werden auch in der offiziellen Kubernetes-Dokumentation erklärt.

{% import "pod-management-2.md.jinja" as podmanagement2 %}

{{ podmanagement2.statefulset(1) }}
{{ podmanagement2.daemonset(2) }}
{{ podmanagement2.cleanup() }}