# Pods auf Nodes verteilen

!!! goal "Ziel"
    In diesem Projekt geht es um den Scheduler und wie Pods auf Nodes verteilt werden. Sie werden:

    - Node-Selektoren verwenden
    - Node-Affinity und Pod-(Anti-)Affinity verwenden
    - Taints und Tolerations testen
    - Resource Requests und Limits setzen

!!! tipp "Hilfsmittel"

    - Versuchen Sie, die unten stehenden Aufgaben mit Hilfe der [Folien](../../11-nodes-and-pods/#/)
    und der [Cheatsheets](../../cheatsheets/10-nodes-and-pods/) eigenständig zu lösen.
    - Sollten Sie dabei Probleme haben, finden Sie bei jeder Aufgabe einen ausklappbaren Block, in dem der Lösungsweg beschrieben wird.

{% import "nodes-and-pods.md.jinja" as nodesandpods %}

{{ nodesandpods.kubernetes_scheduling_intro(1) }}
{{ nodesandpods.node_selectors(2) }}
{{ nodesandpods.node_affinity(3) }}
{{ nodesandpods.pod_resources(4) }}
{{ nodesandpods.cleanup() }}
