{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Keycloak", "Authentifizierungsflows", imported_macros.theme()) }}

---

### Flows

Was ist notwendig für einen erfolgreiche:

- Authentifizierung?
- Registrierung?

---

### Flows

- Abfolge von Schritten
- Standard-Flows
- Anpassbar/konfigurierbar

---

### Flows

- Registrierung
- Login
- Passwort Reset
- ...

---

### Demo: Flows

---

### Flows

- Realm-Defaults
- Login-Flow pro Client überschreibbar

---

### Flow Requirements

- `Disabled`
  - Wird nicht berücksichtigt
- laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaang<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->

--

### Flow Requirements

- `Disabled`
- `Required`
  - Notwendiger Schritt/Sub-Flow
  - Muss erfolgreich durchlaufen
- laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaang<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->

--

### Flow Requirements

- `Disabled`
- `Required`
- `Alternative`
  - Erster erfolgreicher Schritt macht Eltern-Schritt erfolgreich
  - Nicht mit `required` kombinierbar
- laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaang<!-- .element class="placeholder" -->
- A<!-- .element class="placeholder" -->

--

### Flow Requirements

- `Disabled`
- `Required`
- `Alternative`
- `Conditional`
  - Alle Bedingungen wahr -> `Required`
  - Sonst `Disabled`
- laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaang<!-- .element class="placeholder" -->

---

### Bedingungen

- Nutzer in Rolle
- Nutzer hat OTP
- Nutzer hat Attribut
- Sub-Flow wurde ausgeführt
- Client Scope vorhanden
- Jeweils mit Negation
<!-- .element: class="fragment"-->

---

### Schritte

- Automatische Schritte
  - Keine Interaktion notwendig
  - z.B. Cookie
  - `Access granted`, `Access denied`
- Interaktive Schritte
  - Formulare
- Email
  - z.B. Passwort Reset

---

### Erweiterte Flows

- Passwortloser Login Flow
  - WebAuthn
- Step-up Login Flow
