{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Kubernetes", "Lab", imported_macros.theme()) }}

---

{{ imported_macros.image_series("Wordpress-Lab", "tikz/labstruktur", 1, 8, "50%")}}

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/kubernetes/aufgaben/05-wordpress-lab/)

Navigieren Sie nach: Kubernetes ⇨ Aufgaben ⇨ Wordpress-Lab
