{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("DevOps Grundlagen", "Einführung", imported_macros.theme()) }}

---

{{ imported_macros.participants_introduction_round() }}

---

### Agenda - Tag 1

- Einführung
- Pipelines
- Container
- Cloud

---

### Agenda - Tag 2

- Cloud
- X as Code
- Skalierung und Microservices
- Observability
  - Monitoring
  - Logging
  - Alarme

---

{{ imported_macros.image_series("Ziel", "../../common/tikz/devops/motivation", 1, 5)}}

---

### Ziel

Änderungen möglichst

- schnell
- effizient
- fehlerfrei

zum Kunden bringen

---

### Weg zum Ziel

![](../../common/tikz/devops_2.svg) <!-- .element width="55%" -->

---

{{ imported_macros.image_series("Wo kommen wir her?", "../../common/tikz/ops_without_container", 1, 7, width="80%")}}

---

### Klassische Entwicklung - Rollen

- 📜 Entwicklung
- 🧪 Tester
- ⛑️ Support
- 🛠️ Admins

---

{{ imported_macros.image_series("Wo kommen wir her?", "./tikz/from_dev_and_ops_to_devops", 1, 8, width="55%")}}

---

### Wasserfallmodell

![](./tikz/from_dev_and_ops_to_devops_7.svg) <!-- .element width="55%" -->

---

### Team-zentrisches Denken

- Optimierung "bis zur Übergabe"
- Nicht "bis zum Kunden"
- Beispiel: Schlechte Logs

---

### Vermeidbare Risiken

- Manuelle Prozesse
    - Inkonsistenz im Build und Release-Prozess
- Menschlicher Faktor

---

### Unflexibel

- Anforderungen haben sich geändert
    - Vertrieb über CDs vs. Webanwendungen
    - Voller Funktionsumfang vs. Time-to-Market

---

### Produktentwicklung in der IT

|   | Entwicklung | Produktion | Auslieferung |
|---|:---:|:---:|:---:|
| Nicht IT | ⌛ | ⌛ | ⌛ |
| Wasserfall<!-- .element: class="placeholder"--> | | | |
| Agil<!-- .element: class="placeholder"--> | | | |

--

### Produktentwicklung in der IT

|   | Entwicklung | Produktion | Auslieferung |
|---|:---:|:---:|:---:|
| Nicht IT | ⌛ | ⌛ | ⌛ |
| Wasserfall | ⌛ | 🚗💨 | ⌛ |
| Agil<!-- .element: class="placeholder"--> | | | |

--

### Produktentwicklung in der IT

|   | Entwicklung | Produktion | Auslieferung |
|---|:---:|:---:|:---:|
| Nicht IT | ⌛ | ⌛ | ⌛ |
| Wasserfall | ⌛ | 🚗💨 | ⌛ |
| Agil | 🚗💨 | 🚗💨 | ⌛ |

---

### Wasserfallmodell

![](./tikz/from_dev_and_ops_to_devops_7.svg) <!-- .element width="55%" -->

---

### Agile Entwicklung

![](./tikz/from_dev_and_ops_to_devops_8.svg) <!-- .element width="55%" -->

--

### Agile Entwicklung

![](./tikz/from_dev_and_ops_to_devops_9.svg) <!-- .element width="55%" -->

---

### Gemeinsames Team

![](./tikz/from_dev_and_ops_to_devops_10.svg) <!-- .element width="55%" -->

---

{{ imported_macros.image_series("Automatisierung", "./tikz/from_dev_and_ops_to_devops", 11, 15, width="55%")}}

---

### Was haben wir jetzt erreicht?

- End-2-End-Prozess Optimierung
- Konsistenter, schneller und einfacher zum Kunden

---

### DevOps

![](../../common/tikz/devops_2.svg) <!-- .element width="55%" -->

---

### DevOps - Umsetzung

- Kommunikation / Kollaboration
    - Gemeinsames Team
    - Gemeinsame Verantwortung
- Automatisierung
    - CI / CD
    - Infrastructure as Code
    - Monitoring/Logging
- Schnelles Feedback

---

### DevOps Leitsätze

- Deploy small, release often
- Fail fast, fail cheap
- You build it, you run it

---

### DevOps Ziel

- Kundenfokusiert
- Stetige Verbesserung
- Stetiges Experimentieren und Lernen

---

### Zeitliche Entwicklung

![](./img/timeline.svg) <!-- .element width="90%" -->

---

### CI/CD

![](../../common/tikz/devops_2.svg)<!-- .element width="70%" -->

--

### CI/CD

![](../../common/tikz/devops_3.svg)<!-- .element width="70%" -->

---

{{ imported_macros.image_series("Was ist CI/CD?", "../../common/tikz/ci-cd/ci-vs-cd", 1, 6, "80%")}}

---

### Warum CI/CD?

- Minimierung manueller Schritte
- Reproduzierbarkeit
- Implizite Dokumentation
- Kürzere Release-Zyklen
<!-- .element: class="fragment" data-fragment-index="1" -->
- Qualitätskontrolle
<!-- .element: class="fragment" data-fragment-index="1" -->

⇨ Pipeline als automatisierter Prozess
<!-- .element: class="fragment" data-fragment-index="2" -->

---

{{ imported_macros.image_series("Anwendung: Einfache CI", "../../common/tikz/ci-cd/simple-ci", 1, 7, "60%")}}

---

### Demo: CI/CD

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/devops_foundations/aufgaben/01-devops-with-gitlab/)

Navigieren Sie nach:<br/>
DevOps Grundlagen ⇨ Aufgaben ⇨ DevOps Workflows
