{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Keycloak", "Clients und Protokolle", imported_macros.theme()) }}

---

{{ imported_macros.image_series("Clients und Protokolle", "../common/tikz/user_federation_vs_identity_provider", 1, 9, "80%")}}

---

{{ imported_macros.image_series("Keycloak User Model", "../common/tikz/user_federation_vs_identity_provider", 3, 4, "80%")}}

---

### Keycloak User Model

- Information und Metadaten zu einem Nutzer
  - Id, Nutzername, Email
  - Passwort, OTP, Sessions, Token
  - Gruppen, Rollen
  - Benutzerdefinierte Attribute
- Sichere Passwortspeicherung
  - argon2, 5 Iterationen

---

### Passwort Richtlinien

- Beliebige Richtlinien erstellbar
  - Länge
  - Komplexität
  - Nicht Username, Email, alte Passwörter
- **Länge** wichtiger als Komplexität


[Dokumentation](https://www.keycloak.org/docs/latest/server_admin/#_password-policies)
<!-- .element class="acknowledgment" -->

---

{{ imported_macros.image_series("User federation", "../common/tikz/user_federation_vs_identity_provider", 4, 5, "80%")}}

---

### User federation

- Externe Nutzerverwaltung
- Zugriff via LDAP oder Kerberos (AD)
- Periodische Synchronisation möglich
- Passwortüberprüfung immer auf dem externen System

[Dokumentation](https://www.keycloak.org/docs/latest/server_admin/index.html#_user-storage-federation)
<!-- .element class="acknowledgment" -->

---

### Demo: Usermodel

---

{{ imported_macros.image_series("SSO Protokolle", "../common/tikz/user_federation_vs_identity_provider", 3, 4, "80%")}}

---

### SSO Protokolle

- OIDC
  - Open ID Connect
  - Basiert auf OAuth2.0
- SAML
  - Security Assertion Markup Language

---

### OAuth2.0

- Autorisierungsprotokoll (**nicht** AuthN)
- Ermöglicht einer Anwendung
  - im Namen des Nutzers
  - Zugriff auf Ressourcen
  - ohne Weitergabe des Passworts

---

### OAuth2.0 Beispiel

![](./img/oauth2.png)<!-- .element class="corewire-logo" width="40%" -->

---

### OAuth2.0

- Flows
  - Wie erhalte ich meinen Token?
- Scopes
  - Was darf der Token?

---

### OAuth2.0 Flows

- Authorization Code (+PKCE)
  - PKCE = Proof Key for Code Exchange
- ~~Implicit Flow~~
- ~~Resource Owner Password Credentials Flow~~
- Client Credentials
- Device Code
- Refresh Token

---

### Authorization Code

![](../../common/mermaid/oidc/auth_code_motivation.mmd.svg)<!-- .element width="40%" -->

Beispiele:
<!-- .element: class="fragment" data-fragment-index="1"-->
- Mail-Client <-> GoogleMail
<!-- .element: class="fragment" data-fragment-index="1"-->
- 3rd Party CI/CD <-> Github
<!-- .element: class="fragment" data-fragment-index="1"-->
- Music-Recommender <-> Spotify
<!-- .element: class="fragment" data-fragment-index="1"-->

---

### OAuth2.0

- Ermöglicht einer Anwendung
  - im Namen des Nutzers
  - Zugriff auf Ressourcen
  - ohne Weitergabe des Passworts
  <!-- .element: class="fragment"-->

---

### Authorization Code

![](../../common/mermaid/oidc/auth_code_simple.mmd.svg)<!-- .element width="50%" -->

Zugriff auf API ohne direkten Zugang zum Passwort
<!-- .element: class="fragment"-->

---

### Authorization Code

![](../../common/mermaid/oidc/auth_code_simple_attacker.mmd.svg)<!-- .element width="50%" -->

---

### Authorization Code

- Token nicht an Client gebunden
- Jeder mit Token erhält Zugriff
- Token Teil von Redirects
  - Potentiell Teil der Browserhistory
<!-- .element: class="fragment"-->
  - Nicht sicher
<!-- .element: class="fragment"-->

---

### Authorization Code

![](../../common/mermaid/oidc/auth_code_client_auth.mmd.svg)<!-- .element width="50%" -->

---

### Authorization Code

- Kurzlebiger Auth-Code
- Client-Authentifizierung
  - Client-Id, Client Secret
- Access Token wird direkt ausgetauscht

---

### Authorization Code

![](../../common/mermaid/oidc/auth_code_full.mmd.svg)<!-- .element width="80%" -->

---

Authorization Code Flow benötigt private Kommunikation zwischen Client und Auth-Server.

Was, wenn dies nicht gegeben ist?
<!-- .element: class="fragment"-->

---

### Public Client

- SPAs, Apps ohne Backend
- Client Secret wäre nicht geschützt
- Früher: ~~Implicit Flow~~
  - Implizite Client Authentifizierung durch Redirects
  - Deprecated ⚠️
- Lösung: PKCE
<!-- .element: class="fragment"-->

---

### Proof Key for Code Exchange

![](./../../common/mermaid/oidc/pkce.mmd.svg)<!-- .element width="70%" -->

---

### Proof Key for Code Exchange

- Client:
  ```shell
  Code Verifier: somerandomvalue
  Code Challenge: SHA256(somerandomvalue) = b58325822e1462cc7b...
  ```
- Auth-Request
<!-- .element: class="fragment" data-fragment-index="1"-->
  - Code Challenge wird mitgeschickt (CC)
<!-- .element: class="fragment" data-fragment-index="1"-->
  - Auth-Server speichert CC
<!-- .element: class="fragment" data-fragment-index="1"-->
- Token-Exchange
<!-- .element: class="fragment" data-fragment-index="2"-->
  - Code Verifier wird mitgeschickt (CV)
<!-- .element: class="fragment" data-fragment-index="2"-->
  - Auth-Server vergleicht `SHA256(CV) == CC`
<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Proof Key for Code Exchange

=> Auth-Server kann verifizieren, dass beide Requests vom gleichen Client stammen

---

### Client Credentials

- Maschinen-zu-Maschinen-Kommunikation
- `client_id` und `client_secret` ausreichend
- Kein User erforderlich
- Client authentifiziert sich selbst

---

### Device Code

- Für Geräte ohne direkten Login
- z.B. Smart-TVs

---

### Refresh Token

- Erneute Tokens ohne Einloggen
<!-- .element: class="fragment" data-fragment-index="1"-->
- Ermöglicht kurzlebige Access Tokens
<!-- .element: class="fragment" data-fragment-index="1"-->
- Reduziert Serverlast
<!-- .element: class="fragment" data-fragment-index="1"-->

---

### OAuth2.1

- Anstehende Erweiterung (noch nicht final)
- OAuth 2.0 (RFC 6749) von 2012
- Beinhaltet unter anderem:
  - PKCE wird zur Pflicht
  - Veraltete Flows werden entfernt
    - ~~Implicit Flow~~
    - ~~Resource Owner Password Credentials Flow~~

[Dokumentation](https://oauth.net/2.1/)
<!-- .element class="acknowledgment" -->

---

### Open ID Connect (OIDC)

- Identitätsschicht über OAuth 2
- Erweiterung für Authentifizierung (Nutzerverifikation)
- Definiert den Id Token
- Scope: `openid`
  => Auth Server wird Identity Provider

[OIDC Spec](https://openid.net/specs/openid-connect-core-1_0.html)
<!-- .element class="acknowledgment" -->

---

### OIDC - Scopes

- Definierte Scopes für OIDC
  - Notwendig
    - `openid`
  - Optional
    - `profile`, `email`, `address`,
    - `phone`, `offline_access`

[Dokumentation: Scopes](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims)
<br/>
[Dokumentation: Offline Access](https://openid.net/specs/openid-connect-core-1_0.html#OfflineAccess)
<!-- .element class="acknowledgment" -->

---

### Demo: OIDC

---

### OIDC - Token

- Access Token
  - Zugriff auf API
  - Kurzlebig (5-15 Minuten)
- AA<!-- .element class="placeholder" -->
  - Längere Lebensdauer (30 min bis mehrere Tage)<!-- .element class="placeholder" -->

--

### OIDC - Token

- Access Token
- Id Token
  - Enthält Infos über Nutzer
- AA<!-- .element class="placeholder" -->
  - Längere Lebensdauer (30 min bis mehrere Tage)<!-- .element class="placeholder" -->

--

### OIDC - Token

- Access Token
- Id Token
- Refresh Token
  - Längere Lebensdauer (30 min bis mehrere Tage)
  - Kann invalidiert werden

---

### Json Web Token (JWT)

- Base64-Encoded
- Signiert
  - Gegen Veränderung geschützt
- Inhalte für Nutzer sichtbar

---

### Client Scopes

- Gruppe von Mappern
- Mapper:
  - Fügen Werte zu einem/mehrern Token
- "Scope":
  - Nur Nutzer mit der Rolle können Client-Scope anfragen
---

### Security Assertion Markup Language (SAML)

- Standard für Authentifizierung und Autorisierung
- XML-basiertes Protokoll
- Ermöglicht Single Sign-On (SSO)
- Weit verbreitet in Unternehmen und Hochschulen

---

### SAML - Komponenten

- Identity Provider (IdP)
  - Authentifiziert Nutzer
<!-- .element: class="fragment" data-fragment-index="1"-->
  - Stellt SAML Assertions aus
<!-- .element: class="fragment" data-fragment-index="1"-->
- Service Provider (SP)
  - Vertraut dem IdP
<!-- .element: class="fragment" data-fragment-index="2"-->
  - Gewährt Zugriff
<!-- .element: class="fragment" data-fragment-index="2"-->
- SAML Assertion
  - Enthält Authentifizierungs- und Autorisierungsinformationen
<!-- .element: class="fragment" data-fragment-index="3"-->

---

### SAML - Assertion Typen

- Authentication Assertion
- Attribute Assertion
- Authorization Decision Assertion

---

### Demo: SAML

---

{{ imported_macros.image_series("Identity Broker", "../common/tikz/user_federation_vs_identity_provider", 7, 9, "80%")}}

---

### Identity Broker

![](./mermaid/identity_broker_flow.mmd.svg)<!-- .element class="corewire-logo" width="100%" -->

---

### Identity Broker

- Default Identity Provider
  - Realm-Einstellungen -> Browser Flow
  - Vom Client via `kc_idp_hint`-Query-Parameter
  - Nur OIDC
- Post Login Flow
  - Zusätzliche Authentifizierung nach Login mit IDP
  - zB. 2FA

---

### User, Gruppen, Rollen

![](./tikz/user-group-role_1.svg)<!-- .element width="100%" -->

---

### Gruppen

- Gruppe von Nutzer
- Ein Nutzer kann in mehreren Gruppen sein
- Gruppen sind hierarchisch
  - Gruppe hat `0-1` Elterngruppe
  - Gruppe hat `0-n` Kindgruppen
- Default-Gruppen

---

### Rollen

- Realm-Roles
<!-- .element: class="fragment" data-fragment-index="1"-->
  - Keinem Client zugewiesen
<!-- .element: class="fragment" data-fragment-index="1"-->
  - Können mit Client- und Realm-Roles assoziiert werden
<!-- .element: class="fragment" data-fragment-index="1"-->
- laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaang<!-- .element class="placeholder" -->
- laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaang<!-- .element class="placeholder" -->

--

### Rollen

- Realm-Roles
- Client-Roles
  - Client zugewiesen
  - Können mit Client- und Realm-Roles assoziiert werden
- laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaang<!-- .element class="placeholder" -->

--

### Rollen

- Realm-Roles
- Client-Roles
- Composite Roles
  - Alle Rollen, die mit anderen assoziiert sind
- laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaang<!-- .element class="placeholder" -->

--

### Rollen

- Realm-Roles
- Client-Roles
- Composite Roles
- Default Roles
- laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaang<!-- .element class="placeholder" -->

---

### Gruppen vs. Rollen

Gemeinsamkeiten:

- Optionale Feature
- Organisation von Nutzern und Berechtigungen
- Definieren Attribute

---

### Gruppen vs. Rollen

Unterschiede:

- Rollen:
  - definieren Zugang zu ClientScopes
  - sind im Token enthalten

Achtung ⚠️: "full scope allowed" by default
<!-- .element: class="fragment" -->

---

### Demo: Nutzer, Gruppen, Rollen

---

### Multi Tenancy

Wie umsetzen?

---

### Multi Tenancy

1. Option: Alle Clients und Nutzer in einem Realm

2. Option: Ein Realm per Tenant

3. Option: Ein Realm per Tenant + ein App Realm

Note:
- Option 1: Am einfachsten, Admin für nur einen Tenant nicht möglich
- Option 2: Beste Isolation, Duplizierte Client Config
- Option 3: Flexible, aber duplizierte User Data, 2 Sessions

---

### Organizations

- Seit Version 26
- Multi-Tenancy in einem Realm
- Domain + IdP
