{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Versioning with Git", "Branches - Deepening", imported_macros.theme()) }}

---

### Objectives of this chapter

I can

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
resolve conflicts during merge<br/>
perform a rebase instead of a merge<br/>
</div>

</div>

---

### Merge with Conflict

![](./tikz/merge_conflict_1.svg)<!-- .element style="width:60%" -->

---

### Merge with Conflict

Branch: main

```bash
$ cat testcases.py
# Write test cases here
```

---

### Merge with Conflict

![](./tikz/merge_conflict_2.svg)<!-- .element style="width:60%" -->

---

### Merge with Conflict

Branch: testcase-ui

```bash
$ cat testcases.py
# UI-Test
def uitest():
    TestUi()
```

---

### Merge with Conflict

![](./tikz/merge_conflict_3.svg)<!-- .element style="width:60%" -->

---

### Merge with Conflict

Branch: testcase-backend

```bash
$ cat testcases.py
# Backend-Test
def backendtest():
    TestBackend()
```

---

### Merge with Conflict

```shell
$ git switch main
```

![](./tikz/merge_conflict_4.svg)<!-- .element style="width:60%" -->

---

### Merge with Conflict

```shell
$ git merge testcase-ui
```

![](./tikz/merge_conflict_5.svg)<!-- .element style="width:60%" -->

---

### Merge with Conflict

```shell
$ git merge testcase-backend
```

![](./tikz/merge_conflict_6.svg)<!-- .element style="width:60%" -->

---

### Merge with Conflict

```shell
$ git merge testcase-ui
Aktualisiere 5c1b260..2f5e725
Fast-forward
testcases.py | 3 +++
1 file changed, 3 insertions(+)

```

```shell
$ git merge testcase-backend
Auto-merging testcases.py
CONFLICT (content): Merge conflict in testcases.py
Automatic merge failed; fix conflicts and then commit the result.
```
<!-- .element: class="fragment" -->

---

### Merge with Conflict

```gitshell
$ git status
On branch main
Your branch is up to date with 'origin/main'.

You have unmerged paths.
  (fix conflicts and run "git commit")
  (use "git merge --abort" to abort the merge)

Unmerged paths:
  (use "git add <file>..." to mark resolution)

        both modified:   tescases.py
```

---

### Merge with Conflict

```bash
$ cat testcases.py
<<<<<<< HEAD
# UI-Test
def uitest():
    TestUi()
=======
# Backend-Test
def backendtest():
    TestBackend()
>>>>>>> testcases-backend
```

---

### Merge with Conflict

```gitshell
$ git mergetool
Merging:
testcases.py

Normal merge conflict for 'testcases.py':
  {local}: modified file
  {remote}: modified file
The merge tool kdiff3 is not available as 'kdiff3'
```

---

### Merge with Conflict

```gitshell
$ git status
On branch main
Your branch is up to date with 'origin/main'.

You have unmerged paths.
  (fix conflicts and run "git commit")
  (use "git merge --abort" to abort the merge)

...

Untracked files:
  (use "git add <file>..." to include in what will be committed)

        testcases_BACKUP_12496.py
        testcases_BASE_12496.py
        testcases_LOCAL_12496.py
        testcases_REMOTE_12496.py

no changes added to commit (use "git add" and/or "git commit -a")
```

---

### Local, Remote, Base

```shell
$
```

![](./tikz/merge_1.svg)<!-- .element style="width:100%" -->

--

### Local, Remote, Base

```shell
$ git merge client
```

![](./tikz/merge_1.svg)<!-- .element style="width:100%" -->

--

### Local, Remote, Base

```shell
$ git merge client
```

![](./tikz/merge_2.svg)<!-- .element style="width:100%" -->

--

### Local, Remote, Base

```shell
$ git merge client
```

![](./tikz/merge_3.svg)<!-- .element style="width:100%" -->

--

### Local, Remote, Base

```shell
$
```

![](./tikz/merge_4.svg)<!-- .element style="width:100%" -->

--

### Local, Remote, Base

```shell
$ git merge client
```

![](./tikz/merge_4.svg)<!-- .element style="width:100%" -->

--

### Local, Remote, Base

```shell
$ git merge client
```

![](./tikz/merge_5.svg)<!-- .element style="width:100%" -->

--

### Local, Remote, Base

```shell
$ git merge client
```

![](./tikz/merge_6.svg)<!-- .element style="width:100%" -->

---

### Demo

Note:
- Demo 1

---

### Merge with Conflict

What to do if conflicts can not be resolved automatically?

- 2-way-merge
- 3-way-merge (recommended)

---

### 2-Way-Merge

Merge with VsCode

![](./img/vscode1.png)<!-- .element style="width:80%" -->

---

### 3-Way-Merge

Merge with meld

![](./img/meld3.png)<!-- .element style="width:80%" -->

---

### Project

Go to: [https://labs.corewire.de/en](https://labs.corewire.de/en/git/exercises/06-merge-with-conflict/)

Navigate to: Git ⇨ Exercises ⇨  Merge with Conflicts

---

### Rebase

```shell
$ git rebase
```

Reapply commits on top of another base tip

---

### Rebase

![](./tikz/rebase_1.svg)<!-- .element style="width:70%;" -->

--

### Rebase

![](./tikz/rebase_2.svg)<!-- .element style="width:70%;" -->

--

### Rebase

![](./tikz/rebase_1.svg)<!-- .element style="width:70%;" -->

--

### Rebase

![](./tikz/rebase_5.svg)<!-- .element style="width:70%;" -->

--

### Rebase

```shell
$
```

![](./tikz/rebase_1.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git merge testing
```

![](./tikz/rebase_1.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git merge testing
```

![](./tikz/rebase_2.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$
```

![](./tikz/rebase_1.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git switch testing
```

![](./tikz/rebase_1.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git switch testing
```

![](./tikz/rebase_3.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$
```

![](./tikz/rebase_3.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git rebase us-42
```

![](./tikz/rebase_3.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git rebase us-42
```

![](./tikz/rebase_4.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$
```

![](./tikz/rebase_4.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git switch us-42
```

![](./tikz/rebase_4.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git switch us-42
```

![](./tikz/rebase_5.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$
```

![](./tikz/rebase_5.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git merge testing
```

![](./tikz/rebase_5.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git merge testing
```

![](./tikz/rebase_6.svg)<!-- .element style="width:70%; " -->

---

{% for i in range(10) %}

### Rebase Example (remote)

![](./tikz/commit_push_pull_{{i+1}}.svg)<!-- .element style="width:70%; " -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Demo

Note:
- Demo 2

---

### Rebase Advanced

```shell
$
```

![](./tikz/rebase_onto_1.svg)<!-- .element style="width:75%; " -->

--

### Rebase Advanced

```shell
$ git switch client
```

![](./tikz/rebase_onto_1.svg)<!-- .element style="width:75%; " -->

--

### Rebase Advanced

```shell
$ git switch client
```

![](./tikz/rebase_onto_1_2.svg)<!-- .element style="width:75%; " -->

--

### Rebase Advanced

```shell
$
```

![](./tikz/rebase_onto_1_2.svg)<!-- .element style="width:75%; " -->

--

### Rebase Advanced

```shell
$ git rebase --onto main server client
```

![](./tikz/rebase_onto_1_2.svg)<!-- .element style="width:75%; " -->

--

### Rebase Advanced

```shell
$ git rebase --onto main server client
```

![](./tikz/rebase_onto_2.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$
```

![](./tikz/rebase_onto_2.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git switch main
```

![](./tikz/rebase_onto_2.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git switch main
```

![](./tikz/rebase_onto_3.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$
```

![](./tikz/rebase_onto_3.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git merge client
```

![](./tikz/rebase_onto_3.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git merge client
```

![](./tikz/rebase_onto_4.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$
```

![](./tikz/rebase_onto_4.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git switch server
```

![](./tikz/rebase_onto_4.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git switch server
```

![](./tikz/rebase_onto_5.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$
```

![](./tikz/rebase_onto_5.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git rebase main
```

![](./tikz/rebase_onto_5.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git rebase main
```

![](./tikz/rebase_onto_6.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$
```

![](./tikz/rebase_onto_6.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git switch main
```

![](./tikz/rebase_onto_6.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git switch main
```

![](./tikz/rebase_onto_7.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$
```

![](./tikz/rebase_onto_7.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git merge server
```

![](./tikz/rebase_onto_7.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git merge server
```

![](./tikz/rebase_onto_8.svg)<!-- .element style="width:100%; " -->

---

### Rebase Advanced

Pull changes from the server and execute rebase if necessary:

```shell
$ git pull --rebase <branch>
```

Reconfigure pull to rebase:

```shell
$ git config --global pull.rebase true
```

---

### Stash

```shell
$ git stash
```

Temporarily stash non-committed changes.

---

### Stash

Example:

```shell
$ git switch wrong-branch
$ echo "foo" > ./file.txt
```

```shell
$ git switch right-branch
error: Your local changes to the following files would be overwritten by checkout:
        file.txt
Please commit your changes or stash them before you switch branches.
Aborting
```
<!-- .element: class="fragment" -->

---

### Stash

Example:

```shell
$ git switch wrong-branch
$ echo "foo" > ./file.txt
```

```shell
$ git stash
$ git switch right-branch
$ git stash pop
```
<!-- .element: class="fragment" data-fragment-index="2" -->

Temporary storage for modified files and files in the index. (Untracked files are excluded)
<!-- .element: class="fragment" data-fragment-index="2" -->

---

### Project

Go to: [https://labs.corewire.de/en](https://labs.corewire.de/en/git/exercises/07-rebase/)

Navigate to: Git ⇨ Exercises ⇨  Rebase

---
{% for i in range(3) %}

### Objectives of this chapter

I can

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
resolve conflicts during merge<br/>
perform a rebase instead of a merge<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}
