{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Versionierung mit Git", "Branches - Vertiefung", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
Konflikte beim mergen auflösen<br/>
ein Rebase anstelle eines Merge durchführen<br/>
</div>

</div>

---

### Mergen mit Konflikt

![](./tikz/merge_conflict_1.svg)<!-- .element style="width:60%" -->

---

### Mergen mit Konflikt

Branch: main

```bash
$ cat testcases.py
# Write test cases here
```

---

### Mergen mit Konflikt

![](./tikz/merge_conflict_2.svg)<!-- .element style="width:60%" -->

---

### Mergen mit Konflikt

Branch: testcase-ui

```bash
$ cat testcases.py
# UI-Test
def uitest():
    TestUi()
```

---

### Mergen mit Konflikt

![](./tikz/merge_conflict_3.svg)<!-- .element style="width:60%" -->

---

### Mergen mit Konflikt

Branch: testcase-backend

```bash
$ cat testcases.py
# Backend-Test
def backendtest():
    TestBackend()
```

---

### Mergen mit Konflikt

```shell
$ git switch main
```

![](./tikz/merge_conflict_4.svg)<!-- .element style="width:60%" -->

---

### Mergen mit Konflikt

```shell
$ git merge testcase-ui
```

![](./tikz/merge_conflict_5.svg)<!-- .element style="width:60%" -->

---

### Mergen mit Konflikt

```shell
$ git merge testcase-backend
```

![](./tikz/merge_conflict_6.svg)<!-- .element style="width:60%" -->

---

### Mergen mit Konflikt

```shell
$ git merge testcase-ui
Aktualisiere 5c1b260..2f5e725
Fast-forward
testcases.py | 3 +++
1 file changed, 3 insertions(+)

```

```shell
$ git merge testcase-backend
Auto-merging testcases.py
CONFLICT (content): Merge conflict in testcases.py
Automatic merge failed; fix conflicts and then commit the result.
```
<!-- .element: class="fragment" -->

---

### Mergen mit Konflikt

```gitshell
$ git status
On branch main
Your branch is up to date with 'origin/main'.

You have unmerged paths.
  (fix conflicts and run "git commit")
  (use "git merge --abort" to abort the merge)

Unmerged paths:
  (use "git add <file>..." to mark resolution)

        both modified:   testcases.py
```

---

### Mergen mit Konflikt

```bash
$ cat testcases.py
<<<<<<< HEAD
# UI-Test
def uitest():
    TestUi()
=======
# Backend-Test
def backendtest():
    TestBackend()
>>>>>>> testcases-backend
```

---

### Mergen mit Konflikt

```gitshell
$ git mergetool
Merging:
testcases.py

Normal merge conflict for 'testcases.py':
  {local}: modified file
  {remote}: modified file
The merge tool kdiff3 is not available as 'kdiff3'
```

---

### Mergen mit Konflikt

```gitshell
$ git status
On branch main
Your branch is up to date with 'origin/main'.

You have unmerged paths.
  (fix conflicts and run "git commit")
  (use "git merge --abort" to abort the merge)

...

Untracked files:
  (use "git add <file>..." to include in what will be committed)

        testcases_BACKUP_12496.py
        testcases_BASE_12496.py
        testcases_LOCAL_12496.py
        testcases_REMOTE_12496.py

no changes added to commit (use "git add" and/or "git commit -a")
```

---

### Local, Remote, Base

```shell
$
```

![](./tikz/merge_1.svg)<!-- .element style="width:100%" -->

--

### Local, Remote, Base

```shell
$ git merge client
```

![](./tikz/merge_1.svg)<!-- .element style="width:100%" -->

--

### Local, Remote, Base

```shell
$ git merge client
```

![](./tikz/merge_2.svg)<!-- .element style="width:100%" -->

--

### Local, Remote, Base

```shell
$ git merge client
```

![](./tikz/merge_3.svg)<!-- .element style="width:100%" -->

--

### Local, Remote, Base

```shell
$
```

![](./tikz/merge_4.svg)<!-- .element style="width:100%" -->

--

### Local, Remote, Base

```shell
$ git merge client
```

![](./tikz/merge_4.svg)<!-- .element style="width:100%" -->

--

### Local, Remote, Base

```shell
$ git merge client
```

![](./tikz/merge_5.svg)<!-- .element style="width:100%" -->

--

### Local, Remote, Base

```shell
$ git merge client
```

![](./tikz/merge_6.svg)<!-- .element style="width:100%" -->

---

### Demo

Note:
- Demo 1

---

### Mergen mit Konflikt

Was tun bei nicht automatisch lösbaren Konflikten?

- 2-Wege-Merge
- 3-Wege-Merge (Empfohlen)

---

### 2-Wege-Merge

Merge mit VsCode

![](./img/vscode1.png)<!-- .element style="width:80%" -->

---

### 3-Wege-Merge

Merge mit meld

![](./img/meld3.png)<!-- .element style="width:80%" -->

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/git/aufgaben/06-merge-mit-konflikt/)

Navigieren Sie zu: Git ⇨ Aufgaben ⇨ Merge mit Konflikt

---

### Rebase

```shell
$ git rebase
```

Abfolge von Commits auf neuen HEAD anwenden

---

### Rebase

![](./tikz/rebase_1.svg)<!-- .element style="width:70%;" -->

--

### Rebase

![](./tikz/rebase_2.svg)<!-- .element style="width:70%;" -->

--

### Rebase

![](./tikz/rebase_1.svg)<!-- .element style="width:70%;" -->

--

### Rebase

![](./tikz/rebase_5.svg)<!-- .element style="width:70%;" -->

--

### Rebase

```shell
$
```

![](./tikz/rebase_1.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git merge testing
```

![](./tikz/rebase_1.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git merge testing
```

![](./tikz/rebase_2.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$
```

![](./tikz/rebase_1.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git switch testing
```

![](./tikz/rebase_1.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git switch testing
```

![](./tikz/rebase_3.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$
```

![](./tikz/rebase_3.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git rebase us-42
```

![](./tikz/rebase_3.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git rebase us-42
```

![](./tikz/rebase_4.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$
```

![](./tikz/rebase_4.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git switch us-42
```

![](./tikz/rebase_4.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git switch us-42
```

![](./tikz/rebase_5.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$
```

![](./tikz/rebase_5.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git merge testing
```

![](./tikz/rebase_5.svg)<!-- .element style="width:70%; " -->

--

### Rebase

```shell
$ git merge testing
```

![](./tikz/rebase_6.svg)<!-- .element style="width:70%; " -->

---

{% for i in range(10) %}

### Rebase Example (remote)

![](./tikz/commit_push_pull_{{i+1}}.svg)<!-- .element style="width:70%; " -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Demo

Note:
- Demo 2

---

### Rebase Advanced

```shell
$
```

![](./tikz/rebase_onto_1.svg)<!-- .element style="width:75%; " -->

--

### Rebase Advanced

```shell
$ git switch client
```

![](./tikz/rebase_onto_1.svg)<!-- .element style="width:75%; " -->

--

### Rebase Advanced

```shell
$ git switch client
```

![](./tikz/rebase_onto_1_2.svg)<!-- .element style="width:75%; " -->

--

### Rebase Advanced

```shell
$
```

![](./tikz/rebase_onto_1_2.svg)<!-- .element style="width:75%; " -->

--

### Rebase Advanced

```shell
$ git rebase --onto main server client
```

![](./tikz/rebase_onto_1_2.svg)<!-- .element style="width:75%; " -->

--

### Rebase Advanced

```shell
$ git rebase --onto main server client
```

![](./tikz/rebase_onto_2.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$
```

![](./tikz/rebase_onto_2.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git switch main
```

![](./tikz/rebase_onto_2.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git switch main
```

![](./tikz/rebase_onto_3.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$
```

![](./tikz/rebase_onto_3.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git merge client
```

![](./tikz/rebase_onto_3.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git merge client
```

![](./tikz/rebase_onto_4.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$
```

![](./tikz/rebase_onto_4.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git switch server
```

![](./tikz/rebase_onto_4.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git switch server
```

![](./tikz/rebase_onto_5.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$
```

![](./tikz/rebase_onto_5.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git rebase main
```

![](./tikz/rebase_onto_5.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git rebase main
```

![](./tikz/rebase_onto_6.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$
```

![](./tikz/rebase_onto_6.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git switch main
```

![](./tikz/rebase_onto_6.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git switch main
```

![](./tikz/rebase_onto_7.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$
```

![](./tikz/rebase_onto_7.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git merge server
```

![](./tikz/rebase_onto_7.svg)<!-- .element style="width:100%; " -->

--

### Rebase Advanced

```shell
$ git merge server
```

![](./tikz/rebase_onto_8.svg)<!-- .element style="width:100%; " -->

---

### Rebase Advanced

Änderungen vom Server holen und ggf. rebase ausführen:

```shell
$ git pull --rebase <branch>
```

Pull auf rebase umkonfigurieren:

```shell
$ git config --global pull.rebase true
```

---

### Stash

```shell
$ git stash
```

Nicht-committete Änderungen temporär "beiseitelegen".

---

### Stash

Beispiel:

```shell
$ git switch wrong-branch
$ echo "foo" > ./file.txt
```

```shell
$ git switch right-branch
error: Your local changes to the following files would be overwritten by checkout:
        file.txt
Please commit your changes or stash them before you switch branches.
Aborting
```
<!-- .element: class="fragment" -->

---

### Stash

Beispiel:

```shell
$ git switch wrong-branch
$ echo "foo" > ./file.txt
```

```shell
$ git stash
$ git switch right-branch
$ git stash pop
```
<!-- .element: class="fragment" data-fragment-index="2" -->

Temporärer Speicher für modifizierte Dateien und Dateien im Index. (Untracked Files sind ausgenommen)
<!-- .element: class="fragment" data-fragment-index="2" -->

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/git/aufgaben/07-rebase/)

Navigieren Sie zu: Git ⇨ Aufgaben ⇨ Rebase

---
{% for i in range(3) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
Konflikte beim mergen auflösen<br/>
ein Rebase anstelle eines Merge durchführen<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}
