{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("DevOps Grundlagen", "Ausblick", imported_macros.theme()) }}

---

### DevOps

![](../../common/tikz/devops_2.svg)<!-- .element width="70%" -->

Was ermöglicht uns DevOps in der Zukunft?

---

### Neue Herausforderungen

- Schnelle technologische Entwicklung
- Regulatorik (DSGVO, NIS-2, ...)
- Supply-Chain-Attacks

---

{{ imported_macros.image_series("DevSecOps", "../../common/tikz/devops/devsecops", 1, 4, "60%")}}

---

### {x}-Dev-{x}-Ops

- DevSecOps
- BizDevOps
- FinDevOps

---

{{ imported_macros.image_series("{x}-Dev-{x}-Ops", "./tikz/value-stream", 1, 6, "60%")}}

Note:
- Ursprüngliches Ziel: Schneller von der Idee zum Kunden; Team-Grenzen eingerissen
- Neue "Trends" wollen auch beachtet werden, aber richtig Plaziert im "Value-Stream" oder besser Orthogonal als unterstützende Abteilung

---

{{ imported_macros.image_series("GitOps", "../../common/tikz/devops/gitops", 1, 4, "60%")}}

---

### GitOps

- Git-Repository als Single Source of Truth
- Reconciliation-Loop (= kontinuierlicher Abgleich)
- Tools:<!-- .element: class="fragment" data-fragment-index="2"-->
    - ArgoCD<!-- .element: class="fragment" data-fragment-index="2"-->
    - Flux<!-- .element: class="fragment" data-fragment-index="2"-->
    - (Crossplane)<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Demo: GitOps

---

### Schulungsrückblick

![](../../common/tikz/devops_2.svg)<!-- .element width="70%" -->

---

{{ imported_macros.outro(imported_macros.theme()) }}
