{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("DevOps Grundlagen", "Pipelines", imported_macros.theme()) }}

---

### Wiederholung: Warum CI/CD?

- Minimierung manueller Schritte
- Reproduzierbarkeit
- Implizite Dokumentation
- Kürzere Release-Zyklen
- Qualitätskontrolle

--

### CI/CD

![](../../common/tikz/devops_2.svg)<!-- .element width="70%" -->

--

### CI/CD

![](../../common/tikz/devops_3.svg)<!-- .element width="70%" -->

---

### Eine erste Pipeline

```yml
# .gitlab-ci.yml







```

---

### YAML

* `Key: Value` Mapping
* Endet auf `.yml` oder `.yaml`
* Hierarchie durch gleichmäßige Einrückung (Leerzeichen)

---

### YAML

```YAML
# Kommentar
Key1: Value
Key2:
  Subkey: "String"
  Subkey2: "#kein Kommentar"
List:
  - Key1
  - "String"





```

---

### YAML vs. Json

```YAML
# Kommentar
Key1: Value
Key2:
  Subkey: "String"
  Subkey2: "#kein Kommentar"
List:
  - Key1
  - "String"
```
<!-- .element: style="width: 48%; float: left" -->

```JSON
{
  "Key1": Value,
  "Key2": {
    "Subkey": "String",
    "Subkey2": "#kein Kommentar"
  },
  "List": [
    "Key1",
    "String"
  ]
}
```
<!-- .element: style="width: 48%; float: right" -->

---

### Eine erste Pipeline

```yml
# .gitlab-ci.yml







```

--

### Eine erste Pipeline

```yml
# .gitlab-ci.yml
run_tests:



  script:
    - pytest demoapp
```

---

{{ imported_macros.image_series("Wo läuft ein Job?", "../../common/tikz/devops/runner", 1, 7, "80%")}}

---

### Gitlab Runner

- Separate Instanz(en)
- Go-Anwendung
- Betriebssystemunabhängig

---

### Executors

- Shell
- SSH
- Docker
- Kubernetes

---

### Executors

Unterscheiden sich durch
- Isolation der Build-Umgebung
- Zugriff auf den Host

⇨ Empfehlung: Docker oder Kubernetes
<!-- .element: class="fragment" data-fragment-index="1" -->

---

### Eine erste Pipeline

```yml
# .gitlab-ci.yml
run_tests:

  script:

    - pytest demoapp
```

--

### Eine erste Pipeline

```yml
# .gitlab-ci.yml
run_tests:
  image: python
  script:

    - pytest demoapp
```

--

### Eine erste Pipeline

```yml
# .gitlab-ci.yml
run_tests:
  image: python
  script:
    - pip install pytest
    - pytest demoapp
```

---

### Pipeline Struktur

- Jobs
  - Teilaufgabe
<!-- .element: class="fragment" data-fragment-index="1" -->
  - Parallele Ausführung
<!-- .element: class="fragment" data-fragment-index="1" -->
- Stages
  - Gruppe von Jobs
<!-- .element: class="fragment" data-fragment-index="2" -->
  - Sequenzielle Ausführung
<!-- .element: class="fragment" data-fragment-index="2" -->

---

### Stages

```yaml




build:

  script: echo "Building ..."

unittest:

  script: echo "Testing ..."

integrationtests:

  script: echo "Testing ..."
```

--

### Stages

```yaml
stages:
  - build
  - test

build:

  script: echo "Building ..."

unittest:

  script: echo "Testing ..."

integrationtests:

  script: echo "Testing ..."
```

--

### Stages

```yaml
stages:
  - build
  - test

build:
  stage: build
  script: echo "Building ..."

unittest:
  stage: test
  script: echo "Testing ..."

integrationtest:
  stage: test
  script: echo "Testing ..."
```

---

{{ imported_macros.image_series("Stages und Jobs", "../../common/tikz/devops/stages", 1, 5, "80%")}}

---

### Verbreitete Tools

- Gitlab CI
- Jenkins
- Github Actions
- Circle CI

---

### Demo: Gitlab CI
