{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("How to contribute", "Start contributing", imported_macros.theme()) }}

---

### markdown

- use of markdown to define content of slides
- .md.jinja-files to generate .md-files for use of variables
- separate slides with `--` for subslides and `---` for a new slide

---

### markdown Commands

For a markdown-tutorial see:

[Markdown-Manual](https://www.markdownguide.org/)

---

### tikz

- tikz = tikz ist kein Zeichenprogramm
- used for generating (svg-)images

---

### tikz Commands

For a tikz-tutorial see:

[Tikz-Manual](https://tikz.dev/)

---

### Multiple images

- *.multi.tex generate multiple images from one file
- inside the .multi.tex-file use

  ```\foreach \n in {1,...,<number of pictures>} {}```
- to change small details per image use

  ```\ifthenelse{\n = <number of picture>}{}```
- `>` and `<` are also applicable

---

### Generate

- generate images with

  ``` make ```
- generate liveview while editing with

  ``` make liveview <name>.multi ```

---

### Use in slides (single picture)

```
![](./tikz/<name><number>.svg)<!-- .element width="70%" -->
```

---

### Use in slides (slide show)

```
{% raw %}
{% for i in range(<number of pictures>) %}

### <Name of slide>

![](./tikz/<name><number>_{{i+1}}.svg)<!-- .element width="80%" -->

{{ "--" if not loop.last }}
{% endfor %}
{% endraw %}
```
