{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Docker® & Container", "Docker Architektur", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
den Unterschied zwischen CLI und Daemon erklären<br/>
Einstellmöglichkeiten im Daemon nennen<br/>
</div>

</div>

{% for i in range(1,7) %}
---
### Docker Architektur

![](tikz/docker-architecture_{{i}}.svg) <!-- .element width="80%" -->

{% endfor %}
---

### Docker Daemon

- `dockerd`
- Managt Docker Objekte
- Wird über den Docker-Socket angesprochen:
  ```
  /var/run/docker.sock
  ```

---

### Docker Daemon - Konfiguration

Unter Linux hier:
```bash
$ /etc/docker/daemon.json
```

Unter Windows hier:
```bash
$ %programdata%\docker\config\daemon.json
```

Einstellungen sind betriebssystemabhängig.

---

### Docker Daemon - Feature-Flags

BuildKit aktivieren - erweiterte Buildumgebung

```json
{
    "features": { "buildkit": true }
}
```

---

### Docker Daemon - Default Netzwerk

Nutzbare Netzwerkpools für Container setzen

```json
{
  "default-address-pools":[
    {"base":"172.20.0.0/16","size":24},
    {"base":"172.30.0.0/16","size":24},
    {"base":"172.40.0.0/16","size":24}
  ]
}
```
---

### Docker Daemon - Default Netzwerk

Default Bridge Netzwerk:

```shell
172.17.0.0/16
```

User-defined Bridge Netzwerk:
```shell
172.[18-31].0.0/16     # 15 /16-Netze
192.168.[16-240].0/20  # 15 /20-Netze
```

<span class="mark-bad">Achtung:</span> WLAN im ICE
<!-- .element: class="fragment" data-fragment-index="1"-->

login.wifionice.de unter 172.18.10.10 <br/>nicht mehr erreichbar
<!-- .element: class="fragment" data-fragment-index="1"-->

---

### Docker Daemon - Netzwerkeinstellungen

Parallelität und Wiederholungen limitieren

```json
{
  "max-concurrent-downloads": 3,
  "max-concurrent-uploads": 5,
  "max-download-attempts": 5,
}
```

---

### Docker Daemon - Dokumentation

Alle Einstellungen hier: <br>
[https://docs.docker.com/engine/reference/commandline/dockerd/](https://docs.docker.com/engine/reference/commandline/dockerd/)

---

### Knowledge Check

<iframe src="knowledge-checks/09-docker-architecture.html" width="800" height="500"></iframe>

---
{% for i in range(3) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
den Unterschied zwischen CLI und Daemon erklären<br/>
Einstellmöglichkeiten im Daemon nennen<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}
