{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Softwareentwicklung mit DevOps", "DevOps-Zyklus", imported_macros.theme()) }}

---

{% for i in range(2,5) %}
### DevOps-Zyklus

![](../../common/tikz/devops_{{i}}.svg) <!-- .element width="90%" -->

{% if i !=4 %}
--
{% endif %}
{% endfor %}

---

### DevOps

- nicht nur Zusammenlegung des Teams
- vorher getrennte Aufgaben liegen nun beim Team
- Automatisierung vieler Aufgaben

---

### Leitfaden

![](tikz/devops_step_by_step_1.svg) <!-- .element width="90%" -->

---

### Technologiegestützter agiler Entwicklungsprozess

![](tikz/systemgestuetzter_entwicklungsprozess_1.svg) <!-- .element width="65%" -->

---

### Planung mit Tools

- gute Übersicht
- flexibel anpassbar

---

### Leitfaden

![](tikz/devops_step_by_step_2.svg) <!-- .element width="90%" -->

---

### Code & Review Management

![](img/review_apps_preview_in_mr.png) <!-- .element width="75%" -->

---

### Code & Review Management

![](img/approvals_premium_mr_widget_v13_3.png) <!-- .element width="75%" -->

---

### Code & Review Management

- Verbesserung der Codequalität
- einfachere Zusammenarbeit

---

### Leitfaden

![](tikz/devops_step_by_step_3.svg) <!-- .element width="90%" -->

---

{% for i in range(1,4) %}
### Build

![](../common/tikz/build_{{i}}.svg) <!-- .element width="60%" -->

{% if i !=3 %}
--
{% endif %}
{% endfor %}

---

{% for i in range(1,3) %}
### Quality & Vulnerability Management

![](../common/tikz/quality_vulnerability_{{i}}.svg) <!-- .element width="80%" -->

{% if i !=2 %}
--
{% endif %}
{% endfor %}

---

### Leitfaden

![](tikz/devops_step_by_step_4.svg) <!-- .element width="90%" -->

---

{% for i in range(1,7) %}
### Testpyramide

![](tikz/pyramid_{{i}}.svg) <!-- .element width="80%" -->

{% if i !=6 %}
--
{% endif %}
{% endfor %}

---

### Testpyramide

- viele günstige Tests zur Qualitätssicherung
- Integrationstests zum Sicherstellen der funktionalen Zusammenarbeit von Komponenten
- End2End-Tests zur Sicherstellung der Kundenzufriedenheit

---

{% for i in range(2,4) %}
### Quality & Vulnerability Management

![](../common/tikz/quality_vulnerability_{{i}}.svg) <!-- .element width="80%" -->

{% if i !=3 %}
--
{% endif %}
{% endfor %}

---

### Leitfaden

![](tikz/devops_step_by_step_5.svg) <!-- .element width="90%" -->

---

{% for i in range(1,4) %}
### Release

![](tikz/release_{{i}}.svg) <!-- .element width="80%" -->

{% if i !=3 %}
--
{% endif %}
{% endfor %}

---

{% for i in range(1,9) %}
### Versionen

![](tikz/versioning_{{i}}.svg) <!-- .element width="100%" -->

{% if i !=8 %}
--
{% endif %}
{% endfor %}

---

### Versionen

- Release mit Versionen z.B. für verschiedene Features
- Release ohne Versionen für besonders schnelle Bereitstellung, z.B. eigene Infrastruktur

---

{% for i in range(3,5) %}
### Quality & Vulnerability Management

![](../common/tikz/quality_vulnerability_{{i}}.svg) <!-- .element width="80%" -->

{% if i !=4 %}
--
{% endif %}
{% endfor %}

---

### Leitfaden

![](tikz/devops_step_by_step_6.svg) <!-- .element width="90%" -->

---

{% for i in range(1,5) %}
### Deploy

![](tikz/deployment_{{i}}.svg) <!-- .element width="80%" -->

{% if i !=4 %}
--
{% endif %}
{% endfor %}

---

### Deployment

- klassisches Deployment hoher Aufwand für Nutzer/Admin
- "Continuous Deployment" Ziel

---

{{ imported_macros.image_series("Continuous Integration & Delivery & Deployment", "../../common/tikz/ci-cd/ci-vs-cd", 1, 6, "90%")}}

---

{% for i in range(4,6) %}
### Quality & Vulnerability Management

![](../common/tikz/quality_vulnerability_{{i}}.svg) <!-- .element width="80%" -->

{% if i !=5 %}
--
{% endif %}
{% endfor %}

---

### Moderne Deployment Modelle

- On-Premises
- Cloud
- Hybrid

---

## Cloud Vorteile

---

{{ imported_macros.image_series("Cloud Vorteile", "../../devops_foundations/04-cloud/tikz/cloud_advantages", 1, 7, "80%")}}

---

## Cloud Services

---

{{ imported_macros.image_series("Cloud Services", "../../devops_foundations/04-cloud/tikz/cloud_services", 1, 7, "80%")}}

---

{{ imported_macros.image_series("Cloud Services", "../../common/tikz/cloud/XaaS", 1, 5, "55%")}}

---

### Leitfaden

![](tikz/devops_step_by_step_7.svg) <!-- .element width="90%" -->

---

{% for i in range(1,7) %}
### Virtualisierung

![](tikz/bare_metal_vm_container_{{i}}.svg) <!-- .element width="100%" -->

{% if i !=6 %}
--
{% endif %}
{% endfor %}

---

{% for i in range(1,25) %}
### Orchestrierung

![](tikz/k8s_{{i}}.svg) <!-- .element width="80%" -->

{% if i !=24 %}
--
{% endif %}
{% endfor %}

---

### Leitfaden

![](tikz/devops_step_by_step_8.svg) <!-- .element width="90%" -->

---

### Monitoring

![](img/grafana_prometheus.png) <!-- .element width="65%" -->

<small> https://prometheus.io/docs/visualization/grafana/ </small>

---

{{ imported_macros.image_series("Observability", "../../devops_foundations/07-observability/tikz/observability", 1, 5, "45%")}}

---

{{ imported_macros.image_series("Observability in DevOps", "../../devops_foundations/07-observability/tikz/single_server_monitoring", 1, 5, "45%")}}

---

{{ imported_macros.image_series("Observability in DevOps", "../../devops_foundations/07-observability/tikz/multi_server_monitoring", 1, 14, "100%")}}

---

### Monitoring

- Kundenzufriedenheit wird sichergestellt
- Verbesserungen können geplant werden

---