{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Kubernetes", "Pod Management 2", imported_macros.theme()) }}

---

{{ imported_macros.image_series("Pod Creation", "./tikz/podcreation", 1, 4, width="60%")}}

---

{{ imported_macros.image_series("Pod Creation durch StatefulSet", "./tikz/podcreation", 4, 5, width="60%")}}

---

### StatefulSet

- Erstellt Pods mit eindeutigen Namen
    - z.B. für Datenbanken, Queues
- Ermöglicht persistenten Speicher für Pods
- Netzwerk-Endpunkte für jeden Pod
- Konsistente Reihenfolge beim Starten und Stoppen

---

### StatefulSet Manifest Example

```yaml
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: web
spec:
  serviceName: "nginx"
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    <...>
```

--

### StatefulSet Manifest Example

```yaml
    <...>
    spec:
      containers:
      - name: nginx
        image: registry.k8s.io/nginx-slim:0.24
        ports:
        - containerPort: 80
  volumeClaimTemplates:
  - metadata:
      name: www
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
```

---

{{ imported_macros.image_series("Pod Creation durch DaemonSets", "./tikz/podcreation", 4, 6, width="60%")}}

---

### DaemonSets

- erstellen einen bestimmten Pod auf jedem Node
- z.B. Pod für Logging, Metriken

---

### DaemonSets Manifest Example

```yaml
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: fluentd-elasticsearch
  namespace: kube-system
spec:
  selector:
    matchLabels:
      name: fluentd-elasticsearch
  template:
    metadata:
      labels:
        name: fluentd-elasticsearch
    <...>
    
    
```

--

### DaemonSets Manifest Example

```yaml
    <...>
    spec:
      tolerations:
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule
      containers:
      - name: fluentd-elasticsearch
        image: quay.io/fluentd_elasticsearch/fluentd:v2.5.2
        volumeMounts:
        - name: varlog
          mountPath: /var/log
      volumes:
      - name: varlog
        hostPath:
          path: /var/log
```

---

{{ imported_macros.image_series("Pod Creation by Jobs/CronJobs", "./tikz/podcreation", 5, 8, width="60%")}}

---

### Jobs/CronJobs

- erstellen Pods, die einmalig laufen
- z.B. Batch-Jobs, Backups
- CronJobs: erstellen Pods in regelmäßigen Abständen

---

{{ imported_macros.image_series("Jobs", "./tikz/jobs", 1, 9, width="70%")}}

---

### Job Manifest Example

```yaml
apiVersion: batch/v1
kind: Job
metadata:
  name: pi
spec:
  template:
    spec:
      containers:
      - name: pi
        image: perl:5.34.0
        command: ["perl",  "-Mbignum=bpi", "-wle", "print bpi(2000)"]
      restartPolicy: Never
  backoffLimit: 4
```

---

### Jobs

- `completions`: Anzahl der Pods, die erfolgreich beendet werden müssen
- `parallelism`: Anzahl der Pods, die gleichzeitig laufen dürfen
- `backoffLimit`: Anzahl der Wiederholungen bei Fehlern

---

### CronJob Manifest Example

```yaml
apiVersion: batch/v1
kind: CronJob
metadata:
  name: hello
spec:
  schedule: "* * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: hello
            image: busybox:1.28
            command:
            - /bin/sh
            - -c
            - date; echo Hello from the Kubernetes cluster
          restartPolicy: OnFailure
```

---

### CronJob schedule

1. Erster * ist Minute (0-59,*)
1. Zweiter * ist Stunde (0-23,*)
1. Dritter * ist Tag eines Monats (1-31,*)
1. Vierter * ist Monat (1-12,*)
1. Fünfter * ist Wochentag (0-6 (Sonntag bis Samstag),*)

Beispiel: 0 3 * * 1 bedeutet jeden Montag um 03:00 Uhr.

---

## Pod Updates

---

{{ imported_macros.image_series("Pod Updates: Rolling Update", "./tikz/k8s", 1, 8, width="60%")}}

---

{{ imported_macros.image_series("Pod Updates: Recreate", "./tikz/k8s", 7, 12, width="60%")}}

---

### Update Strategien

- **Rolling Updates:** Neue Pods erscheinen, während alte Pods noch existieren
- **Recreate:** Alte Pods werden gelöscht, dann entstehen neue Pods

---

### RollingUpdate Deployment

- `maxSurge`: Maximale Anzahl an zusätzlichen Pods
- `maxUnavailable`: Maximale Anzahl an nicht verfügbaren Pods

---

{{ imported_macros.image_series("Canary Deployments", "./tikz/canary", 1, 8, width="60%")}}

---

## Autoscaling

---

{{ imported_macros.image_series("Horizontal Pod Autoscaler", "./tikz/horizontal-autoscaler", 1, 7, width="60%")}}

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/kubernetes/aufgaben/07-pod-management-2/)

Navigieren Sie nach: Kubernetes ⇨ Aufgaben ⇨ Pod Management 2

---

### Links

- [StatefulSets](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/)
- [Jobs](https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/) / [CronJobs](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/)
- [DaemonSets](https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/)
- [RollingUpdate-Strategie](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#proportional-scaling)
- [Rolling Update Tutorial](https://kubernetes.io/docs/tutorials/kubernetes-basics/update/update-intro/)
- [Deployment API documentation](https://kubernetes.io/docs/reference/kubernetes-api/workload-resources/deployment-v1/#DeploymentSpec)
