{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Softwareentwicklung mit DevOps", "Einführung", imported_macros.theme()) }}

---

### Klassisches Projektmanagement

![](tikz/gantt_1.svg) <!-- .element width="100%" -->

---

### Klassisches Projektmanagement

- sinnvoll bei klaren und stabilen Anforderungen
- gut definierte und lineare Prozesse
- feste Deadlines und Budgets

---

{% for i in range(1,7) %}
### Cynefin-Framework

![](../common/tikz/cynefin-framework_{{i}}.svg) <!-- .element width="55%" -->

{% if i !=6 %}
--
{% endif %}
{% endfor %}

---

### Cynefin-Framework

- Software komplex
- klassisches Projektmanagement nicht zielführend
- derzeit aber häufig bei Softwareprojekten eingesetzt

---

{{ imported_macros.image_series("Wo kommen wir her?", "../../devops_foundations/01-introduction/tikz/from_dev_and_ops_to_devops", 1, 8, width="55%")}}

---

### Wasserfallmodell

![](../../devops_foundations/01-introduction/tikz/from_dev_and_ops_to_devops_7.svg) <!-- .element width="55%" -->

---

### Team-zentrisches Denken

- Optimierung "bis zur Übergabe"
- Nicht "bis zum Kunden"
- Beispiel: Schlechte Logs

---

### Vermeidbare Risiken

- Manuelle Prozesse
    - Inkonsistenz im Build und Release-Prozess
- Menschlicher Faktor

---

### Unflexibel

- Anforderungen haben sich geändert
    - Vertrieb über CDs vs. Webanwendungen
    - Voller Funktionsumfang vs. Time-to-Market

---

### Produktentwicklung in der IT

|   | Entwicklung | Produktion | Auslieferung |
|---|:---:|:---:|:---:|
| Nicht IT | ⌛ | ⌛ | ⌛ |
| Wasserfall<!-- .element: class="placeholder"--> | | | |
| Agil<!-- .element: class="placeholder"--> | | | |

--

### Produktentwicklung in der IT

|   | Entwicklung | Produktion | Auslieferung |
|---|:---:|:---:|:---:|
| Nicht IT | ⌛ | ⌛ | ⌛ |
| Wasserfall | ⌛ | 🚗💨 | ⌛ |
| Agil<!-- .element: class="placeholder"--> | | | |

--

### Produktentwicklung in der IT

|   | Entwicklung | Produktion | Auslieferung |
|---|:---:|:---:|:---:|
| Nicht IT | ⌛ | ⌛ | ⌛ |
| Wasserfall | ⌛ | 🚗💨 | ⌛ |
| Agil | 🚗💨 | 🚗💨 | ⌛ |

---

### Wasserfallmodell

![](../../devops_foundations/01-introduction/tikz/from_dev_and_ops_to_devops_7.svg) <!-- .element width="55%" -->

---

### Agile Entwicklung

![](../../devops_foundations/01-introduction/tikz/from_dev_and_ops_to_devops_8.svg) <!-- .element width="55%" -->

--

### Agile Entwicklung

![](../../devops_foundations/01-introduction/tikz/from_dev_and_ops_to_devops_9.svg) <!-- .element width="55%" -->

---

{% for i in range(1,9) %}
### Agiles Produkt-, Release,- Prozessmanagement

![](tikz/agile_management_{{i}}.svg) <!-- .element width="60%" -->

{% if i !=8 %}
--
{% endif %}
{% endfor %}

---

### Agil

- flexibel
- anpassungsfähig
- iterative Anpassungen
- schnellere Markteinführung

---

{% for i in range(1,8) %}
### Scrum

![](tikz/scrum_{{i}}.svg) <!-- .element width="80%" -->

{% if i !=7 %}
--
{% endif %}
{% endfor %}

---

### Scrum

- sinnvoll bei dynamischen und sich ändernden Anforderungen
- komplexe und innovative Prozesse
- Fokus auf Teamarbeit und Eigenverantwortung

---

{% for i in range(1,6) %}
### Kanban

![](tikz/kanban_{{i}}.svg) <!-- .element width="80%" -->

{% if i !=5 %}
--
{% endif %}
{% endfor %}

---

### Kanban

- sinnvoll bei kontinuierlichen Arbeitsprozessen
- Fokus auf Prozessoptimierung und Effizienz
- flexibel
- anpassungsfähig

---

### Gemeinsames Team

![](../../devops_foundations/01-introduction/tikz/from_dev_and_ops_to_devops_9.svg) <!-- .element width="55%" -->

--

### Gemeinsames Team

![](../../devops_foundations/01-introduction/tikz/from_dev_and_ops_to_devops_10.svg) <!-- .element width="55%" -->

---

### DevOps

- sinnvoll bei schneller und kontinuierlicher Bereitstellung von Software
- Fokus auf Skalierbarkeit und Zuverlässigkeit
- Kultur der Zusammenarbeit und kontinuierlichen Verbesserung

---

{% for i in range(1,6) %}
### Scrum, Kanban und DevOps

![](tikz/scrum_kanban_devops_{{i}}.svg) <!-- .element width="100%" -->

{% if i !=5 %}
--
{% endif %}
{% endfor %}

---

### Synergie

- DevOps schließt andere agile Methoden nicht aus
- Elemente anderer Methoden in DevOps vorhanden

---

{{ imported_macros.image_series("Automatisierung", "../../devops_foundations/01-introduction/tikz/from_dev_and_ops_to_devops", 11, 15, width="55%")}}

---

### Was haben wir jetzt erreicht?

- End-2-End-Prozess Optimierung
- Konsistenter, schneller und einfacher zum Kunden

---

{% for i in range(1,4) %}
### DevOps - vereinfacht

![](tikz/dev_op_devop_{{i}}.svg) <!-- .element width="80%" -->

{% if i !=3 %}
--
{% endif %}
{% endfor %}

---