{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Keycloak", "Installation und Grundkonfiguration", imported_macros.theme()) }}

---

### Keycloak im Container starten

Demo-Umgebung:

```shell
docker run -p 8080:8080 \
  -e KC_BOOTSTRAP_ADMIN_USERNAME=admin \
  -e KC_BOOTSTRAP_ADMIN_PASSWORD=admin \
  quay.io/keycloak/keycloak:latest start-dev
```

---

### Bootstrap Admin

- Initialer temporärer Admin
- Definiert über Umgebungsvariablen:
  - `KC_BOOTSTRAP_ADMIN_USERNAME`
  - `KC_BOOTSTRAP_ADMIN_PASSWORD`
- Dauerhafte Admin-Accounts erstellen, dann löschen

---

### Admin Konsole

- URL: `/admin/{realm-name}/console`
- Integrierter Client `realm-management`
- Client-spezifische Rollen
  - `query-*`: Auflistung im Menü
  - `view-*`: Read-Only Zugriff
  - `manage-*`: Read/Write-Zugriff

Admins können nur Rollen zuweisen, die sie selbst besitzen.

---

### Master-Realm Admin Konsole

- Kein `realm-management` Client
- Client für jeden Realm `{realm-name}-realm`
- Realm-Rollen:
  - `admin`: Vollzugriff auf alle Realms
  - `create-realm`: Kann neue Realms erstellen und verwalten

---

### Bereitstellungsoptionen:

- Container-basiert (Docker, Podman)
- Native Installation (ZIP/Tar-Distribution)
- Kubernetes/OpenShift ([Operator](https://www.keycloak.org/guides#operator))

---

### Datenbank / Persistenz

```shell
docker run -p 8080:8080 \
  -e KC_BOOTSTRAP_ADMIN_USERNAME=admin \
  -e KC_BOOTSTRAP_ADMIN_PASSWORD=admin \
  quay.io/keycloak/keycloak:latest start-dev
```

- Default: Embedded H2 Datenbank
<!-- .element: class="fragment" -->

---

### Externe Datenbank (PostgreSQL)

Mit Docker Compose

<div class="container">
<div class="col" style="flex-grow:4">

```yaml
services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: keycloak
[...]






```
</div>
<div class="col" style="flex-grow:6">

```yaml
[...]
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: secret
    command: [ "start-dev" ]
    ports: [ "8888:8080" ]
    depends_on: [ "postgres" ]
```

</div>
</div>

---

### Unterstützte Datenbanken

- MariaDB Server
- Microsoft SQL Server
- MySQL
- Oracle Database
- PostgreSQL
- Amazon Aurora PostgreSQL

Datenbank-Treiber enthalten (außer Oracle)

[Unterstützte DB-Versionen](https://www.keycloak.org/server/db#_supported_databases)
<!-- .element class="acknowledgment" -->

---

### Unicode-Unterstütztung

- Für wichtigesten Felder vorhanden
  - z.B.: User-, Gruppen-, Rollennamen
- Weitere Felder datenbankabhängig

[Dokumentation](https://www.keycloak.org/server/db#_configuring_unicode_support_for_the_database)
<!-- .element class="acknowledgment" -->

---

### Konfiguration - Umgebungsvariablen

```yaml [7-10]
[...]
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: secret
    command: [ "start-dev" ]
    ports: [ "8888:8080" ]
    depends_on: [ "postgres" ]
```

---

### Konfiguration - Umgebungsvariablen

- Datenbank-Typ
- Url, Username, Passwort
- Port, Schema
<!-- .element: class="fragment" -->
- JDBC
<!-- .element: class="fragment" -->

---

### Konfiguration - Parameter

```yaml [7-13]
[...]
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    command: [
      "start-dev",
      "--db", "postgres",
      "--db-url-host", "postgres",
      "--db-username", "keycloak",
      "--db-password", "secret"
    ]
    ports: [ "8888:8080" ]
    depends_on: [ "postgres" ]
```

---

### Konfiguration - Datei

- `keycloak.conf`
```
db=postgres
db-username=keycloak
db-password=secret
db-url-host=postgres
```
- In den Container mounten:
<!-- .element: class="fragment" data-fragment-index="1"-->
```yaml
    volumes:
      - ./keycloak.conf:/opt/keycloak/conf/keycloak.conf
```
<!-- .element: class="fragment" data-fragment-index="1"-->
- Pfad kann überschrieben werden:
<!-- .element: class="fragment" data-fragment-index="2"-->
```shell
  --config-file=/path/to/myconfig.conf
```
<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Konfiguration - Java KeyStore

- KeyStore erstellen
```shell
keytool -importpass -alias kc.db-password \
  -keystore keystore.p12 -storepass keystorepass \
  -storetype PKCS12 -v
```
- In den Container mounten:
<!-- .element: class="fragment" data-fragment-index="1"-->
```yaml
    volumes:
      - ./keystore.p12:/keystore.p12
```
<!-- .element: class="fragment" data-fragment-index="1"-->
- Beim Start verwenden:
<!-- .element: class="fragment" data-fragment-index="2"-->
```shell
  --config-keystore=/keystore.p12 \
  --config-keystore-password=keystorepass \
  --config-keystore-type=PKCS12
```
<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Konfiguration - Priorität

| Quelle | Beispielwert | Priorität |
|--------|--------------|-----------|
| Parameter | `--db-url=value` | Höchste |
| Umgebungsvariable | `KC_DB_URL=value` | |
| Konfigurationsdatei | `db-url=value` |  |
| Java KeyStore | `kc.db-url=value` | Niedrigste |

---

### Keycloak Modus

```yaml [11]
[...]
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: secret
    command: [ "start-dev" ]
    ports: [ "8888:8080" ]
    depends_on: [ "postgres" ]
```

---

### Entwicklungsmodus

- `start-dev`
- Default Einstellungen:
  - HTTP aktiviert
  - Kein striker Hostname
  - Lokaler Cache
  - Kein Theme- und Template-Caching

---

### Produktivmodus

- `start`
- "Secure by default"-Prinzip
- Default Einstellungen:
  - HTTP deaktiviert
  - Hostname Konfiguration notwendig
  - HTTPS/TLS notwendig

---

### Demo: Realms

---

### Realm Import/Export

- Admin Console
  - Enthält Clients, Rollen, Gruppen
  - Keine User, keine Secrets
- CLI
  - `bin/kc.[sh|bat] export|import`
  - Enthält alle Objekte

---

### Import beim Start

- `bin/kc.[sh|bat] start --import-realm`
- Versucht Realm aus `/opt/keycloak/data/import` zu laden

---

### Keycloak im Container

- Projektverzeichnis: `/opt/keycloak`

```
├── bin              # kc.sh|bat, kcadm.sh|bat
│   └── client       # Intern
├── conf
│   └── truststores
├── data
│   │── import
│   └── logs
├── lib              # Intern
├── providers        # SPIs
└── themes
```

[Dokumentation](https://www.keycloak.org/server/directory-structure)
<!-- .element class="acknowledgment" -->

---

### Keycloak im Container

- `start` vs `start --optimized`
- start:
<!-- .element: class="fragment" data-fragment-index="1"-->
  - führt zusätzlich `build` aus
  <!-- .element: class="fragment" data-fragment-index="1"-->
- build:
<!-- .element: class="fragment" data-fragment-index="2"-->
  - führt Optimierungen und Vorbereitungen aus
<!-- .element: class="fragment" data-fragment-index="2"-->
  - benötigt ein paar Sekunden
<!-- .element: class="fragment" data-fragment-index="2"-->

[Dokumentation: Build-Parameter](https://www.keycloak.org/server/all-config?f=build)<br/>
[Dokumentation: Optimierungen](https://www.keycloak.org/server/configuration#_underlying_concepts)
<!-- .element class="acknowledgment fragment"  data-fragment-index="2"-->

---

### Beispiel Containerfile

```Dockerfile
FROM quay.io/keycloak/keycloak:latest

ENV KC_DB=postgres
RUN /opt/keycloak/bin/kc.sh build

# (Optional) Keycloak Konfiguration
ENV KC_DB_URL_HOST=postgres
ENV KC_DB_USERNAME=keycloak
```

---

### Weitere Vorteile:

- Installation von SPIs
- Konfiguration

---

### Demo: Optimiertes Container-Image

---

### Betrieb und Anpassung

- Parameter-Tuning
  - Optimale Resourcenauslastung
- Vertikale Skalierung
<!-- .element: class="fragment"-->
- Horizontale Skalierung
<!-- .element: class="fragment"-->

Note:

- Hier gehts nur um die Möglichkeiten als Hinführung zum Cluster-Setup
- Weitere Details folgen dann später

---

### Keycloak im Cluster

- Vorteile:
  - Erhöhter Durchsatz
  - Bessere Ausfalltoleranz
- Nachteile:
  - Komplexeres Setup

---

### Keycloak im Cluster

![](./tikz/cluster_1.svg) <!-- .element width="70%" -->

---

### Keycloak Cache

- Nutzt Infinispan
  - verteilte In-Memory-Datenbank
- Produktiv standardmäßig aktiv
- Reduzieren Datenbank-Last

---

### Was wird gecached?

- Lokale Caches
  -  Realms (inkl. Clients, Rollen, Gruppen)
  -  Benutzer (inkl. Rollen, Gruppenmitgliedschaften)
  -  Autorisierungsdaten (Ressourcen, Richtlinien)
  -  Externe Public Keys
- Verteile Caches
  - Sessions
  - Brute-Force-Erkennung
  - Action Tokens

[Dokumentation](https://www.keycloak.org/server/caching)
<!-- .element class="acknowledgment" -->

---

### Cache-Invalidierung

- Wichtig für Multi-Node-Setup
- `work`-Cache
  - Verteilt Cache-Invalidierung

---

### Flüchtige User-Sessions

- `--features-disabled=persistent-user-sessions`
- Minimiert Datenbank-Last
- Sessions gehen bei Neustart verloren

---

### Reverse Proxy

Wofür?

- Load-Balancing im Cluster
<!-- .element: class="fragment" -->
- TLS-Termination
<!-- .element: class="fragment" -->

---

### Keycloak Ports

- `8443`: HTTPS
- `8080`: HTTP
  - `--http-enabled=True`
- `9000`: Healthchecks, Metrics

Öffentlich? ✅, ❓, ⛔
<!-- .element: class="fragment" -->

--

### Keycloak Ports

- `8443`: HTTPS ✅
- `8080`: HTTP
  - `--http-enabled=True`
- `9000`: Healthchecks, Metrics

Öffentlich? ✅, ❓, ⛔

--

### Keycloak Ports

- `8443`: HTTPS ✅
- `8080`: HTTP ❓
  - `--http-enabled=True`
- `9000`: Healthchecks, Metrics

Öffentlich? ✅, ❓, ⛔

--

### Keycloak Ports

- `8443`: HTTPS ✅
- `8080`: HTTP ❓
  - `--http-enabled=True`
- `9000`: Healthchecks, Metrics ⛔

Öffentlich? ✅, ❓, ⛔

---

### Keycloak Pfade

- `/admin/`
- `/realms/`
- `/resources/`
- `/metrics`
- `/health`

Öffentlich? ✅, ❓, ⛔
<!-- .element: class="fragment" -->

--

### Keycloak Pfade

- `/admin/` ⛔
- `/realms/`
- `/resources/`
- `/metrics`
- `/health`

Öffentlich? ✅, ❓, ⛔

--

### Keycloak Pfade

- `/admin/` ⛔
- `/realms/` ✅
- `/resources/`
- `/metrics`
- `/health`

Öffentlich? ✅, ❓, ⛔

--

### Keycloak Pfade

- `/admin/` ⛔
- `/realms/` ✅
- `/resources/` ✅
- `/metrics`
- `/health`

Öffentlich? ✅, ❓, ⛔

--

### Keycloak Pfade

- `/admin/` ⛔
- `/realms/` ✅
- `/resources/` ✅
- `/metrics` ⛔
- `/health`

Öffentlich? ✅, ❓, ⛔

--

### Keycloak Pfade

- `/admin/` ⛔
- `/realms/` ✅
- `/resources/` ✅
- `/metrics` ⛔
- `/health` ⛔

Öffentlich? ✅, ❓, ⛔

---

### Reverse Proxy

Was muss ich beachten?

- TLS-Termination
- Headers, Trusted Proxies
- HTTP(S) zwischen Proxy & Keycloak
- Sticky Sessions

[Dokumentation](https://www.keycloak.org/server/reverseproxy)
<!-- .element class="acknowledgment" -->

---

### Demo: Cluster

---

### Feature-Toggle

- Optionale/Preview-Feature
- `--features=[...]`

[Dokumentation](https://www.keycloak.org/server/features)
<!-- .element class="acknowledgment" -->

---

### Recap

- Realm-Zugriff/Administration
- Datenbank-Anbindung
- Konfiguration
  - Keycloak Modus
  - Realm Konfiguration
- Keycloak im Container
- Keycloak im Cluster
