{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Docker® & Container", "Container in CI/CD", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
den Begriff CI/CD erklären und von DevOps abgrenzen<br/>
die Einsatzmöglichkeiten von Docker in Docker erklären<br/>
</div>

</div>

---

{{ imported_macros.image_series("Was ist CI/CD?", "../../common/tikz/ci-cd/ci-vs-cd", 1, 6, "80%")}}

---

### Was ist CI/CD?

<span>&nbsp;</span>

![](./tikz/devops_1.svg)<!-- .element width="70%" -->

---

### Was ist CI/CD?

<span>&nbsp;</span>

![](./tikz/devops_2.svg)<!-- .element width="70%" -->

--

### Was ist CI/CD?

Was ist der Unterschied zu DevOps?

![](.tikz/devops_2.svg)<!-- .element width="70%" -->

---

### DevOps vs. CI/CD?

<span>&nbsp;</span>

![](./tikz/devops_2.svg)<!-- .element width="70%" -->

--

### DevOps vs. CI/CD?

<span>&nbsp;</span>

![](./tikz/devops_3.svg)<!-- .element width="70%" -->

---

## Demo

---

{{ imported_macros.image_series("Pipeline Runner", "tikz/role-of-runners", 1, 6, "100%")}}

---

### Wie können wir Container in Containern starten?

---

{{ imported_macros.image_series("Docker-ception", "tikz/dind-vs-docker-out-of-docker", 1, 8, "70%")}}

---

### Docker-ception

- Mounted Docker Socket
    - Einfache Umsetzung
- Docker-in-Docker (dind)<!-- .element: class="fragment" data-fragment-index="1"-->
  - Bessere Isolation<!-- .element: class="fragment" data-fragment-index="1"-->
  - Benötigt priviledged Container<!-- .element: class="fragment" data-fragment-index="1"-->

---

{{ imported_macros.image_series("Docker-ception", "tikz/dind-vs-docker-out-of-docker", 8, 17, "70%")}}

---

### Knowledge Check

<iframe src="knowledge-checks/16-CI-CD.html" width="800" height="500"></iframe>

---

{% for i in range(3) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
den Begriff CI/CD erklären und von DevOps abgrenzen<br/>
die Einsatzmöglichkeiten von Docker in Docker erklären<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}
