{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Kubernetes", "Erste Schritte", imported_macros.theme()) }}

---

{{ imported_macros.image_series("Pod", "tikz/pod", 1, 6, "70%")}}

---

### Pod

- kleinste Einheit in einem Cluster
- besteht aus einem oder mehreren Containern
- Container teilen sich den Netzwerk Namespace

---

### Podbeschreibung in YAML

```yaml
# my-pod.yaml
apiVersion: v1
kind: Pod
metadata:
  name: my-pod-name
spec:
  containers:
  - name: my-container-name
    image: nginx
```


---

### YAML

* `Key: Value` Mapping
* Endet auf `.yml` oder `.yaml`
* Hierarchie durch gleichmäßige Einrückung (Leerzeichen)

---

### YAML

```YAML
# Kommentar
Key1: Value
Key2:
  Subkey: "String"
  Subkey2: "#kein Kommentar"
List:
  - Key1
  - "String"





```

---

### YAML vs. Json

```YAML
# Kommentar
Key1: Value
Key2:
  Subkey: "String"
  Subkey2: "#kein Kommentar"
List:
  - Key1
  - "String"
```
<!-- .element: style="width: 48%; float: left" -->

```JSON
{
  "Key1": Value,
  "Key2": {
    "Subkey": "String",
    "Subkey2": "#kein Kommentar"
  },
  "List": [
    "Key1",
    "String"
  ]
}
```
<!-- .element: style="width: 48%; float: right" -->

---

{{ imported_macros.image_series("Imperativ vs. Deklarativ", "../../common/tikz/devops/declarative", 1, 13, "70%")}}

---

### Imperativ vs. Deklarativ

- Deklarative Sprache nutzt Zielkonfiguration statt Befehle
- "Was?" anstatt "Wie?"
- Tool kümmert sich selbstständig um "Wie?"

---

### Podbeschreibung in YAML

```yaml
# my-pod.yaml
apiVersion: v1
kind: Pod
metadata:
  name: my-pod-name
spec:
  containers:
  - name: my-container-name
    image: nginx
```

---

### Pods starten

Pod starten
```shell
kubectl apply -f my-pod.yaml
```

Alternativ:<!-- .element: class="fragment" data-fragment-index="1"-->
```shell
kubectl run --image=nginx my-pod-name


```
<!-- .element: class="fragment" data-fragment-index="1"-->

--

### Pods starten

Pod starten
```shell
kubectl apply -f my-pod.yaml
```

Alternativ:
```shell
kubectl run --image=nginx my-pod-name
kubectl run --image=nginx my-pod-name --dry-run=client -o=yaml > pod.yaml
```

---

### Weitere Pod-Befehle

Pods anzeigen
```shell
kubectl get pods
```

Podbeschreibung anzeigen
```shell
kubectl describe pod my-pod-name
```

Pod löschen
```shell
kubectl delete pod my-pod-name
```

---

### Demo: Pods starten

---

### Labels

```yaml
# my-pod.yaml
apiVersion: v1
kind: Pod
metadata:
  name: my-pod-name
  labels:
    app: my-app
    environment: production
    tier: frontend
spec:
  containers:
  - name: my-container-name
    image: nginx
```

---

### Labels

* Beliebige Key-Value-Paare
* Helfen bei der Organisation (von Pods)
* Werden als Selektoren genutzt

---

{{ imported_macros.image_series("Services", "tikz/service", 1, 8, "80%")}}

---

### Services

* Pods werden bei Update ersetzt und bekommen neue IP
* Services
  * nutzen Label als Pod-Selektoren
  * bieten Loadbalancing und DNS-Endpunkt

---

### Servicebeschreibung in YAML

```yaml
# my-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: my-service
spec:
  selector:
    app: web
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
```

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/kubernetes/aufgaben/01-first_steps/)

Navigieren Sie nach: Kubernetes ⇨ Aufgaben ⇨ Erste Schritte

---

### Annotations

* Beliebige Key-Value-Paare
* Für Metadaten:<!-- .element: class="fragment" data-fragment-index="1"-->
  * Build-Informationen, Release Notes<!-- .element: class="fragment" data-fragment-index="1"-->
  * Timestamps, Versionen<!-- .element: class="fragment" data-fragment-index="1"-->
  * Konfiguration für externe Tools<!-- .element: class="fragment" data-fragment-index="1"-->

---

### Labels vs. Annotations

* Performance des Api-Servers
  * Labels werden indiziert, Annotations nicht
* Logische Trennung:
  * Labels: zum Organisieren, Filtern und Auswählen von Ressourcen
  * Annotations: nicht-essentielle, zusätzliche Metadaten
