{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Fortgeschrittene Git-Nutzung", "Advanced Features", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/><br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
Befehle zum wechseln von Commits relativ zum HEAD nutzen<br/>
Teile von Dateien stagen<br/>
die Einsprungspunkte von Hooks nennen<br/>
Unterprojekte anlegen<br/>
mit bisect auf die letzte funktionierende Version wechseln<br/>
die Vor- und Nachteile von git lfs beschreiben<br/>
</div>

</div>

---

### git switch - Wiederholung

Änderungen rückgängig machen
```shell
$ git restore <datei>
```

Auf spezielle Version wechseln
```shell
$ git switch <branch | tag | commit>
```

Branch erstellen und darauf wechseln
```shell
$ git switch -c my-branch
```

---

### git switch

Relativ zu einer Version wechseln:

Zu Vorgänger-Commit von HEAD wechseln:
```shell
$ git switch --detach HEAD~
# Oder
$ git switch --detach HEAD^
```

Zu Vorvorgänger-Commit von Branch main wechseln:
```shell
$ git switch --detach main~2
# Oder
$ git switch --detach main^^
```

---

{% for i in range(5) %}

### git switch

![](tikz/head_{{i+1}}.svg)<!-- .element style="width:80%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### git switch

Funktioniert auch bei anderen Befehlen.

Letzten Commit rückgängig machen:
```shell
$ git restore --source=HEAD~1
```

Interaktiver Rebase der letzten 5 Commits:
```shell
$ git rebase -i HEAD~5
```

-> Lineare Historie macht es einfacher

---

### git add

Fügt die gesamte Datei zum Index hinzu.

Was tun, wenn nur ein Teile einer Datei committet werden soll?

```shell
$ git add --patch
```
<!-- .element: class="fragment"-->

---

### git add

Teilt die Datei in Hunks auf.

Jeder Hunk kann einzeln hinzugefügt werden.

---

### git add

```gitshell
$ git add -p
diff --git a/doc.txt b/doc.txt
index bb934c8..a17dcc3 100644
−−− a/doc.txt
+++ b/doc.txt
@@ -1,4 +1,5 @@
 ## Chapter 1
-This is chatper 1
+This is chapter 1

 ## Chapter 2
+Content of chapter 2
Stage this hunk [y,n,q,a,d,s,e,?]?
```

--

### git add

```gitshell
Stage this hunk [y,n,q,a,d,s,e,?]? ?
y - stage this hunk
n - do not stage this hunk
q - quit; do not stage this hunk or any of the remaining ones
a - stage this hunk and all later hunks in the file
d - do not stage this hunk or any of the later hunks in the file
s - split the current hunk into smaller hunks
e - manually edit the current hunk
? - print help





```

--

### git add

```gitshell
Stage this hunk [y,n,q,a,d,s,e,?]? s
Split into 2 hunks.
@@ -1,4 +1,4 @@
 ## Chapter 1
-This is chatper 1
+This is chapter 1

 ## Chapter 2
Stage this hunk [y,n,q,a,d,j,J,g,/,e,?]? y





```

--

### git add

```gitshell
$ git diff --staged
diff --git a/doc.txt b/doc.txt
index 8f84e8f..903e298 100644
−−− a/doc.txt
+++ b/doc.txt
@@ -1,4 +1,4 @@
 ## Chapter 1
-This is chatper 1
+This is chapter 1

 ## Chapter 2
```

```gitshell
$ git diff
diff --git a/doc.txt b/doc.txt
index 903e298..eeb3627 100644
−−− a/doc.txt
+++ b/doc.txt
@@ -2,3 +2,4 @@
 This is chapter 1

 ## Chapter 2
+Content of chapter 2
```

---

### Git Hooks

Hooks: Skripte, die bei bestimmten Events ausgeführt werden.

---

### Git Hooks

Wo: `.git/hooks`

Beispiel: `commit-msg` hook:

```shell
#!/bin/bash

MSG_FILE="$1"

grep -qE 'updated' "$MSG_FILE"

if [[ "x$?" != x0 ]]; then
    cat "$MSG_FILE"
    echo "Your commit message must contain the word 'updated'"
    exit 1
fi
```

(Exit code nicht 0 -> Abbruch!)

---

### Git Hooks

Clientseitige Hooks beim Commit:

- pre-commit
- prepare-commit-msg
- commit-msg
- **Commit passiert hier**
- post-commit

---

### Git Hooks

Sonstige clientseitige Hooks:

- pre-rebase
- post-rewrite
- post-checkout
- pre-push
- pre-auto-gc

---

### Git Hooks

Serverseitige Hooks beim Push:

- pre-receive (vor einem push)
- update (für jeden Branch, auf den gepusht wird)
- **Push / Datentransfer passiert hier**
- post-receive

---

### Git Hooks auf Windows

Nutzung auf Windows:

Prinzipiell möglich aber erfordert Anpassung der Skripte:

```shell
#!C:/Program\ Files/Git/usr/bin/bash.exe

...
```

---

### git submodule

git submodule: Verwaltung von Unterprojekten (in Unterordnern)

Nicht gedacht zum Ersetzen von normaler Abhängigkeitsauflösung!
<!-- .element: class="fragment" -->

---

### git submodule

Ein neues Untermodul hinzufügen:

```shell
$ git submodule add ssh://url.to.your.repo/path ./submodule-folder/
$ git commit -m "Adding new submodule"
```

Projekt vollständig mit allen Untermodulen klonen:

```shell
$ git clone ssh://... ./myproject
$ cd myproject
$ git submodule init
$ git submodule update
```

---

### git submodule

Den Stand des Untermodul auf einen anderen Commit festlegen:

```shell
$ cd untermodul
$ git switch ... / git pull / ...
```
(wird dann im nächsten `git commit` dauerhaft verankert)

**Ein Untermodul trackt immer einen exakten Commit des
Unterprojekts.**

---

### git submodule

Alle Untermodule auf aktuell festgelegten Stand setzen:

```shell
$ git submodule update
```
---

### git subtree

Alternative zu git submodule

---

### git bisect

```shell
$
```

![](tikz/bisect_1.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect start
```

![](tikz/bisect_1.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ 
```

![](tikz/bisect_1.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect good C1
```

![](tikz/bisect_2.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$
```

![](tikz/bisect_2.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect bad HEAD
```

![](tikz/bisect_2.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect bad HEAD
```

![](tikz/bisect_3.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect bad HEAD
```

![](tikz/bisect_4.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect bad HEAD
```

![](tikz/bisect_5.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$
```

![](tikz/bisect_5.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect bad
```

![](tikz/bisect_5.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect bad
```

![](tikz/bisect_6.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect bad
```

![](tikz/bisect_7.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect bad
```

![](tikz/bisect_8.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$
```

![](tikz/bisect_8.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect good
```

![](tikz/bisect_8.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect good
```

![](tikz/bisect_9.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect good
```

![](tikz/bisect_10.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect good
```

![](tikz/bisect_11.svg)<!-- .element style="width:100%" -->

---

### Demo

---

### git lfs

* Speichern von großen Dateien
* Bilder, Dependecies und ähnliches

Note:
git clone aufwändig

---

{% for i in range(6) %}

### git lfs

![](tikz/lfs_{{i+1}}.svg)<!-- .element style="width:100%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### git lfs

- entwickelt von GitHub, Atlassian und mehr
- neben `git annex` der Industriestandard
- unterstützt von GitLab, GitHub, Bitbucket

---

### git lfs

Wie funktioniert's?

- zentraler git lfs Server
- File Pointer
- Erweiterungsprogramm auf Client-Seite

---

### git lfs

```bash
$ git clone https://...
$ git lfs install .
$ git lfs track '*.png'
$ ...
```

Danach: Normal committen, pushen und pullen

---

### git lfs

Zu beachten:

- Nur Dateien auf aktuellem Commit
  garantiert offline vorhanden!

- Tracking muss angestellt werden **vor** lokalem Commit!

- Commit anlegen geht offline, aber Branch/Commit wechseln
  benötigt oft Serverzugriff!

---

### git lfs

Einschränkungen & Risiken:

- Vor Offline-Arbeiten muss man wissen, was man tut
- Standalone derzeit nicht verwendbar
- Nur noch Nicht-Binärdateien sind verteilt
- Ein Clone ist kein Backup
- Jeder Entwickler braucht git lfs
- Geht nicht mit SSH

---

### Advanced git log
Filtern nach merge-commits
```shell
$ git log --no-merges
```
```shell
$ git log --merges
```
---

### Advanced git log
Viele andere Filtermöglichkeiten, wie z.B. nach:
- Menge
- Datum
- Autor
- Nachricht
- Datei und dessen Inhalt
- bestimmtem Bereich
- Unterschied zwischen zwei Branches

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/git/aufgaben/09-git-lfs/)

Navigieren Sie zu: Git ⇨ Aufgaben ⇨ Git LFS & Bisect

---
{% for i in range(7) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/><br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<4 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<5 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<6 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
Befehle zum wechseln von Commits relativ zum HEAD nutzen<br/>
Teile von Dateien stagen<br/>
die Einsprungspunkte von Hooks nennen<br/>
Unterprojekte anlegen<br/>
mit bisect auf die letzte funktionierende Version wechseln<br/>
die Vor- und Nachteile von git lfs beschreiben<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}