{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Advanced Git", "Advanced Features", imported_macros.theme()) }}

---

### Objectives of this chapter

I can

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
use commands to switch commits relative to the HEAD<br/>
stage parts of files<br/>
name the entry points of hooks<br/>
create subprojects<br/>
switch to the last working version with bisect<br/>
describe the advantages and disadvantages of git lfs<br/>
</div>

</div>

---

### git switch - Recap

Undo changes
```shell
$ git restore <file>
```

Switch to specific version
```shell
$ git switch <branch | tag | commit>
```

Create and check out branch
```shell
$ git switch -c my-branch
```

---

### git switch

Switch relative to a version:

Check out parent commit of HEAD:
```shell
$ git switch --detach HEAD~
# or
$ git switch --detach HEAD^
```

Check out grandparent commit of branch main:
```shell
$ git switch --detach main~2
# or
$ git switch --detach main^^
```

---

{% for i in range(5) %}

### git switch

![](tikz/head_{{i+1}}.svg)<!-- .element style="width:80%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### git switch

Also applicable for other commands.

Undo last commit:
```shell
$ git restore --source=HEAD~1
```

Interactive rebase of the last 5 commits:
```shell
$ git rebase -i HEAD~5
```

-> Linear history makes it simpler

---

### git add

Adds the whole file to the index.

What if only part of a file should be committed?

```shell
$ git add --patch
```
<!-- .element: class="fragment"-->

---

### git add

Separates the file into hunks.

Each hunk can be added individually.

---

### git add

```gitshell
$ git add -p
diff --git a/doc.txt b/doc.txt
index bb934c8..a17dcc3 100644
−−− a/doc.txt
+++ b/doc.txt
@@ -1,4 +1,5 @@
 ## Chapter 1
-This is chatper 1
+This is chapter 1

 ## Chapter 2
+Content of chapter 2
Stage this hunk [y,n,q,a,d,s,e,?]?
```

--

### git add

```gitshell
Stage this hunk [y,n,q,a,d,s,e,?]? ?
y - stage this hunk
n - do not stage this hunk
q - quit; do not stage this hunk or any of the remaining ones
a - stage this hunk and all later hunks in the file
d - do not stage this hunk or any of the later hunks in the file
s - split the current hunk into smaller hunks
e - manually edit the current hunk
? - print help





```

--

### git add

```gitshell
Stage this hunk [y,n,q,a,d,s,e,?]? s
Split into 2 hunks.
@@ -1,4 +1,4 @@
 ## Chapter 1
-This is chatper 1
+This is chapter 1

 ## Chapter 2
Stage this hunk [y,n,q,a,d,j,J,g,/,e,?]? y





```

--

### git add

```gitshell
$ git diff --staged
diff --git a/doc.txt b/doc.txt
index 8f84e8f..903e298 100644
−−− a/doc.txt
+++ b/doc.txt
@@ -1,4 +1,4 @@
 ## Chapter 1
-This is chatper 1
+This is chapter 1

 ## Chapter 2
```

```gitshell
$ git diff
diff --git a/doc.txt b/doc.txt
index 903e298..eeb3627 100644
−−− a/doc.txt
+++ b/doc.txt
@@ -2,3 +2,4 @@
 This is chapter 1

 ## Chapter 2
+Content of chapter 2
```

---

### Git Hooks

Hooks: Scripts, which are executed on certain events.

---

### Git Hooks

Where: `.git/hooks`

Example: `commit-msg` hook:

```shell
#!/bin/bash

MSG_FILE="$1"

grep -qE 'updated' "$MSG_FILE"

if [[ "x$?" != x0 ]]; then
    cat "$MSG_FILE"
    echo "Your commit message must contain the word 'updated'"
    exit 1
fi
```

(Exit code not 0 -> Abort!)

---

### Git Hooks

Client side commit hooks:

- pre-commit
- prepare-commit-msg
- commit-msg
- **Commit happens here**
- post-commit

---

### Git Hooks

Further client side hooks:

- pre-rebase
- post-rewrite
- post-checkout
- pre-push
- pre-auto-gc

---

### Git Hooks

Server side push hooks:

- pre-receive (before each push)
- update (for every branch that is pushed)
- **Push / Data transfer happens here**
- post-receive

---

### Git Hooks on Windows

Use on Windows:

Basically possible but requires adaptation of the scripts:

```shell
#!C:/Program\ Files/Git/usr/bin/bash.exe

...
```

---

### git submodule

Manage subprojects (in subfolders)

Not intended to replace normal dependency resolution!
<!-- .element: class="fragment" -->

---

### git submodule

Add a new submodule:

```shell
$ git submodule add ssh://url.to.your.repo/path ./submodule-folder/
$ git commit -m "Adding new submodule"
```

Clone project completely with all submodules:

```shell
$ git clone ssh://... ./myproject
$ cd myproject
$ git submodule init
$ git submodule update
```

---

### git submodule

Change the status of the submodule to a different commit:

```shell
$ cd submodule
$ git switch ... / git pull / ...
```
Will be committed with the next `git commit`.

**A submodule always tracks a specific commit of the
subproject.**

---

### git submodule

Set all submodules to the currently defined commit:

```shell
$ git submodule update
```
---

### git subtree

Alternative to submodule

---

### git bisect

```shell
$
```

![](tikz/bisect_1.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect start
```

![](tikz/bisect_1.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ 
```

![](tikz/bisect_1.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect good C1
```

![](tikz/bisect_2.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$
```

![](tikz/bisect_2.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect bad HEAD
```

![](tikz/bisect_2.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect bad HEAD
```

![](tikz/bisect_3.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect bad HEAD
```

![](tikz/bisect_4.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect bad HEAD
```

![](tikz/bisect_5.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$
```

![](tikz/bisect_5.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect bad
```

![](tikz/bisect_5.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect bad
```

![](tikz/bisect_6.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect bad
```

![](tikz/bisect_7.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect bad
```

![](tikz/bisect_8.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$
```

![](tikz/bisect_8.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect good
```

![](tikz/bisect_8.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect good
```

![](tikz/bisect_9.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect good
```

![](tikz/bisect_10.svg)<!-- .element style="width:100%" -->

--

### git bisect

```shell
$ git bisect good
```

![](tikz/bisect_11.svg)<!-- .element style="width:100%" -->

---

### Demo

---

### git lfs

* Save large files
* Images, Dependecies, ...

Note:
git clone aufwändig

---

{% for i in range(6) %}

### git lfs

![](tikz/lfs_{{i+1}}.svg)<!-- .element style="width:100%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### git lfs

- Developed by GitHub, Atlassian and more
- Besides `git annex` the industry standard
- Supported by GitLab, GitHub, Bitbucket

---

### git lfs

How does it work?

- Central git lfs server
- File pointer
- Extension program on client side

---

### git lfs

```bash
$ git clone https://...
$ git lfs install .
$ git lfs track '*.png'
$ ...
```

Then: Normal commit, push, pull

---

### git lfs

Please note:

- Only files on current commit
  guaranteed available offline!

- Tracking must be done **before** local commit!

- Create commit works offline, but change branch/commit
  often requires server access!

---

### git lfs

Restrictions & Risks:

- Before working offline you need to know what you need
- Standalone currently not usable
- Only non-binary files are distributed
- A clone is not a backup
- Every developer needs git lfs
- Does not work with SSH

---

### Advanced git log
Filter by merge-commits
```shell
$ git log --no-merges
```
```shell
$ git log --merges
```
---

### Advanced git log
Many other filter possibilities e.g. by:
- amount
- date
- author
- message
- file and its content
- range
- difference between two branches

---

### Project

Go to: [https://labs.corewire.de/en](https://labs.corewire.de/en/git/exercises/09-git-lfs/)

Navigate to: Git ⇨ Exercises ⇨  Git LFS & Bisect

---
{% for i in range(7) %}

### Objectives of this chapter

I can

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<4 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<5 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<6 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
use commands to switch commits relative to the HEAD<br/>
stage parts of files<br/>
name the entry points of hooks<br/>
create subprojects<br/>
switch to the last working version with bisect<br/>
describe the advantages and disadvantages of git lfs<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}