{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Docker® & Container", "Docker on Windows", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/><br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
beschreiben, wie Container unter Windows betrieben werden<br/>
die Vor- und Nachteile der grafischen Oberfläche für Docker nennen<br/>
</div>

</div>

---

### Demo: Docker on Windows

---

### Docker on Windows

- Linux und Windows Container
- Docker CLI funktioniert unter Linux und Windows gleich.

---

### Windows Subsystem for Linux (WSL 2)


![](tikz/wsl_1.svg) <!-- .element width="60%" -->

--

### Windows Subsystem for Linux (WSL 2)


![](tikz/wsl_2.svg) <!-- .element width="60%" -->

--

### Windows Subsystem for Linux (WSL 2)


![](tikz/wsl_3.svg) <!-- .element width="60%" -->

--

### Windows Subsystem for Linux (WSL 2)


![](tikz/wsl_4.svg) <!-- .element width="60%" -->

---

### Windows Subsystem for Linux (WSL 2)

- ELF64 Linux Binaries auf Windows
- Verschiedene Linux Distributionen (z.B. Ubuntu)
- Integration mit dem Windows Host:
  - Filesystem
  - Powershell Befehle
  - Netzwerk

---

### WSL2 und Docker

- Docker kann in WSL installiert werden
- Netzwerk und Port Forwarding wird von WSL geregelt
- Unterstützt:
    - alle Linux Container
    - keine Windows Container (z.B.  Windows Server)

---

### Docker Desktop Management UI

![](tikz/wsl_2.svg) <!-- .element width="60%" -->

--

### Docker Desktop Management UI

![](tikz/wsl_5.svg) <!-- .element width="60%" -->

--

### Docker Desktop Management UI

![](tikz/wsl_6.svg) <!-- .element width="60%" -->

--

### Docker Desktop Management UI

![](tikz/wsl_8.svg) <!-- .element width="60%" -->

--

### Docker Desktop Management UI

![](tikz/wsl_7.svg) <!-- .element width="60%" -->

---

### Docker Desktop Management UI

- Grafische Oberfläche:
  - Interaktive Shell im Container
  - Container starten, stoppen, löschen
  - Verwalten von Images
  - Verwalten von Volumes
- Unterschiedliche Backends:
  - WSL 2 Backend für Linux Container
  - Hyper-V Backend für Windows Container

---

### Docker Desktop Management UI

- Konfiguration von Docker Daemon
- Lokales Kubernetes Cluster
- Viele Extensions (z.B. für Security Scans)

---

### Hyper-V Backend

- Unterstützt:
    - Windows Container (z.B  Windows Server)
    - keine Linux Container
- Host OS muss eine valide Lizenz haben
- Windows Baseimages sind auf bestimmte OS Versionen beschränkt
- [Liste der Baseimages](https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/container-base-images)

---


### Docker Desktop für große Unternehmen

Muss lizensiert werden bei:
- Mehr als 250 Mitarbeitern
- Mehr als 10 Millionen USD Jahresumsatz


---

### Dokumentation

WSL installation: [https://docs.microsoft.com/en-us/windows/wsl/install](https://docs.microsoft.com/en-us/windows/wsl/install)
<!-- .element: class="acknowledgment" -->
Windows container: [https://docs.microsoft.com/en-us/virtualization/windowscontainers/](https://docs.microsoft.com/en-us/virtualization/windowscontainers/)
<!-- .element: class="acknowledgment" -->
Docker Desktop: [https://docs.docker.com/desktop/windows/](https://docs.docker.com/desktop/windows/)
<!-- .element: class="acknowledgment" -->
Base images: [https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/container-base-images](https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/container-base-images)
<!-- .element: class="acknowledgment" -->

---

### Knowledge Check

<iframe src="knowledge-checks/11-docker-on-windows.html" width="800" height="500"></iframe>

---
{% for i in range(3) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/><br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
beschreiben, wie Container unter Windows betrieben werden<br/>
die Vor- und Nachteile der grafischen Oberfläche für Docker nennen<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}

---

### Tagesziel

![](../../common/tikz/daily-goal/docker-intro-1_6.svg) <!-- .element width="85%" -->

--

### Tagesziel

![](../../common/tikz/daily-goal/docker-intro-1_7.svg) <!-- .element width="85%" -->

--

### Tagesziel

![](../../common/tikz/daily-goal/docker-intro-1_8.svg) <!-- .element width="85%" -->

---

### Ausblick

* Tieferes Verständnis
* Best practices
* Einsatzmöglichkeiten

---

### Fragen? Anmerkungen? Kritik?
