{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("DevOps Grundlagen", "Container", imported_macros.theme()) }}

---

{{ imported_macros.image_series("Ziel", "../../common/tikz/devops/motivation", 1, 5)}}

--

### Build. Ship. Run.

- Konsistent
- Reproduzierbar
- Automatisiert

---

{% for i in range(1,6) %}
### Was ist ein Service?

![](../../common/tikz/container-intro_{{i}}.svg) <!-- .element width="45%" -->

--
{% endfor %}

{% for i in range(5,7) %}
### Was ist ein Container?

![](../../common/tikz/container-intro_{{i}}.svg) <!-- .element width="45%" -->

{% if i == 5 %}
--
{% endif %}
{% endfor %}

---

{% for i in range(1,6) %}
### Entwicklung ohne Container

Lokale Applikation

![](../../common/tikz/dev_without_container_{{i}}.svg) <!-- .element width="40%" -->

--
{% endfor%}

{% for i in range(6,11) %}
### Entwicklung ohne Container

On-boarding neuer MA

![](../../common/tikz/dev_without_container_{{i}}.svg) <!-- .element width="40%" -->

--
{% endfor%}

### Entwicklung ohne Container

On-boarding neuer MA

![](../../common/tikz/dev_without_container_different_os.svg) <!-- .element width="40%" -->

--

{% for i in range(1,6) %}
### Entwicklung ohne Container

Zusammenarbeit im Team

![](../../common/tikz/dev_without_container_version_update_{{i}}.svg) <!-- .element width="40%" -->

--
{% endfor%}

{% for i in range(1,4) %}
### Entwicklung ohne Container

Lokale Side-by-side Installation

![](../../common/tikz/dev_without_container_side_by_side_{{i}}.svg) <!-- .element width="40%" -->

{% if i != 3 %}
--
{% endif %}
{% endfor %}
---

### Entwicklung ohne Container

- Viele manuelle Schritte
- OS-abhängige Installation der Umgebung
- Dauerhafte manuelle Pflege
- Zeitaufwendig und fehleranfällig

-> Fehlerquelle: "Works on my machine"

---

### Entwicklung mit Container

Lokale Side-by-side Installation

![](../../common/tikz/dev_without_container_side_by_side_2.svg) <!-- .element width="40%" -->

--

{% for i in range(1,3) %}
### Entwicklung mit Container

Lokale Side-by-side Installation

![](../../common/tikz/dev_with_container_side_by_side_{{i}}.svg) <!-- .element width="40%" -->

--
{% endfor %}

{% for i in range(1,5) %}
### Entwicklung mit Container

Zusammenarbeit im Team

![](../../common/tikz/dev_with_container_version_update_{{i}}.svg) <!-- .element width="40%" -->

{% if i != 4 %}
--
{% endif %}
{% endfor %}

---

### Entwicklung mit Container

- Isolierte Umgebung mit allen Abhängigkeiten
- Keine manuellen Schritte notwendig
- Schnell und einfach

---

{% for i in range(1,7) %}
### Deployment ohne Container

![](../../common/tikz/ops_without_container_{{i}}.svg)<!-- .element width="80%" -->

{% if i != 6 %}
--
{% endif %}
{% endfor %}
---

### Deployment ohne Container

- Separate Teams (Dev und Ops/Admin)
- Deploymentanleitung in Textform
- Manuelle Schritte
- Versionskonflikte von Abhängigkeiten
- Zeitaufwendig und fehleranfällig

---

{% for i in range(6,10) %}
### Deployment mit Container

![](../../common/tikz/ops_without_container_{{i}}.svg)<!-- .element width="80%" -->

{% if i != 9 %}
--
{% endif %}
{% endfor %}
---

### Deployment mit Container

- Applikation als fertiges Paket
- Nur noch externe Konfiguration notwendig
- Netzwerkeinstellungen
- Verwaltung der Instanzen
- Verfügbarkeit von Speicher

---

### Den ersten Container starten

```bash
$ docker run -d -p 8000:80 nginx
```

<div class="container">

<div class="col align-right">
<code>docker run</code>:<br/>
<code>-d</code>:<br/>
<code>-p</code>:<br/>
<code>8000:80</code>:<br/>
<br/>
<code>nginx</code>:<br/>
</div>


<div class="col-flex-2 align-left ps-2">
Container starten<br/>
als Hintergrundprozess<br/>
mit Portmapping<br/>
Hostport 8000<br/>
-> Containerport 80<br/>
Name des Images<br/>
</div>

</div>

---

### Demo: Mein erster Container

---

### Container von innen

```bash
$ top
top - 11:56:50 up 4 days, 23:35,  0 users,  load average: 0.59, 0.94, 1.50
Tasks:   2 total,   1 running,   1 sleeping,   0 stopped,   0 zombie
%Cpu(s):  8.1 us,  2.7 sy,  0.0 ni, 88.8 id,  0.1 wa,  0.0 hi,  0.2 si,  0.0 st
MiB Mem :  23705.3 total,   1541.8 free,   8268.5 used,  13895.0 buff/cache
MiB Swap:    980.0 total,    974.1 free,      5.9 used.  13358.6 avail Mem

  PID USER      PR  NI    VIRT    RES    SHR S  %CPU  %MEM     TIME+ COMMAND
    1 root      20   0   10636   5796   4996 S   0.0   0.0   0:00.07 nginx
    29 nginx     20   0   11032   2612   1476 S   0.0   0.0   0:00.00 nginx
```

Hostsystem ist nicht sichtbar

---

### Container von außen

![](../../common/img/container/htop_host.png) <!-- .element width="100%" -->

---

{% for i in range(1,7) %}
### Bare Metal vs. VMs vs. Container

![](../../common/tikz/container/bare_metal_vm_container_{{i}}.svg) <!-- .element width="80%" -->

{% if i != 6 %}
--
{% endif %}
{% endfor %}
---

### Von Bare Metal zur Virtualisierung

- Abstraktion der Hardware
- Bessere Ressourcenauslastung
- Einfachere Skalierung

---

### Von VMs zu Container

- Weniger Ressourcenoverhead
- Schnellere Startup-Zeit
- In Code definierte Umgebung
- Minimale Umgebung

---

{% for i in range(1,8) %}
### Docker Übersicht

![](../../common/tikz/docker-intro-1_{{i}}.svg) <!-- .element width="100%" -->

{% if i != 7 %}
--
{% endif %}
{% endfor %}

---

### Demo: Dockerhub

---

## Orchestrierung


---

{{ imported_macros.image_series("Skalieren ohne Orchestrator", "../../common/tikz/container/k8s/k8s", 1, 9, "70%")}}

---

### Skalieren ohne Orchestrator

- Komplex
    - Netzwerkmanagement
    - Host-gebundene Workloads
- Ressourcenmanagement<!-- .element: class="fragment" data-fragment-index="1"-->
    - Manuelle Zuweisung von Ressourcen<!-- .element: class="fragment" data-fragment-index="1"-->
    - Hosts sind nicht austauschbar<!-- .element: class="fragment" data-fragment-index="1"-->
- Fehlende/Aufwendige Automatisierung<!-- .element: class="fragment" data-fragment-index="2"-->
    - Start/Stop von Container<!-- .element: class="fragment" data-fragment-index="2"-->
    - Loadbalancing und Restarts<!-- .element: class="fragment" data-fragment-index="2"-->

---

{{ imported_macros.image_series("Skalieren mit Kubernetes", "../../common/tikz/container/k8s/k8s", 9, 13, "70%")}}

---

{{ imported_macros.image_series("Update mit Orchestrator", "../../common/tikz/container/k8s/k8s", 12, 22, "70%")}}

---

{{ imported_macros.image_series("Failover mit Orchestrator", "../../common/tikz/container/k8s/k8s", 21, 25, "70%")}}

---

{{ imported_macros.image_series("Cloud Native Apps", "../../common/tikz/devops/cloud-native-application", 1, 6, "80%")}}

---

### Tools

- Docker
- Kubernetes
- Podman
- Openshift

---

### Diskussionsrunde

![](../../common/tikz/devops_2.svg)<!-- .element width="50%" -->

An welcher Stelle helfen uns Container?

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/devops_foundations/aufgaben/02-container-in-pipelines/)

Navigieren Sie nach:<br/>
DevOps Grundlagen ⇨ Aufgaben ⇨ Container in Pipelines
