{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("DevOps Grundlagen", "X as Code", imported_macros.theme()) }}

---

{{ imported_macros.image_series("Deployment ohne Automatisierung", "tikz/deploy_automation", 1, 7, "80%")}}

---

{{ imported_macros.image_series("Deployment mit Automatisierung", "tikz/deploy_automation", 7, 10, "80%")}}


---

{{ imported_macros.image_series("Imperativ vs. Deklarativ", "../../common/tikz/devops/declarative", 1, 13, "80%")}}

---

### Imperativ vs. Deklarativ

- Deklarative Sprache nutzt Zielkonfiguration statt Befehle
- "Was?" anstatt "Wie?"
- IaC Tool kümmert sich selbstständig um "Wie?"

---

{{ imported_macros.image_series("Cloud Services", "../../common/tikz/cloud/XaaS", 1, 5, "55%")}}

---

## Configuration as Code

---

{{ imported_macros.image_series("Pflege der Endgeräte", "tikz/ansible_intro_management_1", 1, 6, "60%")}}

---

{{ imported_macros.image_series("Skalierung", "tikz/ansible_intro_scaling", 1, 6, "80%")}}

---

### Zusammenfassung

- Viele zentral verwaltete Geräte
<!-- .element: class="fragment" -->
- Gleiche/Ähnliche Grundkonfiguration
<!-- .element: class="fragment" -->
    - Alle Server brauchen App/Update XYZ
<!-- .element: class="fragment" -->
- Konsistenz der Einstellungen
<!-- .element: class="fragment" -->
- Einfachere Benutzung, Versionierung, Reproduzierbarkeit
<!-- .element: class="fragment" -->
- Schnellere Reaktionszeiten
<!-- .element: class="fragment" -->

---

## Infrastructure as Code

---

{{ imported_macros.image_series("Infrastructure as Code", "tikz/terraform", 1, 7, "50%")}}

---

{% for i in range(1, 8) %}
### IaC in der Praxis
<div class="container">
<div class="col">


```terraform
data "aws_ami" "this" {
    owners = ["amazon"]
    filter {
      name   = "architecture"
      values = ["arm64"]
    }
    filter {
      name   = "name"
      values = ["al2023-ami-2023*"]
    }
}
resource "aws_instance" "web" {
    ami           = data.aws_ami.this.id
    instance_type = "t3.micro"
    tags = {
      Name = "HelloWorld"
    }
}
```

</div>
<div class="col">

![](tikz/terraform_details_{{ i }}.svg) <!-- .element width="100%" -->

</div>
</div>

{% if i != 7 %}
--
{% endif %}
{% endfor %}

---

### IaC Best Practices

- Versionierung
- Code Modularisieren
- Code Reviews
- Tests/Linter
- Mehrere Environments, eine Codebasis
- In Pipeline ausführen

---

## Demo

---

## Tools

---

### Konfiguration as Code Tools

- Ansible
- Chef
- Puppet

---

### Infrastructure as Code Tools

- Terraform
- Pulumi
- Cloudformation
- Crossplane

---

### Diskussionsrunde

![](../../common/tikz/devops_2.svg)<!-- .element width="50%" -->

An welchen Stellen hilft uns IaC?
