{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Docker® & Container", "Volumes", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/><br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
Bind-Volumes in Container einbinden<br/>
Nutzerrechte innerhalb und außerhalb des Containers unterscheiden<br/>
Named-Volumes erstellen und nutzen<br/>
die Einsatzzwecke von verschiedenen Volume-Typen beschreiben<br/>
</div>

</div>

---

### Volumes

![](tikz/motivation_1.svg) <!-- .element width="70%" -->

--

### Volumes

![](tikz/motivation_2.svg) <!-- .element width="70%" -->

--

### Volumes

![](tikz/motivation_3.svg) <!-- .element width="70%" -->

--

### Volumes

![](tikz/motivation_4.svg) <!-- .element width="70%" -->

--

### Volumes

![](tikz/motivation_5.svg) <!-- .element width="70%" -->

---

### Volumes

- Persistenz
- Daten in mehreren Containern

---

### Volumes

Warum nicht alles persistent machen?

- Sicherheitsaspekte
<!-- .element: class="fragment" data-fragment-index="2" -->
- Klare Trennung der Datenstrukturen
<!-- .element: class="fragment" data-fragment-index="2" -->
- Einheitliche Laufzeitumgebungen
<!-- .element: class="fragment" data-fragment-index="2" -->

---

### Volume einbinden

```shell
$ docker run \
  --mount type=bind,source=/content,target=/usr/share/nginx/html,readonly \
  nginx:latest
```

<div class="container">

<div class="col align-right">
<code>--mount</code><br/>
<code>type=bind</code><br/>
<code>source=/content</code><br/>
<code>target=/usr/.../html</code><br/>
<code>readonly</code><br/>
</div>

<div class="col align-left ps-2">
Volume einbinden<br/>
Mounttyp<br/>
Hostpfad<br/>
Containerpfad<br/>
optional: read-only Modus<br/>
</div>
</div>

---

### Volume einbinden

```shell
$ docker run \
  --mount type=bind,source=/content,target=/usr/share/nginx/html,readonly \
  nginx:latest
```

Alternativ:

```shell
$ docker run \
  -v /content:/usr/share/nginx/html:ro \
  nginx:latest
```

<span>&nbsp;</span><br/>


---

### Volume einbinden

- Ältere Syntax: `-v`
- Gleiche Funktionsweise
- Einziger Unterschied:
  - `-v` erstellt fehlende Ordner auf dem Host
  - `--mount` erzeugt einen Fehler

---

### Volume einbinden - Hostpfad

Hostpfad muss absolut sein

```shell
$ docker run \
  --mount type=bind,source=/home/user/projects/myapp/content,target=/content \
  nginx:latest
```

Alternativ:
<!-- .element: class="fragment" data-fragment-index="2" -->

```shell
$ docker run \
  --mount type=bind,source=${PWD}/content,target=/content \
  nginx:latest
```
<!-- .element: class="fragment" data-fragment-index="2" -->

---

### Volumes anzeigen

```shell
$ docker container inspect -f "{% raw %}{{.Mounts}}{% endraw %}" static-page


```
<div class="container">

<div class="col align-right">
<span>&nbsp;</span><br/>
<span>&nbsp;</span><br/>
<span>&nbsp;</span><br/>
<span>&nbsp;</span><br/>
<span>&nbsp;</span><br/>
<span>&nbsp;</span>
</div>
</div>

--

### Volumes anzeigen

```shell
$ docker container inspect -f "{% raw %}{{.Mounts}}{% endraw %}" static-page
[{bind  /content /usr/share/nginx/html  ro false rprivate}]
```

<div class="container">

<div class="col align-right">
<code>bind</code>:<br/>
<code>/content</code>:<br/>
<code>/usr/.../html</code>:<br/>
<code>ro</code>:<br/>
<code>false</code>:<br/>
<code>rprivate</code>:<br/>
</div>

<div class="col-flex-2 align-left ps-2">
Mount Typ<br/>
Quellpfad Host<br/>
Zielpfad im Container<br/>
Mount Modus<br/>
Schreibzugriff erlaubt<br/>
Propagierungsmodus<br/>
</div>
</div>

---

### Volumes - Übersicht

![](tikz/docker-volumes_1.svg) <!-- .element width="100%" -->

--

### Volumes - Übersicht

![](tikz/docker-volumes_2.svg) <!-- .element width="100%" -->

--

### Volumes - Übersicht

![](tikz/docker-volumes_3.svg) <!-- .element width="100%" -->

--

### Volumes - Übersicht

![](tikz/docker-volumes_4.svg) <!-- .element width="100%" -->

--

### Volumes - Übersicht

![](tikz/docker-volumes_5.svg) <!-- .element width="100%" -->

--

### Volumes - Übersicht

![](tikz/docker-volumes_6.svg) <!-- .element width="100%" -->

--

### Volumes - Übersicht

![](tikz/docker-volumes_7.svg) <!-- .element width="100%" -->

---

### Volumes - Typen

![](tikz/mounts-overview_1.svg) <!-- .element width="100%" -->

--

### Volumes - Typen

![](tikz/mounts-overview_2.svg) <!-- .element width="100%" -->

--

### Volumes - Typen

![](tikz/mounts-overview_3.svg) <!-- .element width="100%" -->

--

### Volumes - Typen

![](tikz/mounts-overview_4.svg) <!-- .element width="100%" -->

--

### Volumes - Typen

![](tikz/mounts-overview_5.svg) <!-- .element width="100%" -->

---

### Bind Volume

![](tikz/mounts-overview_6.svg) <!-- .element width="100%" -->

---

### Bind Volume - Vorteile

- Beliebiger Host-Pfad kann eingebunden werden
- Bestehender Inhalt im Container wird überschrieben

---

### Bind Volume - Nachteile


- Beliebiger Host-Pfad kann eingebunden werden
- Verwaltung der Zugriffsrechte
- Kein Copy-on-empty/Init möglich
- Nur ein FS-Driver benutzbar (System)
- Nur auf Linux

---

### Nutzerrechte

![](tikz/uids_1.svg) <!-- .element width="80%" -->

--

### Nutzerrechte

![](tikz/uids_2.svg) <!-- .element width="80%" -->

--

### Nutzerrechte

![](tikz/uids_3.svg) <!-- .element width="80%" -->

--

### Nutzerrechte

![](tikz/uids_4.svg) <!-- .element width="80%" -->

--

### Nutzerrechte

![](tikz/uids_5.svg) <!-- .element width="80%" -->

--

### Nutzerrechte

![](tikz/uids_6.svg) <!-- .element width="80%" -->

--

### Nutzerrechte

![](tikz/uids_7.svg) <!-- .element width="80%" -->

Note:
DEMO! - Container starten und zeigen wie das ist
wenn man innen und aussen gleichen/anderen User hat.

---

### Named/Managed Volumes

![](tikz/mounts-overview_7.svg) <!-- .element width="100%" -->

---

### Named/Managed Volumes - Vorteile

- CLI managebar: `docker volume ...`
- Windows und Linux
- Volume-Drivers: z.B. Cloud-Storage oder Encryption
- Initialisieren mit Daten möglich

---

### Named/Managed Volumes - Nachteile

- Vorgegebene Ordnerstruktur ggf. nicht abbildbar
- Beispiel:
  - Lokalen Source Code in Dev-Container mounten

---

### Named/Managed Volumes

Erstellen

```shell
$ docker volume create my-vol
my-vol
```

Anzeigen

```shell
$ docker volume ls
local       my-vol
```

---

### Named/Managed Volumes

Details anzeigen

```shell
$ docker volume inspect my-vol
[
    {
        "Driver": "local",
        "Labels": {},
        "Mountpoint": "/var/lib/docker/volumes/my-vol/_data",
        "Name": "my-vol",
        "Options": {},
        "Scope": "local"
    }
]
```

---

### Named/Managed Volumes

Löschen

```shell
$ docker volume rm my-vol
my-vol
```

---

### Named/Managed Volumes

```shell
$ docker run -d \
  --mount source=myvol2,target=/app \
  nginx:latest
```

---

### Anonyme Volumes

- Volume wird beim Start erzeugt
- Name wird generiert

---

### Anonyme Volumes

```shell
$ docker run -d \
  --mount target=/app \
  nginx:latest
```

---

### Backup Volume

Einen Datencontainer starten:
```bash
$





```

![](tikz/backup_1.svg) <!-- .element width="50%" -->

--

### Backup Volume

Einen Datencontainer starten:
```bash
$ docker run -d --mount target=/dbdata --name dbstore myapp





```

![](tikz/backup_2.svg) <!-- .element width="50%" -->

--

### Backup Volume

Backup erstellen:
```bash
$ docker run --rm \


  ubuntu                                        # Image


```

![](tikz/backup_3.svg) <!-- .element width="50%" -->

--

### Backup Volume

Backup erstellen:
```bash
$ docker run --rm \
  --volumes-from dbstore \                      # Zu sicherndes Volume

  ubuntu                                        # Image


```

![](tikz/backup_4.svg) <!-- .element width="50%" -->

--

### Backup Volume

Backup erstellen:
```bash
$ docker run --rm \
  --volumes-from dbstore \                         # Zu sicherndes Volume
  --mount type=bind,source=${PWD},target=/backup \ # Backup Pfad
  ubuntu                                           # Image


```

![](tikz/backup_5.svg) <!-- .element width="50%" -->
--

### Backup Volume

Backup erstellen:
```bash
$ docker run --rm \
  --volumes-from dbstore \                         # Zu sicherndes Volume
  --mount type=bind,source=${PWD},target=/backup \ # Backup Pfad
  ubuntu                                           # Image
  tar cvf /backup/backup.tar /dbdata               # Backup Befehl
```

![](tikz/backup_6.svg) <!-- .element width="50%" -->

---

### Restore Volume

Einen neuen Datencontainer starten:
```bash
$ docker run -d --mount target=/dbdata --name dbstore2 myapp
```

Volume mounten und zurückspielen:
```bash
$ docker run --rm \
  --volumes-from dbstore2 \                                     # Restore Volume
  --mount type=bind,source=${PWD},target=/backup \              # Backup Pfad
  ubuntu \                                                      # Image
  bash -c "cd /dbdata && tar xvf /backup/backup.tar --strip 1"  # Restore Befehl
```

---

### Named/Managed Volumes

Alle ungenutzten Volumes löschen
```shell
$ docker volume prune
```

---

### Docker Storage Drivers

Erweitertes Feature
- Lokal: meist Overlayfs2 oder zfs/vfs
- Cloud: S3, Azure, Google Cloud, ...

---

### tmpfs mount

![](tikz/mounts-overview_8.svg) <!-- .element width="100%" -->

---

### tmpfs mount

- Explizit für flüchtige Daten
- Security, z.B. Encryption Key nur zur Laufzeit vorhanden
- Sehr schnell

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/docker/aufgaben/03-volumes/)

Navigieren Sie nach: Docker ⇨ Aufgaben ⇨ Umgang mit Volumes

---

{% for i in range(5) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/><br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<4 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
Bind-Volumes in Container einbinden<br/>
Nutzerrechte innerhalb und außerhalb des Containers unterscheiden<br/>
Named-Volumes erstellen und nutzen<br/>
die Einsatzzwecke von verschiedenen Volume-Typen beschreiben<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}
