{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Docker® & Container", "Orchestrierung", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
die Vorteile von Clustern gegenüber Skalierung ohne Orchestrierung beschreiben<br/>
</div>

</div>

---

### Was ist Orchestrierung?

Note:
- Warum benötigen wir nochmal etwas on top?

---

{{ imported_macros.image_series("Skalieren ohne Orchestrator", "../../common/tikz/container/k8s/k8s", 1, 9, "70%")}}

---

### Skalieren ohne Orchestrator

- Komplex
    - Netzwerkmanagement
    - Host-gebundene Workloads
- Ressourcenmanagement<!-- .element: class="fragment" data-fragment-index="1"-->
    - Manuelle Zuweisung von Ressourcen<!-- .element: class="fragment" data-fragment-index="1"-->
    - Hosts sind nicht austauschbar<!-- .element: class="fragment" data-fragment-index="1"-->
- Fehlende/Aufwendige Automatisierung<!-- .element: class="fragment" data-fragment-index="2"-->
    - Start/Stop von Container<!-- .element: class="fragment" data-fragment-index="2"-->
    - Loadbalancing und Restarts<!-- .element: class="fragment" data-fragment-index="2"-->

---

{{ imported_macros.image_series("Skalieren mit Kubernetes", "../../common/tikz/container/k8s/k8s", 9, 13, "70%")}}

---

{{ imported_macros.image_series("Update mit Orchestrator", "../../common/tikz/container/k8s/k8s", 12, 22, "70%")}}

---

{{ imported_macros.image_series("Failover mit Orchestrator", "../../common/tikz/container/k8s/k8s", 21, 25, "70%")}}

---

## Demo

---

{{ imported_macros.image_series("Cloud Native Apps", "../../common/tikz/devops/cloud-native-application", 1, 6, "70%")}}

---

### Cloud Native Apps

- Trennung von State und Compute
- Managed Services für Standardanforderungen
- Schnelle Bereitstellung
- Skalierbar und Hochverfügbar

---

### Knowledge Check

<iframe src="knowledge-checks/17-orchestration.html" width="800" height="500"></iframe>

---
{% for i in range(2) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
die Vorteile von Clustern gegenüber Skalierung ohne Orchestrierung beschreiben<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}

---

### Tagesrückblick

* Tieferes Verständnis
* Best practices
* Einsatzmöglichkeiten

---

### Schulungsrückblick

![](../../common/tikz/daily-goal/docker-intro-1_1.svg) <!-- .element width="85%" -->

--

### Schulungsrückblick

![](../../common/tikz/daily-goal/docker-intro-1_6.svg) <!-- .element width="85%" -->

--

### Schulungsrückblick

![](../../common/tikz/daily-goal/docker-intro-1_8.svg) <!-- .element width="85%" -->

---

{{ imported_macros.outro(imported_macros.theme()) }}
