{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("How to contribute", "Slides Cheatsheet", imported_macros.theme()) }}

---

### Slides

- Written in `index.md.jinja`
- Generated to `index.md` with jinja2

[Jinja templates](https://jinja.palletsprojects.com/en/stable/templates/)
<!-- .element class="acknowledgment" -->

---

### Escaping Jinja templates

- Display jinja code on slides (useful for this cheatsheet)

{% raw %}
```
{% raw %}
Some jinja code you want to display on the slide
{% import 'templates/jinja_macros.jinja' as imported_macros %}
[...]
{% end-raw %} (without dash, but nested raw-blocks are not supported 💩)
```
{% endraw %}

---

### Jinja Macros

There are macros to simplify common usecases:
- Title slide: `first_page`
- participants_introduction_round
- image_series
- outro

See `jinja_macros.jinja` for more

--

### Title slide

{% raw %}
```jinja
{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("How to contribute", "Slides Cheatsheet", imported_macros.theme()) }}
```
{% endraw %}

--

### Image series

{% raw %}
```jinja
{{ imported_macros.image_series("Title", "path_to_img", start-index, end-index, scaling)}}
- Scaling is optional

Example:
{{ imported_macros.image_series("Clients und Protokolle", "../common/img/user_federation_vs_identity_provider", 1, 9, "80%")}}

```
{% endraw %}

---

### Slide Layouts

```
<div class="container">
<div class="col">

- Text left

</div>
<div class="col">

- Text right

</div>
</div>
```


---

### Add items one-by-one

```
### Summary

- First point
<!-- .element: class="fragment" -->
- Second point
<!-- .element: class="fragment" data-fragment-index="2"-->
- Together with second point
<!-- .element: class="fragment" data-fragment-index="2" -->
```

---

### Invisible element

- Avoid jumping elements
```
### Heading
- Thing a
- AA<!-- .element class="placeholder" -->

- -- slide devider
### Heading
- Thing a
- Thing b
```

---

### Documentation/Source links

```
[Documentation](https://example.com)
<!-- .element class="acknowledgment" -->
```

---