:root {
  --corewire-dark: #373a3b;
  --corewire-light: #efeeee;
  --corewire-orange: #f9b233;
  --corewire-blue: #1d71b8;
  --corewire-blue-light-60: #98c7ee;

  --md-primary-fg-color: var(--corewire-dark);
  --md-default-bg-color: var(--corewire-light);
  --md-accent-fg-color: var(--corewire-blue);
}

.md-footer {
  background-color: var(--md-primary-fg-color);
}

.md-header__button.md-logo {
    width: 20%;
    height: 100%;
}

.md-header__button.md-logo img {
    width: 100%;
    height: 100%;
}

.md-typeset a {
  color: var(--corewire-blue)
}

.md-typeset a:hover {
  color: var(--corewire-blue-light-60)
}

.md-typeset code {
    padding: 2px 4px;
    color: #1f1f1f;
    background-color: #afafaf;
    border-radius: 4px;
}

.md-header__topic {
  display: none;
}

.md-typeset .admonition.goal,
.md-typeset details.goal {
  border-color: rgb(249,178,51);
}
.md-typeset .goal > .admonition-title,
.md-typeset .goal > summary {
  background-color: rgba(249,178,51,0.1);
}
.md-typeset .goal > .admonition-title::before,
.md-typeset .goal > summary::before {
  background-color: rgb(249,178,51);
  -webkit-mask-image: var(--md-admonition-icon--abstract);
          mask-image: var(--md-admonition-icon--abstract);
}

.md-typeset .admonition.tipp,
.md-typeset details.tipp {
  border-color: rgb(29,133,184);
}
.md-typeset .tipp > .admonition-title,
.md-typeset .tipp > summary {
  background-color: rgba(29, 133, 184, 0.1);
}
.md-typeset .tipp > .admonition-title::before,
.md-typeset .tipp > summary::before {
  background-color: rgb(29,133,184);
  -webkit-mask-image: var(--md-admonition-icon--tip);
          mask-image: var(--md-admonition-icon--tip);
}

.md-typeset .admonition.help,
.md-typeset details.help {
  border-color: rgb(50,205,50);
}
.md-typeset .help > .admonition-title,
.md-typeset .help > summary {
  background-color: rgba(50,205,50, 0.1);
}
.md-typeset .help > .admonition-title::before,
.md-typeset .help > summary::before {
  background-color: rgb(50,205,50);
  -webkit-mask-image: var(--md-admonition-icon--question);
          mask-image: var(--md-admonition-icon--question);
}

.md-typeset .admonition.attention,
.md-typeset details.attention {
  border-color: rgb(178,34,34);
}
.md-typeset .attention > .admonition-title,
.md-typeset .attention > summary {
  background-color: rgba(178,34,34, 0.1);
}
.md-typeset .attention > .admonition-title::before,
.md-typeset .attention > summary::before {
  background-color: rgb(178,34,34);
  -webkit-mask-image: var(--md-admonition-icon--warning);
          mask-image: var(--md-admonition-icon--warning);
}

.md-typeset .admonition.summary,
.md-typeset details.summary {
  border-color: rgb(29,133,184);
}
.md-typeset .summary > .admonition-title,
.md-typeset .summary > summary {
  background-color: rgba(29, 133, 184, 0.1);
}
.md-typeset .summary > .admonition-title::before,
.md-typeset .summary > summary::before {
  background-color: rgb(29,133,184);
  -webkit-mask-image: var(--md-admonition-icon--info);
          mask-image: var(--md-admonition-icon--info);
}
