{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Advanced Git", "History Rewriting", imported_macros.theme()) }}

---

### Objectives of this chapter

I can

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
insert individual changes into a branch<br/>
use an interactive rebase<br/>
use the Reference Log<br/>
understand the disadvantages of filter-branch and force-push<br/>
</div>

</div>

---

### History Rewriting

Motivation:
```shell
$
```
![](tikz/motivation1.svg)<!-- .element style="width:70%; box-shadow:none" -->

--

### History Rewriting

Motivation:
```shell
$ git commit
```
![](tikz/motivation1.svg)<!-- .element style="width:70%; box-shadow:none" -->

--

### History Rewriting

Motivation:
```shell
$ git commit
```
![](tikz/motivation2.svg)<!-- .element style="width:70%; box-shadow:none" -->

--

### History Rewriting

Motivation:
```shell
$
```
![](tikz/motivation2.svg)<!-- .element style="width:70%; box-shadow:none" -->

--

### History Rewriting

Motivation:
```shell
$ git merge
```
![](tikz/motivation2.svg)<!-- .element style="width:70%; box-shadow:none" -->

--

### History Rewriting

Motivation:
```shell
$ git merge
```
![](tikz/motivation3.svg)<!-- .element style="width:70%; box-shadow:none" -->

--

### History Rewriting

Motivation:
```shell
$
```
![](tikz/motivation2.svg)<!-- .element style="width:70%; box-shadow:none" -->

--

### History Rewriting

Motivation:
```shell
$ git rebase orig/feat1
```
![](tikz/motivation2.svg)<!-- .element style="width:70%; box-shadow:none" -->

--

### History Rewriting

Motivation:
```shell
$ git rebase orig/feat1
```
![](tikz/motivation4.svg)<!-- .element style="width:70%; box-shadow:none" -->

---

### Commands - Recap

Edit last commit

```shell
$ git commit --amend
```

Reapply commits on top of another base tip

```shell
$ git rebase
```

---

### Commands

Apply single commit on new HEAD

```shell
$ git cherry-pick
```

Rebase with the possibility to edit individual commits

```shell
$ git rebase -i
```

Scriptable way to edit all commits

```shell
$ git filter-branch
```

---

### Cherry-picking


```shell
$ git cherry-pick <commit-hash> [...more commit hashes...]
```

Apply the changes introduced by some existing commits

---

### Cherry-picking

```shell
$
```

![](tikz/cherrypicking1.svg)<!-- .element style="width:70%" -->

--

### Cherry-picking

```shell
$ git cherry-pick 23afb
```

![](tikz/cherrypicking1.svg)<!-- .element style="width:70%" -->

--

### Cherry-picking

```shell
$ git cherry-pick 23afb
```

![](tikz/cherrypicking2.svg)<!-- .element style="width:70%" -->

---

### Interactive Rebase

```shell
$ git rebase -i HEAD~3
```

Rebase: Reapply commits on top of another base tip

Flag `-i`: Commits can be edited individually

---

### Interactive Rebase

```shell
$ git rebase -i HEAD~4
```

```git
pick 4ec47 First draft of feature X
pick d0826 Fix typo
pick 63e2f Add nwe module x-1
pick 3d25b Bugfix in feature x

# Rebase e8f65..3d25b onto e8f65 (4 commands)
#
# Commands:
# p, pick = use commit
# r, reword = use commit, but edit the commit message
# e, edit = use commit, but stop for amending
# s, squash = use commit, but meld into previous commit
# f, fixup = like "squash", but discard this commit's log message
# x, exec = run command (the rest of the line) using shell
# d, drop = remove commit
...
```

---

### Interactive Rebase

```shell
$ git rebase -i HEAD~4
```
```git
...
# p, pick = use commit
# r, reword = use commit, but edit the commit message
# e, edit = use commit, but stop for amending
# s, squash = use commit, but meld into previous commit
# f, fixup = like "squash", but discard this commit's log message
# x, exec = run command (the rest of the line) using shell
# d, drop = remove commit
#
# These lines can be re-ordered; they are executed from top to bottom.
#
# If you remove a line here THAT COMMIT WILL BE LOST.
#
# However, if you remove everything, the rebase will be aborted.
#
# Note that empty commits are commented out
```

---

### Interactive Rebase: Squashing

```shell
$ git rebase -i HEAD~4
```

```shell
pick 4ec47 First draft of feature X
pick d0826 Fix typo
pick 63e2f Add nwe module x-1
pick 3d25b Bugfix in feature x
```

To squash, rewrite as shown below:
<!-- .element: class="fragment" data-fragment-index="2"-->

```shell
pick 4ec47 First draft of feature X
squash d0826 Fix typo
squash 63e2f Add nwe module x-1
squash 3d25b Bugfix in feature x
```

<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Interactive Rebase: Squashing

![](tikz/squash1.svg)<!-- .element style="width:85%" -->

--

### Interactive Rebase: Squashing

![](tikz/squash2.svg)<!-- .element style="width:85%" -->

---

### Interactive Rebase: Advanced

```shell
$ git rebase -i HEAD~4
```

```shell
pick 4ec47 First draft of feature X
pick d0826 Fix typo
pick 63e2f Add nwe module x-1
pick 3d25b Bugfix in feature x
```

```shell
pick 4ec47 First draft of feature X
fixup d0826 Fix typo
fixup 3d25b Bugfix in feature x
reword 63e2f Add nwe module x-1
```

<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Interactive Rebase: Advanced

![](tikz/squash1.svg)<!-- .element style="width:85%" -->

--

### Interactive Rebase: Advanced

![](tikz/squash3.svg)<!-- .element style="width:85%" -->

---

### Interactive Rebase: Splitting Commits

```shell
$ git rebase -i HEAD~4
```

```shell
pick 4ec47 Adds bla
pick d0826 Fix typo
pick 63e2f Adds a lot of different things
pick 3d25b Bugfix in feature x
```

To split a commit, rewrite as shown below:
<!-- .element: class="fragment" data-fragment-index="2"-->

```shell
pick 4ec47 Adds bla
squash d0826 Fix typo
edit 63e2f Adds a lot of different things
pick 3d25b Bugfix in feature x
```

<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Interactive Rebase: Reorder Commits

```shell
$ git rebase -i HEAD~4
```

```shell
pick 4ec47 Adds bla
pick d0826 Fix typo
pick 63e2f Adds blubb
pick 3d25b Bugfix in feature x
```

To reorder commits, rewrite as shown below:
<!-- .element: class="fragment" data-fragment-index="2"-->

```shell
pick 3d25b Bugfix in feature x
exec make test
pick 4ec47 Adds bla
exec make test
pick d0826 Fix typo
exec make test
pick 63e2f Adds blubb
exec make test
```

<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Reference Log

```shell
$ git reflog show HEAD

eff544f HEAD@{0}: commit: migrate existing content
bf871fd HEAD@{1}: commit: Add Git Reflog outline
9a4491f HEAD@{2}: checkout: moving from main to git_reflog
9a4491f HEAD@{3}: checkout: moving from Git_Config to main
39b159a HEAD@{4}: commit: expand on git context
```

Log for all updates of references

---

### Reference Log

Complete reflog

```shell
$ git reflog show --all
```

Reflog for a single branch

```shell
$ git reflog show otherbranch

9a4491f otherbranch@{0}: commit: seperate articles into branch PRs
35aee4a otherbranch@{1}: commit (initial): initial commit add git-init and docs
```

Reflog for the stash

```shell
$ git reflog stash
0d44de3 stash@{0}: WIP on git_reflog: c492574 flesh out intro
```

---

### Reference log

Timed reflogs

- 1.minute.ago
- 1.hour.ago
- 1.day.ago
- yesterday
- 1.week.ago
- 1.month.ago
- 1.year.ago
- 2011-05-17.09:00:00

---

### Reference log

Use references:

```shell
$ git reset HEAD@{2}
```

```shell
$ git diff main@{0} main@{1.day.ago}
$ git diff main@{0} main@{1.day.2.hours.ago}
```

---

### Project

Go to: [https://labs.corewire.de/en](https://labs.corewire.de/en/git/exercises/08-interactive-rebase/)

Navigate to: Git ⇨ Exercises ⇨ Interactive Rebase

---

### git filter-branch

Rewrite entire branches

Example: <!-- .element: class="fragment" data-fragment-index="2"-->
  - Remove file from all commits
     - big binaries, passwords, ...
  - Extract sub-directory as new repository
  - Change the name/email of an author

<!-- .element: class="fragment" data-fragment-index="2"-->

**Warning: very invasive!**
<!-- .element: class="fragment" data-fragment-index="3"-->

---

### git filter-branch

Different types of filter:

Checks out each commit into a temp directory and runs the command
```shell
$ git filter-branch --tree-filter COMMAND
```

Checks out each commit into the INDEX and runs the command
```shell
$ git filter-branch --index-filter COMMAND
```

---

### git filter-branch

Remove file from all commits:

```shell
$ git filter-branch --tree-filter 'rm -f passwords.txt' HEAD
```

Remove all files with the extention `txt`:

```shell
$ git filter-branch --tree-filter 'rm -f *.txt' HEAD
```

---

### git filter-branch

Remove file from all commits:

```shell
$ git filter-branch --index-filter 'git rm -f passwords.txt' HEAD
```

Remove all files with the extention `txt`:

```shell
$ git filter-branch --index-filter 'git rm -f *.txt' HEAD
```

---

### git filter-branch

A sub-directory `foo` as new root directory

```shell
$ git filter-branch --subdirectory-filter foo HEAD
```

---

### git filter-branch

Further possibilities: there are no limits to your imagination!

---

### git filter-branch

```shell
$
```

![](tikz/filter-branch_01.svg)<!-- .element style="width:100%" -->

--

### git filter-branch

```shell
$ git filter-branch --index-filter 'git rm -f passwords.txt' HEAD
```

![](tikz/filter-branch_01.svg)<!-- .element style="width:100%" -->

--

### git filter-branch

```shell
$ git filter-branch --index-filter 'git rm -f passwords.txt' HEAD
```

![](tikz/filter-branch_02.svg)<!-- .element style="width:100%" -->

--

### git filter-branch

```shell
$
```

![](tikz/filter-branch_01.svg)<!-- .element style="width:100%" -->

--

### git filter-branch

```shell
$ git filter-branch --index-filter 'git rm -f passwords.txt' --all
```

![](tikz/filter-branch_01.svg)<!-- .element style="width:100%" -->

--

### git filter-branch

```shell
$ git filter-branch --index-filter 'git rm -f passwords.txt' --all
```

![](tikz/filter-branch_03.svg)<!-- .element style="width:100%" -->

--

### git filter-branch

```shell
$
```

![](tikz/filter-branch_03.svg)<!-- .element style="width:100%" -->

--

### git filter-branch

```shell
$ git gc
```

![](tikz/filter-branch_03.svg)<!-- .element style="width:100%" -->

--

### git filter-branch

```shell
$ git gc
```

![](tikz/filter-branch_04.svg)<!-- .element style="width:100%" -->

---

{% for i in range(10) %}

### Share rewritten history

![](tikz/push_{{i+1}}.svg)<!-- .element style="width:65%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Share rewritten history

```shell
$ git push
To corewire.de:corewire/git-test.git
 ! [rejected]        main -> main (non-fast-forward)
error: failed to push some refs to 'git@corewire.de:corewire/git-test.git'
hint: Updates were rejected because the tip of your current branch is behind
hint: its remote counterpart. Integrate the remote changes (e.g.
hint: 'git pull ...') before pushing again.
hint: See the 'Note about fast-forwards' in 'git push --help' for details.
```

Solution: Force push<!-- .element: class="fragment" data-fragment-index="2"-->
```shell
$ git push --force-with-lease
```
<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Force push

Overwrites the version database from the server with your local one.

-> Caution: Permanent data loss even on remote possible!

---

### Force push

`--force` vs. `--force-with-lease`:

`--force-with-lease` compares:

1. Actual branch pointer in target repository
2. Pointer in local tracking: `origin/<branch>`

-> Aborts in case they differ

Make sure nothing has happened since last `git fetch`.

<!-- .element: class="fragment" -->

---

### Demo

---

{% for i in range(21) %}

### Caution with force push

![](tikz/force_push_{{i+1}}.svg)<!-- .element style="width:85%" -->

{{ "--" if not loop.last }}
{% endfor %}

---
### Caution with force push

Leads to problems when already pushed commits are modified.

---

### Force push in detail

Process:

- Branch pointers are updated
- Old commits become inaccessible
  (remain there for some time / garbage collection)

---

### Force push in detail

What happens for other co-developers?

- if branch is never explicitly fetched via `git switch`:
  - nothing / just works (good)
- otherwise: merge (bad!)

---

### When is history rewriting recommended?

Always when working ...
- ... on non-pushed commits
- ... on developer exclusive feature-branches
- ... `git pull --rebase`

---

### When is history rewriting recommended?

Advantages:

- Unnecessary merge commits are avoided
- History remains linear and simpler
- Changes after a rebase remain understandable, because
  - own changes are applied again
  - vs. merge commit contains external changes

---

### History Rewriting - Summary

Commit Often, Perfect Later, Publish Once

---
{% for i in range(5) %}

### Objectives of this chapter

I can

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<4 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
insert individual changes into a branch<br/>
use an interactive rebase<br/>
use the Reference Log<br/>
understand the disadvantages of filter-branch and force-push<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}
