{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Fortgeschrittene Git-Nutzung", "History Rewriting", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
einzelne Änderungen in einen Branch einfügen<br/>
einen interaktiven Rebase nutzen<br/>
das Reference Log verwenden<br/>
die Nachteile von filter-branch und force-push nachvollziehen</br>
</div>

</div>

---

### History Rewriting

Motivation:
```shell
$
```
![](tikz/motivation1.svg)<!-- .element style="width:70%; box-shadow:none" -->

--

### History Rewriting

Motivation:
```shell
$ git commit
```
![](tikz/motivation1.svg)<!-- .element style="width:70%; box-shadow:none" -->

--

### History Rewriting

Motivation:
```shell
$ git commit
```
![](tikz/motivation2.svg)<!-- .element style="width:70%; box-shadow:none" -->

--

### History Rewriting

Motivation:
```shell
$
```
![](tikz/motivation2.svg)<!-- .element style="width:70%; box-shadow:none" -->

--

### History Rewriting

Motivation:
```shell
$ git merge
```
![](tikz/motivation2.svg)<!-- .element style="width:70%; box-shadow:none" -->

--

### History Rewriting

Motivation:
```shell
$ git merge
```
![](tikz/motivation3.svg)<!-- .element style="width:70%; box-shadow:none" -->

--

### History Rewriting

Motivation:
```shell
$
```
![](tikz/motivation2.svg)<!-- .element style="width:70%; box-shadow:none" -->

--

### History Rewriting

Motivation:
```shell
$ git rebase orig/feat1
```
![](tikz/motivation2.svg)<!-- .element style="width:70%; box-shadow:none" -->

--

### History Rewriting

Motivation:
```shell
$ git rebase orig/feat1
```
![](tikz/motivation4.svg)<!-- .element style="width:70%; box-shadow:none" -->

---

### Befehle - Wiederholung

Letzten Commit bearbeiten

```shell
$ git commit --amend
```

Abfolge von Commits auf neuen HEAD anwenden

```shell
$ git rebase
```

---

### Befehle

Einzelnen Commit auf neuen HEAD anwenden

```shell
$ git cherry-pick
```

Rebase mit der Möglichkeit einzelne Commits zu bearbeiten

```shell
$ git rebase -i
```

Skriptfähige Möglichkeit alle Commits zu bearbeiten

```shell
$ git filter-branch
```

---

### Cherry-picking


```shell
$ git cherry-pick <commit-hash> [...more commit hashes...]
```

Greift einzelne Änderungen heraus und fügt diese
als Commits an

---

### Cherry-picking

```shell
$
```

![](tikz/cherrypicking1.svg)<!-- .element style="width:70%" -->

--

### Cherry-picking

```shell
$ git cherry-pick 23afb
```

![](tikz/cherrypicking1.svg)<!-- .element style="width:70%" -->

--

### Cherry-picking

```shell
$ git cherry-pick 23afb
```

![](tikz/cherrypicking2.svg)<!-- .element style="width:70%" -->

---

### Interaktiver Rebase

```shell
$ git rebase -i HEAD~3
```

Rebase: Abfolge von Commits auf neuen HEAD anwenden

Flag `-i`: Commits können vorher bearbeitet werden

---

### Interaktiver Rebase

```shell
$ git rebase -i HEAD~4
```

```git
pick 4ec47 First draft of feature X
pick d0826 Fix typo
pick 63e2f Add nwe module x-1
pick 3d25b Bugfix in feature x

# Rebase e8f65..3d25b onto e8f65 (4 commands)
#
# Commands:
# p, pick = use commit
# r, reword = use commit, but edit the commit message
# e, edit = use commit, but stop for amending
# s, squash = use commit, but meld into previous commit
# f, fixup = like "squash", but discard this commit's log message
# x, exec = run command (the rest of the line) using shell
# d, drop = remove commit
...
```

---

### Interaktiver Rebase

```shell
$ git rebase -i HEAD~4
```

```git
...
# p, pick = use commit
# r, reword = use commit, but edit the commit message
# e, edit = use commit, but stop for amending
# s, squash = use commit, but meld into previous commit
# f, fixup = like "squash", but discard this commit's log message
# x, exec = run command (the rest of the line) using shell
# d, drop = remove commit
#
# These lines can be re-ordered; they are executed from top to bottom.
#
# If you remove a line here THAT COMMIT WILL BE LOST.
#
# However, if you remove everything, the rebase will be aborted.
#
# Note that empty commits are commented out
```

---

### Interaktiver Rebase: Squashing

```shell
$ git rebase -i HEAD~4
```

```shell
pick 4ec47 First draft of feature X
pick d0826 Fix typo
pick 63e2f Add nwe module x-1
pick 3d25b Bugfix in feature x
```

Zum Squashen, wie folgt umschreiben:
<!-- .element: class="fragment" data-fragment-index="2"-->

```shell
pick 4ec47 First draft of feature X
squash d0826 Fix typo
squash 63e2f Add nwe module x-1
squash 3d25b Bugfix in feature x
```

<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Interaktiver Rebase: Squashing

![](tikz/squash1.svg)<!-- .element style="width:85%" -->

--

### Interaktiver Rebase: Squashing

![](tikz/squash2.svg)<!-- .element style="width:85%" -->

---

### Interaktiver Rebase: Advanced

```shell
$ git rebase -i HEAD~4
```

```shell
pick 4ec47 First draft of feature X
pick d0826 Fix typo
pick 63e2f Add nwe module x-1
pick 3d25b Bugfix in feature x
```

```shell
pick 4ec47 First draft of feature X
fixup d0826 Fix typo
fixup 3d25b Bugfix in feature x
reword 63e2f Add nwe module x-1
```

<!-- .element: class="fragment" -->

---

### Interaktiver Rebase: Advanced

![](tikz/squash1.svg)<!-- .element style="width:85%" -->

--

### Interaktiver Rebase: Advanced

![](tikz/squash3.svg)<!-- .element style="width:85%" -->

---

### Interaktiver Rebase: Splitting Commits

```shell
$ git rebase -i HEAD~4
```

```shell
pick 4ec47 Adds bla
pick d0826 Fix typo
pick 63e2f Adds a lot of different things
pick 3d25b Bugfix in feature x
```

Zum Splitten, wie folgt umschreiben:
<!-- .element: class="fragment" data-fragment-index="2"-->

```shell
pick 4ec47 Adds bla
squash d0826 Fix typo
edit 63e2f Adds a lot of different things
pick 3d25b Bugfix in feature x
```

<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Interaktiver Rebase: Umsortieren

```shell
$ git rebase -i HEAD~4
```

```shell
pick 4ec47 Adds bla
pick d0826 Fix typo
pick 63e2f Adds blubb
pick 3d25b Bugfix in feature x
```

Zum Umsortieren, wie folgt umschreiben:
<!-- .element: class="fragment" data-fragment-index="2"-->

```shell
pick 3d25b Bugfix in feature x
exec make test
pick 4ec47 Adds bla
exec make test
pick d0826 Fix typo
exec make test
pick 63e2f Adds blubb
exec make test
```

<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Reference Log

```shell
$ git reflog show HEAD

eff544f HEAD@{0}: commit: migrate existing content
bf871fd HEAD@{1}: commit: Add Git Reflog outline
9a4491f HEAD@{2}: checkout: moving from main to git_reflog
9a4491f HEAD@{3}: checkout: moving from Git_Config to main
39b159a HEAD@{4}: commit: expand on git context
```

Log für alle Referenzupdates

---

### Reference Log

Vollständiges Reflog

```shell
$ git reflog show --all
```

Reflog für einen einzelnen Branch

```shell
$ git reflog show otherbranch

9a4491f otherbranch@{0}: commit: seperate articles into branch PRs
35aee4a otherbranch@{1}: commit (initial): initial commit add git-init and docs
```

Reflog für den Stash

```shell
$ git reflog stash
0d44de3 stash@{0}: WIP on git_reflog: c492574 flesh out intro
```

---

### Reference log

Timed reflogs

- 1.minute.ago
- 1.hour.ago
- 1.day.ago
- yesterday
- 1.week.ago
- 1.month.ago
- 1.year.ago
- 2011-05-17.09:00:00

---

### Reference log

Referenzen verwenden:

```shell
$ git reset HEAD@{2}
```

```shell
$ git diff main@{0} main@{1.day.ago}
$ git diff main@{0} main@{1.day.2.hours.ago}
```

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/git/aufgaben/08-interaktiver-rebase/)

Navigieren Sie zu: Git ⇨ Aufgaben ⇨ Interaktiver Rebase

---

### git filter-branch

Geht durch alle Commits und ändert etwas.

Beispiele: <!-- .element: class="fragment" data-fragment-index="2"-->
  - Datei aus allen Commits entfernen
     - große Binaries, Passwörter, ...
  - Unterordner als eigenes Repository anlegen
  - Namen eines Autors in allen Commits ändern

<!-- .element: class="fragment" data-fragment-index="2"-->

**Achtung: sehr invasiv!**
<!-- .element: class="fragment" data-fragment-index="3"-->

---

### git filter-branch

Verschiedene Filterarten:

Checkt jeden Commit aus und führt den Command aus
```shell
$ git filter-branch --tree-filter COMMAND
```

Command wird im INDEX ausgeführt
```shell
$ git filter-branch --index-filter COMMAND
```

---

### git filter-branch

Datei aus jedem Commit entfernen:

```shell
$ git filter-branch --tree-filter 'rm -f passwords.txt' HEAD
```

Alle Dateien mit einer Endung entfernen:

```shell
$ git filter-branch --tree-filter 'rm -f *.png' HEAD
```

---

### git filter-branch

Datei aus jedem Commit entfernen:

```shell
$ git filter-branch --index-filter 'git rm -f passwords.txt' HEAD
```

Alle Dateien mit einer Endung entfernen:

```shell
$ git filter-branch --index-filter 'git rm -f *.png' HEAD
```

---

### git filter-branch

Ein Unterverzeichnis `foo` als neues Hauptverzeichnis:

```shell
$ git filter-branch --subdirectory-filter foo HEAD
```

---

### git filter-branch

Weitere Möglichkeiten: der Vorstellung sind keine Grenzen gesetzt!

---

### git filter-branch

```shell
$
```

![](tikz/filter-branch_01.svg)<!-- .element style="width:100%" -->

--

### git filter-branch

```shell
$ git filter-branch --index-filter 'git rm -f passwords.txt' HEAD
```

![](tikz/filter-branch_01.svg)<!-- .element style="width:100%" -->

--

### git filter-branch

```shell
$ git filter-branch --index-filter 'git rm -f passwords.txt' HEAD
```

![](tikz/filter-branch_02.svg)<!-- .element style="width:100%" -->

--

### git filter-branch

```shell
$
```

![](tikz/filter-branch_01.svg)<!-- .element style="width:100%" -->

--

### git filter-branch

```shell
$ git filter-branch --index-filter 'git rm -f passwords.txt' --all
```

![](tikz/filter-branch_01.svg)<!-- .element style="width:100%" -->

--

### git filter-branch

```shell
$ git filter-branch --index-filter 'git rm -f passwords.txt' --all
```

![](tikz/filter-branch_03.svg)<!-- .element style="width:100%" -->

--

### git filter-branch

```shell
$
```

![](tikz/filter-branch_03.svg)<!-- .element style="width:100%" -->

--

### git filter-branch

```shell
$ git gc
```

![](tikz/filter-branch_03.svg)<!-- .element style="width:100%" -->

--

### git filter-branch

```shell
$ git gc
```

![](tikz/filter-branch_04.svg)<!-- .element style="width:100%" -->

---

{% for i in range(10) %}

### Teilen von umgeschriebener Historie

![](tikz/push_{{i+1}}.svg)<!-- .element style="width:65%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Teilen von umgeschriebener Historie

```shell
$ git push
To corewire.de:corewire/git-test.git
 ! [rejected]        main -> main (non-fast-forward)
error: failed to push some refs to 'git@corewire.de:corewire/git-test.git'
hint: Updates were rejected because the tip of your current branch is behind
hint: its remote counterpart. Integrate the remote changes (e.g.
hint: 'git pull ...') before pushing again.
hint: See the 'Note about fast-forwards' in 'git push --help' for details.
```

Lösung: Force-push<!-- .element: class="fragment" data-fragment-index="2"-->
```shell
$ git push --force-with-lease
```
<!-- .element: class="fragment" data-fragment-index="2"-->

---

### Force-Push

Überschreibt die Versionsdatenbank vom Server mit der lokalen Version.

-> Vorsicht: Dauerhafter Datenverlust auch auf remote möglich!

---

### Force-Push

`--force` vs. `--force-with-lease`:

`--force-with-lease` vergleicht:

1. Tatsächlichen Branch-Pointer im Zielrepository
2. Pointer im lokalen Tracking `origin/<branch>`

-> Bricht ab, falls verschieden

Stellt sicher, dass seit letztem `git fetch` nichts
passiert ist!
<!-- .element: class="fragment" -->

---

### Demo

---

{% for i in range(21) %}

### Vorsicht beim Force-Push

![](tikz/force_push_{{i+1}}.svg)<!-- .element style="width:85%" -->

{{ "--" if not loop.last }}
{% endfor %}

---
### Vorsicht beim Force-Push

Führt zu Problemen, wenn bereits geteilte Commits verändert werden.

---

### Force-Push im Detail

Vorgang:

- Pointer werden umgesetzt
- Alte Commits werden unerreichbar
  (bleiben gewisse Zeit da / Garbage Collection)

---

### Force-Push im Detail

Was passiert bei anderen Mitentwicklern?

- falls Branch nie per `git switch` explizit geholt:
  - nichts / funktioniert einfach (gut)
- sonst: merge (schlecht!)

---

### Wann ist History Rewriting sinnvoll?

Immer bei ...

- ... noch nicht geteilten Änderungen
- ... Entwickler exklusiven Feature-Branches
- ... `git pull --rebase`

---

### Wann ist History Rewriting sinnvoll?

Vorteile:

- Unnötige Merge-Commits werden vermieden
- Historie bleibt linear und einfacher
- Änderungen nach einem Rebase bleiben nachvollziehbar, denn
  - eigene Änderungen werden erneut angewendet
  - vs. Merge-Commit enthält fremde Änderungen

---

### History Rewriting - Zusammenfassung

Commit Often, Perfect Later, Publish Once

---
{% for i in range(5) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<4 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
einzelne Änderungen in einen Branch einfügen<br/>
einen interaktiven Rebase nutzen<br/>
das Reference Log verwenden<br/>
die Nachteile von filter-branch und force-push nachvollziehen</br>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}
