{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Kubernetes", "Nodes und Pods", imported_macros.theme()) }}

---

## Cluster Architektur

---

{{ imported_macros.image_series("Architektur", "../../common/tikz/kubernetes/architecture", 1, 4, "70%")}}

---

## Node Selectors

---

### Was sind Node Selectors?

- Steuerung, auf welchen Nodes Pods laufen
- Sehr einfache Zuordnung über Labels

---

### Node Labels

- Nodes können mit Labels versehen werden
- Beispiel:
```yaml
metadata:
  labels:
    env: production
```

---

### Node Selector - Beispiel

```yaml
apiVersion: v1
kind: Pod
metadata:
  name: nginx
spec:
  containers:
  - name: nginx
    image: nginx
  nodeSelector:
    env: production
```

---

## Affinity und Anti-Affinity

---

### Was ist eine Affinity?

- Steuert, wo Pods bevorzugt platziert werden
- Komplexere Zuordnung als mit Node Selectors möglich
- Typen:
  - Node Affinity
  - Pod Affinity

---

### Affinity - Expressions

- `In`: Wert in Liste
- `NotIn`: Wert nicht in Liste
- `Exists`: Key existiert
- `DoesNotExist`: Key existiert nicht
- `Gt`, `Lt`: Größer, kleiner (nicht für Pod Affinity)

---

## Node Affinity

---

### Was ist Node Affinity?

- Ähnlich zu Node Selectors, aber komplexer
- Ermöglicht feinere Steuerung, wo Pods laufen
- Beispiel: Pods in bestimmten Availability Zones

---

### Node Affinity - Arten

- `requiredDuringSchedulingIgnoredDuringExecution`: wie Node Selector mit komplexeren Bedingungen
- `preferredDuringSchedulingIgnoredDuringExecution`: bevorzugte Nodes

---

### Node Affinity - Beispiel

```yaml
(...)
spec:
  containers:
  - name: nginx
    image: nginx
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/e2e-az-name
            operator: In
            values:
            - us-west-1a
            - us-west-1b
```

---

## Pod Affinity

---

### Was ist Pod Affinity?

- Steuerung, wo Pods in Relation zu anderen Pods laufen
- Beispiel: Pods in der Nähe von Datenbanken

---

### Pod Affinity - Arten

- `requiredDuringSchedulingIgnoredDuringExecution`: Pods müssen zusammen laufen
- `preferredDuringSchedulingIgnoredDuringExecution`: Pods sollten zusammen laufen

---

### Pod Affinity - Beispiel

```yaml
(...)
spec:
  containers:
  - name: nginx
    image: nginx
  affinity:
    podAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
          - key: app
            operator: In
            values:
            - db
        topologyKey: "kubernetes.io/hostname"
```

---

## Pod Anti-Affinity

---

### Was ist Pod Anti-Affinity?

- Verhindert, dass Pods auf der gleichen Node laufen
- Nützlich für Redundanz und Verfügbarkeit
- Beispiel: Verhindern, das Datenbanken auf der gleichen Node laufen

---

### Pod Anti-Affinity - Beispiel

```yaml
(...)
spec:
  containers:
  - name: postgres
    image: postgres
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
          - key: app
            operator: In
            values:
            - db
        topologyKey: "kubernetes.io/hostname"
```

---

## Taints und Tolerations

---

### Was sind Taints?

- Kennzeichnen von Nodes, die nicht standardmäßig Pods aufnehmen
- Format: `key=value:effect`
  - `effect`= `NoSchedule`, `PreferNoSchedule`, `NoExecute`
- Effekt aktiv, wenn `key=value` nicht matched
---

### Beispiele für Taints

- `node-type=database:NoSchedule` (nur für Datenbank-Pods)
- `env=test:PreferNoSchedule` (Vermeidung, aber erlaubt)

---

### Was sind Tolerations?
- Erlauben Pods, auf tainted Nodes zu laufen
- Beispiel:
```yaml
tolerations:
- key: "node-type"
  operator: "Equal"
  value: "database"
  effect: "NoSchedule"
```

---

### Taints und Tolerations - Effects

- `NoExecute`: Pods werden entfernt
- `NoSchedule`: Pods werden nicht geplant
- `PreferNoSchedule`: Pods werden bevorzugt nicht geplant

---

### Tolerations - Operator

- `Equal`: Wert muss übereinstimmen
- `Exists`: Key muss existieren

---

### Tolerations - Best Practices

- Verwenden, um Workloads gezielt zu steuern
- Nicht zu viele Taints setzen – Übersicht bewahren

---

## Requests und Limits

---

### Was sind Requests?
- Mindestressourcenbedarf eines Pods
- Vom Scheduler genutzt, um geeigneten Node zu finden
- Beispiele:
  - CPU: `100m` (100 Milli-CPU)
  - Speicher: `256Mi`

---

### Was sind Limits?

- Maximale Ressourcen, die ein Pod nutzen darf
- Begrenzt CPU oder Speicherverbrauch
- Schutz vor Überlastung von Nodes

---

### Requests und Limits - Vorteile

- Ressourcenreservierung für kritische Pods
- Besseres Scheduling
- Vermeidung von Ressourcenüberschreitung

---

### Requests und Limits - Beispiel

```yaml
(...)
spec:
  containers:
  - name: nginx
    image: nginx
    resources:
      requests:
        memory: "64Mi"
        cpu: "250m"
      limits:
        memory: "128Mi"
        cpu: "500m"
```

---

### Best Practices

- Requests ≠ Limits setzen, wenn möglich
- Requests = Limits setzen, für kritische Pods
- Realistische Werte basierend auf historischen Daten
- Tools wie `kubectl top` und Monitoring einsetzen

---

### Projekt

Gehen Sie auf: [https://labs.corewire.de](https://labs.corewire.de/de/kubernetes/aufgaben/10-nodes-and-pods/)

Navigieren Sie nach: Kubernetes ⇨ Aufgaben ⇨ Nodes und Pods
