{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("DevOps Grundlagen", "Cloud", imported_macros.theme()) }}

---

## Cloud Vorteile

---

{{ imported_macros.image_series("Cloud Vorteile", "tikz/cloud_advantages", 1, 7, "80%")}}

---

## Cloud Services

---

{{ imported_macros.image_series("Cloud Services", "tikz/cloud_services", 1, 7, "80%")}}

---

{{ imported_macros.image_series("Cloud Services", "../../common/tikz/cloud/XaaS", 1, 5, "55%")}}

---

## Vendor Lock-in

- Verwendung eines einzelnen Cloud-Providers
- Möglichkeit alle Service zu verwenden
    - Managed DBs
    - Serverless Services
    - ML-Services
- Migrationspfad wird **nicht** berücksichtigt

---

## Vendor Lock-in

- Vorteile:
    - Integriertes Ökosystem
    - Verwendung aller Services
    - Schneller im Aufbau
- Nachteile:
    - Migration aufwendig
    - Abhängigkeit zum Cloud-Provider

---

## Cloud-agnostic
- Verwendung eines oder mehrerer Cloud-Provider
- Migrationspfad **wird** berücksichtigt

---

## Cloud-agnostic

- Vorteile:
    - Weniger Abhängigkeit zu einem Cloud-Provider
    - Migration ist einfacher möglich
    - Verwendung von Standards (OpenSource, CNCF)
- Nachteile:
    - Einschränkung in der Service-Auswahl
    - Weniger Managed Services
    - Mehr Knowhow notwendig

---

## Standardisierte Infrastruktur

- Container als definierte Laufzeitumgebung
- Kubernetes als Infrastruktur-Abstraktion
- Url-Endpunkte zur Entkopplung

Note:
- DB via URL -> egal ob dahinter eine self-managed oder Managed-DB von Cloud-Provider XY läuft.

---

{{ imported_macros.image_series("Cloud Native Apps", "../../common/tikz/devops/cloud-native-application", 1, 6, "80%")}}

---

### Demo: EC2 in AWS

---

### Diskussionsrunde

Wie kann ich die Cloud für DevOps nutzen?

Wie geht es ohne Cloud?
