{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Advanced Git", "Branching Workflows", imported_macros.theme()) }}

---

### Objectives of this chapter

I can

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
describe and compare different workflow models<br/>
use tagging to mark a commit<br/>
write "good" commit messages<br/>
</div>

</div>

---

### Main / Develop

![](./tikz/gitflow_1.svg)<!-- .element width="90%" -->

---

### Feature Branching

![](./tikz/gitflow_2.svg)<!-- .element width="90%" -->

---

### Feature Branching

![](./tikz/gitflow_3.svg)<!-- .element width="50%" -->

```shell
$ git merge develop
```
<!-- .element: class="fragment" -->
![](./tikz/gitflow_5.svg)<!-- .element width="50%" -->
<!-- .element: class="fragment" -->

```shell
$ git merge --no-ff develop
```
<!-- .element: class="fragment" -->

![](./tikz/gitflow_4.svg)<!-- .element width="50%" -->
<!-- .element: class="fragment" -->

--

### Feature Branching

![](./tikz/gitflow_3.svg)<!-- .element width="50%" -->

```shell
$ git merge develop
```
![](./tikz/gitflow_6.svg)<!-- .element width="50%" -->

```shell
$ git merge --no-ff develop
```

![](./tikz/gitflow_4.svg)<!-- .element width="50%" -->

---

## Gitflow

---

### Gitflow Release Branch

![](./tikz/gitflow_7.svg)<!-- .element width="90%" -->

Vincent Driessen https://nvie.com/posts/a-successful-git-branching-model/
<!-- .element class="acknowledgment" -->

---

### Gitflow Hotfix Branch

![](./tikz/gitflow_8.svg)<!-- .element width="90%" -->

Vincent Driessen https://nvie.com/posts/a-successful-git-branching-model/
<!-- .element class="acknowledgment" -->

---

### Gitflow Overview

![](./tikz/gitflow_9.svg)<!-- .element width="90%" -->

Vincent Driessen https://nvie.com/posts/a-successful-git-branching-model/
<!-- .element class="acknowledgment" -->

Note:
Alles nochmal erklären
Release blockiert Entwicklung nicht
Features können während release entwickelt werden
Kein Warten, dass Feature fertig ist
Automatische Builds von develop und main
Auf Develop committen?

---

### Gitflow Permissions

![](./tikz/gitflow_9.svg)<!-- .element width="90%" -->

Who is allowed to do what?

Note:
Teamleiter wissen alles
Entwickler nicht

---

### Gitflow Permissions

![](./tikz/gitflow_9.svg)<!-- .element width="90%" -->

* Everybody can read everything
* Selected developers may use `git push --force`
* May branchs contain merge commits?

---

## Gitlabflow

---

### Gitlabflow

![](./tikz/gitlabflow_0.svg)<!-- .element width="90%" -->

https://docs.gitlab.com/ee/topics/gitlab_flow.html
<!-- .element class="acknowledgment" -->

--

### Gitlabflow

![](./tikz/gitlabflow_1.svg)<!-- .element width="90%" -->

https://docs.gitlab.com/ee/topics/gitlab_flow.html
<!-- .element class="acknowledgment" -->

--

### Gitlabflow

![](./tikz/gitlabflow_2.svg)<!-- .element width="90%" -->

https://docs.gitlab.com/ee/topics/gitlab_flow.html
<!-- .element class="acknowledgment" -->

---

## Simple Git workflow is simple

--

### Simple Git workflow is simple

![](./tikz/gitflow_4.svg)<!-- .element width="90%" -->

Nicola Paolucci, Atlassian https://www.atlassian.com/git/articles/simple-git-workflow-is-simple
<!-- .element class="acknowledgment" -->

--

### Simple Git workflow is simple

```shell
$ 
$ 
```

![](./tikz/simplegitflow_2.svg)<!-- .element width="90%" -->

Nicola Paolucci, Atlassian https://www.atlassian.com/git/articles/simple-git-workflow-is-simple
<!-- .element class="acknowledgment" -->

--

### Simple Git workflow is simple

```shell
$ git rebase main
$ 
```

![](./tikz/simplegitflow_2.svg)<!-- .element width="90%" -->

Nicola Paolucci, Atlassian https://www.atlassian.com/git/articles/simple-git-workflow-is-simple
<!-- .element class="acknowledgment" -->

--

### Simple Git workflow is simple

```shell
$ git rebase main
$ 
```

![](./tikz/simplegitflow_3.svg)<!-- .element width="90%" -->

Nicola Paolucci, Atlassian https://www.atlassian.com/git/articles/simple-git-workflow-is-simple
<!-- .element class="acknowledgment" -->

--

### Simple Git workflow is simple

```shell
$ 
$ 
```

![](./tikz/simplegitflow_3.svg)<!-- .element width="90%" -->

Nicola Paolucci, Atlassian https://www.atlassian.com/git/articles/simple-git-workflow-is-simple
<!-- .element class="acknowledgment" -->

--

### Simple Git workflow is simple

```shell
$ git switch main
$ git merge feature
```

![](./tikz/simplegitflow_3.svg)<!-- .element width="90%" -->

Nicola Paolucci, Atlassian https://www.atlassian.com/git/articles/simple-git-workflow-is-simple
<!-- .element class="acknowledgment" -->

--

### Simple Git workflow is simple

```shell
$ git switch main
$ git merge feature
```

![](./tikz/simplegitflow_4.svg)<!-- .element width="90%" -->

Not possible with shared feature branches
<!-- .element: class="fragment" -->

Nicola Paolucci, Atlassian https://www.atlassian.com/git/articles/simple-git-workflow-is-simple
<!-- .element class="acknowledgment" -->

---

### Forking Workflow

* One repository per user
* Known by GitHub
* Synchronize with pull requests

---

{% for i in range(10) %}

### Forking Workflow

![](./tikz/fork_{{i+1}}.svg)<!-- .element width="80%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Pull request vs merge request

Both: Ask for integration of your changes

| Pull request           | Merge request |
|------------------------|-----------------|
| Different repositories | Same repository |

---

### Demo

---

### Workflows

* Clear rules
  * Rules for branch names
  * Rules for commit messages
    * Style
    * Content
    * Metadata
  * Automated tests

---

### Tagging

Tags a commit

Show all tags:
<!-- .element: class="fragment" data-fragment-index="2" -->
```shell
$ git tag
v1.0
v2.0
```
<!-- .element: class="fragment" data-fragment-index="2" -->

Show specific tags:
<!-- .element: class="fragment" data-fragment-index="3" -->
```shell
$ git tag -l "v1.8.*"
v1.8.0
v1.8.0-rc0
v1.8.0-rc1
v1.8.1
```
<!-- .element: class="fragment" data-fragment-index="3" -->

---

### Tagging

Create lightweight tag:
```shell
$ git tag v1.4
```

Branch that doesn't change

```shell
$ git show v1.4
commit ca82a6dff817ec66f44342007202690a93763949
Author: Scott Chacon <schacon@gee-mail.com>
Date:   Mon Mar 17 21:52:11 2008 -0700

    Release version v1.4
```
<!-- .element: class="fragment" -->

---

### Tagging

Create annotated tag:
```shell
$ git tag -a v1.4 -m "Description for version 1.4"
```

Contains additional meta data

```shell
$ git show v1.4
tag v1.4
Tagger: Ben Straub <ben@straub.cc>
Date:   Sat May 3 20:19:12 2014 -0700

Description for version 1.4

commit ca82a6dff817ec66f44342007202690a93763949
Author: Scott Chacon <schacon@gee-mail.com>
Date:   Mon Mar 17 21:52:11 2008 -0700

    Release version v1.4
```
<!-- .element: class="fragment" -->

---

### Tagging

Push a tag:
```shell
$ git push origin v1.4
```

Push all tags:
```shell
$ git push origin --tags
```
---

### Tagging

Check out specific version:
```shell
$ git switch --detach v1.4
```

Caution: The repository is in detached HEAD mode.
<!-- .element: class="fragment" -->

---

### Dependency Management

Track **direct** dependencies in a committed dependency file

|Language   | Standard file    |
|-----------|------------------|
|Python     | requirements.txt |
|Javascript | package.json     |
|PHP        | composer.json    |

---

### Dependency Management

Track **all** dependencies in a committed lock file

|Language   | Standard file    |
|-----------|------------------|
|Python     | requirements.freeze.txt |
|Javascript | package-lock.json     |
|PHP        | composer.lock    |

---

### Commit Message Best Practices

First line max 50 characters followed by a blank line

```shell
Summarize changes in at most 50 characters

Give more explanation what you changed and why.
And here some more text.

 - Use bulletpoints if allowed
 * Decide which bulletpoints your team uses

  Resolves: #42
```

---

### Commit Message Best Practices

Use imperative

```shell
Merge branch 'main'
```

```shell
Revert "Fix broken login"

This reverts commit 604ca57dd9af0c812d0a35642ffbec81109baf2f.
```

* Update readme.md
* Remove unused dependecy
* Release version 42.0
* Refactor module X

---

### Commit Message Best Practices

* Define line length of the message
* 72 characters recommended

---

### Commit Message Best Practices

Explain what and why, rather than how.

---
{% for i in range(4) %}

### Objectives of this chapter

I can

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
describe and compare different workflow models<br/>
use tagging to mark a commit<br/>
write "good" commit messages<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}