{% import 'templates/jinja_macros.jinja' as imported_macros %}

{{ imported_macros.first_page("Fortgeschrittene Git-Nutzung", "Branching Workflows", imported_macros.theme()) }}

---

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span style='filter:grayscale(100%);'>✅</span>:<br/><br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
<span style='filter:grayscale(100%);'>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
verschiedene Workflowmodelle beschreiben und vergleichen<br/>
Tagging nutzen, um einen Commit zu markieren<br/>
"gute" Commit Nachrichten schreiben<br/>
</div>

</div>

---

### Main / Develop

![](./tikz/gitflow_1.svg)<!-- .element width="90%" -->

---

### Feature Branching

![](./tikz/gitflow_2.svg)<!-- .element width="90%" -->

---

### Feature Branching

![](./tikz/gitflow_3.svg)<!-- .element width="50%" -->

```shell
$ git merge develop
```
<!-- .element: class="fragment" -->
![](./tikz/gitflow_5.svg)<!-- .element width="50%" -->
<!-- .element: class="fragment" -->

```shell
$ git merge --no-ff develop
```
<!-- .element: class="fragment" -->

![](./tikz/gitflow_4.svg)<!-- .element width="50%" -->
<!-- .element: class="fragment" -->

--

### Feature Branching

![](./tikz/gitflow_3.svg)<!-- .element width="50%" -->

```shell
$ git merge develop
```
![](./tikz/gitflow_6.svg)<!-- .element width="50%" -->

```shell
$ git merge --no-ff develop
```

![](./tikz/gitflow_4.svg)<!-- .element width="50%" -->

---

## Gitflow

---

### Gitflow Release Branches

![](./tikz/gitflow_7.svg)<!-- .element width="90%" -->

Vincent Driessen https://nvie.com/posts/a-successful-git-branching-model/
<!-- .element class="acknowledgment" -->

---

### Gitflow Hotfix Branches

![](./tikz/gitflow_8.svg)<!-- .element width="90%" -->

Vincent Driessen https://nvie.com/posts/a-successful-git-branching-model/
<!-- .element class="acknowledgment" -->

---

### Gitflow Übersicht

![](./tikz/gitflow_9.svg)<!-- .element width="90%" -->

Vincent Driessen https://nvie.com/posts/a-successful-git-branching-model/
<!-- .element class="acknowledgment" -->

Note:
Alles nochmal erklären
Release blockiert Entwicklung nicht
Features können während release entwickelt werden
Kein Warten, dass Feature fertig ist
Automatische Builds von develop und main
Auf Develop committen?

---

### Gitflow Rechte

![](./tikz/gitflow_9.svg)<!-- .element width="90%" -->

Wer darf was?

Note:
Teamleiter wissen alles
Entwickler nicht

---

### Gitflow Rechte

![](./tikz/gitflow_9.svg)<!-- .element width="90%" -->

* Alle dürfen alles lesen
* Ausgewählte dürfen `git push --force` verwenden
* Dürfen Branches merge commits enthalten?

---

## Gitlabflow

---

### Gitlabflow

![](./tikz/gitlabflow_0.svg)<!-- .element width="90%" -->

https://docs.gitlab.com/ee/topics/gitlab_flow.html
<!-- .element class="acknowledgment" -->

--

### Gitlabflow

![](./tikz/gitlabflow_1.svg)<!-- .element width="90%" -->

https://docs.gitlab.com/ee/topics/gitlab_flow.html
<!-- .element class="acknowledgment" -->

--

### Gitlabflow

![](./tikz/gitlabflow_2.svg)<!-- .element width="90%" -->

https://docs.gitlab.com/ee/topics/gitlab_flow.html
<!-- .element class="acknowledgment" -->

---

## Simple Git workflow is simple

--

### Simple Git workflow is simple

![](./tikz/gitflow_4.svg)<!-- .element width="90%" -->

Nicola Paolucci, Atlassian https://www.atlassian.com/git/articles/simple-git-workflow-is-simple
<!-- .element class="acknowledgment" -->

--

### Simple Git workflow is simple

```shell
$ 
$ 
```

![](./tikz/simplegitflow_2.svg)<!-- .element width="90%" -->

Nicola Paolucci, Atlassian https://www.atlassian.com/git/articles/simple-git-workflow-is-simple
<!-- .element class="acknowledgment" -->

--

### Simple Git workflow is simple

```shell
$ git rebase main
$ 
```

![](./tikz/simplegitflow_2.svg)<!-- .element width="90%" -->

Nicola Paolucci, Atlassian https://www.atlassian.com/git/articles/simple-git-workflow-is-simple
<!-- .element class="acknowledgment" -->

--

### Simple Git workflow is simple

```shell
$ git rebase main
$ 
```

![](./tikz/simplegitflow_3.svg)<!-- .element width="90%" -->

Nicola Paolucci, Atlassian https://www.atlassian.com/git/articles/simple-git-workflow-is-simple
<!-- .element class="acknowledgment" -->

--

### Simple Git workflow is simple

```shell
$ 
$ 
```

![](./tikz/simplegitflow_3.svg)<!-- .element width="90%" -->

Nicola Paolucci, Atlassian https://www.atlassian.com/git/articles/simple-git-workflow-is-simple
<!-- .element class="acknowledgment" -->

--

### Simple Git workflow is simple

```shell
$ git switch main
$ git merge feature
```

![](./tikz/simplegitflow_3.svg)<!-- .element width="90%" -->

Nicola Paolucci, Atlassian https://www.atlassian.com/git/articles/simple-git-workflow-is-simple
<!-- .element class="acknowledgment" -->

--

### Simple Git workflow is simple

```shell
$ git switch main
$ git merge feature
```

![](./tikz/simplegitflow_4.svg)<!-- .element width="90%" -->

Nicht mit öffentlichen Featurebranches möglich
<!-- .element: class="fragment" -->

Nicola Paolucci, Atlassian https://www.atlassian.com/git/articles/simple-git-workflow-is-simple
<!-- .element class="acknowledgment" -->

---

### Forking Workflow

* Ein Repository pro Nutzer
* Bekannt durch GitHub
* Synchronisieren mit pull requests

---

{% for i in range(10) %}

### Forking Workflow

![](./tikz/fork_{{i+1}}.svg)<!-- .element width="80%" -->

{{ "--" if not loop.last }}
{% endfor %}

---

### Pull request vs merge request

Beide: Bitte um Integration der Änderungen

| Pull request           | Merge request |
|------------------------|-----------------|
| Unterschiedliche Repositories | Dasselbe Repository |

---

### Demo

---

### Workflows

* Klare Regeln
  * Regeln für Branch-Namen
  * Regeln für Commit Messages
    * Style
    * Inhalt
    * Metadaten
  * Automatisierte Tests

---

### Tagging

Markiert einen Commit

Alle Tags anzeigen:
<!-- .element: class="fragment" data-fragment-index="2" -->
```shell
$ git tag
v1.0
v2.0
```
<!-- .element: class="fragment" data-fragment-index="2" -->

Bestimmte Tags anzeigen:
<!-- .element: class="fragment" data-fragment-index="3" -->
```shell
$ git tag -l "v1.8.*"
v1.8.0
v1.8.0-rc0
v1.8.0-rc1
v1.8.1
```
<!-- .element: class="fragment" data-fragment-index="3" -->

---

### Tagging

"Lightweight" Tag erstellen:
```shell
$ git tag v1.4
```

Branchpointer, der sich nicht bewegt

```shell
$ git show v1.4
commit ca82a6dff817ec66f44342007202690a93763949
Author: Scott Chacon <schacon@gee-mail.com>
Date:   Mon Mar 17 21:52:11 2008 -0700

    Release version v1.4
```
<!-- .element: class="fragment" -->

---

### Tagging

"Annotated" Tag erstellen:
```shell
$ git tag -a v1.4 -m "Beschreibung zu Version 1.4"
```

Enthält zusätzliche Metadaten

```shell
$ git show v1.4
tag v1.4
Tagger: Ben Straub <ben@straub.cc>
Date:   Sat May 3 20:19:12 2014 -0700

Beschreibung zu Version 1.4

commit ca82a6dff817ec66f44342007202690a93763949
Author: Scott Chacon <schacon@gee-mail.com>
Date:   Mon Mar 17 21:52:11 2008 -0700

    Release version v1.4
```
<!-- .element: class="fragment" -->

---

### Tagging

Ein Tag auf den Server schieben:
```shell
$ git push origin v1.4
```

Alle Tags auf den Server schieben:
```shell
$ git push origin --tags
```
---

### Tagging

Eine bestimmte Version auschecken:
```shell
$ git switch --detach v1.4
```

Achtung: Repository befindet sich im 'detached HEAD' Modus
<!-- .element: class="fragment" -->

---

### Abhängigkeiten

**Direkte** Abhängigkeiten werden in einer Datei festgehalten

|Sprache    | Standarddatei    |
|-----------|------------------|
|Python     | requirements.txt |
|Javascript | package.json     |
|PHP        | composer.json    |

---

### Abhängigkeiten

**Alle** Abhängigkeiten werden in einer 'lock'-Datei festgehalten

|Sprache    | Standarddatei    |
|-----------|------------------|
|Python     | requirements.freeze.txt |
|Javascript | package-lock.json     |
|PHP        | composer.lock    |

---

### Commit Message Best Practices

Erste Zeile max 50 Zeichen gefolgt von einer Leerzeile

```shell
Summarize changes in at most 50 characters

Give more explanation what you changed and why.
And here some more text.

 - Use bulletpoints if allowed
 * Decide which bulletpoints your team uses

  Resolves: #42
```

---

### Commit Message Best Practices

Verwende imperativ

```shell
Merge branch 'main'
```

```shell
Revert "Fix broken login"

This reverts commit 604ca57dd9af0c812d0a35642ffbec81109baf2f.
```

* Update readme.md
* Remove unused dependecy
* Release version 42.0
* Refactor module X

---

### Commit Message Best Practices

* Zeilenlänge des Textes festlegen
* 72 Zeichen empfohlen

---

### Commit Message Best Practices

Erkläre was und warum, anstatt wie.

---
{% for i in range(4) %}

### Ziele dieses Kapitels

Ich kann

<div class="container">

<div class="col align-right">
<span {{"style='filter:grayscale(100%);'" if i<1 }}>✅</span>:<br/><br/>
<span {{"style='filter:grayscale(100%);'" if i<2 }}>✅</span>:<br/>
<span {{"style='filter:grayscale(100%);'" if i<3 }}>✅</span>:<br/>
</div>

<div class="col-flex-3 align-left ps-2">
verschiedene Workflowmodelle beschreiben und vergleichen<br/>
Tagging nutzen, um einen Commit zu markieren<br/>
"gute" Commit Nachrichten schreiben<br/>
</div>

</div>

{{ "--" if not loop.last }}
{% endfor %}