{% import 'templates/jinja_macros.jinja' as imported_macros %}
<section data-state="no-title-footer">

####
![](../../templates/corewire-dark.svg)<!-- .element class="corewire-logo" width="50%" -->
## Gitlab CI
### Einführung
## Corewire<!-- .element style="visibility: hidden"-->

---

{{ imported_macros.participants_introduction_round() }}

---

### Agenda

1. Einführung
1. Meine erste Pipeline
1. Sync-Deployment
1. Async-Deployment
1. Security & Best Practice
1. Administration

---

{{ imported_macros.image_series("Was ist CI/CD?", "../../common/tikz/ci-cd/ci-vs-cd", 1, 6, "80%")}}

---

### Was ist CI/CD?

<span>&nbsp;</span>

![](../../common/tikz/devops_1.svg)<!-- .element width="70%" -->

---

### Was ist CI/CD?

<span>&nbsp;</span>

![](../../common/tikz/devops_2.svg)<!-- .element width="70%" -->

--

### Was ist CI/CD?

Was ist der Unterschied zu DevOps?

![](../../common/tikz/devops_2.svg)<!-- .element width="70%" -->

---

### Was ist DevOps?

- Zusammenarbeit
- Gemeinsame Verantwortung
- Kurze Feedback-Zyklen
- Ständige Verbesserung

---

### Wie wird DevOps umgesetzt?

- Continuous Integration
- Continuous Delivery
- Microservices
- Infrastructure as Code
- Monitoring und Logging

---

### DevOps vs. CI/CD?

![](../../common/tikz/devops_2.svg)<!-- .element width="70%" -->

--

### DevOps vs. CI/CD?

![](../../common/tikz/devops_3.svg)<!-- .element width="70%" -->

---

### Warum CI/CD?

- Minimierung manueller Schritte
- Reproduzierbarkeit
- Implizite Dokumentation
- Kürzere Release-Zyklen
<!-- .element: class="fragment" data-fragment-index="1" -->
- Qualitätskontrolle
<!-- .element: class="fragment" data-fragment-index="1" -->

⇨ Pipeline als automatisierter Prozess
<!-- .element: class="fragment" data-fragment-index="2" -->

---

{{ imported_macros.image_series("Anwendung: Einfache CI", "../../common/tikz/ci-cd/simple-ci", 1, 7, "60%")}}

--

### Anwendung: Dependency-Management

![](../../common/tikz/ci-cd/simple-ci_7.svg)<!-- .element width="60%" -->

---

### CI/CD Tools

![](./img/tool_overview.jpg)<!-- .element width="80%" -->

<span style="font-size:0.5em;">
Quelle: Devopedia. 2022. "DevOps." Version 8
</span>

---

### Vorteile von Gitlab

- Kein Medienbruch
- Integration

---

### Demo: CI/CD in Gitlab

---

### Issue Closing Pattern

- Link zwischen Issue und Commit/MR
- Optional: Automatisches Schließen des Issues
- Keywords: `close`, `fix`, `resolve`

```txt
# Commit-Nachricht oder MR-Beschreibung

Closes #4, group/otherproject#6, Related to #5
```

---

### Approval Rules

- Code-Review Regeln
- Premium-Feature

![](./img/approvals_premium_mr_widget_v13_3.png)<!-- .element width="80%" -->

---

### Code Owner

- Erweiterung der Approval Rules
- Review Regeln auf Pfad/Dateiebene

```ini
# /CODEOWNERS, /.gitlab/CODEOWNERS, /docs/CODEOWNERS

/src/**/*.py @user1 @user2
/src/**/*.js @group1

LICENSE @legal
```

---

### Protected Branches

- Gitlab-Berechtigungen
- Einschränkungen möglich bei
  - (Force) Push/Löschen
  - CI-Variablen
  - CI-Runnern

---

### Knowledge Check

<iframe data-src="https://wall.sli.do/event/9ZRiBAkXQJzki8ruRo867W?section=c0e0361d-b96f-4565-a535-85f1f2a5d264"></iframe><!-- .element style="width:50vw;height:50vh" -->

---

### Projekt

Gehen Sie auf: https://labs.corewire.de

Navigieren Sie nach:</br>
⇨ Gitlab CI/CD</br>
⇨ Aufgaben</br>
⇨ CI/CD-Pipelines mit Gitlab